Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

New column added; make tests pass again
  apps/fz_common/lib/fz_map.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/priv/repo/migrations/20211221183311_add_role_to_users.exs
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/support/fixtures/users_fixtures.ex
Due: mix-format, mix-lint, mix-compile

Add device under user using modal; Fix device show authorization
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/session.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/controller_helpers.ex
  apps/fz_http/lib/fz_http_web/controllers/session_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/create_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/create_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/user/show.html.heex
  apps/fz_http/lib/fz_http_web/views/user_view.ex
Due: mix-format, mix-lint, mix-compile

Force ADMIN_EMAIL to be present for migration
  apps/fz_http/priv/repo/migrations/20211221183311_add_role_to_users.exs
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Don't allow unpriv in live views
  apps/fz_http/lib/fz_http_web/controller_helpers.ex
  apps/fz_http/lib/fz_http_web/controllers/device_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/session_controller.ex
  apps/fz_http/lib/fz_http_web/live/account_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live/connectivity_check_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/default_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  apps/fz_http/lib/fz_http_web/router.ex
Due: mix-format, mix-lint, mix-compile

fetch_env typo
  apps/fz_http/priv/repo/migrations/20211221183311_add_role_to_users.exs
Due: mix-format, mix-lint

Slight change on helptext
  apps/fz_http/lib/fz_http_web/live/device_live/create_form_component.html.heex
Due: none

Fix liveview handle_params missing
  apps/fz_http/lib/fz_http_web/live/device_live/create_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
Due: mix-format, mix-lint, mix-compile

Fix tests
  apps/fz_http/lib/fz_http_web/controller_helpers.ex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  apps/fz_http/test/fz_http_web/controllers/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
Due: mix-format, mix-lint, mix-compile

Set ADMIN_EMAIL for test env
  .github/workflows/ci.yml
Due: none

Don't require ADMIN_EMAIL
  .github/workflows/ci.yml
  apps/fz_http/priv/repo/migrations/20211221183311_add_role_to_users.exs
Due: mix-format, mix-lint

Bump runtimes prior to 0.2.0
  .github/workflows/ci.yml
  .tool-versions
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
  mix.lock
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus/config/software/elixir.rb
  omnibus/config/software/erlang.rb
  omnibus/config/software/nodejs.rb
  omnibus/config/software/ruby.rb
Due: none

Revert ruby to 2.7.4
  .tool-versions
Due: none

Update bundler
  .github/workflows/ci.yml
Due: none

Wrong runtime for erlang
  omnibus/config/software/erlang.rb
Due: none

VPN session settings
  apps/fz_common/lib/fz_integer.ex
  apps/fz_http/assets/js/util.js
  apps/fz_http/lib/fz_http/settings.ex
  apps/fz_http/lib/fz_http/settings/setting.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/controllers/session_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/default.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/default_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/default_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/user/show.html.heex
  apps/fz_http/lib/fz_http_web/views/user_view.ex
  apps/fz_http/priv/repo/migrations/20211223161545_add_require_auth_for_vpn_setting.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/default_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Fix package-lock
  apps/fz_http/assets/package-lock.json
Due: none

Fix session expiration text
  apps/fz_http/assets/js/auth.js
  apps/fz_http/lib/fz_http_web/templates/user/show.html.heex
Due: none

Set VPN config every minute
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/settings.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/vpn_session_scheduler.ex
  apps/fz_http/lib/fz_http_web/views/user_view.ex
Due: mix-format, mix-lint, mix-compile

Remove unused deps
  mix.lock
Due: none

Add websocket path to nginx conf
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

Add README upgrade instructions
  README.md
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
