Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

eof
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
Due: none

add unit tests
  apps/fz_http/test/fz_http/mfa_test.exs
Due: mix-format, mix-lint

Bump deps for dependabot issues
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
Due: none

add integration tests
  apps/fz_http/test/fz_http/mfa_test.exs
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

review note fixes
  docs/docs/deploy/index.md
  docs/docs/deploy/prerequisites.md
Due: none

inter -> Fira sans + mono
  docs/_includes/head_custom.html
  docs/_sass/color_schemes/fz.scss
Due: none

testing signed commit
  docs/docs/deploy/index.md
Due: none

update gpg email
  docs/docs/deploy/index.md
Due: none

Improve deployment docs (#673)
  docs/docs/deploy/clients.md
  docs/docs/deploy/index.md
  docs/docs/deploy/prerequisites.md
  docs/docs/deploy/resource-requirements.md
  docs/docs/deploy/server.md
  docs/docs/deploy/supported-platforms.md
  docs/docs/user-guides/split-tunnel.md
  docs/index.md
Due: none

Pre Commit Run
  docs/_includes/head.html
  docs/_includes/title.html
  docs/_layouts/default.html
Due: none

Docs style update (#674)
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_includes/footer_custom.html
  docs/_includes/head.html
  docs/_includes/head_custom.html
  docs/_includes/title.html
  docs/_layouts/default.html
  docs/_sass/color_schemes/fz.scss
  docs/assets/images/firezone-logo-wordmark-dark.svg
  docs/assets/images/logo-main.svg
Due: none

update azure doc and upgrade instructions
  docs/docs/administer/upgrade.md
  docs/docs/authenticate/azure-ad.md
Due: none

update Okta doc
  docs/docs/administer/upgrade.md
  docs/docs/authenticate/okta.md
Due: none

trailing whitespace
  docs/docs/authenticate/index.md
Due: none

add docs for offline access
  docs/docs/authenticate/azure-ad.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/index.md
  docs/docs/authenticate/okta.md
Due: none

consistent code placeholder formatting
  docs/docs/authenticate/okta.md
Due: none

Bump OTP to 25.0.1
  .github/workflows/ci.yml
  .tool-versions
  omnibus/config/software/erlang.rb
Due: none

Bump OTP to 25.0.1 (#692)
  .github/workflows/ci.yml
  .tool-versions
  omnibus/config/software/erlang.rb
Due: none

Add warning for connection suddently disconnecting
  omnibus/cookbooks/firezone/recipes/phoenix.rb
Due: none

migrate refresh token to text
  apps/fz_http/priv/repo/migrations/20220609232854_change_refresh_token_to_text.exs
Due: mix-format, mix-lint

Prevent last admin from being deleted
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
Due: mix-format, mix-lint, mix-compile

fix tests
  apps/fz_http/test/fz_http_web/controllers/user_controller_test.exs
Due: mix-format, mix-lint

migrate refresh token to text (#693)
  apps/fz_http/priv/repo/migrations/20220609232854_change_refresh_token_to_text.exs
Due: mix-format, mix-lint

Prevent last admin from being deleted (#694)
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/test/fz_http_web/controllers/user_controller_test.exs
Due: mix-format, mix-lint, mix-compile

Hide footer content
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
Due: mix-format, mix-lint, mix-compile

a few seconds is sufficient
  apps/fz_http/assets/js/wg_conf.js
Due: none

Workaround for SSH dropping by not using random port
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@4ac4818bed283f14263a0c42b0aec642d65e158b 🚀
  404.html
  assets/css/just-the-docs-dark.css
  assets/css/just-the-docs-default.css
  assets/css/just-the-docs-light.css
  assets/images/firezone-logo-wordmark-dark.svg
  assets/images/logo-main.svg
  assets/js/search-data.json
  assets/versions.txt
  docs/administer/configure/index.html
  docs/administer/index.html
  docs/administer/manage/index.html
  docs/administer/running-sql-queries/index.html
  docs/administer/security-considerations/index.html
  docs/administer/troubleshoot/index.html
  docs/administer/uninstall/index.html
  docs/administer/upgrade/index.html
  docs/authenticate/google-sso/index.html
  docs/authenticate/index.html
  docs/authenticate/okta-sso/index.html
  docs/authenticate/web-auth/index.html
  docs/deploy/clients/index.html
  docs/deploy/index.html
  docs/deploy/prerequisites/index.html
  docs/deploy/resource-requirements/index.html
  docs/deploy/server/index.html
  docs/deploy/supported-platforms/index.html
  docs/reference/configuration-file/index.html
  docs/reference/file-and-directory-locations/index.html
  docs/reference/index.html
  docs/user-guides/add-devices/index.html
  docs/user-guides/add-users/index.html
  docs/user-guides/client-instructions/index.html
  docs/user-guides/firewall-rules/index.html
  docs/user-guides/index.html
  docs/user-guides/reverse-tunnel/index.html
  docs/user-guides/split-tunnel/index.html
  docs/user-guides/whitelist-vpn/index.html
  feed.xml
  index.html
  sitemap.xml
Due: none

update upgrade docs
  docs/docs/administer/upgrade.md
Due: none

update image title
  docs/docs/administer/upgrade.md
Due: none

Execute migrations on the correct database
  omnibus/cookbooks/firezone/recipes/database.rb
Due: none

Bump npm
  apps/fz_http/assets/package-lock.json
Due: none

MFA (#660)
  .devcontainer/Dockerfile
  apps/fz_http/assets/js/hooks.js
  apps/fz_http/assets/js/qrcode.js
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/lib/fz_http/encrypted/map.ex
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/mfa/method.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/authorization_helpers.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_mfa.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_nav.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_component.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/shared/mfa_methods_table.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/priv/repo/migrations/20220530073152_create_mfa_methods.exs
  apps/fz_http/test/fz_http/mfa_test.exs
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
  apps/fz_http/test/support/test_helpers.ex
  mix.lock
Due: mix-format, mix-lint, mix-compile
