Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

add module doc for AuthEmail
  apps/fz_http/lib/fz_http/mailer/auth_email.ex
Due: mix-format, mix-lint, mix-compile

allow changing email and password
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
Due: mix-format, mix-lint, mix-compile

update wording
  apps/fz_http/lib/fz_http/mailer/templates/auth_email/magic_link.html.heex
Due: none

make credo happy
  apps/fz_http/lib/fz_http/users.ex
Due: mix-format, mix-lint, mix-compile

add tests
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
Due: mix-format, mix-lint

unwrap early
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

add one more test
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
Due: mix-format, mix-lint

Better example of redirect_uri
  .oidc_env.sample.json
  config/test.exs
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint

Run CI pipeline on pull requests
  .github/workflows/ci.yml
Due: none

Run CI pipeline on pull requests (#587)
  .github/workflows/ci.yml
Due: none

Implement OpenID Connect for authentication
  .env.sample
  .gitignore
  .oidc_env.sample.json
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  apps/fz_http/test/support/mock_openid_connect.ex
  apps/fz_http/test/test_helper.exs
  config/config.exs
  config/runtime.exs
  config/test.exs
  docs/docs/reference/configuration-file.md
  mix.lock
  omnibus/config/projects/firezone.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Implement OpenID Connect for authentication (#586)
  .env.sample
  .gitignore
  .oidc_env.sample.json
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  apps/fz_http/test/support/mock_openid_connect.ex
  apps/fz_http/test/test_helper.exs
  config/config.exs
  config/runtime.exs
  config/test.exs
  docs/docs/reference/configuration-file.md
  mix.lock
  omnibus/config/projects/firezone.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Fix unprivileged device access
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
Due: mix-format, mix-lint, mix-compile

Fix unprivileged device access (#589)
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
Due: mix-format, mix-lint, mix-compile

renames
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/router.ex
Due: mix-format, mix-lint, mix-compile

add text alternative
  apps/fz_http/lib/fz_http/mailer/auth_email.ex
  apps/fz_http/lib/fz_http/mailer/templates/auth_email/magic_link.text.heex
Due: mix-format, mix-lint, mix-compile

rename
  apps/fz_http/lib/fz_http_web/templates/auth/reset_password.html.heex
Due: none

use bulma level
  apps/fz_http/assets/css/main.scss
  apps/fz_http/lib/fz_http_web/templates/auth/request.html.heex
Due: none

disallow changing own email
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
Due: none

always pass down current user
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
Due: none

fix text email
  apps/fz_http/lib/fz_http/mailer/templates/auth_email/magic_link.text.eex
Due: none

Get OIDC working with Okta, Azure
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  config/dev.exs
Due: mix-format, mix-lint, mix-compile

Add brace back
  apps/fz_http/assets/css/main.scss
Due: none

Get OIDC working with Okta, Azure (#590)
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  config/dev.exs
Due: mix-format, mix-lint, mix-compile

Password reset (#584)
  apps/fz_http/lib/fz_http/mailer/auth_email.ex
  apps/fz_http/lib/fz_http/mailer/noop_adapter.ex
  apps/fz_http/lib/fz_http/mailer/templates/auth_email/magic_link.html.heex
  apps/fz_http/lib/fz_http/mailer/templates/auth_email/magic_link.text.eex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/auth/request.html.heex
  apps/fz_http/lib/fz_http_web/templates/auth/reset_password.html.heex
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  apps/fz_http/test/support/test_helpers.ex
  config/config.exs
Due: mix-format, mix-lint, mix-compile

fix mock
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  apps/fz_http/test/support/mock_openid_connect.ex
Due: mix-format, mix-lint, mix-compile

fix mock (#592)
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  apps/fz_http/test/support/mock_openid_connect.ex
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@1454c32a5aa8520f6964aad068d0c40511e6b8cc 🚀
  assets/js/search-data.json
  assets/versions.txt
  docs/reference/configuration-file/index.html
  feed.xml
Due: none

Fix default config
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

Fix default config (#593)
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

Deploying to gh-pages from @ firezone/firezone@751f985b7b5b4bdc7127c64d2d804ff67bdc8900 🚀
  assets/versions.txt
  feed.xml
Due: none
