Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Use site table fields, not ENV vars for optional WireGuard config (#1207)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/sites.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_form_component.html.heex
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  config/config.exs
  config/dev.exs
  config/runtime.exs
  docs/docs/reference/env-vars.mdx
Due: mix-format, mix-lint, mix-compile

Revert "Use site table fields, not ENV vars for optional WireGuard config (#1207)"
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/sites.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_form_component.html.heex
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  config/config.exs
  config/dev.exs
  config/runtime.exs
  docs/docs/reference/env-vars.mdx
Due: mix-format, mix-lint, mix-compile

Document WIREGUARD_MTU is for server interface only
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
  docs/docs/reference/env-vars.mdx
Due: mix-format, mix-lint

Update Docker IPv6 CIDR to use 2001:db8:1::/64
  docs/docs/deploy/docker/README.mdx
Due: none

Update Docker IPv6 CIDR to use 2001:db8:1::/64 (#1213)
  docs/docs/deploy/docker/README.mdx
Due: none

Document WIREGUARD_MTU is for server interface only (#1212)
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
  docs/docs/reference/env-vars.mdx
Due: mix-format, mix-lint

Add note about WIREGUARD_ env vars moving to DB
  docs/docs/administer/upgrade.mdx
Due: none

Update upgrade.mdx
  docs/docs/administer/upgrade.mdx
Due: none

Debug TID
  scripts/install.sh
Due: none

Use new TID from wrapped install script
  rel/overlays/bin/server
  scripts/install.sh
Due: none

Add as script param
  README.md
  docs/docs/deploy/docker/README.mdx
  docs/src/components/InstallBlock/index.js
  docs/src/theme/MDXComponents.js
  scripts/install.sh
Due: none

Enrichment (#1220)
  README.md
  docs/docs/deploy/docker/README.mdx
  docs/src/components/InstallBlock/index.js
  docs/src/theme/MDXComponents.js
  rel/overlays/bin/server
  scripts/install.sh
Due: none

Fix install script param
  scripts/install.sh
Due: none

Use $tid
  scripts/install.sh
Due: none

Support more dense QR codes with error correction level L
  apps/fz_http/assets/js/qrcode.js
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/test/fz_http/devices_test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Fix rollback for release_test.exs due to Ecto 3.9.2
  apps/fz_http/test/fz_http/release_test.exs
Due: mix-format, mix-lint

We don't support rollbacks
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/test/fz_http/release_test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Support more dense QR codes with error correction level L (#1222)
  apps/fz_http/assets/js/qrcode.js
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/test/fz_http/devices_test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Update .github/workflows/static_analysis.yml
  .github/workflows/static_analysis.yml
Due: none

Fix rollback for release_test.exs due to Ecto 3.9.2 (#1223)
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/test/fz_http/release_test.exs
Due: mix-format, mix-lint, mix-compile

Fix missing PLT cache key
  .github/workflows/static_analysis.yml
Due: none

Fix missing PLT cache key (#1225)
  .github/workflows/static_analysis.yml
Due: none

Refactor Device changesets
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint, mix-compile

Introduce query to fetch for next available address
  apps/fz_http/lib/fz_http/devices/device/query.ex
  apps/fz_http/test/fz_http/devices/device/query_test.exs
Due: mix-format, mix-lint, mix-compile

Integrate new IP generator into Device changeset
  apps/fz_common/lib/fz_integer.ex
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_integer_test.exs
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
Due: mix-format, mix-lint, mix-compile
