Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

Add HTTP_CLIENT_SSL_OPTS example (#1290)
  docs/docs/reference/env-vars.mdx
Due: none

Fix static analysis failures
  .codespellrc
  apps/fz_http/test/support/api_doc_formatter.ex
  docs/docs/reference/api/configuration.mdx
  docs/docs/reference/api/device.mdx
  docs/docs/reference/api/rule.mdx
  docs/docs/reference/api/users.mdx
Due: mix-compile, mix-lint, mix-analysis

Change formatter to generate curl commands
  apps/fz_http/test/support/api_doc_formatter.ex
Due: mix-compile, mix-lint, mix-analysis

Re-render api docs
  docs/docs/reference/api/configuration.mdx
  docs/docs/reference/api/device.mdx
  docs/docs/reference/api/rule.mdx
  docs/docs/reference/api/users.mdx
Due: none

Push doc sample
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  docs/docs/reference/api/configuration.mdx
  docs/docs/reference/api/device.mdx
  docs/docs/reference/api/rule.mdx
  docs/docs/reference/api/users.mdx
Due: mix-compile, mix-lint, mix-analysis

Update link to 0.7.0 release
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

Appease credo; minor docs editing
  .github/workflows/publish_docs.yml
  apps/fz_http/lib/fz_http_web/controllers/json/configuration_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/device_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/test/support/api_doc_formatter.ex
  docs/docs/reference/api/configurations.mdx
  docs/docs/reference/api/devices.mdx
  docs/docs/reference/api/rules.mdx
  docs/docs/reference/api/users.mdx
  docs/docusaurus.config.js
  docs/package.json
  docs/yarn.lock
Due: mix-compile, mix-lint, mix-analysis

Generate API docs from tests and Phoenix Controller docs (#1286)
  .codespellrc
  .github/workflows/publish_docs.yml
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/controllers/json/configuration_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/device_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/doc_helpers.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/api_doc_formatter.ex
  apps/fz_http/test/test_helper.exs
  config/test.exs
  docs/docs/reference/api/README.md
  docs/docs/reference/api/configurations.mdx
  docs/docs/reference/api/devices.mdx
  docs/docs/reference/api/rules.mdx
  docs/docs/reference/api/users.mdx
  docs/docusaurus.config.js
  docs/openapi.yaml
  docs/package.json
  docs/yarn.lock
  mix.lock
Due: mix-compile, mix-lint, mix-analysis, markdownlint

Bump to 0.7.0 release (#1291)
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

Add note on generating API token
  docs/docs/administer/upgrade.mdx
  docs/docs/reference/api/README.md
  docs/docs/reference/api/README.mdx
Due: markdownlint

Add note on generating API token (#1294)
  docs/docs/administer/upgrade.mdx
  docs/docs/reference/api/README.md
  docs/docs/reference/api/README.mdx
Due: markdownlint

Finish refactoring of User context
  apps/fz_http/lib/fz_http/authorization.ex
  apps/fz_http/lib/fz_http/authorization/subject.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http/users/user/changeset.ex
  apps/fz_http/lib/fz_http/users/user/query.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  apps/fz_http/priv/repo/migrations/20230104181853_change_users_email_to_citext.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/fz_http_web/mailer_test/auth_email_test.exs
  apps/fz_http/test/support/fixtures/users_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Remove dead code
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/test/fz_http/users_test.exs
Due: mix-compile, mix-lint, mix-analysis

Stop credo complaining about single with clauses
  .credo.exs
Due: mix-lint, mix-analysis

Make dialyzer happy
  apps/fz_http/lib/fz_http/validator.ex
Due: mix-compile, mix-lint, mix-analysis

Offset the IP lock by hash on CIDR network to prevent races in tests
  apps/fz_http/lib/fz_http/devices/device/query.ex
Due: mix-compile, mix-lint, mix-analysis

Remove unused deps and reorder remaining ones
  apps/fz_http/mix.exs
  mix.lock
Due: mix-lint, mix-analysis

Add Wallaby helpers and first browser test
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/support/acceptance_case.ex
  apps/fz_http/test/test_helper.exs
  config/runtime.exs
  config/test.exs
Due: mix-compile, mix-lint, mix-analysis

Add sandbox bindings to LiveView and Channels
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/live/hooks/allow_ecto_sandbox.ex
  apps/fz_http/lib/fz_http_web/presence.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/sandbox.ex
  apps/fz_http/lib/fz_http_web/sockets/user_socket.ex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/channels/notification_channel_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis

Added tests for OIDC login
  .formatter.exs
  apps/fz_http/assets/js/live_view.js
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/lib/fz_http_web/sandbox.ex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/support/acceptance_case.ex
  apps/fz_http/test/test_helper.exs
  config/test.exs
  docker-compose.yml
Due: mix-compile, mix-lint, mix-analysis

Add chromedriver to CI
  .github/workflows/test.yml
Due: none

Start the endpoint as last element of supervision tree
  apps/fz_http/lib/fz_http/application.ex
Due: mix-compile, mix-lint, mix-analysis

Do not output logs while tests are running
  config/test.exs
Due: mix-lint, mix-analysis

Remove default value for auto_create_users, integrate new OIDC lib and add more e2e tests
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/configurations/configuration/openid_connect_provider.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/oidc/supervisor.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/oidc/helpers.ex
  apps/fz_http/lib/fz_http_web/sandbox.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/connectivity_check_service_test.exs
  apps/fz_http/test/fz_http/oidc/refresher_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_device_management_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
  apps/fz_http/test/fz_http_web/channels/notification_channel_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
  apps/fz_http/test/support/acceptance_case/vault.ex
  apps/fz_http/test/support/fixtures/configurations_fixtures.ex
  apps/fz_http/test/support/mocks/openid_connect.ex
  config/config.exs
  config/test.exs
  mix.lock
Due: mix-compile, mix-lint, mix-analysis

Add more tests
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_device_management_test.exs
  apps/fz_http/test/support/acceptance_case.ex
  apps/fz_http/test/support/acceptance_case/auth.ex
  apps/fz_http/test/support/acceptance_case/vault.ex
Due: mix-compile, mix-lint, mix-analysis

Do not auto-create OIDC users by default
  apps/fz_http/lib/fz_http/configurations/configuration/openid_connect_provider.ex
  apps/fz_http/lib/fz_http/configurations/configuration/saml_identity_provider.ex
Due: mix-compile, mix-lint, mix-analysis

Fix post-rebase issues
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user/changeset.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

Make credo happy
  .credo.exs
  apps/fz_http/test/support/acceptance_case/auth.ex
Due: mix-compile, mix-lint, mix-analysis

Reorganize shared deps
  apps/fz_common/mix.exs
  apps/fz_http/mix.exs
  apps/fz_vpn/mix.exs
  apps/fz_wall/mix.exs
  mix.exs
Due: mix-lint, mix-analysis

Restructure formatter configs
  .formatter.exs
  apps/fz_common/.formatter.exs
  apps/fz_http/.formatter.exs
  apps/fz_vpn/.formatter.exs
  apps/fz_wall/.formatter.exs
  mix.exs
Due: mix-lint, mix-analysis

Bump deps
  apps/fz_http/mix.exs
  mix.exs
  mix.lock
Due: mix-lint, mix-analysis

Remove duplicate dep
  apps/fz_common/mix.exs
Due: mix-lint, mix-analysis

Change application supervisor names
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/mix.exs
  apps/fz_vpn/lib/fz_vpn/application.ex
  apps/fz_wall/lib/fz_wall/application.ex
  mix.lock
Due: mix-compile, mix-lint, mix-analysis

Persist screenshots for failed cases
  .github/workflows/test.yml
  config/test.exs
Due: mix-lint, mix-analysis

Add JUnit formatter for better GitHub Actions integration
  .github/workflows/test.yml
  apps/fz_http/test/test_helper.exs
  config/test.exs
  mix.exs
Due: mix-lint, mix-analysis

Bump OpenIDConnect version
  mix.lock
Due: none

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
