Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Make dialyzer happy
  apps/fz_http/lib/fz_http/config/resolver.ex
Due: mix-compile, mix-lint, mix-analysis

Make credo happier
  .credo.exs
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/lib/fz_http/config/errors.ex
  apps/fz_http/lib/fz_http/config/validator.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/test/fz_http/config/caster_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/support/docs_generator.ex
Due: mix-compile, mix-lint, mix-analysis

Allow to copy-paste redirect url
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
Due: mix-compile, mix-lint, mix-analysis

Fix more typos
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/test/support/docs_generator.ex
  docs/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Fix TODOs
  apps/fz_common/README.md
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http/config/configuration/openid_connect_provider.ex
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/test/fz_http/auth_test.exs
  apps/fz_http/test/fz_http/config/caster_test.exs
  apps/fz_http/test/fz_http/config/validator_test.exs
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
  apps/fz_http/test/support/docs_generator.ex
  apps/fz_http/test/support/fixtures/config_fixtures.ex
  apps/fz_http/test/support/fixtures/openid_connect_provider_fixtures.ex
  apps/fz_http/test/support/fixtures/saml_identity_provider_fixtures.ex
  apps/fz_http/test/test_helper.exs
  config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

Fix more typos and rebase conflicts
  apps/fz_http/lib/fz_http/audit_log/entry.ex
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http/config/caster.ex
  apps/fz_http/lib/fz_http/config/configuration/changeset.ex
  apps/fz_http/lib/fz_http/config/errors.ex
  apps/fz_http/lib/fz_http/devices/device/query.ex
  apps/fz_http/lib/fz_http/mfa/method/changeset.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/test/fz_http/auth_test.exs
  apps/fz_http/test/fz_http/config/caster_test.exs
  apps/fz_http/test/fz_http/config/fetcher_test.exs
  apps/fz_http/test/fz_http/config_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/support/docs_generator.ex
  docker-compose.desktop.yml
  docker-compose.prod.yml
  docs/docs/reference/env-vars.mdx
  www/docs/reference/env-vars.mdx
  www/docs/reference/rest-api/configurations.mdx
  www/docs/reference/rest-api/devices.mdx
  www/docs/reference/rest-api/rules.mdx
  www/docs/reference/rest-api/users.mdx
  www/docs/reference/reverse-proxy-templates/traefik.mdx
Due: mix-compile, mix-lint, mix-analysis

Bump all deps
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/mix.exs
  mix.exs
  mix.lock
Due: mix-compile, mix-lint, mix-analysis

Re-gen docs
  apps/fz_http/lib/fz_http/config/definitions.ex
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Improve test coverage
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/fz_http/auth_test.exs
  apps/fz_http/test/fz_http/config_test.exs
  apps/fz_http/test/support/fixtures/config_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Run config checks only in prod env
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/test/fz_http/auth_test.exs
Due: mix-compile, mix-lint, mix-analysis

Use sandbox wg adapter in dev env
  config/dev.exs
Due: mix-lint, mix-analysis

Revert phoenix version bump
  apps/fz_http/mix.exs
  mix.exs
  mix.lock
Due: mix-lint, mix-analysis

Remove file committed by accident
  apps/fz_http/lib/fz_http/audit_log/entry.ex
Due: mix-compile, mix-lint, mix-analysis

Revert "Bump all deps"
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/mix.exs
  mix.exs
  mix.lock
Due: mix-compile, mix-lint, mix-analysis

Roll back ALL version bumps for last few days
  apps/fz_http/lib/fz_http_web.ex
  mix.lock
Due: mix-compile, mix-lint, mix-analysis

Remove trailing newline in docs
  apps/fz_http/test/support/docs_generator.ex
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Fix port number for acceptance tests
  docker-compose.yml
Due: none

Fix SAML idp config for CI
  .github/workflows/test.yml
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
Due: mix-lint, mix-analysis

Fix runtime issues
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/lib/fz_http/config/errors.ex
  config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

Ignore configs generated by acceptance tests
  .gitignore
Due: none

Make DB password not required again
  apps/fz_http/lib/fz_http/config/definitions.ex
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Change type of EXTERNAL_TRUSTED_PROXIES env var
  apps/fz_http/lib/fz_http/config/definitions.ex
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Change type of PRIVATE_CLIENTS env var
  apps/fz_http/lib/fz_http/config/definitions.ex
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Make sure migration doesn't fail on spaces in inet fields
  apps/fz_http/priv/repo/migrations/20230206172556_change_dns_and_allowed_ips_to_inet_array.exs
Due: mix-lint, mix-analysis

Update startUrl to add /docs path
  www/docusaurus.config.js
Due: none

Update startUrl to add /docs path (#1448)
  www/docusaurus.config.js
Due: none

Fix broken link regression
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  www/docs/reference/env-vars.mdx
  www/docs/reference/rest-api/configurations.mdx
  www/docs/reference/rest-api/devices.mdx
  www/docs/reference/rest-api/rules.mdx
  www/docs/reference/rest-api/users.mdx
Due: mix-compile, mix-lint, mix-analysis

Fix broken link regression (#1449)
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  www/docs/reference/env-vars.mdx
  www/docs/reference/rest-api/configurations.mdx
  www/docs/reference/rest-api/devices.mdx
  www/docs/reference/rest-api/rules.mdx
  www/docs/reference/rest-api/users.mdx
Due: mix-compile, mix-lint, mix-analysis

Trim one more migration field
  apps/fz_http/priv/repo/migrations/20230206172556_change_dns_and_allowed_ips_to_inet_array.exs
Due: mix-lint, mix-analysis

Fix typo
  apps/fz_http/lib/fz_http/config/errors.ex
Due: mix-compile, mix-lint, mix-analysis
