Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Reorder device fields
  apps/fz_http/lib/fz_http/devices/device.ex
Due: mix-compile, mix-lint, mix-analysis

Remove unused key_regenerated_at field in devices
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/priv/repo/migrations/20230317161258_remove_devices_key_regenerated_at.exs
Due: mix-compile, mix-lint, mix-analysis

Rework devices context
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/auth/roles.ex
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/authorizer.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/devices/device/changeset.ex
  apps/fz_http/lib/fz_http/devices/device/query.ex
  apps/fz_http/lib/fz_http/devices/device_setting.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/types/cidr.ex
  apps/fz_http/lib/fz_http/types/protocols.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/controllers/json/device_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/views/json/encoders/postgrex_inet.ex
  apps/fz_http/lib/fz_http_web/views/wireguard_config_view.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/types/cidr_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
  apps/fz_http/test/support/fixtures/devices_fixtures.ex
  apps/fz_http/test/support/fixtures/users_fixtures.ex
  config/config.exs
  config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

Change permissions structure for devices and api_tokens
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/api_tokens/authorizer.ex
  apps/fz_http/lib/fz_http/auth.ex
  apps/fz_http/lib/fz_http/auth/roles.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/authorizer.ex
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-compile, mix-lint, mix-analysis

chore: Integrating LoggerJSON
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/config/errors.ex
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/repo.ex
  apps/fz_http/lib/fz_http_web/auth/html/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/json/error_handler.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/mailer/noop_adapter.ex
  apps/fz_http/lib/fz_http_web/sockets/user_socket.ex
  apps/fz_http/mix.exs
  apps/fz_http/priv/repo/migrations/20221224210654_fix_sites_nullable_fields.exs
  config/config.exs
  mix.lock
Due: mix-compile, mix-lint, mix-analysis

Rework rules
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/authorizer.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http/rules/rule/changeset.ex
  apps/fz_http/lib/fz_http/rules/rule/query.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/fixtures/rules_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Remove module name in dumper doctest
  apps/fz_http/lib/fz_http/config/dumper.ex
Due: mix-compile, mix-lint, mix-analysis

Add missing tests to devices
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/support/fixtures/devices_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Change logic for count function in Rules
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/test/fz_http/rules_test.exs
Due: mix-compile, mix-lint, mix-analysis

Add Subject to Users context
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/authorizer.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/support/data_case.ex
  apps/fz_http/test/support/fixtures/subject_fixtures.ex
  apps/fz_http/test/support/fixtures/users_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Remove wrong rules test
  apps/fz_http/test/fz_http/rules_test.exs
Due: mix-lint, mix-analysis

Fix tests and cover extra edge cases
  apps/fz_http/lib/fz_http/api_tokens/authorizer.ex
  apps/fz_http/lib/fz_http/auth/authorizer.ex
  apps/fz_http/lib/fz_http/auth/role.ex
  apps/fz_http/lib/fz_http/auth/roles.ex
  apps/fz_http/lib/fz_http/connectivity_checks/authorizer.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/authorizer.ex
  apps/fz_http/lib/fz_http/devices/device/query.ex
  apps/fz_http/lib/fz_http/rules/authorizer.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/authorizer.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/test/fz_http/devices/device/query_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-compile, mix-lint, mix-analysis

Fix a few additional tests
  apps/fz_http/lib/fz_http/devices/device/changeset.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/users_test.exs
Due: mix-compile, mix-lint, mix-analysis

Resolve static analysis issues
  apps/fz_http/lib/fz_http/auth/subject.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/types/cidr_test.exs
Due: mix-compile, mix-lint, mix-analysis

Fix seeds
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/priv/repo/seeds.exs
Due: mix-compile, mix-lint, mix-analysis

Fix acceptance tests
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/authorizer.ex
  apps/fz_http/lib/fz_http/rules/authorizer.ex
  apps/fz_http/lib/fz_http_web/live/connectivity_check_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
  mix.lock
Due: mix-compile, mix-lint, mix-analysis

Fix most of CI failures
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/auth/mfa.ex
  apps/fz_http/lib/fz_http/auth/oidc/refresher.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user/changeset.ex
  apps/fz_http/lib/fz_http_web/auth/html/error_handler.ex
  apps/fz_http/lib/fz_http_web/authorization_helpers.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/show_device.html.heex
  apps/fz_http/lib/fz_http_web/views/device_view.ex
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/repo/notifier_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
  apps/fz_http/test/support/fixtures/subject_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Fix documentation for EXTERNAL_URL
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/test/fz_http/config_test.exs
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Bump deps
  mix.lock
Due: none

Fix remaining issues
  apps/fz_http/lib/fz_http/auth/oidc/connection/query.ex
  apps/fz_http/lib/fz_http/auth/oidc/refresher.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/users/user/changeset.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/support/data_case.ex
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_vpn/lib/fz_vpn/interface.ex
Due: mix-compile, mix-lint, mix-analysis

Fix typo
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
Due: mix-lint, mix-analysis

Fix docs COOKIE_SIGNING_SALT desc
  apps/fz_http/lib/fz_http/config/definitions.ex
  www/docs/reference/env-vars.mdx
  www/docs/reference/rest-api/configurations.mdx
  www/docs/reference/rest-api/devices.mdx
  www/docs/reference/rest-api/rules.mdx
  www/docs/reference/rest-api/users.mdx
Due: mix-compile, mix-lint, mix-analysis

Use PHOENIX_EXTERNAL_TRUSTED_PROXIES
  www/docs/reference/reverse-proxy-templates/traefik.mdx
Due: none

Fix docs typos (#1532)
  apps/fz_http/lib/fz_http/config/definitions.ex
  www/docs/reference/env-vars.mdx
  www/docs/reference/rest-api/configurations.mdx
  www/docs/reference/rest-api/devices.mdx
  www/docs/reference/rest-api/rules.mdx
  www/docs/reference/rest-api/users.mdx
  www/docs/reference/reverse-proxy-templates/traefik.mdx
Due: mix-compile, mix-lint, mix-analysis

Set connectivity checks URL for prod to ping.firez.one
  config/prod.exs
Due: mix-lint, mix-analysis

Set connectivity checks URL for prod to ping.firez.one (#1533)
  config/prod.exs
Due: mix-lint, mix-analysis

Make codespell happy about SSL value examples
  .codespellrc
Due: none

Use correct case in codespell file
  .codespellrc
Due: none

Implement WebView post-login redirect for client apps
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/oidc/state.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis
