Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

fix server tests
  apps/fz_vpn/test/fz_vpn/interface_test.exs
Due: mix-format, mix-lint

fix server tests (#854)
  apps/fz_vpn/test/fz_vpn/interface_test.exs
Due: mix-format, mix-lint

check ifconfig.me return before use
  omnibus/cookbooks/firezone/recipes/network.rb
Due: none

check ifconfig.me return before use (#855)
  omnibus/cookbooks/firezone/recipes/network.rb
Due: none

separate role and sign in token out from generic update
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
Due: mix-format, mix-lint, mix-compile

handle empty value in put_password_hash
  apps/fz_http/lib/fz_http/users/password_helpers.ex
Due: mix-format, mix-lint, mix-compile

Add release announcement to CLI
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
Due: none

separate last signed in at
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
Due: mix-format, mix-lint, mix-compile

remove usage of removed changeset function
  apps/fz_http/lib/fz_http/users.ex
Due: mix-format, mix-lint, mix-compile

fix clear sign in token
  apps/fz_http/lib/fz_http/users.ex
Due: mix-format, mix-lint, mix-compile

improve tests
  apps/fz_http/test/fz_http/users_test.exs
Due: mix-format, mix-lint

Use log command
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
Due: none

fix tests
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Fix customization typo
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
Due: mix-format, mix-lint, mix-compile

Add release 0.5.0 announcement (#856)
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
Due: none

Fix customization typo (#857)
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
Due: mix-format, mix-lint, mix-compile

split update user
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_form_component.ex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.ex
  apps/fz_http/test/fz_http/users_test.exs
Due: mix-format, mix-lint, mix-compile

require password change
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
Due: mix-format, mix-lint, mix-compile

fix test
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
Due: mix-format, mix-lint

remove unused env var
  docker-compose.yml
Due: none

Fix docs cache path
  .github/workflows/publish_docs.yml
Due: none

Add manual docs trigger
  .github/workflows/publish_docs.yml
Due: none

Fix docs build (#858)
  .github/workflows/publish_docs.yml
Due: none

Update publish_docs.yml
  .github/workflows/publish_docs.yml
Due: none

Fix minor mistakes
  docs/docs/deploy/reverse-proxies/README.md
Due: none

Fix minor mistakes (#859)
  docs/docs/deploy/reverse-proxies/README.md
Due: none

docs older versions
  docs/docusaurus.config.js
Due: none

docs older versions (#860)
  docs/docusaurus.config.js
Due: none

Add uid
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

redirect from old to new
  docs/administer/configure/index.html
  docs/administer/index.html
  docs/administer/manage/index.html
  docs/administer/running-sql-queries/index.html
  docs/administer/security-considerations/index.html
  docs/administer/troubleshoot/index.html
  docs/administer/uninstall/index.html
  docs/administer/upgrade/index.html
  docs/authenticate/azure-ad/index.html
  docs/authenticate/google/index.html
  docs/authenticate/index.html
  docs/authenticate/okta/index.html
  docs/authenticate/web-auth/index.html
  docs/deploy/index.html
  docs/deploy/prerequisites/index.html
  docs/deploy/server/index.html
  docs/deploy/supported-platforms/index.html
  docs/index.html
  docs/reference/configuration-file/index.html
  docs/reference/file-and-directory-locations/index.html
  docs/reference/firewall-templates/index.html
  docs/reference/firewall-templates/nftables/index.html
  docs/reference/index.html
  docs/user-guides/add-devices/index.html
  docs/user-guides/add-users/index.html
  docs/user-guides/client-instructions/index.html
  docs/user-guides/firewall-rules/index.html
  docs/user-guides/index.html
  docs/user-guides/reverse-tunnel/index.html
  docs/user-guides/split-tunnel/index.html
  docs/user-guides/whitelist-vpn/index.html
Due: none

Add uid (#861)
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
