Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Fix path to versions file
  .github/workflows/cd.yml
Due: none

Rename pre-commit step
  .github/workflows/codespell.yml
Due: none

Bump checkout action vsn in rust workflow
  .github/workflows/rust.yml
Due: none

Try pushing update using GH API
  .github/workflows/cd.yml
Due: none

Fix github branch name
  .github/workflows/cd.yml
Due: none

Do not attempt to persist tag versions back to the repo
  .github/workflows/cd.yml
  terraform/environments/staging/versions.auto.tfvars
Due: none

Add missing env for terraform workflow
  .github/workflows/terraform.yml
Due: none

Try to wrap tf vars in backticks
  .github/workflows/cd.yml
  .github/workflows/terraform.yml
Due: none

Add double quotes to the var itself
  .github/workflows/cd.yml
  .github/workflows/terraform.yml
Due: none

Add android applink manifest
  elixir/apps/web/lib/web.ex
  elixir/apps/web/priv/static/.well-known/assetlinks.json
Due: mix-compile, mix-lint, mix-analysis

Move favicon to a correct folder
  elixir/apps/web/priv/static/favicon.ico
Due: none

Use `Result` for accessing attributes of `ProtectedRequest`
  rust/relay/src/server.rs
Due: none

Move to clap and provide a cmdline interface in addition to env
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/README.md
  rust/relay/src/main.rs
Due: none

Connect to portal
  rust/phoenix-channel/Cargo.toml
  rust/phoenix-channel/src/lib.rs
  rust/relay/src/main.rs
Due: none

Make relay secret a string as expected by the portal
  rust/relay/src/auth.rs
  rust/relay/src/main.rs
  rust/relay/src/server.rs
  rust/relay/src/server/client_message.rs
  rust/relay/tests/regression.rs
Due: none

Don't pass IPv6 whilst we don't have it
  rust/relay/src/main.rs
Due: none

Document how `portal_ws_url` behaves
  rust/relay/src/main.rs
Due: none

Add switch to avoid accidentally leaking relay secret
  rust/relay/src/main.rs
Due: none

Install musl-tools
  .github/workflows/rust.yml
Due: none

Fix assets pipeline to work in a sequential order
  elixir/apps/web/.gitignore
  elixir/apps/web/assets/css/app.css
  elixir/apps/web/assets/js/app.js
  elixir/apps/web/assets/tailwind.config.js
  elixir/config/config.exs
  elixir/config/dev.exs
Due: mix-lint, mix-analysis

Add deps security audit to static analysis
  .github/workflows/elixir.yml
  elixir/mix.exs
  elixir/mix.lock
Due: mix-lint, mix-analysis

Run vulnerability static analysis in web app
  .github/workflows/elixir.yml
  elixir/apps/web/.sobelow-skips
Due: none

Add missing final newlines
  elixir/apps/web/.sobelow-skips
  elixir/apps/web/priv/static/.well-known/assetlinks.json
Due: none

Fix assets pipeline, add Elixir deps audit, add Android applink manifest (#1659)
  .github/workflows/elixir.yml
  elixir/apps/web/.gitignore
  elixir/apps/web/.sobelow-skips
  elixir/apps/web/assets/css/app.css
  elixir/apps/web/assets/js/app.js
  elixir/apps/web/assets/tailwind.config.js
  elixir/apps/web/lib/web.ex
  elixir/apps/web/priv/static/.well-known/assetlinks.json
  elixir/apps/web/priv/static/favicon.ico
  elixir/config/config.exs
  elixir/config/dev.exs
  elixir/mix.exs
  elixir/mix.lock
Due: mix-compile, mix-lint, mix-analysis

Fix gitignore
  elixir/apps/web/.gitignore
Due: none

Add CSP and STS headers
  elixir/apps/web/lib/web/components/layouts/root.html.heex
  elixir/apps/web/lib/web/endpoint.ex
  elixir/apps/web/lib/web/plugs/secure_headers.ex
  elixir/apps/web/lib/web/router.ex
  elixir/apps/web/lib/web/session.ex
  elixir/config/config.exs
  elixir/config/dev.exs
Due: mix-compile, mix-lint, mix-analysis

Update LiveView along with other deps
  elixir/mix.exs
  elixir/mix.lock
Due: mix-lint, mix-analysis

tmp
  elixir/apps/domain/lib/domain/accounts.ex
  elixir/apps/domain/lib/domain/accounts/account/query.ex
  elixir/apps/domain/lib/domain/auth.ex
  elixir/apps/web/lib/web/auth.ex
  elixir/apps/web/lib/web/components/form_components.ex
  elixir/apps/web/lib/web/controllers/auth_controller.ex
  elixir/apps/web/lib/web/controllers/auth_html.ex
  elixir/apps/web/lib/web/controllers/auth_html/providers.html.heex
  elixir/apps/web/lib/web/plugs/fetch_account.ex
  elixir/apps/web/lib/web/router.ex
  elixir/apps/web/mix.exs
Due: mix-compile, mix-lint, mix-analysis

feat(relay): implement nonces for authentication (#1654)
  .github/workflows/rust.yml
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/src/auth.rs
  rust/relay/src/proptest.rs
  rust/relay/src/server.rs
  rust/relay/src/server/client_message.rs
  rust/relay/tests/regression.rs
Due: none
