Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Improve some wait helpers and expose ENV variable for wait time
  .github/workflows/test.yml
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis

Started adding admin UI tests
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
Due: mix-lint, mix-analysis

Make credo happy
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
Due: mix-lint, mix-analysis

Fix failed test
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis

Add root path for unauthenticated user
  apps/fz_http/lib/fz_http_web/controller_helpers.ex
Due: mix-compile, mix-lint, mix-analysis

Eat this, credo!
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis

Make test less flaky and fix a bug
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis

Add tests for API tokens
  apps/fz_http/lib/fz_http_web/live/setting_live/show_api_token_component.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis

Remove current_password field to unify forms
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http/users/user/changeset.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.html.heex
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
Due: mix-compile, mix-lint, mix-analysis

Do not show confirmation alert when user clicks disabled user delete button
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
Due: none

Added tests for user profile
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
Due: mix-lint, mix-analysis

Added tests for security settings
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis

Add test for managing allow rules
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
Due: mix-lint, mix-analysis

Add user management tests
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
Due: mix-compile, mix-lint, mix-analysis

Disable acceptance cases by default
  config/test.exs
Due: mix-lint, mix-analysis

Split acceptance cases in separate job and run multiple partitions of it
  .github/workflows/test.yml
Due: none

Fix partitioning params
  .github/workflows/test.yml
Due: none

Add newline to end of CI config
  .github/workflows/test.yml
Due: none

Rerun failed acceptance tests automatically
  .github/workflows/test.yml
Due: none

Always save screenshots
  .github/workflows/test.yml
Due: none

Lock junit formatter version
  mix.lock
Due: none

Remove files that will go into next PR
  apps/fz_http/lib/fz_http/authorization.ex
  apps/fz_http/lib/fz_http/authorization/subject.ex
Due: mix-compile, mix-lint, mix-analysis

Bump Elixir deps
  apps/fz_http/mix.exs
  mix.exs
  mix.lock
Due: mix-lint, mix-analysis

Handle EXTERNAL_URL missing scheme
  .formatter.exs
  apps/fz_http/priv/repo/migrations/20221224210654_fix_sites_nullable_fields.exs
Due: mix-lint, mix-analysis

Fix typos
  apps/fz_http/priv/repo/migrations/20221224210654_fix_sites_nullable_fields.exs
Due: mix-lint, mix-analysis

Revert formatter
  .formatter.exs
Due: mix-lint, mix-analysis

require Logger, fix logic order
  .formatter.exs
  apps/fz_http/priv/repo/migrations/20221224210654_fix_sites_nullable_fields.exs
Due: mix-lint, mix-analysis

Handle EXTERNAL_URL missing scheme (#1326)
  .formatter.exs
  apps/fz_http/priv/repo/migrations/20221224210654_fix_sites_nullable_fields.exs
Due: mix-lint, mix-analysis

Fix discrepancy between written saml cert and expected saml cert
  omnibus/cookbooks/firezone/libraries/config.rb
Due: rubocop

Fix saml certfile path for omnibus (#1328)
  omnibus/cookbooks/firezone/libraries/config.rb
Due: rubocop

chore: revert stylistic changes introduced by the editor to reduce diffs
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
Due: mix-compile, mix-lint, mix-analysis

Wrap env vars for conditionals
  rel/overlays/bin/server
Due: none

Filter out nil IPs before adding to the nftables ruleset
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-compile, mix-lint, mix-analysis

chore: move gateway setup to `test_helpers.ex` to avoid repetition.
  apps/fz_http/test/fz_http/allow_rules_test.exs
  apps/fz_http/test/fz_http/devices/device/query_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/allow_rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/support/case_template.ex
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
  config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis
