Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

remove special case for admins
  apps/fz_http/lib/fz_http/devices.ex
Due: mix-format, mix-lint, mix-compile

remove auto re-enable
  apps/fz_http/lib/fz_http_web/authentication.ex
Due: mix-format, mix-lint, mix-compile

truncate device name with a hash
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
Due: mix-format, mix-lint, mix-compile

add test
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-format, mix-lint

make linter happy
  docs/docs/user-guides/add-users.md
Due: none

refactor validations with Elixir style code
  apps/fz_http/lib/fz_http/shared_validators.ex
Due: mix-format, mix-lint, mix-compile

extract pipeline
  apps/fz_http/lib/fz_http/shared_validators.ex
Due: mix-format, mix-lint, mix-compile

remove unnecessary code
  apps/fz_common/lib/fz_map.ex
  apps/fz_common/test/fz_map_test.exs
  apps/fz_http/lib/fz_http/users.ex
Due: mix-format, mix-lint, mix-compile

make credo happy
  apps/fz_http/lib/fz_http/shared_validators.ex
Due: mix-format, mix-lint, mix-compile

cherry-pick: make linter happy
  docs/docs/user-guides/add-users.md
Due: none

reduce api surface
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
Due: mix-format, mix-lint, mix-compile

Sync users with OIDC provider (#605)
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/oidc.ex
  apps/fz_http/lib/fz_http/oidc/connection.ex
  apps/fz_http/lib/fz_http/oidc/refresh_manager.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/oidc_connections_table.html.heex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/priv/repo/migrations/20220519034545_create_oidc_connections.exs
  apps/fz_http/priv/repo/migrations/20220520072323_add_disabled_at_to_user.exs
  apps/fz_http/test/fz_http/oidc/refresher_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/vpn_connection_component_test.exs
  apps/fz_http/test/support/mock_openid_connect.ex
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Truncate device name to 15 characters (#648)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/test/fz_http/devices_test.exs
  docs/docs/user-guides/add-users.md
Due: mix-format, mix-lint, mix-compile

use extracted function
  apps/fz_http/lib/fz_http/shared_validators.ex
Due: mix-format, mix-lint, mix-compile

use tlsv1.2
  config/config.exs
Due: mix-format, mix-lint

Update config.exs
  config/config.exs
Due: mix-format, mix-lint

Use tlsv1.2 for OpenID Connect (#651)
  config/config.exs
Due: mix-format, mix-lint

Refactors (#649)
  apps/fz_common/lib/fz_map.ex
  apps/fz_common/test/fz_map_test.exs
  apps/fz_http/lib/fz_http/shared_validators.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
Due: mix-format, mix-lint, mix-compile

bump deps
  apps/fz_http/mix.exs
  mix.lock
Due: mix-format, mix-lint

address update in phoenix_live_view
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
Due: mix-format, mix-lint

Bump deps (#652)
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  mix.lock
Due: mix-format, mix-lint

Cache deps for static analysis tools
  .github/workflows/ci.yml
  Gemfile
  Gemfile.lock
Due: none

Set up generic caches for ruby and python
  .github/workflows/ci.yml
  .tool-versions
  requirements.txt
Due: none

invoke rubocop via bundler
  .pre-commit-config.yaml
Due: none

Fix rubocop errors
  .rubocop.yml
  Gemfile
Due: none

Cache deps for static analysis tools (#654)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .rubocop.yml
  .tool-versions
  Gemfile
  Gemfile.lock
  requirements.txt
Due: none

Add configuration option to allow the NGINX vhosts to listen for IPv6 connections in addition to IPv4
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

Add configuration option to allow the NGINX vhosts to listen for IPv6 connections in addition to IPv4 (#657)
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

Remove obsolete fields
  apps/fz_http/lib/fz_http/telemetry.ex
Due: mix-format, mix-lint, mix-compile
