Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Add Usage section
  README.md
Due: none

Update README.md
  README.md
Due: none

upload artifact for tagsw
  .github/workflows/ci.yml
Due: none

Remove exit on error
  .ci/provision/initialize.sh
Due: none

bump erlang and elixir versions
  omnibus/config/software/elixir.rb
  omnibus/config/software/erlang.rb
Due: none

Fix sha256 sum of erlang
  omnibus/config/software/erlang.rb
Due: none

CI pipeline woes
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
Due: none

Update dependencies
  .tool-versions
  apps/fz_http/mix.exs
  mix.lock
Due: mix-format, mix-lint

Transitioning to heex
  apps/fz_http/lib/fz_http_web/live/account_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/account_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/new.html.leex
  apps/fz_http/lib/fz_http_web/live/user_live/new_live.ex
  apps/fz_http/lib/fz_http_web/templates/layout/auth.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/live.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/mix.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Phoenix 1.6, heex transition
  apps/fz_http/lib/fz_http_web/live/account_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/auth.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/mix.exs
  mix.lock
Due: mix-format, mix-lint

More fixes for Phoenix 1.6 and page title
  apps/fz_http/lib/fz_http_web/controllers/rule_controller.ex
  apps/fz_http/lib/fz_http_web/live/account_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/account_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/app.html.eex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
Due: mix-format, mix-lint, mix-compile

Fix device delete
  .env.sample
  apps/fz_common/lib/cli.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/events.ex
  apps/fz_http/lib/fz_http_web/live/account_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/lib/fz_http_web/templates/layout/live.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/flash.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/heading.html.heex
  apps/fz_http/lib/fz_http_web/views/shared_view.ex
  apps/fz_http/priv/repo/migrations/20200228145810_create_devices.exs
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/support/fixtures.ex
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/config.ex
  apps/fz_vpn/lib/fz_vpn/peer.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/test/fz_vpn/config_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
  config/config.exs
  config/dev.exs
  config/releases.exs
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/config.rb
  omnibus/cookbooks/firezone/recipes/network.rb
Due: mix-format, mix-lint, mix-compile

Generate docs index.html
  mix.exs
Due: mix-format, mix-lint

Use postgres sequence for device address
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/live/device_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/priv/repo/migrations/20200228145810_create_devices.exs
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/support/fixtures.ex
  config/dev.exs
  omnibus/cookbooks/firezone/recipes/network.rb
Due: mix-format, mix-lint, mix-compile

Network service script
  omnibus/config/software/firezone-cookbooks.rb
  omnibus/config/templates/runit/runsvdir-start.erb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reset_network.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/recipes/network.rb
  omnibus/cookbooks/firezone/recipes/network_service.rb
  omnibus/cookbooks/firezone/templates/sv-network_service-log-run.erb
  omnibus/cookbooks/firezone/templates/sv-network_service-run.erb
Due: none

firezone fw vpn loads
  ansible/playbook.yml
  apps/fz_common/lib/cli.ex
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/repo.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/lib/fz_http_web/events.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/priv/repo/migrations/20200228145810_create_devices.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/config.ex
  apps/fz_vpn/lib/fz_vpn/peer.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/test/fz_vpn/config_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
  apps/fz_wall/README.md
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/releases.exs
  config/test.exs
  omnibus/config/software/omnibus-ctl.rb
  omnibus/config/software/runit.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reset_network.rb
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/recipes/network.rb
  omnibus/cookbooks/firezone/recipes/network_service.rb
  omnibus/cookbooks/firezone/templates/sv-network_service-log-run.erb
  omnibus/cookbooks/firezone/templates/sv-network_service-run.erb
Due: mix-format, mix-lint, mix-compile

Avoid bash
  apps/fz_common/lib/cli.ex
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  config/config.exs
  config/releases.exs
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/network.rb
  scripts/install.sh
Due: mix-format, mix-lint, mix-compile

Try self-hosted
  .ci/provision/build.sh
  .ci/provision/centos_7.sh
  .ci/provision/centos_8.sh
  .ci/provision/debian_10.sh
  .ci/provision/debian_11.sh
  .ci/provision/fedora_33.sh
  .ci/provision/fedora_34.sh
  .ci/provision/ruby.sh
  .ci/provision/ubuntu_18.04.sh
  .ci/provision/ubuntu_20.04.sh
  .github/workflows/ci.yml
Due: none

Correct build typo
  .github/workflows/ci.yml
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
