Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Update chef and omnibus gems
  omnibus/Gemfile
  omnibus/Gemfile.lock
Due: none

Use Omnibus to generate semver
  apps/fz_common/mix.exs
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  apps/fz_http/mix.exs
  apps/fz_vpn/mix.exs
  apps/fz_wall/mix.exs
  config/config.exs
  mix.exs
  omnibus/config/projects/firezone.rb
  scripts/semver.sh
  version
Due: mix-format, mix-lint, mix-compile

Move Omnibus caching to proper location
  omnibus/config/projects/firezone.rb
  omnibus/omnibus.rb
Due: none

Use proper compile_env
  apps/fz_common/mix.exs
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/mix.exs
  apps/fz_wall/lib/fz_wall/server.ex
  apps/fz_wall/mix.exs
Due: mix-format, mix-lint, mix-compile

Mix project version
  apps/fz_common/mix.exs
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  apps/fz_http/mix.exs
  apps/fz_vpn/mix.exs
  apps/fz_wall/mix.exs
  config/config.exs
Due: mix-format, mix-lint, mix-compile

And now, with even more hack
  apps/fz_common/mix.exs
  apps/fz_http/mix.exs
  apps/fz_vpn/mix.exs
  apps/fz_wall/mix.exs
  config/config.exs
  mix.exs
  version.exs
Due: mix-format, mix-lint

Add is-flex-wrap-wrap to autowrap card
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
Due: none

Link to previous README versions
  README.md
Due: none

Document upgrading
  README.md
Due: none

Update README.md
  README.md
Due: none

Don't allow duplicate DNS servers
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-format, mix-lint, mix-compile

Enable masquerade for all interfaces
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

masquerade each interface individually
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Be smarter about which interfaces to masquerade
  apps/fz_wall/lib/fz_wall/cli/live.ex
  config/config.exs
  config/releases.exs
Due: mix-format, mix-lint, mix-compile

Suppress omnibus load error
  scripts/semver.sh
Due: none

Stick to nodejs lts 14
  .github/workflows/ci.yml
  .tool-versions
  apps/fz_http/assets/package-lock.json
  mix.exs
  omnibus/config/software/nodejs.rb
Due: mix-format, mix-lint

use https not git
  apps/fz_http/assets/package.json
Due: none

Update package-lock.json
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
