Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Use application_version() to link back to repo (#1181)
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  config/config.exs
Due: mix-format, mix-lint, mix-compile

REST API: Token migration (#1149)
  .pre-commit-config.yaml
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/priv/repo/migrations/20221126044850_create_api_tokens.exs
  apps/fz_http/priv/repo/migrations/20221129002233_update_on_delete_behavior.exs
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/support/fixtures/api_tokens_fixtures.ex
  apps/fz_http/test/support/fixtures/devices_fixtures.ex
  mix.lock
Due: mix-format, mix-lint, mix-compile

docs: update split tunnel doc
  docs/docs/user-guides/use-cases/split-tunnel.mdx
Due: none

doc: adding whitelist sso doc
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
  docs/docs/user-guides/use-cases/nat-gateway/whitelist-sso.mdx
Due: none

Remove unneeded functions, add tests
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/test/fz_http/api_tokens_test.exs
Due: mix-format, mix-lint, mix-compile

Add more JSON views
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/html/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/html/pipeline.ex
  apps/fz_http/lib/fz_http_web/auth/json/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/json/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/json/pipeline.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/configuration_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/device_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/fallback_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/plug/authorization.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/json/changeset_view.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/json/device_view.ex
  apps/fz_http/lib/fz_http_web/views/json/rule_view.ex
  apps/fz_http/lib/fz_http_web/views/json/user_view.ex
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http_web/authentication_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/support/conn_case.ex
  config/config.exs
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

Checkpoint controllers and views
  apps/fz_http/lib/fz_http_web/controllers/api/configuration_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/api/user_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/fallback_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/views/api/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/api/user_view.ex
  apps/fz_http/lib/fz_http_web/views/changeset_view.ex
  apps/fz_http/test/fz_http_web/controllers/api/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/api/user_controller_test.exs
Due: mix-format, mix-lint, mix-compile

Checkpoint Guardian pipeline
  apps/fz_http/lib/fz_http_web/auth/api/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/api/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/api/pipeline.ex
  apps/fz_http/lib/fz_http_web/auth/www/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/www/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/www/pipeline.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/plug/authorization.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/test/fz_http_web/authentication_test.exs
  apps/fz_http/test/support/conn_case.ex
  config/config.exs
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

Fix tests
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/views/api/configuration_view.ex
  apps/fz_http/test/fz_http_web/controllers/api/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/api/user_controller_test.exs
  apps/fz_http/test/fz_http_web/mailer_test.exs
  apps/fz_http/test/support/conn_case.ex
Due: mix-format, mix-lint, mix-compile

Checkpoint device api tests
  apps/fz_http/lib/fz_http_web/views/json/device_view.ex
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
Due: mix-format, mix-lint, mix-compile

Create APICase template
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/json_case.ex
Due: mix-format, mix-lint, mix-compile

Add Rule controller tests
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/views/json/device_view.ex
  apps/fz_http/lib/fz_http_web/views/json/encoders/postgrex_inet.ex
  apps/fz_http/lib/fz_http_web/views/json/rule_view.ex
  apps/fz_http/lib/fz_http_web/views/json/user_view.ex
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
Due: mix-format, mix-lint, mix-compile

Fix partial name
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
Due: none

Checkpoint tests
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/support/json_case.ex
  config/test.exs
Due: mix-format, mix-lint, mix-compile

REST API: Controllers and Views (#1148)
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/html/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/html/pipeline.ex
  apps/fz_http/lib/fz_http_web/auth/json/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/json/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/json/pipeline.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/configuration_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/device_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/fallback_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/plug/authorization.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/json/changeset_view.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/json/device_view.ex
  apps/fz_http/lib/fz_http_web/views/json/encoders/postgrex_inet.ex
  apps/fz_http/lib/fz_http_web/views/json/rule_view.ex
  apps/fz_http/lib/fz_http_web/views/json/user_view.ex
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http_web/authentication_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/fz_http_web/mailer_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/conn_case.ex
  config/config.exs
  config/runtime.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

docs: add seo titles
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
  docs/docs/user-guides/use-cases/nat-gateway/whitelist-sso.mdx
Due: none

Add revoked helpers to ApiTokens
  .codespellrc
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/support/fixtures/api_tokens_fixtures.ex
Due: mix-format, mix-lint, mix-compile

add gateways migration
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
Due: mix-format, mix-lint

Remove unneeded yarn.lock; update package-lock.json
  docs/package-lock.json
  docs/yarn.lock
Due: none

expand reg_token column to registration_token
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
Due: mix-format, mix-lint

pr feedback
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
Due: mix-format, mix-lint

add defaults to configurations
  apps/fz_http/priv/repo/migrations/20221207191602_add_defaults_to_configurations.exs
Due: mix-format, mix-lint

docs: update titles, descriptions
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/local-auth.mdx
  docs/docs/authenticate/multi-factor.mdx
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/azuread.mdx
  docs/docs/authenticate/oidc/google.mdx
  docs/docs/authenticate/oidc/keycloak.mdx
  docs/docs/authenticate/oidc/okta.mdx
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
  docs/docs/deploy/README.mdx
  docs/docs/deploy/configure.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/deploy/security-considerations.mdx
  docs/docs/user-guides/add-devices.mdx
  docs/docs/user-guides/add-users.mdx
  docs/docs/user-guides/client-instructions.mdx
  docs/docs/user-guides/egress-rules.mdx
  docs/docs/user-guides/use-cases/README.mdx
  docs/docs/user-guides/use-cases/reverse-tunnel.mdx
Due: none

fix formatting
  apps/fz_http/priv/repo/migrations/20221207191602_add_defaults_to_configurations.exs
Due: mix-format, mix-lint

docs: small fixes
  docs/docs/administer/migrate.mdx
  docs/docs/administer/regen-keys.mdx
  docs/docs/reference/configuration-file.mdx
  docs/docs/reference/env-vars.mdx
  docs/docs/reference/firewall-templates/README.mdx
  docs/docs/user-guides/use-cases/README.mdx
Due: none

docs: improve titles
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
  docs/docs/user-guides/use-cases/nat-gateway/whitelist-sso.mdx
Due: none

fix whitespace
  docs/docs/administer/troubleshoot.mdx
Due: none

grammar fixes
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
Due: none

fix trailing whitespace
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
Due: none

fix trailing whitespaces
  docs/docs/authenticate/multi-factor.mdx
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/azuread.mdx
  docs/docs/authenticate/oidc/google.mdx
  docs/docs/authenticate/oidc/keycloak.mdx
  docs/docs/authenticate/oidc/okta.mdx
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
  docs/docs/deploy/README.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/reference/firewall-templates/README.mdx
Due: none

fix spelling
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/saml/README.mdx
Due: none

update split tunnel doc
  docs/docs/user-guides/use-cases/split-tunnel.mdx
Due: none

docs: add DNS considerations to split tunnel doc
  docs/docs/user-guides/use-cases/split-tunnel.mdx
Due: none

remove rules jsonb field
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
Due: mix-format, mix-lint

add allow rules migration
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
Due: mix-format, mix-lint

remove brackets on index
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
Due: mix-format, mix-lint

Add gateways migration (#1186)
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
Due: mix-format, mix-lint
