Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

add create-or-reset-admin
  rel/overlays/bin/create-or-reset-admin
Due: none

add gen_secrets
  apps/fz_common/lib/fz_crypto.ex
Due: mix-format, mix-lint, mix-compile

fix typo
  apps/fz_common/lib/fz_crypto.ex
Due: mix-format, mix-lint, mix-compile

move version to the end
  Dockerfile.prod
Due: none

move up a little
  Dockerfile.prod
Due: none

use map_join
  apps/fz_common/lib/fz_crypto.ex
Due: mix-format, mix-lint, mix-compile

remove gen_secrets
  apps/fz_common/lib/fz_crypto.ex
Due: mix-format, mix-lint, mix-compile

add gen-env
  rel/overlays/bin/gen-env
Due: none

cat
  rel/overlays/bin/gen-env
Due: none

gen more
  rel/overlays/bin/gen-env
Due: none

initial writeup
  docs/docs/user-guides/use-cases/wg-2fa.md
Due: none

update architecture diagram
  README.md
  docs/docs/README.md
Due: none

fix edit this page link
  docs/docusaurus.config.js
Due: none

add telemetry
  Dockerfile.prod
  docker-compose.prod.yml
  rel/overlays/bin/server
Due: none

fix keywords not showing
  docs/docusaurus.config.js
Due: none

Bump Wireguardex
  apps/fz_vpn/mix.exs
  mix.lock
Due: mix-format, mix-lint

remove trailing slash
  README.md
Due: none

Prod image (#887)
  .github/workflows/publish-image.yml
  Dockerfile.dev
  Dockerfile.prod
  docker-compose.prod.yml
  docker-compose.yml
  rel/overlays/bin/create-or-reset-admin
  rel/overlays/bin/gen-env
  rel/overlays/bin/migrate
  rel/overlays/bin/server
Due: none

Bump Wireguardex (#912)
  apps/fz_vpn/mix.exs
  mix.lock
Due: mix-format, mix-lint

Docs fixes (#911)
  README.md
  docs/docs/README.md
  docs/docusaurus.config.js
Due: none

Add all the config options, test should fail
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/priv/repo/migrations/20220810002432_add_unprivileged_device_configuration.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  config/config.exs
  config/runtime.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Remove unneeded leading match
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
Due: mix-format, mix-lint

Don't show fields that can't be edited
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
Due: mix-format, mix-lint, mix-compile

use str not ~r
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
Due: mix-format, mix-lint

Update image name and remove build
  docker-compose.prod.yml
Due: none

Choose Conf.get or @allow
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
Due: mix-format, mix-lint, mix-compile

Add Docker env vars
  Dockerfile.prod
  docker-compose.prod.yml
Due: none

Update image name and remove build (#914)
  docker-compose.prod.yml
Due: none

Allow disabling the configuration of devices by unprivileged users (#909)
  Dockerfile.prod
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/priv/repo/migrations/20220810002432_add_unprivileged_device_configuration.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  config/config.exs
  config/runtime.exs
  docker-compose.prod.yml
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Use Dockerfile.prod
  .github/workflows/publish-image.yml
Due: none

Use consistent placeholders
  apps/fz_http/lib/fz_http/sites.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/site.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_live.ex
Due: mix-format, mix-lint, mix-compile

Use Dockerfile.prod (#915)
  .github/workflows/publish-image.yml
Due: none

Remove redundant text and overflow-x
  apps/fz_http/assets/css/main.scss
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
