Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Guard tput calls for errors from CI (#827)
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
  scripts/uninstall.sh
Due: none

Optimize Docker build cache
  Dockerfile
Due: none

Fix master build
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  docker-compose.yml
Due: mix-format, mix-lint, mix-compile

Optimize Docker build cache (#845)
  Dockerfile
Due: none

use JSON for openid_connect_providers
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
  config/config.exs
Due: mix-format, mix-lint, mix-compile

Remove no longer needed compilers declaration
  apps/fz_http/mix.exs
Due: mix-format, mix-lint

Remove no longer needed compilers declaration (#848)
  apps/fz_http/mix.exs
Due: mix-format, mix-lint

(hopefully) print errors to STDOUT
  omnibus/cookbooks/firezone/templates/sv-nginx-log-run.erb
  omnibus/cookbooks/firezone/templates/sv-phoenix-log-run.erb
  omnibus/cookbooks/firezone/templates/sv-postgresql-log-run.erb
  omnibus/cookbooks/firezone/templates/sv-wireguard-log-run.erb
Due: none

set TERMINFO
  .github/workflows/build.yml
Due: none

Upload built artifact before functional testing
  .github/workflows/build.yml
Due: none

D'oh
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

Revert logging change
  omnibus/cookbooks/firezone/templates/sv-nginx-log-run.erb
  omnibus/cookbooks/firezone/templates/sv-phoenix-log-run.erb
  omnibus/cookbooks/firezone/templates/sv-postgresql-log-run.erb
  omnibus/cookbooks/firezone/templates/sv-wireguard-log-run.erb
Due: none

Fix empty OIDC config prevents fresh application from starting (#846)
  .github/workflows/build.yml
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
  config/config.exs
  docker-compose.yml
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint, mix-compile

Remove events module from UI and trigger events on DB notifies
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device_setting.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/repo/notifier.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/priv/repo/migrations/20220721164925_add_device_rule_user_notify_triggers.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  config/config.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Use FzHttp.Devices.decode in devices/rules tests and remove commented line
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
Due: mix-format, mix-lint, mix-compile

address PR feedback & fix race condition in interface test
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device_setting.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_vpn/test/fz_vpn/interface_test.exs
Due: mix-format, mix-lint, mix-compile

Add tests and take out error flash from ui for now.
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device_setting.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/test/fz_http/repo/notifier_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
Due: mix-format, mix-lint, mix-compile

Clean up events & notifier based on PR feedback
  apps/fz_http/lib/fz_http/devices/device_setting.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/repo/notifier.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/test/fz_http/events_test.exs
Due: mix-format, mix-lint, mix-compile

Rescue capture errors in Ruby
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
Due: none

update navbar beta link
  docs/docusaurus.config.js
Due: none

remove cast role in create
  apps/fz_http/lib/fz_http/users/user.ex
Due: mix-format, mix-lint, mix-compile

remove cast in update
  apps/fz_http/lib/fz_http/users/user.ex
Due: mix-format, mix-lint, mix-compile

Revert "remove cast role in create"
  apps/fz_http/lib/fz_http/users/user.ex
Due: mix-format, mix-lint, mix-compile

remove role in generic cast
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/test/support/fixtures/users_fixtures.ex
Due: mix-format, mix-lint, mix-compile

Rescue capture errors in Ruby (#849)
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
Due: none

update navbar beta link (#850)
  docs/docusaurus.config.js
Due: none

sudo outside install script
  README.md
Due: none

Remove sudo from install script
  scripts/install.sh
Due: none

Remove sudo from install script (#852)
  scripts/install.sh
Due: none

prefix with sudo
  README.md
  docs/docs/deploy/README.md
  docs/docs/deploy/install-server.md
Due: none

Update docs/docs/deploy/README.md
  docs/docs/deploy/README.md
Due: none

prefix with sudo (#853)
  README.md
  docs/docs/deploy/README.md
  docs/docs/deploy/install-server.md
Due: none
