Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Remove unused import
  apps/web/lib/web/mailer/auth_email.ex
Due: mix-compile, mix-lint, mix-analysis

Re-enable SQL sandboxing for Phoenix apps
  apps/api/lib/api/sandbox.ex
  apps/domain/lib/domain/sandbox.ex
  apps/web/lib/web/sandbox.ex
Due: mix-compile, mix-lint, mix-analysis

Fix some tests
  apps/domain/test/domain/network_test.exs
  apps/domain/test/domain/telemetry_test.exs
Due: mix-lint, mix-analysis

Generate valid claims for tests
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-lint, mix-analysis

Added footer links and form for beta signup.
  www/B0A3F091DD1CC1E3144099823B691DF9844396A0.asc
  www/docusaurus.config.js
  www/my-key.asc
  www/src/pages/beta/signup.mdx
  www/src/pages/privacy.mdx
  www/src/pages/self-hosted-firezone.mdx
  www/src/pages/terms.mdx
Due: none

Add missing exp claim
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-lint, mix-analysis

Switch branch for openid_connect (#1573)
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  mix.lock
Due: mix-lint, mix-analysis

Update 0.7.0 link
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

Update 0.7.0 link (#1580)
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

Delete my-key.asc
  www/my-key.asc
Due: none

Apply suggestions from code review
  www/docusaurus.config.js
  www/src/pages/beta/signup.mdx
  www/src/pages/index.mdx
  www/src/pages/self-hosted-firezone.mdx
Due: none

fix static analysis checks
  www/src/pages/beta/signup.mdx
  www/src/pages/index.mdx
  www/src/pages/privacy.mdx
  www/src/pages/self-hosted-firezone.mdx
  www/src/pages/terms.mdx
Due: none

Fix typos; minor formatting
  www/docusaurus.config.js
  www/package.json
  www/src/pages/1.0/signup.mdx
  www/src/pages/_privacy.mdx
  www/src/pages/_terms.mdx
  www/src/pages/index.mdx
  www/src/pages/self-hosted-firezone.mdx
  www/yarn.lock
Due: none

Added footer links and form for beta signup. (#1579)
  www/B0A3F091DD1CC1E3144099823B691DF9844396A0.asc
  www/docusaurus.config.js
  www/package.json
  www/src/pages/1.0/signup.mdx
  www/src/pages/_privacy.mdx
  www/src/pages/_terms.mdx
  www/src/pages/self-hosted-firezone.mdx
  www/yarn.lock
Due: none

Draft 1.0 signup
  www/src/pages/1.0/_signup.mdx
Due: none

Draft 1.0 signup (#1581)
  www/src/pages/1.0/_signup.mdx
Due: none

Fix website refs
  www/blog/2022-10-17-release-0-6-0/index.mdx
  www/docs/authenticate/README.mdx
  www/docs/authenticate/oidc/README.mdx
  www/docs/authenticate/saml/README.mdx
  www/docusaurus.config.js
  www/src/pages/contact/sales.mdx
  www/src/pages/index.mdx
  www/src/pages/self_hosted_firezone.mdx
Due: none

Fix website refs (#1582)
  www/blog/2022-10-17-release-0-6-0/index.mdx
  www/docs/authenticate/README.mdx
  www/docs/authenticate/oidc/README.mdx
  www/docs/authenticate/saml/README.mdx
  www/docusaurus.config.js
  www/src/pages/contact/sales.mdx
  www/src/pages/index.mdx
  www/src/pages/self_hosted_firezone.mdx
Due: none

Draft self-hosted
  www/src/pages/_self-hosted.mdx
Due: none

Move self-hosted to draft status (#1583)
  www/src/pages/_self-hosted.mdx
Due: none

Test
  www/lilian.txt
Due: none

Update components
  www/yarn.lock
Due: none

remove pgp cruft
  www/B0A3F091DD1CC1E3144099823B691DF9844396A0.asc
Due: none

Fix VPN session expiration query
  apps/fz_http/lib/fz_http/devices/device/query.ex
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-compile, mix-lint, mix-analysis

Document MAX_DEVICES_PER_USER
  apps/fz_http/lib/fz_http/config/definitions.ex
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Document MAX_DEVICES_PER_USER (#1587)
  apps/fz_http/lib/fz_http/config/definitions.ex
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Fix line length
  apps/fz_http/lib/fz_http/devices/device/query.ex
Due: mix-compile, mix-lint, mix-analysis

Fix VPN session expiration query (#1586)
  apps/fz_http/lib/fz_http/devices/device/query.ex
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-compile, mix-lint, mix-analysis

Bump python action
  .github/workflows/static_analysis.yml
Due: none

Fix new Rubocop linter issue
  omnibus/cookbooks/firezone/files/default/ctl-commands/version.rb
Due: rubocop

Fix new Rubocop linter issue (#1592)
  omnibus/cookbooks/firezone/files/default/ctl-commands/version.rb
Due: rubocop

Bump python action (#1591)
  .github/workflows/static_analysis.yml
Due: none

Mention potentially missing asdf plugins
  CONTRIBUTING.md
Due: none

Mention potentially missing asdf plugins (#1597)
  CONTRIBUTING.md
Due: none

Add minimal scaffholding for relay
  .github/dependabot.yml
  .github/workflows/rust.yml
  relay/.gitignore
  relay/Cargo.lock
  relay/Cargo.toml
  relay/rust-toolchain.toml
  relay/src/main.rs
Due: none
