Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Upgrade docs clarifications & remove unused auth code for pre-configured providers (google/okta)
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  docs/docs/administer/upgrade.md
Due: mix-format, mix-lint, mix-compile

Fix docs url for upgrade note
  omnibus/package-scripts/firezone/preinst
Due: none

Remove pre-configured Okta & Google OAuth providers (#793)
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
  docs/docs/administer/upgrade.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/okta.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
Due: mix-format, mix-lint, mix-compile

Remove unused nodejs and python builds
  omnibus/config/software/nodejs.rb
  omnibus/config/software/python.rb
Due: none

remove rule seed that creates major confusion during setup
  apps/fz_http/priv/repo/seeds.exs
Due: mix-format, mix-lint

Add docker dev setup
  .devcontainer/Caddyfile
  .dockerignore
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  docker-compose.yml
  scripts/dev_start.sh
  scripts/post-down-wg.sh
  scripts/post-up-wg.sh
Due: none

remove leftover
  scripts/post-up-wg.sh
Due: none

skip adding nodejs plugin
  .github/workflows/build.yml
Due: none

Remove `nodejs` and `python` from build (#796)
  .github/workflows/build.yml
  omnibus/config/software/firezone.rb
  omnibus/config/software/nodejs.rb
  omnibus/config/software/python.rb
Due: none

Removes disabling SSL and adds remote_ip lib
  apps/fz_common/lib/fz_string.ex
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/mix.exs
  config/runtime.exs
  docs/docs/deploy/advanced-deployment/hosted-proxy/draft.md
  docs/docs/reference/configuration-file.md
  mix.lock
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Due: mix-format, mix-lint, mix-compile

Fix to use remote_ip when not proxy
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
Due: mix-format, mix-lint, mix-compile

Add trusted_proxy to config
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

Add proxy_forwarded prameter to config and improve logging
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  config/config.exs
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Fix trusted_proxy list parsing
  apps/fz_common/lib/fz_string.ex
  apps/fz_common/test/fz_string_test.exs
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

Fix ip formatting
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

Expect JSON array for trusted_proxy
  apps/fz_common/lib/fz_string.ex
  apps/fz_common/test/fz_string_test.exs
Due: mix-format, mix-lint, mix-compile

fix proxied-related plug loading runtime
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

set timezone to utc
  docker-compose.yml
Due: none

Docker DEV (#737)
  .devcontainer/Caddyfile
  .dockerignore
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  apps/fz_http/priv/repo/seeds.exs
  docker-compose.yml
  scripts/dev_start.sh
  scripts/post-down-wg.sh
  scripts/post-up-wg.sh
Due: mix-format, mix-lint

Don't install erlang/elixir to embedded path; only used for build
  .github/workflows/build.yml
  omnibus/config/software/elixir.rb
  omnibus/config/software/erlang.rb
Due: none

bump deps
  Gemfile.lock
  omnibus/Gemfile.lock
Due: none

Use custom path
  omnibus/config/software/elixir.rb
  omnibus/config/software/erlang.rb
  omnibus/config/software/firezone.rb
Due: none

More efforts to shrink final package size
  omnibus/config/software/elixir.rb
  omnibus/config/software/erlang.rb
  omnibus/config/software/firezone.rb
Due: none

Change prefix
  omnibus/config/software/elixir.rb
  omnibus/config/software/erlang.rb
  omnibus/config/software/firezone.rb
Due: none

fix path
  omnibus/config/software/elixir.rb
  omnibus/config/software/firezone.rb
Due: none

Remove elixir/erlang from prod build (#799)
  .github/workflows/build.yml
  Gemfile.lock
  omnibus/Gemfile.lock
  omnibus/config/software/elixir.rb
  omnibus/config/software/erlang.rb
  omnibus/config/software/firezone.rb
Due: none

Add telemetry data for feature configs and other useful stats
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/telemetry.ex
Due: mix-format, mix-lint, mix-compile

Add sample users/devices
  apps/fz_http/priv/repo/seeds.exs
Due: mix-format, mix-lint

use conf helper in more places & unit tests for ping_data
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/test/fz_http/telemetry_test.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Add sample users/devices (#802)
  apps/fz_http/priv/repo/seeds.exs
Due: mix-format, mix-lint

Change rules to be prepended so that user rules takes priority
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Update nftables version
  omnibus/config/software/nftables.rb
Due: none

Auto merge set intervals
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  omnibus/config/software/libnftnl.rb
Due: mix-format, mix-lint, mix-compile

checkpoint
  CONTRIBUTING.md
  config/dev.exs
  docker-compose.yml
  scripts/bootstrap_firezone_dev.sql
  scripts/dev_start.sh
Due: mix-format, mix-lint

include db url setting, improve unit tests
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/test/fz_http/telemetry_test.exs
Due: mix-format, mix-lint, mix-compile

Docker dev environment final root cause analysis
  .devcontainer/Caddyfile
  .devcontainer/README.md
  .devcontainer/wg0.client.conf
  CONTRIBUTING.md
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/shared_validators.ex
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  config/config.exs
  config/dev.exs
  docker-compose.yml
  priv/wg_dev_private_key
Due: mix-format, mix-lint, mix-compile

Add telemetry data to the ping event (#801)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/test/fz_http/telemetry_test.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update apps/fz_common/lib/fz_net.ex
  apps/fz_common/lib/fz_net.ex
Due: mix-format, mix-lint, mix-compile

Update install script to setup and install firezone from cloudsmith repo
  scripts/install.sh
  scripts/uninstall.sh
Due: none
