Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Add uid (#861)
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

detect force_ssl config and error out
  omnibus/package-scripts/firezone/preinst
Due: none

Update omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/preinst
Due: none

detect force_ssl config and error out (#864)
  omnibus/package-scripts/firezone/preinst
Due: none

Fix new docs links
  README.md
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

Fix new docs links (#865)
  README.md
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

remove http-related nginx config
  Gemfile.lock
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Due: none

Add notifications live view, broadcast them through the notification channel
  apps/fz_http/assets/js/live_view.js
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/notifications/errors.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: mix-format, mix-lint, mix-compile

fix multi message
  apps/fz_http/lib/fz_http/notifications/errors.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
Due: mix-format, mix-lint, mix-compile

reverse order so new notifications are at top
  apps/fz_http/lib/fz_http/notifications/errors.ex
Due: mix-format, mix-lint, mix-compile

restrict to error
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
Due: mix-format, mix-lint, mix-compile

Don't fail fast for publishing to Cloudsmith
  .github/workflows/publish.yml
Due: none

fixes parsing for ipv6
  apps/fz_common/lib/fz_net.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

Improve install docs some & restore the manual install steps
  docs/docs/deploy/install-server.md
Due: none

Fix docs lint
  docs/docs/deploy/install-server.md
Due: none

Remove space in RedHat
  docs/docs/deploy/install-server.md
Due: none

fix typo
  docs/docs/deploy/install-server.md
Due: none

fixes parsing for ipv6 (#871)
  apps/fz_common/lib/fz_net.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

Restore the manual install steps to install server docs. (#873)
  docs/docs/deploy/install-server.md
Due: none

Don't fail fast for publishing to Cloudsmith (#870)
  .github/workflows/publish.yml
Due: none

add clear
  apps/fz_http/lib/fz_http/notifications/errors.ex
Due: mix-format, mix-lint, mix-compile

clean up
  apps/fz_http/assets/js/live_view.js
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/notifications/errors.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
Due: mix-format, mix-lint, mix-compile

Notification improvements (#869)
  apps/fz_http/assets/js/live_view.js
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/notifications/errors.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
Due: mix-format, mix-lint, mix-compile

Add more details about Nginx and reverse proxies to upgrade notes
  docs/docs/administer/upgrade.md
Due: none

Add initial rough version of port based rules
  apps/fz_http/lib/fz_http/int4range.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/priv/repo/migrations/20220726205646_add_rule_port_range.exs
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/test/fz_wall/cli/sandbox_test.exs
Due: mix-format, mix-lint, mix-compile

Flatten Notifications to make it more general and add timestamp
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/notifications.ex
  apps/fz_http/lib/fz_http/notifications/errors.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index_live.ex
Due: mix-format, mix-lint, mix-compile

Remove wildcard from notification channel in UserSocket
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

fix tests
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/events_test.exs
Due: mix-format, mix-lint, mix-compile

fix config ui out of sync
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Due: mix-format, mix-lint, mix-compile

fix and add more tests
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-format, mix-lint

simplify tests
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-format, mix-lint

Implement clear button for clearing notifications. Add icon helper
  apps/fz_http/lib/fz_http/notifications.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index_live.ex
Due: mix-format, mix-lint, mix-compile

Add broadcast helper
  apps/fz_http/lib/fz_http/notifications.ex
Due: mix-format, mix-lint, mix-compile

nftables refactor
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile
