Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

Model all messages as types
  rust/relay/src/server.rs
  rust/relay/src/server/client_message.rs
Due: none

Complete refactor and introduce richer diffs
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/src/main.rs
  rust/relay/src/server.rs
  rust/relay/src/server/client_message.rs
  rust/relay/tests/regression.rs
Due: none

Finish renaming and cleanup configs to be multi-tenant
  apps/api/test/api/client/channel_test.exs
  apps/domain/lib/domain/actors.ex
  apps/domain/lib/domain/actors/actor.ex
  apps/domain/lib/domain/actors/actor/changeset.ex
  apps/domain/lib/domain/actors/authorizer.ex
  apps/domain/lib/domain/application.ex
  apps/domain/lib/domain/auth.ex
  apps/domain/lib/domain/auth/authorizer.ex
  apps/domain/lib/domain/auth/roles.ex
  apps/domain/lib/domain/config.ex
  apps/domain/lib/domain/config/authorizer.ex
  apps/domain/lib/domain/config/configuration/changeset.ex
  apps/domain/lib/domain/config/configuration/query.ex
  apps/domain/lib/domain/devices.ex
  apps/domain/lib/domain/devices/authorizer.ex
  apps/domain/lib/domain/telemetry.ex
  apps/domain/priv/repo/migrations/20230523181533_cleanup_configurations.exs
  apps/domain/priv/repo/seeds.exs
  apps/domain/test/domain/actors_test.exs
  apps/domain/test/domain/auth/adapters/openid_connect_test.exs
  apps/domain/test/domain/auth/oidc/refresher_test.exs
  apps/domain/test/domain/auth_test.exs
  apps/domain/test/domain/config_test.exs
  apps/domain/test/domain/devices_test.exs
  apps/domain/test/domain/telemetry_test.exs
  apps/domain/test/support/fixtures/actors_fixtures.ex
  apps/domain/test/support/fixtures/auth_fixtures.ex
  apps/domain/test/support/fixtures/config_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Comment out remaining telemetry module
  apps/domain/lib/domain/telemetry/timer.ex
Due: mix-compile, mix-lint, mix-analysis

Remove files that we don't need any more
  .ci/functional_test.sh
  .dockerignore
  .gitignore
  priv/keycloak-realm.json
  priv/wg0.client.conf
  priv/wg_dev_private_key
Due: none

Fix compile-time warning
  apps/domain/test/support/fixtures/config_fixtures.ex
  apps/web/test/support/acceptance_case/vault.ex
Due: mix-compile, mix-lint, mix-analysis

Ignore credo warning
  apps/domain/lib/domain/config.ex
Due: mix-compile, mix-lint, mix-analysis

Fix container build
  .github/workflows/test.yml
  apps/domain/lib/domain/sandbox.ex
Due: mix-compile, mix-lint, mix-analysis

Better credo ignore command
  apps/domain/lib/domain/config.ex
Due: mix-compile, mix-lint, mix-analysis

Fix container building
  Dockerfile.prod
  mix.exs
Due: mix-lint, mix-analysis

Change workdir for Elixir CI
  .github/workflows/elixir.yml
Due: none

Fix path
  .github/workflows/elixir.yml
Due: none

1
  .github/workflows/elixir.yml
Due: none

2
  .github/workflows/elixir.yml
Due: none

3
  .github/workflows/elixir.yml
Due: none

4
  .github/workflows/elixir.yml
Due: none

5
  .github/workflows/elixir.yml
Due: none

6
  .github/workflows/elixir.yml
Due: none

7
  .github/workflows/elixir.yml
Due: none

8
  .github/workflows/elixir.yml
Due: none

9
  .github/workflows/elixir.yml
Due: none

fix plt cache
  .github/workflows/elixir.yml
Due: none

Fix id refs for cache
  .github/workflows/elixir.yml
Due: none

Be louder about Omnibus->Docker
  omnibus/package-scripts/firezone/postinst
Due: none

Be louder about Omnibus->Docker migration (#1633)
  omnibus/package-scripts/firezone/postinst
Due: none

Disable Omnibus build and publish
  .github/workflows/omnibus_build.yml
  .github/workflows/omnibus_publish.yml
Due: none

WIP
  rust/relay/Cargo.toml
  rust/relay/src/auth.rs
  rust/relay/src/lib.rs
Due: none

Add test for verifying auth
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/src/auth.rs
Due: none

Implement checking of auth credentials
  rust/relay/src/auth.rs
Due: none

Fix compiler warnings
  rust/relay/src/auth.rs
Due: none

Add TODO
  rust/relay/src/stun_codec_ext.rs
Due: none

Allow control relay seed from env variable
  rust/relay/README.md
  rust/relay/src/main.rs
  rust/relay/src/server.rs
Due: none

Extract username from authenticated messages
  rust/relay/src/server/client_message.rs
Due: none

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
