Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Add README upgrade instructions
  README.md
Due: none

Set x headers
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

Remove typo s
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
Due: mix-format, mix-lint, mix-compile

Fix wireguard has peers
  apps/fz_http/lib/fz_http_web/events.ex
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Call set_config for all device ops
  apps/fz_http/lib/fz_http_web/events.ex
Due: mix-format, mix-lint, mix-compile

set-config at the right times
  apps/fz_http/lib/fz_http_web/events.ex
  apps/fz_http/test/fz_http_web/events_test.exs
Due: mix-format, mix-lint, mix-compile

update README with gongjason
  README.md
Due: none

Fix scheduler events
  apps/fz_http/lib/fz_http/vpn_session_scheduler.ex
Due: mix-format, mix-lint, mix-compile

Remove infite loop in deleting peers
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
Due: mix-format, mix-lint, mix-compile

add dummy function
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
Due: mix-format, mix-lint, mix-compile

remove redundant acronym
  README.md
Due: none

update usage gif
  README.md
Due: none

re-did video to remove white bar on left
  README.md
Due: none

Added CENTOS Stream 8 notes
  README.md
Due: none

Make minor modifications to the CentOS 8 notes
  README.md
Due: none

Allow FQDNs for device endpoint
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/shared_validators.ex
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-format, mix-lint, mix-compile

Allow fqdn endpoint in settings
  apps/fz_http/lib/fz_http/settings/setting.ex
  apps/fz_http/test/fz_http/settings_test.exs
Due: mix-format, mix-lint, mix-compile

Make prod launchable on dev
  .env.sample
  config/dev.exs
  config/prod.exs
  config/releases.exs
Due: mix-format, mix-lint

Use URL_HOST if provided
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  config/releases.exs
Due: mix-format, mix-lint, mix-compile

Add Gemfile.lock to repository
  docs/.gitignore
  docs/Gemfile.lock
Due: none

Fix line endings for files in docs/
  .pre-commit-config.yaml
  docs/.gitignore
  docs/404.html
  docs/CNAME
  docs/Gemfile
  docs/_config.yml
  docs/_includes/footer_custom.html
  docs/_includes/head_custom.html
  docs/_sass/color_schemes/fz.scss
  docs/docs/deploying-and-configuring.md
  docs/index.md
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
