Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

Removes `hammer` and `hammer_plug` deps and their code references (#1230)
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/mix.exs
  config/config.exs
  docs/docs/reference/security-controls.mdx
  mix.lock
Due: mix-compile, mix-lint, mix-analysis

Change foreign key constraint to cascading delete
  .codespellrc
  apps/fz_http/priv/repo/migrations/20221224125052_users_fk_delete_all_constraint.exs
Due: mix-lint, mix-analysis

Change foreign key constraint to cascading delete (#1235)
  .codespellrc
  apps/fz_http/priv/repo/migrations/20221224125052_users_fk_delete_all_constraint.exs
Due: mix-lint, mix-analysis

Add LiveViews for managing API tokens
  .codespellrc
  apps/fz_http/assets/css/main.scss
  apps/fz_http/assets/js/event_listeners.js
  apps/fz_http/assets/package-lock.json
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/auth/json/authentication.ex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/new_api_token_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/show_api_token_component.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/json/device_view.ex
  apps/fz_http/lib/fz_http_web/views/json/rule_view.ex
  apps/fz_http/lib/fz_http_web/views/json/user_view.ex
  apps/fz_http/priv/repo/migrations/20221126044850_create_api_tokens.exs
  apps/fz_http/priv/repo/migrations/20221223223357_migrate_datetimes_to_timestamptz.exs
  apps/fz_http/priv/repo/migrations/20221223223734_change_api_tokens_revoked_at_index_to_partial.exs
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/fz_http_web/html_authentication_test.exs
  config/config.exs
Due: mix-compile, mix-lint, mix-analysis

Disable API docs generation for now
  .github/workflows/publish_docs.yml
  docs/docusaurus.config.js
Due: none

Use yarn for docs
  .github/workflows/publish_docs.yml
  .github/workflows/static_analysis.yml
  docs/README.md
  docs/package-lock.json
  docs/yarn.lock
Due: markdownlint

Add SupportOptions component and utm_source for links
  CONTRIBUTING.md
  README.md
  SECURITY.md
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  docs/docs/README.mdx
  docs/docs/administer/debug-logs.mdx
  docs/docs/administer/migrate.mdx
  docs/docs/administer/troubleshoot.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/deploy/advanced/external-database.mdx
  docs/docs/deploy/advanced/reverse-proxy.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/reference/_audit-logs.mdx
  docs/docs/reference/security-controls.mdx
  docs/docs/reference/telemetry.mdx
  docs/docusaurus.config.js
  docs/src/partials/_support_options.mdx
  docs/yarn.lock
  scripts/omnibus-uninstall.sh
Due: mix-compile, mix-lint, mix-analysis

Use full utm_source path
  docs/docs/README.mdx
  docs/docs/administer/debug-logs.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/deploy/advanced/external-database.mdx
  docs/docs/deploy/advanced/reverse-proxy.mdx
  docs/docs/reference/_audit-logs.mdx
  docs/docs/reference/security-controls.mdx
  docs/docs/reference/telemetry.mdx
  docs/docusaurus.config.js
  docs/src/partials/_support_options.mdx
Due: none

Add SupportOptions component and utm_source for links (#1219)
  .github/workflows/publish_docs.yml
  .github/workflows/static_analysis.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  docs/README.md
  docs/docs/README.mdx
  docs/docs/administer/debug-logs.mdx
  docs/docs/administer/migrate.mdx
  docs/docs/administer/troubleshoot.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/deploy/advanced/external-database.mdx
  docs/docs/deploy/advanced/reverse-proxy.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/reference/_audit-logs.mdx
  docs/docs/reference/security-controls.mdx
  docs/docs/reference/telemetry.mdx
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/src/partials/_support_options.mdx
  docs/yarn.lock
  scripts/omnibus-uninstall.sh
Due: mix-compile, mix-lint, mix-analysis, markdownlint

Update DB fields that are empty, not null
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
  apps/fz_http/priv/repo/migrations/20221224210654_fix_sites_nullable_fields.exs
  docs/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Fix InstallBlock links using BrowserOnly
  docs/src/components/InstallBlock/index.js
Due: none

Fix InstallBlock links using BrowserOnly (#1239)
  docs/src/components/InstallBlock/index.js
Due: none

Fix sites.endpoint default when EXTERNAL_URL is missing (#1238)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
  apps/fz_http/priv/repo/migrations/20221224210654_fix_sites_nullable_fields.exs
  docs/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Checkpoint
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/configurations/cache.ex
  apps/fz_http/lib/fz_http/configurations/configuration.ex
  apps/fz_http/lib/fz_http/configurations/html_safe_map.ex
  apps/fz_http/lib/fz_http/configurations/logo.ex
  apps/fz_http/lib/fz_http/configurations/oidc_config.ex
  apps/fz_http/lib/fz_http/configurations/saml_config.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http_web/auth/json/pipeline.ex
  apps/fz_http/lib/fz_http_web/controllers/json/device_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

Conditionally append port to endpoint
  apps/fz_http/lib/fz_http/devices.ex
Due: mix-compile, mix-lint, mix-analysis

Remove restrictive validations
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
Due: mix-compile, mix-lint, mix-analysis

Conditionally append port to endpoint (#1247)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
Due: mix-compile, mix-lint, mix-analysis

Re-order create_api_tokens migration to end
  apps/fz_http/lib/fz_http/api_tokens/api_token.ex
  apps/fz_http/priv/repo/migrations/20221223190406_migrate_pks_to_uuid.exs
  apps/fz_http/priv/repo/migrations/20221224125052_users_fk_delete_all_constraint.exs
  apps/fz_http/priv/repo/migrations/20221226044850_create_api_tokens.exs
Due: mix-compile, mix-lint, mix-analysis

Update apps/fz_http/lib/fz_http.ex
  apps/fz_http/lib/fz_http.ex
Due: mix-compile, mix-lint, mix-analysis

Update apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/api_tokens.ex
Due: mix-compile, mix-lint, mix-analysis

Don't log password
  apps/fz_http/lib/fz_http/release.ex
Due: mix-compile, mix-lint, mix-analysis

Fix trailing whitespace
  apps/fz_http/lib/fz_http/api_tokens.ex
Due: mix-compile, mix-lint, mix-analysis

Address all PR feedback except removing caching
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/auth/html/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/json/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/json/error_handler.ex
  apps/fz_http/lib/fz_http_web/controllers/json/device_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/new_api_token_component.ex
  apps/fz_http/test/support/fixtures/api_tokens_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Use custom claim, API token id
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/configurations/configuration.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/int4range.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/html/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/json/authentication.ex
  apps/fz_http/lib/fz_http_web/controller_helpers.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/fallback_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/show_api_token_component.ex
  apps/fz_http/lib/fz_http_web/plug/authorization.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/json/device_view.ex
  apps/fz_http/priv/repo/migrations/20221227181727_move_cache_fallbacks_to_configurations.exs
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/repo/notifier_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/support/conn_case.ex
  apps/fz_http/test/support/fixtures/api_tokens_fixtures.ex
  apps/fz_http/test/support/fixtures/devices_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_vpn/test/fz_vpn/server_test.exs
Due: mix-compile, mix-lint, mix-analysis

Fix GET requests to /auth/identity/callback
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

Checkpoint embeds_many OIDC and SAML configs
  apps/fz_http/lib/fz_http/configurations/configuration.ex
  apps/fz_http/lib/fz_http/configurations/openid_connect_provider.ex
  apps/fz_http/lib/fz_http/configurations/saml_identity_provider.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/support/fixtures/oidc_config_fixtures.ex
  apps/fz_http/test/support/fixtures/saml_config_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Update recommendations for local authentication
  docs/docs/administer/troubleshoot.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/local-auth.mdx
  docs/docs/deploy/security-considerations.mdx
Due: none

fix: remove broken link
  docs/docs/reference/configuration-file.mdx
Due: none

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
