Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Add redirect routes for oidc signin links by provider
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
Due: mix-format, mix-lint, mix-compile

Telemetry check service
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
  apps/fz_http/lib/fz_http/telemetry_ping_service.ex
Due: mix-format, mix-lint, mix-compile

whitespace fix
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
Due: none

restore comment
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

Telemetry check service (#771)
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
  apps/fz_http/lib/fz_http/telemetry_ping_service.ex
Due: mix-format, mix-lint, mix-compile

Add oidc redirect route helper to auth template for sign-in buttons
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
Due: none

Update docs to mention pretty URLs.
  docs/docs/authenticate/index.md
Due: none

Fix docs
  docs/docs/authenticate/index.md
Due: none

Replaces nftables rule management to use sets (#766)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Add redirect routes for oidc signin links by provider (#770)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  docs/docs/authenticate/index.md
Due: mix-format, mix-lint, mix-compile

Bump nodejs to 16 lts
  .github/workflows/ci.yml
  .tool-versions
  omnibus/config/software/nodejs.rb
Due: none

Fixing Build Issues
  docs/docs/administer/upgrade.md
  docs/docs/authenticate/azuread.md
  docs/docs/authenticate/index.md
  docs/docs/user-guides/add-users.md
  docs/docs/user-guides/whitelist-vpn.md
  docs/docusaurus.config.js
Due: none

add testing container
  docker-compose.yml
Due: none

Google requires trailing slack in redirect_uri
  config/test.exs
  docs/docs/authenticate/azure-ad.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/index.md
  docs/docs/authenticate/okta.md
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint

Bump deps
  mix.lock
Due: none

add post scripts for wg-quick
  docker-compose.yml
  scripts/post-down-wg.sh
  scripts/post-up-wg.sh
Due: none

change port
  .devcontainer/Caddyfile
Due: none

Fix google redirect uri (#774)
  config/test.exs
  docs/docs/authenticate/azure-ad.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/index.md
  docs/docs/authenticate/okta.md
  mix.lock
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint

Remove unused workflow; don't run release_drafter except on master
  .github/workflows/ci.yml
  .github/workflows/update_deps.yml
Due: none

use correct syntax for string literal
  .github/workflows/ci.yml
Due: none

Remove unused workflow; don't run release_drafter except on master (#775)
  .github/workflows/ci.yml
  .github/workflows/update_deps.yml
Due: none

docs updates fixes
  docs/docs/authenticate/azuread.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/index.md
  docs/docs/authenticate/okta.md
  docs/docs/reference/configuration-file.md
Due: none

jamilbk-new-docs-changes
  docs/.markdownlint.json
  docs/.markdownlintignore
  docs/README.md
  docs/package-lock.json
  docs/package.json
Due: none

jamilbk-new-docs
  .github/workflows/ci.yml
  .github/workflows/publish_docs.yml
  docs/README.md
  docs/docusaurus.config.js
  docs/static/img/dislike.svg
  docs/static/img/docusaurus.png
  docs/static/img/like.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
Due: none

install packages
  .github/workflows/ci.yml
Due: none

Deploying to gh-pages from @ firezone/firezone@609aaecfe9d8778f3d38fc4c3198e0d41f5dcaf9 🚀
  404.html
  assets/js/search-data.json
  assets/versions.txt
  docs/administer/configure/index.html
  docs/administer/index.html
  docs/administer/manage/index.html
  docs/administer/running-sql-queries/index.html
  docs/administer/security-considerations/index.html
  docs/administer/troubleshoot/index.html
  docs/administer/uninstall/index.html
  docs/administer/upgrade/index.html
  docs/authenticate/azure-ad/index.html
  docs/authenticate/google/index.html
  docs/authenticate/index.html
  docs/authenticate/okta/index.html
  docs/authenticate/web-auth/index.html
  docs/deploy/index.html
  docs/deploy/prerequisites/index.html
  docs/deploy/server/index.html
  docs/deploy/supported-platforms/index.html
  docs/reference/configuration-file/index.html
  docs/reference/file-and-directory-locations/index.html
  docs/reference/firewall-templates/index.html
  docs/reference/firewall-templates/nftables/index.html
  docs/reference/index.html
  docs/user-guides/add-devices/index.html
  docs/user-guides/add-users/index.html
  docs/user-guides/client-instructions/index.html
  docs/user-guides/firewall-rules/index.html
  docs/user-guides/index.html
  docs/user-guides/reverse-tunnel/index.html
  docs/user-guides/split-tunnel/index.html
  docs/user-guides/whitelist-vpn/index.html
  feed.xml
  index.html
  sitemap.xml
Due: none

add user id to rules (#722)
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Bump chef client in firezone cookbooks Gemfile to 17.10.0 (#755)
  omnibus/cookbooks/firezone/Gemfile
Due: none

Update rules UI to include optional user scope (#764)
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/support/test_helpers.ex
  docs/docs/user-guides/firewall-rules.md
Due: mix-format, mix-lint, mix-compile

Add redirect routes for oidc signin links by provider (#770)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  docs/docs/authenticate/index.md
Due: mix-format, mix-lint, mix-compile

Bump nodejs to 16 lts (#772)
  .github/workflows/ci.yml
  .tool-versions
  omnibus/config/software/nodejs.rb
Due: none

Use live modules (woo) and mask build dirs
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
  docker-compose.yml
Due: none

fix build
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/events_test.exs
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
