Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Add license link
  README.md
Due: none

Update README.md
  README.md
Due: none

Update architecture diagram and "how it works" gif
  README.md
Due: none

Clarify note about exposed ports
  README.md
Due: none

Typo connectivity_check_url -> connectivity_checks_url
  config/prod.exs
Due: mix-format, mix-lint

Download config working
  apps/fz_common/lib/fz_string.ex
  apps/fz_common/test/fz_string_test.exs
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http_web/controllers/device_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http/connectivity_checks_test.exs
  apps/fz_http/test/support/fixtures/connectivity_checks_fixtures.ex
Due: mix-format, mix-lint, mix-compile

Dropdown buttons
  apps/fz_http/assets/js/hooks.js
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/account_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/rule_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/default.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Update phoenix npm assets
  apps/fz_http/assets/package-lock.json
Due: none

initial site template
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/_includes/footer_custom.html
  docs/_layouts/default.html
  docs/_posts/2021-12-08-welcome-to-jekyll.markdown
  docs/_sass/color_schemes/fz.scss
  docs/assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf
  docs/assets/images/firezone-logo-wordmark-dark.svg
  docs/docs/deploying-and-configuring.md
  docs/favicon.ico
  docs/index.markdown
Due: none

change to docs.firez.one
  docs/.gitignore
  docs/_config.yml
Due: none

add plausible for basic visitor telemetry
  docs/_includes/head_custom.html
Due: none

pointing to just-the-docs repo
  docs/_config.yml
Due: none

home page and adding Open Sans font
  docs/_config.yml
  docs/_posts/2021-12-08-welcome-to-jekyll.markdown
  docs/_sass/color_schemes/fz.scss
  docs/assets/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf
  docs/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf
  docs/docs/deploying-and-configuring.md
  docs/index.markdown
  docs/index.md
Due: none

add head.html
  docs/_includes/head.html
Due: none

pointing to remote theme repo
  docs/_config.yml
Due: none

fix for disappearing nav link
  docs/index.md
Due: none

add footer links
  docs/_config.yml
  docs/_includes/footer_custom.html
  docs/_sass/color_schemes/fz.scss
Due: none

add footer content
  docs/_config.yml
Due: none

Checkpoint design changes, new sessions table
  apps/fz_http/assets/css/main.scss
  apps/fz_http/assets/js/app.js
  apps/fz_http/assets/js/hooks.js
  apps/fz_http/assets/js/util.js
  apps/fz_http/assets/local_modules/admin-one-bulma-dashboard/src/scss/_theme-firezone.scss
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
  apps/fz_http/assets/static/images/logo-text.svg
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/lib/fz_http_web/channels/presence.ex
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/live/account_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/account_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/connectivity_check_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/connectivity_check_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/default.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/app.html.eex
  apps/fz_http/lib/fz_http_web/templates/layout/auth.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/session/new.html.eex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  apps/fz_http/test/fz_http_web/channels/notification_channel_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/support/channel_case.ex
Due: mix-format, mix-lint, mix-compile

change font to Fira
  docs/_includes/head_custom.html
  docs/_sass/color_schemes/fz.scss
Due: none
