Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

401 -> 404
  apps/fz_http/lib/fz_http_web/plug/require_local_authentication.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

Soft limit CIDR range for IPv6 network to 288230376151711744 devices (#1344)
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/test/fz_http/devices/device/query_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-compile, mix-lint, mix-analysis

Update troubleshooting guide for clearing auth config in DB (#1338)
  docs/docs/administer/troubleshoot.mdx
Due: none

Update Project API key for new PostHog instance
  config/config.exs
  docs/static/js/posthog.js
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
  scripts/install.sh
  scripts/omnibus_install.sh
Due: mix-lint, mix-analysis, rubocop

Update PostHog endpoint to t.firez.one to capture historical events
  config/config.exs
  docs/static/js/posthog.js
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
  scripts/install.sh
  scripts/omnibus_install.sh
Due: mix-lint, mix-analysis, rubocop

Chore/update project api key (#1348)
  config/config.exs
  docs/static/js/posthog.js
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
  scripts/install.sh
  scripts/omnibus_install.sh
Due: mix-lint, mix-analysis, rubocop

Better outbound email config parsing (#1346)
  apps/fz_http/lib/fz_http/configurations/mailer.ex
  apps/fz_http/lib/fz_http/mailer.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/mailer.ex
  apps/fz_http/lib/fz_http_web/plug/require_local_authentication.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http/configurations/mailer_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/mailer_test.exs
  config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

fix: ci
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/devices/device.ex
  priv/gateway-conf/priv
Due: mix-compile, mix-lint, mix-analysis

Fix SAML restart and remove test env code path
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
Due: mix-compile, mix-lint, mix-analysis

Refactor SAML restart to be just a refresh
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
Due: mix-compile, mix-lint, mix-analysis

Fix base_url defaults
  apps/fz_http/lib/fz_http/configurations/configuration/saml_identity_provider.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  docker-compose.yml
Due: mix-compile, mix-lint, mix-analysis

Fix SAML restart and remove test env code path (#1350)
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/configurations/configuration/saml_identity_provider.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  docker-compose.yml
Due: mix-compile, mix-lint, mix-analysis

Inspect mailer errors in boot
  config/runtime.exs
Due: mix-lint, mix-analysis

Make sure migration won't fail on instances with broken DB state
  apps/fz_http/lib/fz_http/mfa/method/changeset.ex
  apps/fz_http/priv/repo/migrations/20230116200524_add_not_null_to_mfa_methods.exs
Due: mix-compile, mix-lint, mix-analysis

Inspect mailer errors in boot (#1351)
  config/runtime.exs
Due: mix-lint, mix-analysis

Rework MFA methods (#1339)
  apps/fz_http/assets/js/hooks.js
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/mfa/method.ex
  apps/fz_http/lib/fz_http/mfa/method/changeset.ex
  apps/fz_http/lib/fz_http/mfa/method/query.ex
  apps/fz_http/lib/fz_http/repo.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/error_helpers.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_mfa.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_component.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  apps/fz_http/priv/repo/migrations/20230116200524_add_not_null_to_mfa_methods.exs
  apps/fz_http/test/fz_http/mfa_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/support/acceptance_case/auth.ex
  apps/fz_http/test/support/fixtures/mfa_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
Due: mix-compile, mix-lint, mix-analysis

Add apply_changes to changeset
  config/runtime.exs
Due: mix-lint, mix-analysis

Fix outbound mailer config changeset (#1355)
  config/runtime.exs
Due: mix-lint, mix-analysis

Add tests to ensure path changes when modal is dismissed
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
Due: mix-lint, mix-analysis

Try new config
  .github/workflows/test.yml
Due: none

Use more recent upload-artifact version
  .github/workflows/test.yml
Due: none

Create first artifact from a branch
  .github/workflows/test.yml
Due: none

Bump psql version
  .github/workflows/test.yml
Due: none

Set version for psql
  .github/workflows/test.yml
Due: none

Again
  .github/workflows/test.yml
Due: none

Use custom apt repo
  .github/workflows/test.yml
Due: none

Download artifact now
  .github/workflows/test.yml
Due: none

Remove inotify dep
  .github/workflows/test.yml
Due: none

gen artifact
  .github/workflows/test.yml
Due: none

Different download helper
  .github/workflows/test.yml
Due: none

Set WG sandbox adapter and search for artifacts
  .github/workflows/test.yml
Due: none

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
