Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

0.3.0 rebased (#488)
  .github/workflows/ci.yml
  .gitignore
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
  apps/fz_http/lib/fz_http/connectivity_checks.ex
  apps/fz_http/lib/fz_http_web/templates/user/show.html.heex
  docker-compose.client.yml
  docs/Gemfile.lock
  docs/docs/administer/troubleshoot.md
  docs/docs/deploy/prerequisites.md
  docs/docs/deploy/server.md
  docs/docs/reference/configuration-file.md
  docs/docs/user-guides/authentication.md
  docs/docs/user-guides/client-instructions.md
  docs/docs/user-guides/reverse-tunnel.md
  docs/docs/user-guides/whitelist-vpn.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: mix-format, mix-lint, mix-compile

working oauth!
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/authentication/error_handler.ex
  apps/fz_http/lib/fz_http_web/authentication/pipeline.ex
  apps/fz_http/lib/fz_http_web/authorization_helpers.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/session_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/plug/authorization.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/session.ex
  apps/fz_http/lib/fz_http_web/templates/auth/request.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/templates/session/new.html.heex
  apps/fz_http/lib/fz_http_web/templates/user/show.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/auth_view.ex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/lib/fz_http_web/views/session_view.ex
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/user_controller_test.exs
  apps/fz_http/test/fz_http_web/live/connectivity_check_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  config/config.exs
  config/dev.exs
  config/releases.exs
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Passing tests
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/test/fz_http_web/authentication_test.exs
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/user_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/support/conn_case.ex
  config/config.exs
  config/dev.exs
  config/releases.exs
  config/test.exs
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Add compile-time prod config
  config/prod.exs
Due: mix-format, mix-lint

Fix live_view typo
  apps/fz_http/assets/js/live_view.js
Due: none

Remove keycloak; working google
  apps/fz_http/assets/js/live_view.js
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/priv/repo/migrations/20220227215313_add_last_signed_in_method_to_user.exs
  mix.lock
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint, mix-compile

Ensure nil to_s
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

Revert key_ttl to vpn_session_duration
  apps/fz_http/lib/fz_http/sites.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/priv/repo/migrations/20220208184257_settings_to_sites.exs
Due: mix-format, mix-lint, mix-compile

print logs after first configure
  .ci/functional_test.sh
Due: none

Use get_env/1 for fetching optional config vars
  config/releases.exs
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint

Disable telemetry from config
  .ci/functional_test.sh
Due: none

miss the to_s
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

Fix sign in page
  .ci/functional_test.sh
Due: none

Found endpoint empty bug
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/macros.ex
  apps/fz_http/lib/fz_http/settings.ex
  apps/fz_http/lib/fz_http/settings/setting.ex
  apps/fz_http/lib/fz_http/sites.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/live/device_live/create_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/default.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/default_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/default_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/default_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/site.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/submit_button.html.heex
  apps/fz_http/lib/fz_http_web/views/user_view.ex
  apps/fz_http/priv/repo/migrations/20220208184257_settings_to_sites.exs
  apps/fz_http/priv/repo/migrations/20220209005201_rename_use_default_to_use_site.exs
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/settings_test.exs
  apps/fz_http/test/fz_http/sites_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/default_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  apps/fz_http/test/support/fixtures/settings_fixtures.ex
  apps/fz_http/test/support/fixtures/sites_fixtures.ex
Due: mix-format, mix-lint, mix-compile

Fix use_site_ bugs
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-format, mix-lint, mix-compile

Replace local auth system with Ueberauth / Guardian (#475)
  .github/workflows/ci.yml
  apps/fz_http/lib/fz_http/sessions.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/session.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/authentication/error_handler.ex
  apps/fz_http/lib/fz_http_web/authentication/pipeline.ex
  apps/fz_http/lib/fz_http_web/authorization_helpers.ex
  apps/fz_http/lib/fz_http_web/controller_helpers.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/session_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live_auth.ex
  apps/fz_http/lib/fz_http_web/plug/authorization.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/session/new.html.heex
  apps/fz_http/lib/fz_http_web/views/user_view.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/sessions_test.exs
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/user_controller_test.exs
  apps/fz_http/test/fz_http_web/live/connectivity_check_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/support/conn_case.ex
  apps/fz_http/test/support/fixtures/sessions_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
  config/config.exs
  config/releases.exs
  mix.lock
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Max devices per user configuration option (#471)
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/new_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  config/config.exs
  config/releases.exs
  docs/docs/deploy/resource-requirements.md
  docs/docs/reference/configuration-file.md
  docs/docs/user-guides/split-tunnel.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

add tunnel admin guide
  docs/docs/administer/security-considerations.md
Due: none

fix nginx csp
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
Due: none

Don't output dmesg if logging disabled
  omnibus/cookbooks/firezone/templates/sv-wireguard-run.erb
  omnibus/files/firezone-scripts/wireguard
Due: none

fix nginx csp (#489)
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
Due: none

Don't output dmesg if logging disabled (#490)
  omnibus/cookbooks/firezone/templates/sv-wireguard-run.erb
  omnibus/files/firezone-scripts/wireguard
Due: none

auth path
  apps/fz_http/lib/fz_http_web/templates/user/show.html.heex
Due: none

Fix tests
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
Due: mix-format, mix-lint

Deploying to gh-pages from @ firezone/firezone@da7dbdf90a191a3a116d9a25d40a53b3c383daf6 🚀
  assets/versions.txt
  feed.xml
Due: none

Deploying to gh-pages from @ firezone/firezone@da7dbdf90a191a3a116d9a25d40a53b3c383daf6 🚀
  0.2.22/assets/versions.txt
  0.2.22/feed.xml
Due: none

Remove erroneous version
  assets/versions.txt
Due: none

Device editing no more
  apps/fz_http/assets/js/hooks.js
  apps/fz_http/assets/js/live_view.js
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/new_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/update_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/update_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/shared/show_device.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/submit_button.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint, mix-compile

Device editing no more (#491)
  apps/fz_http/assets/js/hooks.js
  apps/fz_http/assets/js/live_view.js
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/new_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/update_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/update_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/shared/show_device.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/submit_button.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint, mix-compile

issue-187: getting some POC in for feedback :panda_face:
  scripts/create-admin.bash
Due: none

linter hrm maybe I run that locally
  scripts/install-with-admin.bash
Due: none

install condition for dep|rpm :dragon: :wrench:
  scripts/install-with-admin.bash
Due: none

updating install script
  scripts/install-with-admin.bash
Due: none

ci checks looks like whitespace :ruby: :police:
  scripts/install-with-admin.bash
Due: none
