Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Refactor api tokens
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token/changeset.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token/query.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/fixtures/api_tokens_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Add auth test for JSON endpoints
  apps/fz_http/test/fz_http_web/auth/json/authentication_test.exs
Due: mix-lint, mix-analysis

Rollback docs changes
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

Rollback any non-doc changes
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token/changeset.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token/query.ex
  apps/fz_http/lib/fz_http_web/auth/json/authentication.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/fz_http_web/auth/json/authentication_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/fixtures/api_tokens_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Document auto-create users more clearly in SAML setup guides (#1364)
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

Fix rendering for logo struct in REST API (#1367)
  apps/fz_http/lib/fz_http/configurations/logo.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/support/api_case.ex
Due: mix-compile, mix-lint, mix-analysis

Add version suffix to cookie signing salt (#1369)
  apps/fz_http/lib/fz_http_web/session.ex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
Due: mix-compile, mix-lint, mix-analysis

Refactor api tokens (#1370)
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token/changeset.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token/query.ex
  apps/fz_http/lib/fz_http_web/auth/json/authentication.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/fz_http_web/auth/json/authentication_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/fixtures/api_tokens_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Do not allow to create SAML provider with reserved names
  apps/fz_http/lib/fz_http/configurations/configuration/saml_identity_provider.ex
Due: mix-compile, mix-lint, mix-analysis

Fix order of /auth routes
  apps/fz_http/lib/fz_http_web/router.ex
Due: mix-compile, mix-lint, mix-analysis

Add SAML acceptance tests
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/support/acceptance_case.ex
  apps/fz_http/test/support/acceptance_case/simple_saml.ex
  docker-compose.yml
Due: mix-compile, mix-lint, mix-analysis

Add SimpleSAMLPHP to CI env
  .github/workflows/test.yml
Due: none

Add TODO
  apps/fz_http/lib/fz_http_web/router.ex
Due: mix-compile, mix-lint, mix-analysis

Trim trailing whitespace
  docker-compose.yml
Due: none

Fix SAML regression (#1371)
  .github/workflows/test.yml
  apps/fz_http/lib/fz_http/configurations/configuration/saml_identity_provider.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/support/acceptance_case.ex
  apps/fz_http/test/support/acceptance_case/simple_saml.ex
  docker-compose.yml
Due: mix-compile, mix-lint, mix-analysis

Expose phoenix and wireguard ports specified in configuration
  docker-compose.prod.yml
Due: none

Adopt new http transport opts in OIDC lib
  config/runtime.exs
  mix.lock
Due: mix-lint, mix-analysis

Adopt new http transport opts in OIDC lib (#1375)
  config/runtime.exs
  mix.lock
Due: mix-lint, mix-analysis

feat: add gateway stats
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/devices/stats_updater.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_channel.ex
Due: mix-compile, mix-lint, mix-analysis

Improve seeds to test config migrations
  apps/fz_http/priv/repo/seeds.exs
Due: mix-lint, mix-analysis

chore: update docker-compose to use env vars
  docker-compose.desktop.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: none

Revert to old Project API key
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
  config/config.exs
  config/runtime.exs
  docs/static/js/posthog.js
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
  scripts/install.sh
  scripts/omnibus_install.sh
Due: mix-compile, mix-lint, mix-analysis, rubocop

chore: backport ipv6 tests
  apps/fz_common/test/fz_net_test.exs
Due: mix-lint, mix-analysis

chore: restore test endpoint_to_ip_test
  apps/fz_common/test/fz_net_test.exs
Due: mix-lint, mix-analysis

fix: formatting
  apps/fz_common/test/fz_net_test.exs
Due: mix-lint, mix-analysis

Update README.mdx
  docs/docs/deploy/docker/README.mdx
Due: none

Update timers to twice a day with a 1-minute delay after boot
  apps/fz_http/lib/fz_http/telemetry_ping_service.ex
  apps/fz_http/lib/fz_http_web/sockets/user_socket.ex
  config/config.exs
  config/runtime.exs
  config/test.exs
Due: mix-compile, mix-lint, mix-analysis

Fix bugs with OIDC and SAML forms
  apps/fz_http/lib/fz_http/configurations/configuration/openid_connect_provider.ex
  apps/fz_http/lib/fz_http/configurations/configuration/saml_identity_provider.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-compile, mix-lint, mix-analysis

Fix bugs with OIDC and SAML forms (#1383)
  apps/fz_http/lib/fz_http/configurations/configuration/openid_connect_provider.ex
  apps/fz_http/lib/fz_http/configurations/configuration/saml_identity_provider.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-compile, mix-lint, mix-analysis

Revert to old Project API key (#1379)
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
  apps/fz_http/lib/fz_http/telemetry_ping_service.ex
  apps/fz_http/lib/fz_http_web/sockets/user_socket.ex
  config/config.exs
  config/runtime.exs
  config/test.exs
  docs/static/js/posthog.js
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
  scripts/install.sh
  scripts/omnibus_install.sh
Due: mix-compile, mix-lint, mix-analysis, rubocop
