Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Update docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/auth0.mdx
Due: none

update doc + remove provisioning section
  docs/docs/authenticate/oidc/auth0.mdx
Due: none

jamilbk fixes
  docs/docs/authenticate/oidc/auth0.mdx
Due: none

Add SSO docs for Auth0 (#993)
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/oidc/auth0.mdx
Due: none

Update docs/docs/administer/migrate.mdx
  docs/docs/administer/migrate.mdx
Due: none

Update configuration and little tweaks
  docs/docs/administer/migrate.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/multi-factor.mdx
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/deploy/configure.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/docker/configure.mdx
  docs/docs/deploy/docker/supported-platforms.mdx
  docs/docs/reference/telemetry.mdx
Due: none

Add OpenAPI generator; move to yarn
  .github/workflows/publish_docs.yml
  docs/.gitignore
  docs/docusaurus.config.js
  docs/openapi.yaml
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
Due: none

revert using yarn
  .github/workflows/publish_docs.yml
  .github/workflows/test.yml
  apps/fz_http/assets/package-lock.json
  docs/package-lock.json
  docs/yarn.lock
Due: none

Remove weird npm ci step
  .github/workflows/test.yml
Due: none

Keep OpenAPI docs out of ver control... gen in CI
  .github/workflows/publish_docs.yml
Due: none

Fix typo
  .github/workflows/publish_docs.yml
Due: none

Add OpenAPI generator (#994)
  .github/workflows/publish_docs.yml
  .github/workflows/test.yml
  apps/fz_http/assets/package-lock.json
  docs/.gitignore
  docs/docusaurus.config.js
  docs/openapi.yaml
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
Due: none

add guide
  docs/docs/user-guides/use-cases/whitelist-sso-saas.mdx
Due: none

remove trailing whitespace
  docs/docs/user-guides/use-cases/whitelist-sso-saas.mdx
Due: none

More reorganizing and deprecating of Omnibus
  docs/docs/administer/regen-keys.mdx
  docs/docs/deploy/README.mdx
  docs/docs/deploy/advanced/README.mdx
  docs/docs/deploy/advanced/external-database.mdx
  docs/docs/deploy/advanced/reverse-proxy.mdx
  docs/docs/deploy/configure.mdx
  docs/docs/deploy/database/README.MDX
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/docker/configure.mdx
  docs/docs/deploy/docker/supported-platforms.mdx
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/deploy/omnibus/configure.mdx
  docs/docs/deploy/security-considerations.mdx
  docs/docs/reference/reverse-proxy-templates/apache.mdx
  docs/docs/reference/reverse-proxy-templates/haproxy.mdx
  docs/docs/reference/reverse-proxy-templates/traefik.mdx
Due: none

Traefik example
  docs/docs/reference/firewall-templates/README.mdx
  docs/docs/reference/reverse-proxy-templates/README.mdx
  docs/docs/reference/reverse-proxy-templates/traefik.mdx
Due: none

Checkpoint nearly finished...
  docker-compose.prod.yml
  docs/docs/README.mdx
  docs/docs/administer/upgrade.mdx
  docs/docs/authenticate/local-auth.mdx
  docs/docs/deploy/README.mdx
  docs/docs/deploy/security-considerations.mdx
  docs/docs/reference/env-vars.mdx
  docs/docs/reference/file-and-directory-locations.mdx
  docs/docs/reference/reverse-proxy-templates/traefik.mdx
  docs/src/css/custom.css
Due: none

Checkpoint nearly finished...
  docs/docs/administer/upgrade.mdx
  docs/docs/deploy/advanced/external-database.mdx
Due: none

Restore tid
  rel/overlays/bin/gen-env
Due: none

Fix error due to updated LiveView
  apps/fz_http/lib/fz_http_web/live/logo_component.ex
Due: mix-format, mix-lint, mix-compile

Fix error due to updated LiveView (#1001)
  apps/fz_http/lib/fz_http_web/live/logo_component.ex
Due: mix-format, mix-lint, mix-compile

start rest api
  apps/fz_http/lib/fz_http/conf.ex
  apps/fz_http/lib/fz_http_web/controllers/api/configuration_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/api/user_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/fallback_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/views/api/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/api/user_view.ex
  apps/fz_http/lib/fz_http_web/views/changeset_view.ex
  apps/fz_http/test/fz_http_web/controllers/api/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/api/user_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/user_controller_test.exs
Due: mix-format, mix-lint, mix-compile

Move persistent term cache to cachex
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/conf/logo.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/logo_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/device_view.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/support/test_helpers.ex
  docker-compose.client.yml
  docker-compose.prod.yml
  docker-compose.yml
  mix.lock
Due: mix-format, mix-lint, mix-compile

Rename Conf -> Configurations
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/conf/logo.ex
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/device_view.ex
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Move persistent term cache to cachex (#1003)
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/conf/logo.ex
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/logo_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/device_view.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/support/test_helpers.ex
  docker-compose.client.yml
  docker-compose.prod.yml
  docker-compose.yml
  mix.lock
Due: mix-format, mix-lint, mix-compile

add samly
  .credo.exs
  Dockerfile.dev
  Dockerfile.prod
  apps/fz_http/assets/css/main.scss
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/conf/oidc_config.ex
  apps/fz_http/lib/fz_http/conf/saml_config.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/debug_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/plug/samly_target_url.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/mix.exs
  apps/fz_http/priv/repo/migrations/20220831060724_add_saml_identity_providers_to_configuration.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  config/config.exs
  config/test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

add samly
  .credo.exs
  .dockerignore
  Dockerfile.dev
  apps/fz_http/assets/css/main.scss
  apps/fz_http/assets/package-lock.json
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/conf/oidc_config.ex
  apps/fz_http/lib/fz_http/conf/saml_config.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/debug_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/plug/samly_target_url.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/mix.exs
  apps/fz_http/priv/cert/saml_selfsigned.pem
  apps/fz_http/priv/cert/saml_selfsigned_key.pem
  apps/fz_http/priv/repo/migrations/20220831060724_add_saml_identity_providers_to_configuration.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  config/config.exs
  config/runtime.exs
  config/test.exs
  docs/docs/deploy/docker/README.mdx
  docs/docs/reference/env-vars.mdx
  mix.lock
  omnibus/config/software/firezone.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  rel/overlays/bin/gen-env
  rel/overlays/bin/server
  scripts/docker_install.sh
Due: mix-format, mix-lint, mix-compile

start rest api
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http_web/controllers/api/configuration_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/api/user_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/fallback_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/views/api/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/api/user_view.ex
  apps/fz_http/lib/fz_http_web/views/changeset_view.ex
  apps/fz_http/test/fz_http_web/controllers/api/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/api/user_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/user_controller_test.exs
Due: mix-format, mix-lint, mix-compile

patch don't redirect
  Dockerfile.dev
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  config/dev.exs
Due: mix-format, mix-lint, mix-compile

Sleep to remove intermittent modal test failure
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
Due: mix-format, mix-lint

Remove vars from docker-compose in favor of envfile
  docker-compose.prod.yml
Due: none

Update docker-compose.prod.yml
  docker-compose.prod.yml
Due: none

add security controls document
  docs/docs/reference/security-controls.mdx
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
