Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

fix typo "MacOS" in user documentation (#1161)
  docs/docs/user-guides/client-instructions.mdx
Due: none

Update Docker migration script to match install improvements
  scripts/docker_migrate.sh
Due: none

Update Docker migration script to match install improvements (#1166)
  scripts/docker_migrate.sh
Due: none

docs: fix setup instruction
  docs/docs/authenticate/saml/google.mdx
Due: none

Add gateway and gateway_firewall_policy table migrations
  apps/fz_http/priv/repo/migrations/20221201214230_create_gateways.exs
  apps/fz_http/priv/repo/migrations/20221201216913_create_gateway_firewall_policies.exs
Due: mix-format, mix-lint

docs: fix setup instruction (#1168)
  docs/docs/authenticate/saml/google.mdx
Due: none

Wrap magic link with url()
  apps/fz_http/lib/fz_http/mailer.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/mailer/auth_email.ex
  apps/fz_http/lib/fz_http_web/mailer/noop_adapter.ex
  apps/fz_http/lib/fz_http_web/mailer/templates/auth_email/magic_link.html.heex
  apps/fz_http/lib/fz_http_web/mailer/templates/auth_email/magic_link.text.eex
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/mailer_test.exs
  apps/fz_http/test/fz_http_web/mailer_test/auth_email_test.exs
  apps/fz_http/test/fz_http_web/mailer_test/sample_email/test_heex.html.heex
  apps/fz_http/test/fz_http_web/mailer_test/sample_email/test_multipart.html.eex
  apps/fz_http/test/fz_http_web/mailer_test/sample_email/test_multipart.text.eex
  apps/fz_http/test/support/mailer_case.ex
  config/config.exs
  config/dev.exs
  config/runtime.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

add port range has optional protocol constraint
  apps/fz_http/priv/repo/migrations/20221201216913_create_gateway_firewall_policies.exs
Due: mix-format, mix-lint

add update trigger and split port_range into start and end
  apps/fz_http/priv/repo/migrations/20221201216913_create_gateway_firewall_policies.exs
Due: mix-format, mix-lint

Wrap magic link with url() (#1170)
  apps/fz_http/lib/fz_http/mailer.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/mailer/auth_email.ex
  apps/fz_http/lib/fz_http_web/mailer/noop_adapter.ex
  apps/fz_http/lib/fz_http_web/mailer/templates/auth_email/magic_link.html.heex
  apps/fz_http/lib/fz_http_web/mailer/templates/auth_email/magic_link.text.eex
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/mailer_test.exs
  apps/fz_http/test/fz_http_web/mailer_test/auth_email_test.exs
  apps/fz_http/test/fz_http_web/mailer_test/sample_email/test_heex.html.heex
  apps/fz_http/test/fz_http_web/mailer_test/sample_email/test_multipart.html.eex
  apps/fz_http/test/fz_http_web/mailer_test/sample_email/test_multipart.text.eex
  apps/fz_http/test/support/mailer_case.ex
  config/config.exs
  config/dev.exs
  config/runtime.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Remove _build folders for umbrella apps
  .dockerignore
Due: none

Change mix aliases to be more aligned with what OS community would expect
  mix.exs
Due: mix-format, mix-lint

Rename docker-compose step name in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

add network_policies & gateway_network_policies
  Gemfile.lock
  apps/fz_http/priv/repo/migrations/20221202234021_create_network_policies.exs
  apps/fz_http/priv/repo/migrations/20221202234022_create_gateways.exs
  apps/fz_http/priv/repo/migrations/20221202234031_create_gateway_network_policies.exs
Due: mix-format, mix-lint

remove Gemfile lock change
  Gemfile.lock
Due: none

Remove .devcontainer
  .devcontainer/.gitignore
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/init
  .devcontainer/init.cmd
  .gitignore
  CONTRIBUTING.md
  apps/fz_http/assets/package-lock.json
  docker-compose.yml
  omnibus/config/projects/firezone.rb
  priv/Caddyfile
  priv/wg0.client.conf
Due: none

Make fz_http mix.exs aliases aligned with umbrella app ones
  apps/fz_http/mix.exs
Due: mix-format, mix-lint

Redirect stderr to stdout in a command called from dev.exs
  config/dev.exs
Due: mix-format, mix-lint

Remove unwanted transaction block
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
Due: mix-format, mix-lint, mix-compile

Fix race condition due to static device field values
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/fixtures/devices_fixtures.ex
Due: mix-format, mix-lint, mix-compile

Use netstat to identify egress interface on MacOS
  config/dev.exs
Due: mix-format, mix-lint

Rename uninstall.sh to omnibus-uninstall.sh
  .github/workflows/omnibus_build.yml
  docs/docs/administer/uninstall.mdx
  scripts/omnibus-uninstall.sh
Due: none

Fix uninstall path in omnibus_build.yml
  .github/workflows/omnibus_build.yml
Due: none

split gateway network policies out into a join table
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http/gateways/gateway.ex
  apps/fz_http/lib/fz_http/network_policies.ex
  apps/fz_http/lib/fz_http/network_policies/gateway_network_policy.ex
  apps/fz_http/lib/fz_http/network_policies/network_policy.ex
  apps/fz_http/priv/repo/migrations/20221202234021_create_network_policies.exs
  apps/fz_http/priv/repo/migrations/20221202234031_create_gateway_network_policies.exs
Due: mix-format, mix-lint, mix-compile

remove leftover line
  apps/fz_http/lib/fz_http/network_policies/gateway_network_policy.ex
Due: mix-format, mix-lint, mix-compile

Fix AsyncAPI specification errors
  asyncapi.yml
Due: none

Fix AsyncAPI specification errors (#1177)
  asyncapi.yml
Due: none

docs: add logs and update troubleshooting
  docs/docs/administer/logs.md
  docs/docs/administer/troubleshoot.mdx
Due: none

associate network policies with sites
  apps/fz_http/lib/fz_http/gateways/gateway.ex
  apps/fz_http/lib/fz_http/network_policies/gateway_network_policy.ex
  apps/fz_http/lib/fz_http/network_policies/site_network_policy.ex
  apps/fz_http/priv/repo/migrations/20221202234022_create_site_network_policies.exs
  apps/fz_http/priv/repo/migrations/20221202234023_create_gateways.exs
Due: mix-format, mix-lint, mix-compile

docs: further Docker clarifications
  docs/docs/administer/logs.mdx
  docs/docs/administer/troubleshoot.mdx
  docs/docs/reference/configuration-file.mdx
  docs/docs/reference/env-vars.mdx
Due: none

Small improvements to make setup process easier for OS contributors (#1171)
  .devcontainer/.gitignore
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/init
  .devcontainer/init.cmd
  .dockerignore
  .github/workflows/omnibus_build.yml
  .gitignore
  CONTRIBUTING.md
  apps/fz_http/assets/package-lock.json
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/fixtures/devices_fixtures.ex
  config/dev.exs
  docker-compose.yml
  docs/docs/administer/uninstall.mdx
  mix.exs
  omnibus/config/projects/firezone.rb
  priv/Caddyfile
  priv/wg0.client.conf
  scripts/omnibus-uninstall.sh
Due: mix-format, mix-lint, mix-compile

docs: add troubleshooting docs on locked out state
  docs/docs/administer/troubleshoot.mdx
  docs/docs/reference/configuration-file.mdx
Due: none

Use application_version() to link back to repo
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  config/config.exs
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
