Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

Short guide on backup / restore
  docs/docs/reference/file-and-directory-locations.mdx
Due: none

Provide a little more detail
  docs/docs/reference/file-and-directory-locations.mdx
Due: none

Dedicated backup / restore page
  docs/docs/administer/backup.mdx
  docs/docs/reference/file-and-directory-locations.mdx
Due: none

Fix typo note
  docs/docs/administer/backup.mdx
Due: none

Remove unneeded dotfiles
  .env.sample
  .oidc_env.sample.json
  .rgignore
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Fix recursive conncheck timer
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
Due: mix-compile, mix-lint, mix-analysis

Fix recursive conncheck timer (#1416)
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
Due: mix-compile, mix-lint, mix-analysis

No title prefix
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update issue templates (#1413)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Remove unneeded dotfiles (#1412)
  .env.sample
  .oidc_env.sample.json
  .rgignore
Due: none

Revert "Update issue templates (#1413)"
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Short guide on backup / restore (#1411)
  docs/docs/administer/backup.mdx
  docs/docs/reference/file-and-directory-locations.mdx
Due: none

Remove docs.firezone.dev CNAME
  docs/CNAME
Due: none

Restore CNAME; bump Nodejs version and yarn modules
  .tool-versions
  www/CNAME
  www/yarn.lock
Due: none

Merge blog site
  www/blog/2022-07-25-release-0-5-0/index.mdx
  www/blog/2022-10-17-release-0-6-0/index.mdx
  www/blog/2023-01-10-first-offsite/index.mdx
  www/blog/_2022-10-21-3000-stars/index.mdx
  www/blog/authors.yml
  www/docusaurus.config.js
  www/package.json
  www/root/README.mdx
  www/src/components/AsciinemaPlayer/index.tsx
  www/src/components/HomepageFeatures/index.tsx
  www/src/components/HomepageFeatures/styles.module.css
  www/src/css/custom.css
  www/src/theme/MDXComponents.js
  www/tsconfig.json
  www/yarn.lock
Due: none

Add pages preset
  www/docusaurus.config.js
  www/src/pages/index.mdx
Due: none

Stub out pricing page
  www/docusaurus.config.js
  www/src/pages/pricing.mdx
Due: none

feat: add the base e2e tests
  .gitignore
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/priv/repo/seeds.exs
  docker-compose.e2e.yml
  e2e-tests/.dockerignore
  e2e-tests/Cargo.lock
  e2e-tests/Cargo.toml
  e2e-tests/Dockerfile.client
  e2e-tests/Dockerfile.external
  e2e-tests/Dockerfile.orchestrator
  e2e-tests/README.md
  e2e-tests/control-types/Cargo.toml
  e2e-tests/control-types/src/lib.rs
  e2e-tests/e2e-client/.dockerignore
  e2e-tests/e2e-client/Cargo.toml
  e2e-tests/e2e-client/src/main.rs
  e2e-tests/e2e-orchestrator/.dockerignore
  e2e-tests/e2e-orchestrator/Cargo.lock
  e2e-tests/e2e-orchestrator/Cargo.toml
  e2e-tests/e2e-orchestrator/src/client.rs
  e2e-tests/e2e-orchestrator/src/config.rs
  e2e-tests/e2e-orchestrator/src/main.rs
  e2e-tests/e2e-orchestrator/src/node.rs
  e2e-tests/e2e-orchestrator/src/test_setup.rs
  priv/e2e-test-env-descriptor.json
  priv/wg1.client.conf
  scripts/run-e2e.sh
Due: mix-compile, mix-lint, mix-analysis

fix: e2e ipv6 send client
  apps/fz_http/lib/fz_http/devices.ex
  docker-compose.e2e.yml
  e2e-tests/control-types/src/lib.rs
  e2e-tests/e2e-orchestrator/src/test_setup.rs
Due: mix-compile, mix-lint, mix-analysis

fix: spelling
  .codespellrc
  .gitignore
  config/runtime.exs
  docker-compose.e2e.yml
  e2e-tests/e2e-client/src/main.rs
  e2e-tests/e2e-orchestrator/src/node.rs
  e2e-tests/e2e-orchestrator/src/test_setup.rs
  priv/e2e-test-env-descriptor.json
  scripts/run-e2e.sh
Due: mix-lint, mix-analysis

chore: remove unused device from seeds
  apps/fz_http/priv/repo/seeds.exs
Due: mix-lint, mix-analysis

fix: tests
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-lint, mix-analysis

chore: move e2e tests
  scripts/run-e2e.sh
  test/docker-compose.e2e.yml
  test/docker-compose.yml
  test/e2e/.dockerignore
  test/e2e/Cargo.lock
  test/e2e/Cargo.toml
  test/e2e/Dockerfile.client
  test/e2e/Dockerfile.external
  test/e2e/Dockerfile.orchestrator
  test/e2e/README.md
  test/e2e/control-types/Cargo.toml
  test/e2e/control-types/src/lib.rs
  test/e2e/e2e-client/.dockerignore
  test/e2e/e2e-client/Cargo.toml
  test/e2e/e2e-client/src/main.rs
  test/e2e/e2e-orchestrator/.dockerignore
  test/e2e/e2e-orchestrator/Cargo.lock
  test/e2e/e2e-orchestrator/Cargo.toml
  test/e2e/e2e-orchestrator/src/client.rs
  test/e2e/e2e-orchestrator/src/config.rs
  test/e2e/e2e-orchestrator/src/main.rs
  test/e2e/e2e-orchestrator/src/node.rs
  test/e2e/e2e-orchestrator/src/test_setup.rs
  test/run-e2e.sh
Due: none

Add draft blog articles
  .codespellrc
  www/blog/2022-12-23-yc-as-oss-company/index.mdx
  www/blog/_2023-02-13-ebpf-firewall/index.mdx
  www/blog/authors.yml
Due: none

Fix OIDC error matching to catch token and verify failures
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

Add homepage content
  README.md
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  www/blog/2022-07-25-release-0-5-0/index.mdx
  www/blog/2022-10-17-release-0-6-0/index.mdx
  www/docs/administer/debug-logs.mdx
  www/docs/authenticate/README.mdx
  www/docs/authenticate/oidc/README.mdx
  www/docs/authenticate/saml/README.mdx
  www/docs/deploy/advanced/external-database.mdx
  www/docs/deploy/advanced/reverse-proxy.mdx
  www/docs/reference/_audit-logs.mdx
  www/docs/reference/telemetry.mdx
  www/docusaurus.config.js
  www/package.json
  www/src/pages/index.mdx
  www/src/pages/pricing.mdx
  www/src/pages/sales.mdx
  www/src/partials/_support_options.mdx
  www/static/img/dislike.svg
  www/static/img/favicon.ico
  www/static/img/like.svg
  www/yarn.lock
Due: mix-compile, mix-lint, mix-analysis

Checkpoint adding styling
  www/docs/deploy/README.mdx
  www/docusaurus.config.js
  www/src/components/HubspotForm/index.tsx
  www/src/css/custom.css
  www/src/pages/index.mdx
  www/src/pages/pricing.mdx
  www/src/pages/sales.mdx
  www/src/theme/MDXComponents.js
  www/static/js/hubspot.js
Due: none

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
