Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

follow redirects
  .ci/functional_test.sh
Due: none

Fix route command for debian11
  omnibus/cookbooks/firezone/recipes/network.rb
Due: none

use egress interface from chef
  config/releases.exs
Due: mix-format, mix-lint

Clean up after artifact upload
  .github/workflows/ci.yml
Due: none

Don't fail if coveralls.io is down
  .github/workflows/ci.yml
Due: none

Remove columns that aren't implemented
  apps/fz_http/lib/fz_http_web/live/device_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
Due: none

Fix leave feedback link
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
Due: none

Fix wireguard-public-key usage
  config/releases.exs
Due: mix-format, mix-lint

Add Architecture diagram and usage screen cap
  README.md
Due: none

Enable ipv4, ipv6 packet forwarding by default
  omnibus/cookbooks/firezone/metadata.rb
  omnibus/cookbooks/firezone/recipes/network.rb
Due: none

Clarify logging message when WireGuard config is empty
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Try rearranging
  omnibus/cookbooks/firezone/templates/sv-phoenix-run.erb
Due: none

Reduce phoenix startup time by setting RELEASE_MODE=interactive
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-t.erb
  rel/env.sh.eex
Due: none

Remove app boot workarounds in functional test
  .ci/functional_test.sh
Due: none

Fix node config vars
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/config.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-run.erb
Due: none

Remove sensitive env vars before writing
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-run.erb
Due: none

Remove unneeded trademark symbol from WireGuard mark
  CONTRIBUTING.md
  README.md
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  docs/index.html
  omnibus/config/projects/firezone.rb
Due: none

Give up on fixing live view flash... they're annoying anyway
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/live/device_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show_live.ex
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  config/config.exs
  config/dev.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Configure session dynamically
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/session.ex
  config/config.exs
  config/releases.exs
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

update architecture diagram
  README.md
  apps/fz_http/assets/static/images/firezone-architecture-diagram-1.png
Due: none

Enable IPv6
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http_web/live/device_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  omnibus/cookbooks/firezone/recipes/network.rb
Due: mix-format, mix-lint, mix-compile

Fix ipv6 prefix
  omnibus/cookbooks/firezone/recipes/network.rb
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
