Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

fix: tests
  config/runtime.exs
Due: mix-lint, mix-analysis

fix: unused alias
  apps/fz_http/test/support/test_helpers.ex
Due: mix-compile, mix-lint, mix-analysis

fix: typo in seeds
  apps/fz_http/priv/repo/seeds.exs
Due: mix-lint, mix-analysis

fix: ci
  apps/fz_common/test/fz_net_test.exs
Due: mix-lint, mix-analysis

chore: add gateway to prod docker-compose
  docker-compose.desktop.yml
  docker-compose.prod.yml
  rel/overlays/bin/gen-env
Due: none

feat: add gateway stats
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/devices/stats_updater.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_channel.ex
Due: mix-compile, mix-lint, mix-analysis

chore: remove registration logic
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_channel.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_error_handler.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_socket.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_gateway_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/priv/repo/seeds.exs
  asyncapi.yml
  docker-compose.yml
  priv/gateway-conf/priv
  priv/gateway-conf/secrets.json
  priv/wg0.client.conf
Due: mix-compile, mix-lint, mix-analysis

chore: update docker-compose to use env vars
  docker-compose.desktop.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: none

fix: multiple small things in dev
  apps/fz_http/lib/fz_http/devices/stats_updater.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_socket.ex
  config/runtime.exs
  docker-compose.yml
Due: mix-compile, mix-lint, mix-analysis

Increase load peer timeout
  apps/fz_vpn/lib/fz_vpn/server.ex
Due: mix-compile, mix-lint, mix-analysis

Increase load peer timeout (#1396)
  apps/fz_vpn/lib/fz_vpn/server.ex
Due: mix-compile, mix-lint, mix-analysis

Remove Cockroach note
  docs/docs/deploy/advanced/external-database.mdx
Due: none

Remove Cockroach note (#1397)
  docs/docs/deploy/advanced/external-database.mdx
Due: none

Reorganize auth routes to make sure that plugs do not block OIDC/SAML when local auth is disabled
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
Due: mix-compile, mix-lint, mix-analysis

Reorganise auth routes to make sure that plugs do not block OIDC/SAML when local auth is disabled (#1399)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
Due: mix-compile, mix-lint, mix-analysis

Expose public ports from env var too and add version tag var
  docker-compose.desktop.yml
  docker-compose.prod.yml
  rel/overlays/bin/gen-env
  scripts/install.sh
Due: none

Report CURL errors when version is fetched
  scripts/install.sh
Due: none

Remove .env mounting
  docker-compose.desktop.yml
  docker-compose.prod.yml
Due: none

Expose phoenix and Wireguard ports specified in configuration (#1372)
  docker-compose.desktop.yml
  docker-compose.prod.yml
  rel/overlays/bin/gen-env
  scripts/install.sh
Due: none

Add version tag to migrate script
  .github/workflows/docker_publish.yml
  .tool-versions
  Dockerfile.dev
  Dockerfile.prod
  docs/docs/administer/upgrade.mdx
  scripts/docker_migrate.sh
Due: none

Fix typo
  docs/docs/administer/upgrade.mdx
Due: none

Add version tag to migrate script (#1400)
  .github/workflows/docker_publish.yml
  .tool-versions
  Dockerfile.dev
  Dockerfile.prod
  docs/docs/administer/upgrade.mdx
  scripts/docker_migrate.sh
Due: none

Fix unique index to be per user_id
  apps/fz_http/lib/fz_http/mfa/method/changeset.ex
  apps/fz_http/priv/repo/migrations/20230203143621_change_mfa_methods_unique_index.exs
  apps/fz_http/test/fz_http/mfa_test.exs
Due: mix-compile, mix-lint, mix-analysis

Report name conflict on the MFA register form
  apps/fz_http/lib/fz_http/mfa/method/changeset.ex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
Due: mix-compile, mix-lint, mix-analysis

Fix unique name constraint and render error on MFA register form (#1403)
  apps/fz_http/lib/fz_http/mfa/method/changeset.ex
  apps/fz_http/priv/repo/migrations/20230203143621_change_mfa_methods_unique_index.exs
  apps/fz_http/test/fz_http/mfa_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
Due: mix-compile, mix-lint, mix-analysis

Fix recursuve ping timer
  apps/fz_http/lib/fz_http/telemetry_ping_service.ex
Due: mix-compile, mix-lint, mix-analysis

Fix recursive ping timer (#1408)
  apps/fz_http/lib/fz_http/telemetry_ping_service.ex
Due: mix-compile, mix-lint, mix-analysis

Add missing issue number
  docs/docs/administer/migrate.mdx
Due: none
