Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Fix PR-labeler config
  .github/workflows/pr_labeler.yml
Due: none

Fix semantic conflict
  rust/relay/src/server.rs
Due: none

Parse channel bind requests
  rust/relay/src/lib.rs
  rust/relay/src/rfc8656.rs
  rust/relay/src/server.rs
  rust/relay/tests/regression.rs
Due: none

De-multiplex channel data messages from client
  rust/relay/src/server.rs
  rust/relay/src/server/channel_data.rs
Due: none

Add todo
  rust/relay/src/server/channel_data.rs
Due: none

Fix clippy warning
  rust/relay/src/server.rs
Due: none

Send channel data messages to client
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/src/server.rs
Due: none

Refactor `check_peer_address`
  rust/relay/src/server.rs
Due: none

Fix PR-labeler config (#1623)
  .github/workflows/pr_labeler.yml
Due: none

fix(relay): use correct variable (#1617)
  rust/relay/src/server.rs
Due: none

Do not send whole gateway struct between channels
  apps/api/lib/api/client/channel.ex
  apps/api/lib/api/gateway/channel.ex
  apps/api/test/api/client/channel_test.exs
  apps/api/test/api/gateway/channel_test.exs
Due: mix-compile, mix-lint, mix-analysis

Dedupe code for relays view
  apps/api/lib/api/gateway/views/relay.ex
Due: mix-compile, mix-lint, mix-analysis

Added seeds, userpass auth method and more tests
  apps/domain/lib/domain/actors.ex
  apps/domain/lib/domain/actors/actor.ex
  apps/domain/lib/domain/auth.ex
  apps/domain/lib/domain/auth/adapters.ex
  apps/domain/lib/domain/auth/adapters/email.ex
  apps/domain/lib/domain/auth/adapters/openid_connect.ex
  apps/domain/lib/domain/auth/adapters/userpass.ex
  apps/domain/lib/domain/auth/adapters/userpass/changeset.ex
  apps/domain/lib/domain/auth/adapters/userpass/password.ex
  apps/domain/lib/domain/auth/adapters/userpass/password/changeset.ex
  apps/domain/lib/domain/auth/identities.ex
  apps/domain/lib/domain/auth/identity.ex
  apps/domain/lib/domain/auth/provider.ex
  apps/domain/lib/domain/auth/providers.ex
  apps/domain/lib/domain/changeset.ex
  apps/domain/lib/domain/config/configuration.ex
  apps/domain/lib/domain/gateways/gateway.ex
  apps/domain/lib/domain/gateways/token/changeset.ex
  apps/domain/lib/domain/relays/relay.ex
  apps/domain/lib/domain/relays/token/changeset.ex
  apps/domain/lib/domain/resources/connection/changeset.ex
  apps/domain/lib/domain/resources/resource.ex
  apps/domain/priv/repo/seeds.exs
  apps/domain/test/domain/auth/adapters/email_test.exs
  apps/domain/test/domain/auth/adapters/openid_connect_test.exs
  apps/domain/test/domain/auth/adapters/userpass_test.exs
  apps/domain/test/domain/auth/adapters/userpass_text.exs
  apps/domain/test/support/fixtures/auth_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Do not crash when token is expired between socket connection and topic subscription
  apps/api/lib/api/client/channel.ex
Due: mix-compile, mix-lint, mix-analysis

Introduce dedicated `client_send_buffer`
  rust/relay/src/main.rs
Due: none

Forward data to allocations
  rust/relay/src/main.rs
  rust/relay/src/server.rs
Due: none

Create wrapper UdpSocket
  rust/relay/src/lib.rs
  rust/relay/src/main.rs
  rust/relay/src/udp_socket.rs
Due: none

Actually forward data to peer
  rust/relay/src/main.rs
Due: none

Split unbinding and expiry for channels
  rust/relay/src/server.rs
Due: none

Actually implement relaying
  rust/relay/src/main.rs
  rust/relay/src/server.rs
Due: none

Move logs into `Server`
  rust/relay/src/main.rs
  rust/relay/src/server.rs
Due: none

Improve log messages
  rust/relay/src/server.rs
Due: none

Handle create-permission request
  rust/relay/src/server.rs
Due: none

Simplify logging
  rust/relay/src/lib.rs
  rust/relay/src/server.rs
  rust/relay/src/stun_codec_ext.rs
Due: none

Let clients know what we don't support
  rust/relay/src/server.rs
Due: none

Further centralize logging in `Server`
  rust/relay/src/main.rs
  rust/relay/src/server.rs
Due: none

Add dummy authentication
  rust/relay/src/server.rs
Due: none

Refactor message dispatch
  rust/relay/src/server.rs
Due: none

Comment out test
  rust/relay/tests/regression.rs
Due: none

Fix compile errors
  rust/relay/src/server.rs
Due: none

Re-enable CI checks
  .github/workflows/test.yml
Due: none

Fix lint/style issues...
  apps/domain/lib/domain/actors/actor.ex
  apps/web/.gitignore
  apps/web/assets/vendor/heroicons/LICENSE.md
  apps/web/lib/web/live/devices_live/index.ex
  apps/web/priv/gettext/errors.pot
  rust/relay/README.md
Due: mix-compile, mix-lint, mix-analysis

Add topbar -- it's useful
  apps/web/assets/js/app.js
  apps/web/assets/vendor/topbar.js
Due: none

Propagate IdP token expiration to the user session in Firezone
  apps/domain/.formatter.exs
  apps/domain/lib/domain/auth.ex
  apps/domain/lib/domain/auth/adapter.ex
  apps/domain/lib/domain/auth/adapters.ex
  apps/domain/lib/domain/auth/adapters/email.ex
  apps/domain/lib/domain/auth/adapters/openid_connect.ex
  apps/domain/lib/domain/auth/adapters/userpass.ex
  apps/domain/lib/domain/auth/subject.ex
  apps/domain/test/domain/actors_test.exs
  apps/domain/test/domain/auth/adapters/email_test.exs
  apps/domain/test/domain/auth/adapters/openid_connect_test.exs
  apps/domain/test/domain/auth/adapters/userpass_test.exs
  apps/domain/test/domain/auth_test.exs
  apps/domain/test/support/data_case.ex
  apps/domain/test/support/fixtures/auth_fixtures.ex
  config/config.exs
Due: mix-compile, mix-lint, mix-analysis

Split up TURN/STUN server URIs in fetch_relays message response
  apps/api/lib/api/client/views/relay.ex
  apps/api/test/api/client/channel_test.exs
  apps/api/test/api/client/socket_test.exs
  apps/api/test/api/gateway/channel_test.exs
  apps/domain/.formatter.exs
  apps/web/test/support/mailer_test_adapter.ex
  config/config.exs
Due: mix-compile, mix-lint, mix-analysis

Fix formatting
  apps/domain/.formatter.exs
  apps/domain/test/domain/auth_test.exs
Due: mix-lint, mix-analysis
