Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Gen art
  .github/workflows/test.yml
Due: none

Use ecto.seed command
  .github/workflows/test.yml
Due: none

Try to restore seeds
  .github/workflows/test.yml
Due: none

Fix test restart
  .github/workflows/test.yml
Due: none

Create DB before restore
  .github/workflows/test.yml
Due: none

Do two retries for acceptance tests
  .github/workflows/test.yml
Due: none

restore to folder
  .github/workflows/test.yml
Due: none

x
  .github/workflows/test.yml
Due: none

Fix typo
  .github/workflows/test.yml
Due: none

Create new artifact
  .github/workflows/test.yml
Due: none

Fix dump host
  .github/workflows/test.yml
Due: none

Restore DB
  .github/workflows/test.yml
Due: none

Restore manually
  .github/workflows/test.yml
Due: none

typo
  .github/workflows/test.yml
Due: none

Restart chromedriver on each test failure
  .github/workflows/test.yml
Due: none

Reduce wait timeout on CI
  .github/workflows/test.yml
Due: none

Restore DB dump from any completed workflow that has dump saved
  .github/workflows/test.yml
Due: none

Increase wallaby request timeout
  config/test.exs
Due: mix-lint, mix-analysis

Fix acceptance tests
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis

Fix start proxy state in test env
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
Due: mix-compile, mix-lint, mix-analysis

Fix test env override function name
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/plug/path_prefix_test.exs
Due: mix-compile, mix-lint, mix-analysis

Do not expose put env override in non test at all
  apps/fz_http/lib/fz_http/config.ex
Due: mix-compile, mix-lint, mix-analysis

Prepare for run in master branch
  .github/workflows/test.yml
Due: none

Improve seeds to create more entities
  apps/fz_http/priv/repo/seeds.exs
Due: mix-lint, mix-analysis

Remove extra pdict fetch
  apps/fz_http/lib/fz_http/config.ex
Due: mix-compile, mix-lint, mix-analysis

Start testing migrations and seeds on CI (#1359)
  .github/workflows/test.yml
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/plug/path_prefix_test.exs
  apps/fz_http/test/support/acceptance_case.ex
  config/test.exs
Due: mix-compile, mix-lint, mix-analysis

Rename main branch
  .github/workflows/test.yml
Due: none

Move assert_path/2 to the end of the chain
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
Due: mix-lint, mix-analysis

Add tests to ensure path changes when modal is dismissed (#1356)
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
Due: mix-lint, mix-analysis

Fix rendering for logo struct in REST API
  apps/fz_http/lib/fz_http/configurations/logo.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/support/api_case.ex
Due: mix-compile, mix-lint, mix-analysis

Fix flaky acceptance test
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
Due: mix-lint, mix-analysis

chore: remove registration logic
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_channel.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_error_handler.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_socket.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_gateway_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/mix.exs
  apps/fz_http/priv/repo/seeds.exs
  asyncapi.yml
  docker-compose.yml
  priv/gateway-conf/priv
  priv/gateway-conf/secrets.json
  priv/wg0.client.conf
Due: mix-compile, mix-lint, mix-analysis

Add vsn suffix to cookie signing salt
  apps/fz_http/lib/fz_http_web/session.ex
Due: mix-compile, mix-lint, mix-analysis

chore: add gateway to prod docker-compose
  docker-compose.desktop.yml
  docker-compose.prod.yml
  rel/overlays/bin/gen-env
Due: none

Document auto-create users better
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http_web/auth/json/authentication.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/test/fz_http/api_tokens_test.exs
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: mix-compile, mix-lint, mix-analysis
