Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

improve hover look
  docs/_sass/color_schemes/fz.scss
Due: none

Fix runtime.exs when DNS is nil
  config/runtime.exs
Due: mix-format, mix-lint

font size and colors
  docs/_includes/footer_custom.html
  docs/_sass/color_schemes/fz.scss
Due: none

wip logo redo
  docs/_includes/title.html
  docs/_sass/color_schemes/fz.scss
Due: none

site nav font size
  docs/_sass/color_schemes/fz.scss
Due: none

Styled Docs Navigation
  docs/Gemfile
  docs/Gemfile.lock
  docs/_sass/color_schemes/fz.scss
Due: none

Styling Select Version
  docs/_layouts/default.html
  docs/_sass/color_schemes/fz.scss
Due: none

Custom Header Changes
  docs/_config.yml
  docs/_includes/head.html
  docs/_includes/title.html
  docs/_layouts/default.html
  docs/_sass/color_schemes/fz.scss
  docs/assets/images/firezone-logo-wordmark-dark.svg
  docs/assets/images/logo-main.svg
Due: none

Add wireguardex dependency to fz_vpn
  apps/fz_vpn/mix.exs
  mix.lock
Due: mix-format, mix-lint

Button Style Update
  docs/_sass/color_schemes/fz.scss
Due: none

clarifications from review
  docs/docs/administer/upgrade.md
  docs/docs/deploy/index.md
  docs/docs/deploy/prerequisites.md
Due: none

add note for ssh interruptions during install
  docs/docs/deploy/index.md
Due: none

wip upgrade docs
  docs/docs/administer/upgrade.md
Due: none

link to github issue for ssh interrupt
  docs/docs/deploy/index.md
Due: none

Fix runtime.exs when DNS is nil (#675)
  config/runtime.exs
Due: mix-format, mix-lint

Add wireguardex dependency to fz_vpn (#676)
  apps/fz_vpn/mix.exs
  mix.lock
Due: mix-format, mix-lint

use real user
  apps/fz_http/lib/fz_http_web/live/mfa/register_component.ex
  apps/fz_http/lib/fz_http_web/live/mfa/register_steps_component.ex
Due: mix-format, mix-lint, mix-compile

allow deleting authenticator
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/mfa_methods_table.html.heex
Due: mix-format, mix-lint, mix-compile

use valid? and :since
  apps/fz_http/lib/fz_http/mfa/method.ex
Due: mix-format, mix-lint, mix-compile

make credo happy
  apps/fz_http/lib/fz_http_web/live/mfa/register_component.ex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
Due: mix-format, mix-lint, mix-compile

Fix file and directory locations
  docs/docs/reference/file-and-directory-locations.md
Due: none

Build Correction
  docs/Gemfile
Due: none

Major Styling Updates
  docs/_sass/color_schemes/fz.scss
Due: none

use mfa
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/authorization_helpers.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_mfa.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_nav.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_component.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
  apps/fz_http/lib/fz_http_web/router.ex
Due: mix-format, mix-lint, mix-compile

make credo happy
  apps/fz_http/lib/fz_http_web/live/hooks/live_mfa.ex
Due: mix-format, mix-lint, mix-compile

Lock wireguardex version
  apps/fz_vpn/mix.exs
  mix.lock
Due: mix-format, mix-lint

Change Aux Link
  docs/_config.yml
Due: none

Lock wireguardex version (#686)
  apps/fz_vpn/mix.exs
  mix.lock
Due: mix-format, mix-lint

Fix file and directory locations (#682)
  docs/docs/reference/file-and-directory-locations.md
Due: none

Styling Updates
  docs/_sass/color_schemes/fz.scss
Due: none

Deploying to gh-pages from @ firezone/firezone@b3b5f6e9b255caa5c60b2f0982371f55ec213b88 🚀
  assets/js/search-data.json
  assets/versions.txt
  docs/reference/file-and-directory-locations/index.html
  feed.xml
Due: none

Bump npm
  apps/fz_http/assets/package-lock.json
Due: none

Changes
  docs/_sass/color_schemes/fz.scss
Due: none

fix links in nav
  docs/_config.yml
Due: none

add account page for unprivileged users
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
