Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Workaround for SSH dropping by not using random port (#697)
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Execute migrations on the correct database (#698)
  omnibus/cookbooks/firezone/recipes/database.rb
Due: none

Hide footer content (#695)
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
Due: mix-format, mix-lint, mix-compile

Sanity check networks
  apps/fz_http/assets/package-lock.json
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/networks.ex
  apps/fz_http/lib/fz_http/networks/network.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http/shared_validators.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/priv/repo/migrations/20220527025915_create_networks.exs
  apps/fz_http/test/fz_http/networks_test.exs
  apps/fz_http/test/support/fixtures/networks_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
  config/config.exs
Due: mix-format, mix-lint, mix-compile

More test
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/networks/network.ex
  apps/fz_http/lib/fz_http/shared_validators.ex
  apps/fz_http/priv/repo/migrations/20220527025915_create_networks.exs
  apps/fz_http/test/fz_http/networks_test.exs
  apps/fz_http/test/support/fixtures/networks_fixtures.ex
Due: mix-format, mix-lint, mix-compile

checkpoint
  apps/fz_http/priv/repo/migrations/20220527201850_bootstrap_first_network.exs
Due: mix-format, mix-lint

Bump lockfile
  apps/fz_http/assets/package-lock.json
Due: none

Checkpoint updated migration, refactoring
  .gitignore
  apps/fz_http/lib/fz_http/connectivity_checks.ex
  apps/fz_http/lib/fz_http/networks.ex
  apps/fz_http/lib/fz_http/networks/network.ex
  apps/fz_http/lib/fz_http/sites.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/priv/repo/migrations/20220527025915_create_networks.exs
  apps/fz_http/priv/repo/migrations/20220527201850_bootstrap_first_network.exs
  apps/fz_http/test/fz_http/connectivity_checks_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/sites_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  config/config.exs
  config/runtime.exs
  docs/docs/administer/upgrade.md
  docs/docs/reference/configuration-file.md
Due: mix-format, mix-lint, mix-compile

add onelogin instructions
  docs/docs/authenticate/google.md
  docs/docs/authenticate/index.md
  docs/docs/authenticate/onelogin.md
Due: none

update index instruction formatting
  docs/docs/authenticate/index.md
Due: none

proper capitalization for OneLogin
  docs/docs/authenticate/index.md
  docs/docs/authenticate/onelogin.md
Due: none

provider ordering
  docs/docs/authenticate/index.md
Due: none

update main readme
  README.md
  docs/index.md
Due: none

add link
  README.md
Due: none

update badges
  README.md
Due: none

remove redundant copy
  README.md
Due: none

Docs - OIDC instructions (#615)
  docs/docs/administer/upgrade.md
  docs/docs/authenticate/azure-ad.md
  docs/docs/authenticate/google-sso.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/index.md
  docs/docs/authenticate/okta-sso.md
  docs/docs/authenticate/okta.md
Due: none

Update repo README (#700)
  README.md
  docs/index.md
Due: none

Fix show-config to display current config
  omnibus/cookbooks/firezone/recipes/show_config.rb
Due: none

offline_access -> user sync
  docs/docs/authenticate/index.md
Due: none

Fix MFA for firefox
  apps/fz_http/assets/js/root.js
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
Due: mix-format, mix-lint, mix-compile

REmove unused import
  apps/fz_http/assets/js/root.js
Due: none

Fix show-config to display current config (#703)
  omnibus/cookbooks/firezone/recipes/show_config.rb
Due: none

Minor MFA fixes (#704)
  apps/fz_http/assets/js/root.js
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
Due: mix-format, mix-lint, mix-compile

Add manual refresh
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.ex
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/oidc_connections_table.html.heex
Due: mix-format, mix-lint, mix-compile

Fix conflicting cache-control header
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
Due: none

Bump deps for dependabot issues
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
Due: none

Bump npm
  apps/fz_http/assets/package-lock.json
Due: none

MFA (#660)
  .devcontainer/Dockerfile
  apps/fz_http/assets/js/hooks.js
  apps/fz_http/assets/js/qrcode.js
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/lib/fz_http/encrypted/map.ex
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/mfa/method.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/authorization_helpers.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_mfa.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_nav.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_component.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/shared/mfa_methods_table.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/priv/repo/migrations/20220530073152_create_mfa_methods.exs
  apps/fz_http/test/fz_http/mfa_test.exs
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
  apps/fz_http/test/support/test_helpers.ex
  mix.lock
Due: mix-format, mix-lint, mix-compile

Fix conflicting cache-control header (#706)
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
Due: none

Align button right
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.html.heex
Due: none

Add manual refresh (#705)
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.ex
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/oidc_connections_table.html.heex
Due: mix-format, mix-lint, mix-compile
