Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Remove trailing whitespace introduced by Github
  .github/workflows/ci.yml
Due: none

Remove trailing whitespace introduced by Github (#621)
  .github/workflows/ci.yml
Due: none

change allowed ips to textarea (#618)
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_form_component.html.heex
Due: none

Fix failing tests after switching to textarea
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint

Fix failing tests after switching to textarea (#622)
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint

Update ci.yml
  .github/workflows/ci.yml
Due: none

speed up admin ui
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index.html.heex
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
  apps/fz_http/lib/fz_http_web/live_nav.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/auth/request.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/live.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  apps/fz_http/test/fz_http_web/layout_view_test.exs
  apps/fz_http/test/fz_http_web/views/layout_view_test.exs
Due: mix-format, mix-lint, mix-compile

Use Athentication.sign_out/0 to clear session
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
Due: mix-format, mix-lint, mix-compile

Use Athentication.sign_out/0 to clear session (#624)
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
Due: mix-format, mix-lint, mix-compile

Update versions.txt
  assets/versions.txt
Due: none

Fix table overflow
  apps/fz_http/assets/css/main.scss
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

Fix docs publishing
  .github/workflows/ci.yml
  .github/workflows/publish_docs.yml
Due: none

Fix table overflow (#626)
  apps/fz_http/assets/css/main.scss
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

Fix docs publishing workflow (#627)
  .github/workflows/ci.yml
  .github/workflows/publish_docs.yml
Due: none

sync master
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
Due: mix-format, mix-lint, mix-compile

implement live update of active sessions
  apps/fz_http/assets/js/live_view.js
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
Due: mix-format, mix-lint, mix-compile

Use release drafter resolved version
  .github/workflows/ci.yml
  omnibus/config/projects/firezone.rb
Due: none

Publish to drafted release on merges to master
  .github/workflows/ci.yml
Due: none

Speed up admin ui (#623)
  apps/fz_http/assets/js/live_view.js
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
  apps/fz_http/lib/fz_http_web/live_nav.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/auth/request.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/live.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  apps/fz_http/test/fz_http_web/layout_view_test.exs
  apps/fz_http/test/fz_http_web/views/layout_view_test.exs
Due: mix-format, mix-lint, mix-compile

title case
  docs/docs/authenticate/index.md
Due: none

see if this works
  .github/workflows/ci.yml
Due: none

update for review notes
  docs/docs/authenticate/azure-ad.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/index.md
  docs/docs/authenticate/okta.md
Due: none

changing references of base URL to external URL
  docs/docs/authenticate/azure-ad.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/okta.md
Due: none

make notes consistent to discourage basic OAuth vs OIDC
  docs/docs/authenticate/google.md
  docs/docs/authenticate/okta.md
Due: none

underscore -> hyphen
  .github/workflows/ci.yml
Due: none

Use release drafter resolved version (#630)
  .github/workflows/ci.yml
  omnibus/config/projects/firezone.rb
Due: none

tmp [skip ci]
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
Due: mix-format, mix-lint, mix-compile

soft-require EXTERNAL_URL to be set
  .env.sample
  config/config.exs
  config/runtime.exs
Due: mix-format, mix-lint

fix typos
  .env.sample
  config/runtime.exs
Due: mix-format, mix-lint

Update needs to set output
  .github/workflows/ci.yml
Due: none

soft-require EXTERNAL_URL to be set (#632)
  .env.sample
  config/config.exs
  config/runtime.exs
Due: mix-format, mix-lint

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
