Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

chore: CI/PR labeling improvements, Addressing the Add Security Audit step
  apps/fz_http/assets/package.json
  mix.exs
Due: mix-lint, mix-analysis

chore: CI/PR labeling improvements, Addressing the Automatically generate and publish API docs in CI
  .github/workflows/docs.yml
  mix.exs
Due: mix-lint, mix-analysis

Finish adding account_id field to Clients, Relays, Groups and Users
  apps/domain/lib/domain/clients.ex
  apps/domain/lib/domain/gateways.ex
  apps/domain/lib/domain/gateways/authorizer.ex
  apps/domain/lib/domain/gateways/gateway/changeset.ex
  apps/domain/lib/domain/gateways/group/changeset.ex
  apps/domain/lib/domain/gateways/group/query.ex
  apps/domain/lib/domain/gateways/token/changeset.ex
  apps/domain/lib/domain/relays.ex
  apps/domain/lib/domain/relays/authorizer.ex
  apps/domain/lib/domain/relays/group/changeset.ex
  apps/domain/lib/domain/relays/group/query.ex
  apps/domain/lib/domain/relays/relay/changeset.ex
  apps/domain/lib/domain/relays/token/changeset.ex
  apps/domain/priv/repo/migrations/20230405181921_create_clients.exs
  apps/domain/priv/repo/migrations/20230405181923_create_gateway_tokens.exs
  apps/domain/priv/repo/migrations/20230405181924_create_gateways.exs
  apps/domain/priv/repo/migrations/20230405182923_create_relay_tokens.exs
  apps/domain/priv/repo/migrations/20230405182924_create_relays.exs
  apps/domain/test/domain/clients_test.exs
  apps/domain/test/domain/gateways_test.exs
  apps/domain/test/domain/relays_test.exs
  apps/domain/test/support/fixtures/clients_fixtures.ex
  apps/domain/test/support/fixtures/gateways_fixtures.ex
  apps/domain/test/support/fixtures/network_fixtures.ex
  apps/domain/test/support/fixtures/relays_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Fix tests for networking query
  apps/domain/test/domain/network/address/query_test.exs
Due: mix-lint, mix-analysis

Disable version updates for the mix ecosystem.
  .github/dependabot.yml
Due: none

Increase Hackney connection pool
  config/test.exs
Due: mix-lint, mix-analysis

Increase Hackney connection pool size for coveralls report upload (#1563)
  config/test.exs
Due: mix-lint, mix-analysis

Make relays unique index work if only ipv6 is given
  apps/domain/lib/domain/relays/relay/changeset.ex
  apps/domain/priv/repo/migrations/20230405182924_create_relays.exs
  apps/domain/test/domain/relays_test.exs
Due: mix-compile, mix-lint, mix-analysis

Change tokens index to be group_id based
  apps/domain/priv/repo/migrations/20230405181923_create_gateway_tokens.exs
  apps/domain/priv/repo/migrations/20230405182923_create_relay_tokens.exs
Due: mix-lint, mix-analysis

Add missing function
  apps/domain/lib/domain/validator.ex
Due: mix-compile, mix-lint, mix-analysis

Comment out unavailable telemetry
  apps/domain/lib/domain/telemetry.ex
Due: mix-compile, mix-lint, mix-analysis

Fix WG port in device details
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
Due: mix-compile, mix-lint, mix-analysis

Fix WG port in device details (#1564)
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
Due: mix-compile, mix-lint, mix-analysis

Disable version updates for the mix ecosystem (#1562)
  .github/dependabot.yml
Due: none

add website prefix
  .pre-commit-config.yaml
Due: none

add website prefix (#1566)
  .pre-commit-config.yaml
Due: none

updated title tagline
  www/src/pages/index.mdx
Due: none

updated footer
  www/docusaurus.config.js
Due: none

Delete local_modules from dockerfile
  Dockerfile.dev
Due: none

Build and install assets using mix helpers
  .github/workflows/test.yml
  apps/domain/mix.exs
  apps/web/assets/yarn.lock
Due: mix-lint, mix-analysis

Cd to app to build assets
  .github/workflows/test.yml
Due: none

Update www/src/pages/index.mdx
  www/src/pages/index.mdx
Due: none

updated title tagline (#1567)
  www/src/pages/index.mdx
Due: none

Update www/docusaurus.config.js
  www/docusaurus.config.js
Due: none

Channel protocols
  apps/api/lib/api/client/channel.ex
  apps/api/lib/api/gateway/channel.ex
  apps/api/lib/api/relay/channel.ex
  apps/domain/lib/domain/clients/client.ex
Due: mix-compile, mix-lint, mix-analysis

Website/updatefooter (#1569)
  www/docusaurus.config.js
Due: none

Use openid_connect master
  apps/fz_http/mix.exs
  mix.lock
Due: mix-lint, mix-analysis

Remove unused docker-compose file
  docker-compose.idp.yml
Due: none

Remove unused import
  apps/web/lib/web/mailer/auth_email.ex
Due: mix-compile, mix-lint, mix-analysis

Bring back browser/config.xml
  apps/web/lib/web.ex
  apps/web/lib/web/controllers/browser_controller.ex
  apps/web/lib/web/controllers/browser_xml.ex
  apps/web/lib/web/controllers/browser_xml/config.xml.eex
  apps/web/lib/web/controllers/error_xml.ex
  apps/web/test/web/controllers/browser_controller_test.exs
  config/config.exs
Due: mix-compile, mix-lint, mix-analysis

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
