Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

adapter
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter.ex
Due: mix-format, mix-lint, mix-compile

tmp
  .devcontainer/Caddyfile
  Dockerfile
  scripts/dev_start.sh
Due: none

hello
  .devcontainer/Caddyfile
Due: none

changes
  Dockerfile
  docker-compose.dev.yml
Due: none

updates
  .gitignore
  Dockerfile
  config/runtime.exs
  docker-compose.yml
  scripts/dev_start.sh
Due: mix-format, mix-lint

Disable magic_link, identity providers when local auth disabled
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
Due: mix-format, mix-lint, mix-compile

Revert authentication.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
Due: mix-format, mix-lint, mix-compile

Disable changing password when local_auth is disabled (#751)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/unprivileged.html.heex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
Due: mix-format, mix-lint, mix-compile

remove obsolete stuff
  .gitignore
  Dockerfile
  config/runtime.exs
  docker-compose.yml
  scripts/dev_start.sh
Due: mix-format, mix-lint

add instructions to take a backup with pg_dump
  docs/docs/administer/running-sql-queries.md
Due: none

Bump chef client in firezone cookbooks Gemfile to 17.10.0
  omnibus/cookbooks/firezone/Gemfile
Due: none

Bump chef client in firezone cookbooks Gemfile to 17.10.0 (#755)
  omnibus/cookbooks/firezone/Gemfile
Due: none

add instructions to take a backup with pg_dump (#754)
  docs/docs/administer/running-sql-queries.md
Due: none

Update running-sql-queries.md
  docs/docs/administer/running-sql-queries.md
Due: none

change client instruction description - ideally admins should not be generating configurations for users and sharing them
  docs/docs/user-guides/client-instructions.md
Due: none

add instructions for importing WireGuard configuration files using nmcli for Linux users
  docs/docs/user-guides/client-instructions.md
Due: none

add instructions for Linux clients to automatically connect using nmcli
  docs/docs/user-guides/client-instructions.md
Due: none

add nftables configuration template and firewall section to reference
  docs/docs/reference/firewall-templates/index.md
  docs/docs/reference/firewall-templates/nftables.md
Due: none

add note about firezone managed rules being cleared
  docs/docs/reference/firewall-templates/nftables.md
Due: none

Fix error message matching
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Update live.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

use more conventional delimiter
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

remove iptables in favor of nftables
  Dockerfile
Due: none

use jammy
  Dockerfile
Due: none

make dev easier
  docker-compose.yml
Due: none

fix #761 - move nginx deprecated ssl on into listen statement
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

update mix.lock for wireguardex 0.3.1
  mix.lock
Due: none

Add optional user scope field to Rules UI
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: mix-format, mix-lint, mix-compile

compile
  Dockerfile
Due: none

no need to special case dist
  docker-compose.yml
Due: none

still need ip setup
  Dockerfile
  docker-compose.yml
  scripts/dev_start.sh
Due: none

Build a users map and use for rule list table
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: mix-format, mix-lint, mix-compile

Include current user in user scope options
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
Due: mix-format, mix-lint, mix-compile

[skip ci] be conservative
  docker-compose.yml
Due: none

revent devcontainer change
  .devcontainer/docker-compose.yml
Due: none

Fix error message matching (#760)
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
