Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

add allow rules migration (#1189)
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
Due: mix-format, mix-lint

update split tunnel doc
  docs/docs/user-guides/use-cases/split-tunnel.mdx
Due: none

further clarify split tunnel doc
  docs/docs/user-guides/use-cases/split-tunnel.mdx
Due: none

put doc in draftmode
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
  docs/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
Due: none

add note on wireguard client apps
  docs/docs/deploy/docker/README.mdx
  docs/docs/user-guides/client-instructions.mdx
Due: none

Revert "add note on wireguard client apps"
  docs/docs/deploy/docker/README.mdx
  docs/docs/user-guides/client-instructions.mdx
Due: none

add note about on-demand feature
  docs/docs/deploy/docker/README.mdx
  docs/docs/user-guides/client-instructions.mdx
Due: none

Add Gateway and AllowRule schemas with their context
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/allow_rules/allow_rule.ex
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http/gateways/gateway.ex
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
Due: mix-format, mix-lint, mix-compile

Make registration_token and its timestamp required
  apps/fz_http/lib/fz_http/gateways/gateway.ex
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
Due: mix-format, mix-lint, mix-compile

make default_client fields nullable
  apps/fz_http/priv/repo/migrations/20221207191602_add_defaults_to_configurations.exs
Due: mix-format, mix-lint

add allow rules and gateway tests
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/allow_rules/allow_rule.ex
  apps/fz_http/lib/fz_http/gateways/gateway.ex
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
  apps/fz_http/test/fz_http/allow_rules_test.exs
  apps/fz_http/test/fz_http/gateways_test.exs
  apps/fz_http/test/support/fixtures/allow_rules_fixtures.ex
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
Due: mix-format, mix-lint, mix-compile

remove name from required validation in gateway schema
  apps/fz_http/lib/fz_http/gateways/gateway.ex
Due: mix-format, mix-lint, mix-compile

Apply suggestions from code review
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
  docs/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
Due: none

add parens to allow rule check constraints
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
Due: mix-format, mix-lint

Apply suggestions from code review
  docs/docs/reference/configuration-file.mdx
  docs/docs/reference/env-vars.mdx
  docs/docs/user-guides/client-instructions.mdx
  docs/docs/user-guides/egress-rules.mdx
Due: none

add descriptions to client instructions
  docs/docs/user-guides/client-instructions.mdx
  docs/docs/user-guides/egress-rules.mdx
Due: none

pr feedback
  apps/fz_http/lib/fz_http/allow_rules/allow_rule.ex
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http/gateways/gateway.ex
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
  apps/fz_http/test/fz_http/allow_rules_test.exs
  apps/fz_http/test/fz_http/gateways_test.exs
  apps/fz_http/test/support/fixtures/allow_rules_fixtures.ex
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
Due: mix-format, mix-lint, mix-compile

add configurations schema
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/priv/repo/migrations/20221207191602_add_defaults_to_configurations.exs
Due: mix-format, mix-lint, mix-compile

fix credo issues
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
Due: mix-format, mix-lint, mix-compile

Fix double-quotes in docker migrate
  scripts/docker_migrate.sh
Due: none

add data migration for importing defaults into configurations table
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/priv/repo/data_migrations/20221211201713_move_defaults_to_configurations.exs
Due: mix-format, mix-lint, mix-compile

mix formatting
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/priv/repo/data_migrations/20221211201713_move_defaults_to_configurations.exs
Due: mix-format, mix-lint, mix-compile

error message for port range start/end improvement
  apps/fz_http/lib/fz_http/allow_rules/allow_rule.ex
  apps/fz_http/test/fz_http/allow_rules_test.exs
Due: mix-format, mix-lint, mix-compile

Add gateway and allow rule schemas (#1191)
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/allow_rules/allow_rule.ex
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http/gateways/gateway.ex
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
  apps/fz_http/test/fz_http/allow_rules_test.exs
  apps/fz_http/test/fz_http/gateways_test.exs
  apps/fz_http/test/support/fixtures/allow_rules_fixtures.ex
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
Due: mix-format, mix-lint, mix-compile

Add offline_access to Google doc
  docs/docs/authenticate/oidc/google.mdx
Due: none

Revert offline_access
  docs/docs/authenticate/oidc/google.mdx
Due: none

remove trailing whitespace in migration
  apps/fz_http/priv/repo/data_migrations/20221211201713_move_defaults_to_configurations.exs
Due: mix-format, mix-lint

feat: add phoenix channel for communication with the gateway
  apps/fz_http/assets/js/gateway_socket.js
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/vpn_session_scheduler.ex
  apps/fz_http/lib/fz_http_web/auth/gateway/authentication.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_channel.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_error_handler.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_socket.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_gateway_controller.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/mix.exs
  config/config.exs
  config/runtime.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

chore: fix ci
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http_web/auth/gateway/authentication.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_channel.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_error_handler.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_socket.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_gateway_controller.ex
Due: mix-format, mix-lint, mix-compile

chore: remove unused js file
  apps/fz_http/assets/js/gateway_socket.js
Due: none

chore: return :session parentheses
  apps/fz_http/lib/fz_http_web/endpoint.ex
Due: mix-format, mix-lint, mix-compile

chore: restore vpn_session_scheduler
  apps/fz_http/lib/fz_http/vpn_session_scheduler.ex
Due: mix-format, mix-lint, mix-compile

chore: restore formatting
  apps/fz_http/lib/fz_http_web/endpoint.ex
Due: mix-format, mix-lint, mix-compile

chore: re-add pid functions for tests
  apps/fz_http/lib/fz_http/events.ex
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
