Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Add sec controls doc
  apps/fz_http/lib/fz_http_web/router.ex
  docs/docs/reference/security-controls.mdx
Due: mix-format, mix-lint, mix-compile

Docs sec controls (#1018)
  apps/fz_http/lib/fz_http_web/router.ex
  docs/docs/reference/security-controls.mdx
Due: mix-format, mix-lint, mix-compile

Fix table
  docs/docs/reference/security-controls.mdx
Due: none

Fix table (#1019)
  docs/docs/reference/security-controls.mdx
Due: none

Update Process sleep
  .tool-versions
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
Due: mix-format, mix-lint

Move auto_create_users to per-provider config
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/conf/oidc_config.ex
  apps/fz_http/lib/fz_http/conf/saml_config.ex
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/priv/repo/migrations/20221012123308_move_auto_create_users_to_providers.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
  config/config.exs
  config/runtime.exs
  docs/docs/reference/configuration-file.mdx
Due: mix-format, mix-lint, mix-compile

Update deps to bust cache
  mix.lock
Due: none

Update docs with Auto create users
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/azuread.mdx
  docs/docs/authenticate/oidc/google.mdx
  docs/docs/authenticate/oidc/okta.mdx
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
Due: none

working migration script
  docs/docs/administer/migrate.mdx
  rel/overlays/bin/server
  scripts/docker_install.sh
  scripts/docker_migrate.sh
Due: none

working migration script (#1013)
  docs/docs/administer/migrate.mdx
  rel/overlays/bin/server
  scripts/docker_install.sh
  scripts/docker_migrate.sh
Due: none

Add telem for Docker and SAML
  apps/fz_http/lib/fz_http/telemetry.ex
Due: mix-format, mix-lint, mix-compile

Omit unneeded format
  .pre-commit-config.yaml
Due: none

Add telem for Docker and SAML (#1020)
  .pre-commit-config.yaml
  apps/fz_http/lib/fz_http/telemetry.ex
Due: mix-format, mix-lint, mix-compile

Bump elixir/otp
  Dockerfile.dev
  Dockerfile.prod
Due: none

Bump elixir/otp (#1021)
  Dockerfile.dev
  Dockerfile.prod
Due: none

Add keycloak dev
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  docker-compose.yml
  priv/keycloak-realm.json
Due: mix-format, mix-lint, mix-compile

Fix test using string keys
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
Due: mix-format, mix-lint

Add keycloak dev (#1023)
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
  docker-compose.yml
  priv/keycloak-realm.json
Due: mix-format, mix-lint, mix-compile

Add Keycloak doc and clean up others for OIDC providers
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/azuread.mdx
  docs/docs/authenticate/oidc/google.mdx
  docs/docs/authenticate/oidc/keycloak.mdx
  docs/docs/authenticate/oidc/okta.mdx
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
Due: none

fix trailing whitespace
  docs/docs/authenticate/oidc/zitadel.mdx
Due: none

Swallow OIDC errors
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
Due: mix-format, mix-lint, mix-compile

Add Keycloak doc and clean up others for OIDC providers (#1024)
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/azuread.mdx
  docs/docs/authenticate/oidc/google.mdx
  docs/docs/authenticate/oidc/keycloak.mdx
  docs/docs/authenticate/oidc/okta.mdx
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
Due: none

Swallow OIDC errors (#1025)
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
Due: mix-format, mix-lint, mix-compile

Bump postgres to release; Note on Caddy cert
  .gitignore
  CONTRIBUTING.md
  docker-compose.prod.yml
  docker-compose.yml
Due: none

default auto_create_users
  apps/fz_http/lib/fz_http/conf/oidc_config.ex
  apps/fz_http/lib/fz_http/conf/saml_config.ex
  apps/fz_http/mix.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Validate SAML and OIDC configs better
  apps/fz_http/lib/fz_http/conf/oidc_config.ex
  apps/fz_http/lib/fz_http/conf/saml_config.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/mfa/method.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/lib/fz_http/validators/openid_connect.ex
  apps/fz_http/lib/fz_http/validators/saml.ex
Due: mix-format, mix-lint, mix-compile

Fix failing test
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/support/fixtures/saml_config_fixtures.ex
  docs/docs/administer/troubleshoot.mdx
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
