Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Remove empty file dope
  apps/fz_http/lib/fz_http_web/templates/user/show.html.heex
Due: none

Fix intermittent assert_{patched,redirected} failures (#1125)
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
  apps/fz_http/lib/fz_http_web/templates/user/show.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint

Update existing SAML docs
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

add google doc
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

update naming
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/google.mdx
Due: none

spelling and lint error
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

add new idps to readme
  docs/docs/authenticate/README.mdx
Due: none

Add missing LOCAL_AUTH_ENABLED config (#1124)
  docs/docs/reference/env-vars.mdx
Due: none

Update docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/okta.mdx
Due: none

update note for other providers
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

Add google SAML doc and update existing guides (#1127)
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

Ensure phoenix 1.7 is in subproject
  apps/fz_http/mix.exs
  mix.lock
Due: mix-format, mix-lint

Ensure phoenix 1.7 is in subproject (#1128)
  apps/fz_http/mix.exs
  mix.lock
Due: mix-format, mix-lint

Bump Elixir to 1.14.2, OTP to 25.1.2
  Dockerfile.dev
  Dockerfile.prod
Due: none

Only test when view is mounted
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
Due: mix-format, mix-lint, mix-compile

Remove nodejs from test workflow
  .github/workflows/test.yml
Due: none

bump tool versions
  .tool-versions
Due: none

Bump Elixir to 1.14.2, OTP to 25.1.2 (#1129)
  .tool-versions
  Dockerfile.dev
  Dockerfile.prod
Due: none

Only test when view is mounted (#1130)
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
Due: mix-format, mix-lint, mix-compile

Remove nodejs from test workflow (#1131)
  .github/workflows/test.yml
Due: none

restart: unless-stopped
  docker-compose.desktop.yml
  docker-compose.prod.yml
Due: none

Use updated ruby action
  .github/workflows/static_analysis.yml
Due: none

Change restart policy to `unless-stopped` (#1138)
  .github/workflows/static_analysis.yml
  docker-compose.desktop.yml
  docker-compose.prod.yml
Due: none

Fix typos
  .github/workflows/static_analysis.yml
  apps/fz_common/test/fz_string_test.exs
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index.html.heex
  apps/fz_vpn/lib/fz_vpn/interface.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  asyncapi.yml
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
  docs/docs/reference/firewall-templates/nftables.mdx
Due: mix-format, mix-lint, mix-compile

Revert to on-failure
  docker-compose.prod.yml
Due: none

Revert to on-failure
  docker-compose.desktop.yml
Due: none

unless-stopped
  docker-compose.desktop.yml
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
