Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Add websocket connection troubleshooting section (#977)
  .markdownlint.json
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  docs/docs/administer/manage.md
  docs/docs/administer/security-considerations.md
  docs/docs/administer/troubleshoot.md
  docs/docs/authenticate/zitadel.md
  docs/docs/deploy/supported-platforms.md
  docs/docs/reference/configuration-file.md
  docs/docs/reference/file-and-directory-locations.md
  docs/docs/reference/firewall-templates/nftables.md
  docs/docusaurus.config.js
Due: none

Upgrade to LiveView 0.18 and use replace: true
  Dockerfile.dev
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show.html.heex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_nav.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/unprivileged.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/mix.exs
  docker-compose.yml
  mix.lock
Due: mix-format, mix-lint, mix-compile

Fetch test deps too
  Dockerfile.dev
Due: none

Fix test with new liveview
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
Due: mix-format, mix-lint

Upgrade to LiveView 0.18 and use replace: true (#980)
  Dockerfile.dev
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show.html.heex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_nav.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/unprivileged.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  docker-compose.yml
  mix.lock
Due: mix-format, mix-lint, mix-compile

Test docker prod build in CI
  .github/workflows/build.yml
  Dockerfile.prod
Due: none

Need uses
  .github/workflows/build.yml
Due: none

Set build-args
  .github/workflows/build.yml
Due: none

Split builds
  .github/workflows/docker_build.yml
  .github/workflows/omnibus_build.yml
Due: none

Fix build-args format
  .github/workflows/docker_build.yml
Due: none

wtf
  .github/workflows/docker_build.yml
Due: none

hmmm
  .github/workflows/docker_build.yml
Due: none

Jeebus
  .github/workflows/docker_build.yml
Due: none

build version based on drafted release
  .github/workflows/docker_build.yml
Due: none

Build multi-platform images
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
  .github/workflows/omnibus_publish.yml
Due: none

Only build for supported platforms
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
Due: none

Use newer OTP fingers crossed
  Dockerfile.prod
Due: none

Use OTP 24 for arm64
  Dockerfile.prod
Due: none

Finalize test build of Docker image
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
  Dockerfile.prod
Due: none

Update comment
  .github/workflows/docker_publish.yml
Due: none

Bump to OTP 25.1
  .tool-versions
  Dockerfile.dev
  omnibus/config/software/erlang.rb
Due: none

Use proper ver
  omnibus/config/software/erlang.rb
Due: none

D'oh proper sha
  omnibus/config/software/erlang.rb
Due: none

Checkpoint
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show.html.heex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
Due: mix-format, mix-lint, mix-compile

Use OTP 24 and install python for node build
  Dockerfile.prod
Due: none

Use new Docker base
  Dockerfile.dev
  Dockerfile.prod
Due: none

Use python3
  Dockerfile.prod
Due: none

Favor redirect over patch
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.ex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint, mix-compile

Use newly-built base images with other platform support
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
Due: none

Fix tests
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint

Favor live redirects over patches (#985)
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show.html.heex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint, mix-compile

Don't build for ppc64le and s390x
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
Due: none

Build only for amd64/arm64
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
Due: none

Don't rebuild on publish; simply copy
  .github/workflows/docker_publish.yml
Due: none

See where the image is being pushed
  .github/workflows/docker_build.yml
Due: none

Remove echo
  .github/workflows/docker_build.yml
Due: none

Use EXTERNAL_URL host as default endpoint
  config/runtime.exs
Due: mix-format, mix-lint

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
