Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Refactor acme parameters naming convention and add keylength parameter
  docs/docs/deploy/install-server.md
  docs/docs/deploy/prerequisites.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/force_renewal.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
Due: none

Add ui refresh of danger zone section for user view
  apps/fz_http/assets/package-lock.json
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
Due: mix-format, mix-lint, mix-compile

Use large switch style
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
Due: mix-format, mix-lint, mix-compile

Go back to medium style for toggle
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
Due: mix-format, mix-lint, mix-compile

fix ecc cert installation
  omnibus/cookbooks/firezone/recipes/acme.rb
Due: none

Update publish.yml
  .github/workflows/publish.yml
Due: none

Add cloudsmith publish (#783)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  README.md
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Update test.yml (#790)
  .github/workflows/test.yml
Due: none

Disable no-ssl
  config/runtime.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Due: mix-format, mix-lint

add user id to rules (#722)
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Bump chef client in firezone cookbooks Gemfile to 17.10.0 (#755)
  omnibus/cookbooks/firezone/Gemfile
Due: none

Update rules UI to include optional user scope (#764)
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/support/test_helpers.ex
  docs/docs/user-guides/firewall-rules.md
Due: mix-format, mix-lint, mix-compile

Add redirect routes for oidc signin links by provider (#770)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  docs/docs/authenticate/index.md
Due: mix-format, mix-lint, mix-compile

Replaces nftables rule management to use sets (#766)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Bump nodejs to 16 lts (#772)
  .tool-versions
  omnibus/config/software/nodejs.rb
Due: none

fix build (#778)
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/events_test.exs
Due: mix-format, mix-lint, mix-compile

Use toggle for vpn connection permission (#787)
  apps/fz_http/assets/package-lock.json
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
Due: mix-format, mix-lint, mix-compile

Improve user vpn connection status ui (#784)
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_status_component.ex
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/vpn_status_component_test.exs
  docs/docs/authenticate/README.md
Due: mix-format, mix-lint, mix-compile

wait 10
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
Due: mix-format, mix-lint

Update egress rules user guide with user scope ui (#782)
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  docs/docs/user-guides/egress-rules.md
Due: none

use x-forwarded-for in addition to x-real-ip (#785)
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

Rebase onto master
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

Bump nodejs to 16 lts (#772)
  .github/workflows/ci.yml
Due: none

Move docs to Docusaurus (#726)
  .github/workflows/ci.yml
  docs/docs/authenticate/README.md
Due: none

wait 10
  config/config.exs
  docs/docs/administer/manage.md
  docs/docs/deploy/install-server.md
  docs/docs/deploy/prerequisites.md
  docs/docs/reference/configuration-file.md
  omnibus/config/software/acme.rb
  omnibus/config/software/nginx.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/config.rb
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/recipes/force_renewal.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/recipes/stop_renewal.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
  scripts/uninstall.sh
Due: mix-format, mix-lint

Acme support (#779)
  config/config.exs
  docs/docs/administer/manage.md
  docs/docs/authenticate/README.md
  docs/docs/deploy/install-server.md
  docs/docs/deploy/prerequisites.md
  docs/docs/reference/configuration-file.md
  omnibus/config/software/acme.rb
  omnibus/config/software/nginx.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/config.rb
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/recipes/force_renewal.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/recipes/stop_renewal.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
  scripts/uninstall.sh
Due: mix-format, mix-lint

Try removing nodejs
  .github/workflows/build.yml
  omnibus/config/software/firezone.rb
Due: none

Add nodejs plugin
  .github/workflows/build.yml
Due: none

Update apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

fix and add tests
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-format, mix-lint, mix-compile

implement pkce
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

use to_existing_atom
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

Add trusted proxy functionality
  apps/fz_common/lib/fz_string.ex
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/mix.exs
  config/runtime.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Pushing my draft to have as a backup
  docs/docs/deploy/advanced-deploy/hosted-proxy/draft.md
Due: none

Implement PKCE (#789)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-format, mix-lint, mix-compile

Remove pre-configured Okta & Google OAuth providers, update docs
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
  docs/docs/administer/upgrade.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/okta.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
