Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

drop session when signing out
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

Start stats push service
  apps/fz_vpn/lib/fz_vpn/application.ex
Due: mix-format, mix-lint, mix-compile

Sandbox config bool
  config/config.exs
  config/prod.exs
Due: mix-format, mix-lint

conver to int
  apps/fz_http/lib/fz_http/devices/stats_updater.ex
Due: mix-format, mix-lint, mix-compile

Process wg show ... dump (#546)
  apps/fz_common/lib/fz_integer.ex
  apps/fz_common/test/fz_integer_text.exs
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/devices/stats_updater.ex
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/priv/repo/migrations/20220419172036_add_stats_to_devices.exs
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_vpn/lib/fz_vpn/application.ex
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  apps/fz_vpn/test/fz_vpn/cli/sandbox_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
  apps/fz_vpn/test/fz_vpn/stats_push_service_test.exs
  config/config.exs
  config/prod.exs
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@0d3afc09a4937bb7f254fdc62193e829bbe927bb 🚀
  assets/versions.txt
  feed.xml
Due: none

Check kernel version on package install and give warning if too low
  scripts/install.sh
Due: none

Add support for CentOS derivatives
  scripts/install.sh
Due: none

Add support for CentOS derivatives (#552)
  scripts/install.sh
Due: none

Add devcontainer, update dev setup
  .devcontainer/.gitignore
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  CONTRIBUTING.md
Due: none

Fix kernelCheck order
  scripts/install.sh
Due: none

Add devcontainer, update dev setup (#554)
  .devcontainer/.gitignore
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  CONTRIBUTING.md
Due: none

Fix kernelCheck order (#555)
  scripts/install.sh
Due: none

kernelCheck on installing package
  omnibus/package-scripts/firezone/preinst
Due: none

kernelCheck on installing package (#556)
  omnibus/package-scripts/firezone/preinst
Due: none

Add device descriptions
  apps/fz_http/assets/css/main.scss
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/priv/repo/migrations/20220427140943_add_description_to_devices.exs
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/support/fixtures/devices_fixtures.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
Due: mix-format, mix-lint, mix-compile

Remove inaccurate test description
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint

Add device descriptions (#557)
  apps/fz_http/assets/css/main.scss
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/priv/repo/migrations/20220427140943_add_description_to_devices.exs
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/support/fixtures/devices_fixtures.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
Due: mix-format, mix-lint, mix-compile

Checkpoint
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/show_device.html.heex
  apps/fz_http/lib/fz_http_web/views/device_view.ex
  config/config.exs
  config/releases.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Fixes for local development
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .env.sample
  CONTRIBUTING.md
  apps/fz_http/lib/fz_http_web/endpoint.ex
  config/config.exs
  config/dev.exs
  config/releases.exs
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

Optionally hide device mgmt buttons
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/show_device.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/support/test_helpers.ex
  config/config.exs
Due: mix-format, mix-lint, mix-compile

522/allow disabling of config creation (#559)
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/show_device.html.heex
  apps/fz_http/lib/fz_http_web/views/device_view.ex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/support/test_helpers.ex
  config/config.exs
  config/releases.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@908cfc7dff0484ddde1f3ab6a0666fa135e4d59b 🚀
  assets/js/search-data.json
  assets/versions.txt
  docs/reference/configuration-file/index.html
  feed.xml
Due: none

Add docs section on running raw SQL; update nokogiri;
  docs/Gemfile.lock
  docs/docs/administer/running-sql-queries.md
Due: none

Remove top-level heading size requirement
  docs/.markdownlint.json
Due: none

Add docs section on running raw SQL queries against the Firezone DB (#561)
  docs/.markdownlint.json
  docs/Gemfile.lock
  docs/docs/administer/running-sql-queries.md
Due: none

Update runtime.exs with resolved conflicts
  config/runtime.exs
Due: mix-format, mix-lint

Fixes for local development (#562)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .env.sample
  CONTRIBUTING.md
  apps/fz_http/lib/fz_http_web/endpoint.ex
  config/config.exs
  config/dev.exs
  config/releases.exs
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
