Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

re-adding sudo to functional test
  .ci/functional_test.sh
Due: none

fix expected results in functional test
  .ci/functional_test.sh
Due: none

Apply suggestions
  apps/fz_http/lib/fz_http/rules.ex
  config/config.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Update apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: none

Re-add port-based rules and gate them behind kernel version (#890)
  .ci/functional_test.sh
  apps/fz_common/lib/fz_kernel_version.ex
  apps/fz_http/lib/fz_http/int4range.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/priv/repo/migrations/20220726205646_add_rule_port_range.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/repo/notifier_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/test/fz_wall/cli/sandbox_test.exs
  config/config.exs
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

Remove docs link for older versions
  docs/docusaurus.config.js
Due: none

Remove old README
  .nojekyll
  README.md
Due: none

Fix wording
  docs/docs/deploy/prerequisites.md
Due: none

Some minor clarification and UI polish
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Due: mix-format, mix-lint, mix-compile

Fix wording (#895)
  docs/docs/deploy/prerequisites.md
Due: none

nft rules match wireguard interface name
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
Due: mix-format, mix-lint, mix-compile

nft rules match wireguard interface name (#901)
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
Due: mix-format, mix-lint, mix-compile

add mfa docs
  docs/docs/authenticate/README.md
  docs/docs/authenticate/azuread.md
  docs/docs/authenticate/generic-oidc.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/local-auth.md
  docs/docs/authenticate/multi-factor.md
  docs/docs/authenticate/okta.md
  docs/docs/authenticate/onelogin.md
  package-lock.json
Due: none

add client instructions
  docs/docs/user-guides/client-instructions.md
Due: none

ran npm in wrong folder
  package-lock.json
Due: none

grammar and titles
  docs/docs/authenticate/README.md
  docs/docs/authenticate/multi-factor.md
Due: none

broken link
  docs/docs/authenticate/README.md
Due: none

initial test
  docs/docusaurus.config.js
  docs/package-lock.json
  docs/package.json
Due: none

Update docs/docs/authenticate/multi-factor.md
  docs/docs/authenticate/multi-factor.md
Due: none

Update docs/docs/user-guides/client-instructions.md
  docs/docs/user-guides/client-instructions.md
Due: none

Apply suggestions from code review
  docs/docs/authenticate/README.md
  docs/docs/authenticate/multi-factor.md
Due: none

remove restart cmd
  docs/docs/authenticate/azuread.md
  docs/docs/authenticate/generic-oidc.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/multi-factor.md
  docs/docs/authenticate/okta.md
Due: none

update example on default.rb
  Gemfile.lock
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

Update Gemfile.lock
  Gemfile.lock
Due: none

Update docs/docs/authenticate/README.md
  docs/docs/authenticate/README.md
Due: none

fix errors
  docs/docs/authenticate/README.md
  docs/docs/authenticate/multi-factor.md
Due: none

Pull overrides from changeset
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Due: mix-format, mix-lint, mix-compile

Clarify when UI config is overriding ENV config (#872)
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Due: mix-format, mix-lint, mix-compile

Docs - add mfa instructions (#904)
  docs/docs/authenticate/README.md
  docs/docs/authenticate/azuread.md
  docs/docs/authenticate/generic-oidc.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/local-auth.md
  docs/docs/authenticate/multi-factor.md
  docs/docs/authenticate/okta.md
  docs/docs/authenticate/onelogin.md
  docs/docs/user-guides/client-instructions.md
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

Bump Wireguardex
  apps/fz_vpn/mix.exs
  mix.lock
Due: mix-format, mix-lint
