Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Polish real deployment issues
  elixir/Dockerfile
  terraform/environments/staging/main.tf
Due: none

tmp
  .github/workflows/elixir.yml
Due: none

Finish multi-container release
  .github/workflows/elixir.yml
  CONTRIBUTING.md
  docker-compose.yml
  elixir/Dockerfile
  elixir/apps/api/mix.exs
  elixir/apps/domain/lib/domain/release.ex
  elixir/apps/domain/mix.exs
  elixir/apps/web/mix.exs
  elixir/docker-compose.yml
  elixir/mix.exs
  elixir/rel/env.sh.eex
  elixir/rel/overlays/bin/bootstrap
  elixir/rel/overlays/bin/seed
  elixir/rel/overlays/bin/server
  terraform/modules/elixir-app/main.tf
Due: mix-compile, mix-lint, mix-analysis

Base terraform config for staging
  .terraformignore
  .tool-versions
  elixir/.dockerignore
  terraform/.gitignore
  terraform/environments/staging/.terraform.lock.hcl
  terraform/environments/staging/main.tf
  terraform/environments/staging/outputs.tf
  terraform/environments/staging/variables.tf
  terraform/environments/staging/versions.tf
  terraform/modules/elixir-app/main.tf
  terraform/modules/elixir-app/outputs.tf
  terraform/modules/elixir-app/services.tf
  terraform/modules/elixir-app/variables.tf
  terraform/modules/google-artifact-registry/main.tf
  terraform/modules/google-artifact-registry/outputs.tf
  terraform/modules/google-artifact-registry/variables.tf
  terraform/modules/google-cloud-dns/main.tf
  terraform/modules/google-cloud-dns/outputs.tf
  terraform/modules/google-cloud-dns/variables.tf
  terraform/modules/google-cloud-project/main.tf
  terraform/modules/google-cloud-project/outputs.tf
  terraform/modules/google-cloud-project/variables.tf
  terraform/modules/google-cloud-sql/main.tf
  terraform/modules/google-cloud-sql/outputs.tf
  terraform/modules/google-cloud-sql/variables.tf
  terraform/modules/google-cloud-storage/main.tf
  terraform/modules/google-cloud-storage/variables.tf
  terraform/modules/google-cloud-vpc/main.tf
  terraform/modules/google-cloud-vpc/outputs.tf
  terraform/modules/google-cloud-vpc/variables.tf
Due: none

Init multi-app releases for Elixir
  .dockerignore
  docker-compose.yml
  elixir/.dockerignore
  elixir/Dockerfile
  elixir/mix.exs
  elixir/rel/env.sh.eex
  elixir/rel/overlays/bin/create-api-token
  elixir/rel/overlays/bin/create-or-reset-admin
  elixir/rel/overlays/bin/gen-env
  elixir/rel/overlays/bin/server
  elixir/rel/vm.args.eex
Due: mix-lint, mix-analysis

Add new docker arg to CI
  .github/workflows/elixir.yml
Due: none

Add docs for connecting to a running Elixir node and improve seeds
  docker-compose.yml
  elixir/README.md
  elixir/apps/domain/lib/domain/resources.ex
  elixir/apps/domain/priv/repo/seeds.exs
Due: mix-compile, mix-lint, mix-analysis

Add note about whats inside containers
  elixir/README.md
Due: none

Properly encode token in seeds
  elixir/apps/api/lib/api/sockets.ex
  elixir/apps/domain/priv/repo/seeds.exs
Due: mix-compile, mix-lint, mix-analysis

Fix socket endpoint
  elixir/apps/api/lib/api/endpoint.ex
  elixir/apps/api/lib/api/sockets.ex
  elixir/config/config.exs
  elixir/config/dev.exs
  elixir/config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

Add task and docs how to run mix commands locally
  docker-compose.yml
  elixir/README.md
Due: none

Fix typo
  elixir/README.md
Due: none

JSON logging, debug logging for local dev containers, better WS error handling
  docker-compose.yml
  elixir/apps/api/lib/api/device/socket.ex
  elixir/apps/api/lib/api/gateway/socket.ex
  elixir/apps/api/lib/api/relay/socket.ex
  elixir/apps/api/lib/api/sockets.ex
  elixir/apps/api/test/api/device/channel_test.exs
  elixir/apps/api/test/api/device/socket_test.exs
  elixir/apps/domain/lib/domain/application.ex
  elixir/apps/domain/mix.exs
  elixir/config/config.exs
  elixir/config/prod.exs
  elixir/mix.lock
Due: mix-compile, mix-lint, mix-analysis

Create the database in terraform
  terraform/environments/staging/main.tf
Due: none

Add command to stop everything
  elixir/README.md
Due: none

Remove double-dot
  terraform/environments/staging/dns.tf
Due: none

Note the need of manual recompilation
  elixir/README.md
Due: none

Fix socket definitions
  elixir/apps/api/lib/api/device/socket.ex
  elixir/apps/api/lib/api/gateway/socket.ex
  elixir/apps/api/lib/api/relay/socket.ex
Due: mix-compile, mix-lint, mix-analysis

Networking + DNS
  terraform/environments/staging/dns.tf
  terraform/environments/staging/main.tf
  terraform/modules/elixir-app/cloudinit.yaml
  terraform/modules/elixir-app/main.tf
  terraform/modules/elixir-app/outputs.tf
  terraform/modules/elixir-app/variables.tf
  terraform/modules/google-cloud-dns/main.tf
Due: none

Rename mix container to avoid confusion and speed up build process
  docker-compose.yml
  elixir/Dockerfile
  elixir/README.md
Due: none

Fix port in readme
  elixir/README.md
Due: none

Fix asset building pipeline
  elixir/Dockerfile
  elixir/apps/web/assets/css/app.css
  elixir/apps/web/assets/js/app.js
  elixir/apps/web/mix.exs
  elixir/config/config.exs
  elixir/config/dev.exs
Due: mix-lint, mix-analysis

Added guide to connect to staging/prod env instances
  elixir/README.md
Due: none

Sync staging DNS records
  terraform/environments/staging/dns.tf
Due: none

Force SSL on production when protocol is set to https and drop outdated config options
  elixir/config/config.exs
  elixir/config/runtime.exs
Due: mix-lint, mix-analysis

Fix session cookie fetching
  docker-compose.yml
  elixir/apps/web/lib/web/endpoint.ex
  elixir/apps/web/lib/web/session.ex
Due: mix-compile, mix-lint, mix-analysis

Ensure API server is started
  elixir/config/prod.exs
  elixir/config/runtime.exs
Due: mix-lint, mix-analysis

Add doc for building a subject
  elixir/README.md
Due: none

Use DNS CAA record to verify that google can issue our certs
  terraform/environments/staging/dns.tf
Due: none

Rework networking
  terraform/environments/staging/main.tf
  terraform/modules/elixir-app/main.tf
  terraform/modules/elixir-app/variables.tf
Due: none

Deploy api app
  terraform/environments/staging/main.tf
  terraform/environments/staging/variables.tf
  terraform/environments/staging/versions.auto.tfvars
Due: none

Additionally tag containers with commit hash
  .github/workflows/elixir.yml
Due: none

Fix typo
  .github/workflows/elixir.yml
Due: none

Bump container versions
  terraform/environments/staging/versions.auto.tfvars
Due: none

Bump min tls version
  terraform/modules/elixir-app/main.tf
Due: none

Add HSTS header
  elixir/apps/api/lib/api/endpoint.ex
  elixir/apps/web/lib/web/endpoint.ex
  elixir/config/config.exs
  elixir/config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

Fix refresh test assertion
  rust/relay/tests/regression.rs
Due: none
