Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

fix mobile modal
  apps/fz_http/assets/local_modules/admin-one-bulma-dashboard/src/scss/_modal.scss
Due: none

fix mobile modal (#596)
  apps/fz_http/assets/local_modules/admin-one-bulma-dashboard/src/scss/_modal.scss
Due: none

replace moment with Intl.DateTimeFormat
  apps/fz_http/assets/js/util.js
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
Due: none

replace moment with Intl.DateTimeFormat (#597)
  apps/fz_http/assets/js/util.js
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
Due: none

Add phoenix listen address
  config/runtime.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: mix-format, mix-lint

migrate allowed ips on devices
  apps/fz_http/priv/repo/migrations/20220516063916_change_allowed_ips_to_text.exs
Due: mix-format, mix-lint

Dev on https
  .devcontainer/Caddyfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

Fix listen address
  config/runtime.exs
Due: mix-format, mix-lint

add azure ad docs
  docs/docs/authenticate/google-sso.md
  docs/docs/authenticate/index.md
  docs/docs/authenticate/okta-sso.md
Due: none

re-add idp instructions
  docs/docs/authenticate/azure-ad.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/okta.md
Due: none

migrate allowed ips on sites
  apps/fz_http/priv/repo/migrations/20220516063916_change_allowed_ips_to_text.exs
Due: mix-format, mix-lint

update azure AD doc
  docs/docs/authenticate/azure-ad.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/index.md
Due: none

Add file locations to docs
  docs/Gemfile.lock
  docs/docs/reference/file-and-directory-locations.md
  docs/docs/reference/index.md
Due: none

Add phoenix listen address (#604)
  config/runtime.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: mix-format, mix-lint

Add file locations to docs (#607)
  docs/Gemfile.lock
  docs/docs/reference/file-and-directory-locations.md
  docs/docs/reference/index.md
Due: none

Migrate allowed ips on devices to text (#602)
  apps/fz_http/priv/repo/migrations/20220516063916_change_allowed_ips_to_text.exs
Due: mix-format, mix-lint

Increase QR code area by 2.25x
  apps/fz_http/assets/js/wg_conf.js
Due: none

Increase QR code area by 2.25x (#608)
  apps/fz_http/assets/js/wg_conf.js
Due: none

Don't enable IPv6 forwarding if IPv6 isn't enabled.
  omnibus/cookbooks/firezone/recipes/network.rb
Due: none

edit google auth doc for oidc
  docs/docs/authenticate/azure-ad.md
  docs/docs/authenticate/google.md
Due: none

Make Set-Cookie secure attribute false in dev environments (#363 product)
  apps/fz_http/lib/fz_http_web/session.ex
  config/config.exs
  config/dev.exs
Due: mix-format, mix-lint, mix-compile

Don't set default url opts in runtime
  config/config.exs
  config/runtime.exs
Due: mix-format, mix-lint

Remove changes to config.exs
  config/config.exs
Due: mix-format, mix-lint

update okta documentation for oidc
  docs/docs/authenticate/okta.md
Due: none

Don't enable IPv6 forwarding if IPv6 isn't enabled. (#609)
  omnibus/cookbooks/firezone/recipes/network.rb
Due: none

Dev on https (#603)
  .devcontainer/Caddyfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Due: none

Make Set-Cookie secure attribute false in dev environments (#363 product) (#610)
  apps/fz_http/lib/fz_http_web/session.ex
  config/config.exs
  config/dev.exs
Due: mix-format, mix-lint, mix-compile

Bump deps
  mix.lock
  omnibus/config/software/elixir.rb
  omnibus/config/software/erlang.rb
Due: none

update azure gif
  docs/docs/authenticate/azure-ad.md
  docs/docs/authenticate/index.md
Due: none

Fix reverse tunnel docs
  docs/docs/user-guides/reverse-tunnel.md
Due: none

update device settings instructions
  docs/docs/user-guides/add-devices.md
  docs/docs/user-guides/add-users.md
  docs/docs/user-guides/reverse-tunnel.md
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
