Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Docker dev polish (#803)
  .devcontainer/Caddyfile
  .devcontainer/README.md
  .devcontainer/wg0.client.conf
  CONTRIBUTING.md
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/shared_validators.ex
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  config/config.exs
  config/dev.exs
  docker-compose.yml
  priv/wg_dev_private_key
  scripts/bootstrap_firezone_dev.sql
  scripts/dev_start.sh
Due: mix-format, mix-lint, mix-compile

Fix endpoint typo
  apps/fz_http/priv/repo/seeds.exs
Due: mix-format, mix-lint

Prevent rules overlap and rule only on established connections
  apps/fz_common/lib/fz_net.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
Due: mix-format, mix-lint, mix-compile

fix overlapping ranges
  apps/fz_common/lib/fz_net.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
Due: mix-format, mix-lint, mix-compile

Revert nftables version
  omnibus/config/software/libnftnl.rb
  omnibus/config/software/nftables.rb
Due: none

small refactor
  apps/fz_http/lib/fz_http/rules/rule.ex
Due: mix-format, mix-lint, mix-compile

silence source repo file not found when removing
  scripts/uninstall.sh
Due: none

fix typo
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
Due: mix-format, mix-lint, mix-compile

Revert "Revert nftables version"
  omnibus/config/software/libnftnl.rb
  omnibus/config/software/nftables.rb
Due: none

Remove old interface if it's going to be changed
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/recipes/default.rb
Due: none

Remove old interface
  omnibus/cookbooks/firezone/recipes/default.rb
Due: none

Use to_atom/1 for some ssl_opts keys
  config/runtime.exs
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint

Use to_atom/1 for some ssl_opts keys (#806)
  config/runtime.exs
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint

Remove old interface when changing names (#805)
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/recipes/default.rb
Due: none

remove name
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/priv/repo/migrations/20220713050742_create_configurations.exs
Due: mix-format, mix-lint, mix-compile

specify id type
  apps/fz_http/lib/fz_http/conf/configuration.ex
Due: mix-format, mix-lint, mix-compile

add moduledoc
  apps/fz_http/lib/fz_http/conf/configuration.ex
Due: mix-format, mix-lint, mix-compile

add configurations
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/priv/repo/migrations/20220713050742_create_configurations.exs
Due: mix-format, mix-lint, mix-compile

display logo
  apps/fz_http/lib/fz_http_web/live/logo_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
Due: mix-format, mix-lint, mix-compile

add url
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
Due: mix-format, mix-lint, mix-compile

disable alias order check
  .credo.exs
Due: mix-format, mix-lint

highlight sidebar correctly
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
Due: mix-format, mix-lint, mix-compile

remove column padding
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
Due: none

support more image types
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
Due: mix-format, mix-lint, mix-compile

add customization
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
  apps/fz_http/lib/fz_http_web/router.ex
Due: mix-format, mix-lint, mix-compile

connect everything
  apps/fz_http/lib/fz_http/conf.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
Due: mix-format, mix-lint, mix-compile

add conf context
  apps/fz_http/lib/fz_http/conf.ex
Due: mix-format, mix-lint, mix-compile

tweak messages
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
Due: mix-format, mix-lint, mix-compile

add configuration cache
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
Due: mix-format, mix-lint, mix-compile

add more tests
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint

simplify configuration operations
  apps/fz_http/lib/fz_http/conf.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
Due: mix-format, mix-lint, mix-compile

remove unused code
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
Due: mix-format, mix-lint, mix-compile

add tests
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint

enforce initial case
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint

Revert "enforce initial case"
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint

reduce assertion
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint

ping with logo type
  apps/fz_http/lib/fz_http/telemetry.ex
Due: mix-format, mix-lint, mix-compile

debug
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint

ignore cache
  apps/fz_http/lib/fz_http/conf/cache.ex
Due: mix-format, mix-lint, mix-compile

debug
  apps/fz_http/lib/fz_http/conf.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
Due: mix-format, mix-lint, mix-compile
