Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Use per platform initialize command
  .devcontainer/devcontainer.json
  .devcontainer/init.cmd
  .devcontainer/init.sh
Due: none

select correct initial value
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Due: mix-format, mix-lint, mix-compile

Add test
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-format, mix-lint

select correct initial value (#566)
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-format, mix-lint, mix-compile

Fix VPN session duration of Once
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-format, mix-lint, mix-compile

Fix expected durations
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-format, mix-lint

Fix VPN session duration options for select (#568)
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@cb93ec031206e49244a1810baa4ef7b31c7dbe0e 🚀
  404.html
  assets/js/search-data.json
  assets/versions.txt
  docs/administer/configure/index.html
  docs/administer/index.html
  docs/administer/manage/index.html
  docs/administer/running-sql-queries/index.html
  docs/administer/security-considerations/index.html
  docs/administer/troubleshoot/index.html
  docs/administer/uninstall/index.html
  docs/administer/upgrade/index.html
  docs/authenticate/google-sso/index.html
  docs/authenticate/index.html
  docs/authenticate/okta-sso/index.html
  docs/authenticate/web-auth/index.html
  docs/deploy/clients/index.html
  docs/deploy/index.html
  docs/deploy/prerequisites/index.html
  docs/deploy/resource-requirements/index.html
  docs/deploy/server/index.html
  docs/deploy/supported-platforms/index.html
  docs/reference/configuration-file/index.html
  docs/reference/index.html
  docs/user-guides/add-devices/index.html
  docs/user-guides/add-users/index.html
  docs/user-guides/client-instructions/index.html
  docs/user-guides/firewall-rules/index.html
  docs/user-guides/index.html
  docs/user-guides/reverse-tunnel/index.html
  docs/user-guides/split-tunnel/index.html
  docs/user-guides/whitelist-vpn/index.html
  feed.xml
  index.html
  sitemap.xml
Due: none

Use per platform initialize command (#565)
  .devcontainer/devcontainer.json
  .devcontainer/init.cmd
  .devcontainer/init.sh
Due: none

update footer link
  docs/_includes/footer_custom.html
Due: none

update readme and docs config
  README.md
  docs/_config.yml
Due: none

Don't remove cookies twice
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

Update twitter link on docs + readme (#570)
  README.md
  docs/_config.yml
  docs/_includes/footer_custom.html
Due: none

Don't remove cookies twice (#571)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@53d8f0803a7ef005fdca3ae8c6fa9c3483ae5cbc 🚀
  404.html
  assets/versions.txt
  docs/administer/configure/index.html
  docs/administer/index.html
  docs/administer/manage/index.html
  docs/administer/running-sql-queries/index.html
  docs/administer/security-considerations/index.html
  docs/administer/troubleshoot/index.html
  docs/administer/uninstall/index.html
  docs/administer/upgrade/index.html
  docs/authenticate/google-sso/index.html
  docs/authenticate/index.html
  docs/authenticate/okta-sso/index.html
  docs/authenticate/web-auth/index.html
  docs/deploy/clients/index.html
  docs/deploy/index.html
  docs/deploy/prerequisites/index.html
  docs/deploy/resource-requirements/index.html
  docs/deploy/server/index.html
  docs/deploy/supported-platforms/index.html
  docs/reference/configuration-file/index.html
  docs/reference/index.html
  docs/user-guides/add-devices/index.html
  docs/user-guides/add-users/index.html
  docs/user-guides/client-instructions/index.html
  docs/user-guides/firewall-rules/index.html
  docs/user-guides/index.html
  docs/user-guides/reverse-tunnel/index.html
  docs/user-guides/split-tunnel/index.html
  docs/user-guides/whitelist-vpn/index.html
  feed.xml
  index.html
Due: none

Display latest_handshakes in device views
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/admin/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
Due: mix-format, mix-lint

WIP: OIDC Auth
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .oidc_env.sample.json
  apps/fz_common/lib/fz_map.ex
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/mix.exs
  config/runtime.exs
  mix.lock
  omnibus/config/projects/firezone.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Add a map to keyword test
  apps/fz_common/test/fz_map_test.exs
Due: mix-format, mix-lint

Update devcontainer settings
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/init
Due: none

update more dev configs
  .devcontainer/Dockerfile
  .tool-versions
Due: none

Update devcontainer settings (#574)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/init
Due: none

Display latest handshake timestamp
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Move text check outside loop
  apps/fz_http/test/fz_http_web/live/device_live/admin/index_test.exs
Due: mix-format, mix-lint

update more dev configs (#575)
  .devcontainer/Dockerfile
  .tool-versions
Due: none

Remove atom creation, only atomize config fields
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

Fixing missing trailing comma https://github.com/firezone/firezone/pull/573/files#r865472611
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

Remove existing atom call
  apps/fz_common/lib/fz_map.ex
Due: mix-format, mix-lint, mix-compile

Conditionally run openid_connect, remove debug Logger
  apps/fz_http/lib/fz_http/application.ex
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

Clean up and comments
  apps/fz_http/lib/fz_http/application.ex
  config/runtime.exs
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Sync runtime versions with .tool-versions
  .github/workflows/ci.yml
Due: none
