Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

Remove broken link in docs (#1253)
  docs/docs/reference/configuration-file.mdx
Due: none

Update rec in troubleshooting too
  docs/docs/administer/troubleshoot.mdx
  docs/docs/authenticate/local-auth.mdx
Due: none

Update recommendations for local authentication (#1252)
  docs/docs/administer/troubleshoot.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/local-auth.mdx
  docs/docs/deploy/security-considerations.mdx
Due: none

Refactor SAML/OIDC configs into embedded schemas
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/configurations/configuration.ex
  apps/fz_http/lib/fz_http/configurations/configuration/openid_connect_provider.ex
  apps/fz_http/lib/fz_http/configurations/configuration/saml_identity_provider.ex
  apps/fz_http/lib/fz_http/configurations/html_safe_map.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/priv/repo/migrations/20221229154115_migrate_providers_configs.exs
  apps/fz_http/test/fz_http/devices/device/query_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
  apps/fz_http/test/support/fixtures/configurations_fixtures.ex
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/test.exs
  mix.lock
Due: mix-compile, mix-lint, mix-analysis

Fix Configuration embedded as a changeset
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/oidc/helpers.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/test/support/fixtures/configurations_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Use string keys
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/oidc/helpers.ex
  mix.lock
Due: mix-compile, mix-lint, mix-analysis

Don't match
  apps/fz_http/lib/fz_http/configurations.ex
Due: mix-compile, mix-lint, mix-analysis

Fix auth test
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
Due: mix-lint, mix-analysis

Fix remaining tests
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
Due: mix-lint, mix-analysis

Replace npm with yarn
  Dockerfile.dev
  Dockerfile.prod
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/yarn.lock
  omnibus/config/software/firezone.rb
Due: rubocop

Don't assume PostHog is available
  docs/src/components/InstallBlock/index.js
Due: none

Install yarn with npm
  .github/workflows/omnibus_build.yml
Due: none

Don't assume PostHog is available (#1258)
  docs/src/components/InstallBlock/index.js
Due: none

[Supercedes #1255] Replace npm with yarn (#1256)
  .github/workflows/omnibus_build.yml
  Dockerfile.dev
  Dockerfile.prod
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/yarn.lock
  omnibus/config/software/firezone.rb
Due: rubocop

Fix asserts -> assets typo
  Dockerfile.dev
Due: none

Fix asserts -> assets typo (#1259)
  Dockerfile.dev
Due: none

Expose some http client ssl opts via HTTP_CLIENT_SSL_OPTS
  apps/fz_common/lib/fz_common.ex
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
  apps/fz_http/test/support/mocks/http_client.ex
  config/config.exs
  config/runtime.exs
  docs/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Allow running Firezone in a non-root directory
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/controllers/browser_controller.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/plug/path_prefix.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/browser/browserconfig.xml.eex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/email.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/unprivileged.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/head.html.heex
  apps/fz_http/lib/fz_http_web/views/browser_view.ex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  apps/fz_http/priv/static/browserconfig.xml
  apps/fz_http/test/fz_http_web/controllers/browser_controller_test.exs
  apps/fz_http/test/fz_http_web/plug/path_prefix_test.exs
  apps/fz_http/test/support/conn_case.ex
  config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

chore: move gateway setup to `test_helpers.ex` to avoid repetition.
  apps/fz_http/test/fz_http/allow_rules_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/queries_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/allow_rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
  apps/fz_http/test/test_helper.exs
  config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

chore: re-add rule endpoint to send error message
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

chore: remove unused import
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
Due: mix-compile, mix-lint, mix-analysis

chore: make credo happy
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

chore: remove unnecesary conditional
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: none

chore: hide secret token logging
  config/config.exs
Due: mix-lint, mix-analysis

chore: delete outdated comment
  apps/fz_http/lib/fz_http_web/controllers/auth_gateway_controller.ex
Due: mix-compile, mix-lint, mix-analysis

Expose some http client ssl opts via HTTP_CLIENT_SSL_OPTS (#1221)
  apps/fz_common/lib/fz_common.ex
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
  apps/fz_http/test/support/mocks/http_client.ex
  config/config.exs
  config/runtime.exs
  docs/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Use www. website prefix
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

Allow running Firezone in a non-root directory (#1248)
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/controllers/browser_controller.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/plug/path_prefix.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/browser/browserconfig.xml.eex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/email.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/unprivileged.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/head.html.heex
  apps/fz_http/lib/fz_http_web/views/browser_view.ex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  apps/fz_http/priv/static/browserconfig.xml
  apps/fz_http/test/fz_http_web/controllers/browser_controller_test.exs
  apps/fz_http/test/fz_http_web/plug/path_prefix_test.exs
  apps/fz_http/test/support/conn_case.ex
  config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

Fix docs page crash
  docs/src/components/InstallBlock/index.js
Due: none

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
