Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Display latest_handshakes in device views (#572)
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/admin/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Sync runtime versions with .tool-versions (#578)
  .github/workflows/ci.yml
Due: none

Update CONTRIBUTING.md (#577)
  CONTRIBUTING.md
Due: none

Implement promote/demote feature
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
Due: mix-format, mix-lint, mix-compile

improve user fixture creation
  apps/fz_http/test/support/fixtures/users_fixtures.ex
Due: mix-format, mix-lint, mix-compile

format
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
Due: mix-format, mix-lint, mix-compile

refactor
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
Due: mix-format, mix-lint, mix-compile

add tests
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint

Cleanup and test fixes
  apps/fz_common/lib/fz_map.ex
  apps/fz_common/test/fz_map_test.exs
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

Fix existing atom issue
  config/runtime.exs
Due: mix-format, mix-lint

Mock openid wip
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  apps/fz_http/test/support/mock_openid_connect.ex
  apps/fz_http/test/test_helper.exs
  config/config.exs
  config/runtime.exs
  config/test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Mocking and more tests
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
Due: mix-format, mix-lint, mix-compile

alias
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint

Clearer mapping to OIDC config and add logs
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

Implement promote/demote feature (#569)
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/support/fixtures/users_fixtures.ex
Due: mix-format, mix-lint, mix-compile

Add OIDC configuration docs
  docs/docs/reference/configuration-file.md
Due: none

add release drafter
  .github/release-drafter.yml
  .github/workflows/draft-release.yml
Due: none

Update README.md
  README.md
Due: none

Delete ci.yml
  .github/workflows/ci.yml
Due: none

Add release drafter
  .github/release-drafter.yml
  .github/workflows/draft-release.yml
Due: none

only setup mailer if from_email is present
  config/runtime.exs
Due: mix-format, mix-lint

add mailer
  apps/fz_http/lib/fz_http/mailer.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/mix.exs
  config/prod.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

setup configs
  apps/fz_http/lib/fz_http/mailer.ex
  apps/fz_http/test/fz_http/mailer_test.exs
  config/dev.exs
  config/runtime.exs
  config/test.exs
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Do not assume OUTBOUND_EMAIL_FROM exists
  config/runtime.exs
Due: mix-format, mix-lint

update docs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

add usage of mailer as tests
  apps/fz_http/test/fz_http/mailer_test.exs
  apps/fz_http/test/fz_http/mailer_test/sample_email/test_heex.html.heex
  apps/fz_http/test/fz_http/mailer_test/sample_email/test_multipart.html.eex
  apps/fz_http/test/fz_http/mailer_test/sample_email/test_multipart.text.eex
Due: mix-format, mix-lint

Add release drafter (#581)
  .github/release-drafter.yml
  .github/workflows/draft-release.yml
Due: none

address comments
  apps/fz_http/lib/fz_http/mailer.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/mailer_test.exs
  config/runtime.exs
  mix.lock
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint, mix-compile

Implemet Outbound emails (#576)
  apps/fz_http/lib/fz_http/mailer.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/mailer_test.exs
  apps/fz_http/test/fz_http/mailer_test/sample_email/test_heex.html.heex
  apps/fz_http/test/fz_http/mailer_test/sample_email/test_multipart.html.eex
  apps/fz_http/test/fz_http/mailer_test/sample_email/test_multipart.text.eex
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
  docs/docs/reference/configuration-file.md
  mix.lock
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Match config to openid_connect expectations
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  config/config.exs
  config/runtime.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

send reset email
  apps/fz_http/assets/css/main.scss
  apps/fz_http/lib/fz_http/mailer/noop_adapter.ex
  apps/fz_http/lib/fz_http/mailer/templates/user_email/reset_password.html.heex
  apps/fz_http/lib/fz_http/mailer/user_email.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/auth/forgot_password.html.heex
  apps/fz_http/lib/fz_http_web/templates/auth/request.html.heex
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/support/test_helpers.ex
  config/config.exs
Due: mix-format, mix-lint, mix-compile

migrate password reset to magic link
  apps/fz_http/lib/fz_http/mailer/auth_email.ex
  apps/fz_http/lib/fz_http/mailer/templates/auth_email/magic_link.html.heex
  apps/fz_http/lib/fz_http/mailer/user_email.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/auth/forgot_password.html.heex
Due: mix-format, mix-lint, mix-compile

finish up magic link
  apps/fz_http/lib/fz_http/mailer/auth_email.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
