Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

disable ldbm
  omnibus/config/patches/python-gitlab/configure.patch
  omnibus/config/patches/python-gitlab/pyconfig.h.in.patch
  omnibus/config/patches/python-gitlab/readline.c.patch
  omnibus/config/patches/python-gitlab/setup.py.patch
  omnibus/config/patches/python/disable_modules.patch
  omnibus/config/software/gdbm.rb
  omnibus/config/software/python.rb
Due: none

Stick with Python 3.9
  omnibus/config/patches/python/disable_modules.patch
  omnibus/config/patches/python/disable_nis.patch
  omnibus/config/software/python.rb
Due: none

Set gdbm path in Python compile
  omnibus/config/patches/python/disable_modules.patch
  omnibus/config/software/gdbm.rb
  omnibus/config/software/python.rb
Due: none

Disable dbm altogether
  omnibus/config/patches/python/disable_modules.patch
  omnibus/config/software/gdbm.rb
  omnibus/config/software/python.rb
Due: none

Add disable comment
  omnibus/config/software/python.rb
Due: none

Fix openSUSE uninstall
  README.md
  scripts/uninstall.sh
Due: none

Use localhost over hostname
  .ci/functional_test.sh
Due: none

Rename create-admin -> create-or-reset-admin
  README.md
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/templates/session/new.html.eex
  apps/fz_http/lib/fz_http_web/views/session_view.ex
  apps/fz_http/test/fz_http/users_test.exs
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
Due: mix-format, mix-lint, mix-compile

Fix teardown logic bug
  omnibus/cookbooks/firezone/recipes/teardown.rb
Due: none

Fix peers loaded on boot
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/config.ex
  apps/fz_vpn/test/fz_vpn/config_test.exs
Due: mix-format, mix-lint, mix-compile

Fix crash from empty address
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-format, mix-lint, mix-compile

Add wireguard service
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/recipes/network.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/recipes/wireguard.rb
  omnibus/cookbooks/firezone/templates/sv-wireguard-log-run.erb
  omnibus/cookbooks/firezone/templates/sv-wireguard-run.erb
  omnibus/files/firezone-scripts/wireguard
Due: none

Fix wireguard script path
  omnibus/cookbooks/firezone/templates/sv-wireguard-run.erb
Due: none

Spruce up forwarding pattern
  omnibus/cookbooks/firezone/recipes/network.rb
Due: none

Fix DNS config not changing
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
Due: mix-format, mix-lint, mix-compile

Cover a few missing test cases
  apps/fz_http/lib/fz_http_web/controller_helpers.ex
  apps/fz_http/lib/fz_http_web/controllers/account_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/rule_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/session_controller.ex
  apps/fz_http/test/fz_http/release_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http_web/controllers/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/session_controller_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/index_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Test the events module
  .tool-versions
  apps/fz_http/lib/fz_http_web/events.ex
  apps/fz_http/test/fz_http_web/events_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/test/fz_vpn/server_test.exs
  apps/fz_wall/lib/fz_wall/server.ex
  omnibus/config/software/erlang.rb
Due: mix-format, mix-lint, mix-compile

Use new Rule for changeset
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
Due: mix-format, mix-lint, mix-compile

Remove release image in favor of pulling application_version()
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
Due: mix-format, mix-lint, mix-compile

Elixir application version
  apps/fz_common/mix.exs
  apps/fz_http/mix.exs
  apps/fz_vpn/mix.exs
  apps/fz_wall/mix.exs
  mix.exs
  version
Due: mix-format, mix-lint

Update chef and omnibus gems
  omnibus/Gemfile
  omnibus/Gemfile.lock
Due: none
