Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Fix connect opts
  config/releases.exs
Due: mix-format, mix-lint

Application loads
  config/releases.exs
  omnibus/config/software/erlang.rb
  omnibus/config/software/gawk.rb
  omnibus/config/software/ncurses.rb
Due: mix-format, mix-lint

Use firezone etc and var dirs
  omnibus/config/software/wireguard-tools.rb
Due: none

Minor changes
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/recipes/postgresql.rb
  pkg/README
Due: none

Debian 11 support
  .ci/provision/centos_7.sh
  .ci/provision/centos_8.sh
  .ci/provision/debian_11.sh
  .ci/provision/fedora_33.sh
  .ci/provision/fedora_34.sh
  .ci/provision/ubuntu_18.04.sh
  .ci/provision/ubuntu_20.04.sh
  .github/workflows/ci.yml
  Vagrantfile
Due: none

Fix CC
  .ci/provision/debian_10.sh
  .ci/provision/debian_11.sh
Due: none

Fix libtool dependency
  omnibus/config/software/libtool.rb
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/recipes/setcap.rb
Due: none

Update deps
  apps/fz_http/mix.exs
  mix.exs
  mix.lock
Due: mix-format, mix-lint

Minor fixes of breaking changes
  apps/fz_http/assets/js/app.js
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.leex
Due: none

disable nis python build
  Vagrantfile
  omnibus/config/patches/python-gitlab/configure.patch
  omnibus/config/patches/python-gitlab/pyconfig.h.in.patch
  omnibus/config/patches/python-gitlab/readline.c.patch
  omnibus/config/patches/python-gitlab/setup.py.patch
  omnibus/config/patches/python/disable_nis.patch
  omnibus/config/software/gawk.rb
  omnibus/config/software/python.rb
Due: none

Add cron to fedora
  .ci/provision/fedora_33.sh
  .ci/provision/fedora_34.sh
Due: none

Fix layout spacing, columns
  apps/fz_http/assets/js/app.js
  apps/fz_http/lib/fz_http_web/controllers/device_controller.ex
  apps/fz_http/lib/fz_http_web/live/account_live/show.html.leex
  apps/fz_http/lib/fz_http_web/live/account_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/index.html.leex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.leex
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.leex
  apps/fz_http/lib/fz_http_web/templates/device/index.html.eex
  apps/fz_http/lib/fz_http_web/templates/layout/app.html.eex
  apps/fz_http/lib/fz_http_web/templates/layout/live.html.leex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.leex
  apps/fz_http/lib/fz_http_web/templates/rule/index.html.eex
  apps/fz_http/test/fz_http_web/live/account_live/show_test.exs
Due: mix-format, mix-lint, mix-compile

Fix tests
  .env.sample
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.leex
  apps/fz_http/test/fz_http_web/live/account_live/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
  config/test.exs
Due: mix-format, mix-lint

Update npm modules
  apps/fz_http/assets/package-lock.json
Due: none

Fix a few smaller UI issues
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.leex
  apps/fz_http/lib/fz_http_web/live/session_live/new.html.leex
  apps/fz_http/lib/fz_http_web/live/session_live/new_live.ex
  apps/fz_http/lib/fz_http_web/templates/layout/auth.html.leex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.leex
Due: mix-format, mix-lint, mix-compile

Update setcap recipe to allow wg and nft commands as firezone user
  omnibus/cookbooks/firezone/recipes/setcap.rb
Due: none

Add nft_path and wg_path config options
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  config/dev.exs
  config/prod.exs
  config/releases.exs
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

passing tests
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/priv/repo/migrations/20200228154815_create_rules.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Fix debian 10 box
  Vagrantfile
Due: none

Remove wireguard-dkms from updated debian10 build
  .ci/provision/debian_10.sh
Due: none
