Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

auth method to POST
  docs/docs/authenticate/onelogin.md
Due: none

add onelogin to readme
  docs/docs/authenticate/README.md
Due: none

sidebar ordering
  docs/docs/authenticate/local-auth.md
  docs/docs/authenticate/onelogin.md
Due: none

shell -> ruby
  docs/docs/authenticate/README.md
  docs/docs/authenticate/azuread.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/okta.md
  docs/docs/authenticate/onelogin.md
Due: none

resolve review comments
  docs/docs/authenticate/README.md
  docs/docs/authenticate/azuread.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/okta.md
  docs/docs/authenticate/onelogin.md
Due: none

Enable Ruby / Elixir code highlighting
  docs/docusaurus.config.js
  docs/package-lock.json
Due: none

remove disabling proxy_forwarded option for prod
  config/prod.exs
  config/runtime.exs
  docs/docs/deploy/reverse-proxies/README.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint

Enable Ruby / Elixir code highlighting (#832)
  docs/docusaurus.config.js
  docs/package-lock.json
Due: none

rename, improve docs and add clients config
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
  config/runtime.exs
  docs/docs/deploy/reverse-proxies/README.md
  docs/docs/deploy/reverse-proxies/traefik.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Add telemetry
  docs/docusaurus.config.js
  docs/static/js/posthog.js
Due: none

change dev_secure to secure_cookies
  config/runtime.exs
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint

Add telemetry (#834)
  docs/docusaurus.config.js
  docs/static/js/posthog.js
Due: none

Set proxy_forwarded as true by default
  config/config.exs
  config/runtime.exs
Due: mix-format, mix-lint

remove proxy_forwarded in favor of nil trusted_proxies
  .env.sample
  CONTRIBUTING.md
  apps/fz_common/lib/fz_string.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  config/config.exs
  config/prod.exs
  config/runtime.exs
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint, mix-compile

renaming and doc improvement
  .env.sample
  apps/fz_common/lib/fz_string.ex
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
  config/runtime.exs
  docs/docs/deploy/reverse-proxies/README.md
  docs/docs/deploy/reverse-proxies/traefik.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

build fix
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

Add onelogin to authentication docs (#829)
  docs/docs/authenticate/README.md
  docs/docs/authenticate/azuread.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/local-auth.md
  docs/docs/authenticate/okta.md
  docs/docs/authenticate/onelogin.md
  docs/docusaurus.config.js
Due: none

WIP document telemetry [no ci]
  docs/docs/reference/_telemetry.md
Due: none

add telemetry doc
  docs/docs/reference/_telemetry.md
  docs/docs/reference/telemetry.md
Due: none

Telemetry timeouts
  apps/fz_common/lib/telemetry.ex
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
  scripts/install.sh
Due: mix-format, mix-lint, mix-compile

Move auth configs into app (#812)
  .credo.exs
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/conf/html_safe_map.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/device_view.ex
  apps/fz_http/mix.exs
  apps/fz_http/priv/repo/migrations/20220719014442_add_auth_configs.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/support/test_helpers.ex
  config/runtime.exs
  config/test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Telemetry timeouts (#836)
  apps/fz_common/lib/telemetry.ex
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
  scripts/install.sh
Due: mix-format, mix-lint, mix-compile

jamilbk changes
  .env.sample
  CONTRIBUTING.md
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/lib/fz_string.ex
  apps/fz_common/test/fz_string_test.exs
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
  config/config.exs
  config/dev.exs
  config/runtime.exs
  docs/docs/deploy/reverse-proxies/README.md
  docs/docs/deploy/reverse-proxies/apache.md
  docs/docs/deploy/reverse-proxies/traefik.md
  docs/docs/reference/configuration-file.md
  dummy
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Due: mix-format, mix-lint, mix-compile

Update docs/docs/reference/telemetry.md
  docs/docs/reference/telemetry.md
Due: none

Better document telemetry (#658)
  docs/docs/reference/telemetry.md
Due: none

Build/729/different reverse proxy (#795)
  .env.sample
  CONTRIBUTING.md
  apps/fz_common/lib/fz_net.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
  apps/fz_http/mix.exs
  config/config.exs
  config/dev.exs
  config/runtime.exs
  docs/docs/deploy/reverse-proxies/README.md
  docs/docs/deploy/reverse-proxies/apache.md
  docs/docs/deploy/reverse-proxies/haproxy.md
  docs/docs/deploy/reverse-proxies/traefik.md
  docs/docs/reference/configuration-file.md
  dummy
  mix.lock
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: mix-format, mix-lint, mix-compile

revert removing the x-forwarded-for header
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
Due: mix-format, mix-lint, mix-compile

Clean up remote_ip headers
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
Due: mix-format, mix-lint, mix-compile

add user id to rules (#722)
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Bump chef client in firezone cookbooks Gemfile to 17.10.0 (#755)
  omnibus/cookbooks/firezone/Gemfile
Due: none

Update rules UI to include optional user scope (#764)
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/support/test_helpers.ex
  docs/docs/user-guides/firewall-rules.md
Due: mix-format, mix-lint, mix-compile

Bump nodejs to 16 lts (#772)
  .tool-versions
  omnibus/config/software/nodejs.rb
Due: none

Replaces nftables rule management to use sets (#766)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Add redirect routes for oidc signin links by provider (#770)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  docs/docs/authenticate/index.md
Due: mix-format, mix-lint, mix-compile

fix build (#778)
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/events_test.exs
Due: mix-format, mix-lint, mix-compile

wait 10
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
Due: mix-format, mix-lint

Improve user vpn connection status ui (#784)
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_status_component.ex
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/vpn_status_component_test.exs
  docs/docs/authenticate/README.md
Due: mix-format, mix-lint, mix-compile

Update egress rules user guide with user scope ui (#782)
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  docs/docs/user-guides/egress-rules.md
Due: none
