Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

Fix large number formatting
  apps/domain/lib/domain/relays/relay/changeset.ex
Due: mix-compile, mix-lint, mix-analysis

Fix seeds
  apps/domain/priv/repo/seeds.exs
Due: mix-lint, mix-analysis

Fix dupe Gateways
  apps/web/lib/web/live/gateways_live/index.ex
Due: mix-compile, mix-lint, mix-analysis

Make dialyzer happy
  apps/api/lib/api/client/channel.ex
  apps/api/lib/api/client/socket.ex
  apps/domain/lib/domain/auth.ex
  apps/domain/lib/domain/relays.ex
Due: mix-compile, mix-lint, mix-analysis

Only need IPv4 address in ctor
  rust/relay/src/main.rs
  rust/relay/src/server.rs
Due: none

Fix log to have correct target
  rust/relay/src/server.rs
Due: none

Drop log level to trace for incoming and outgoing messages
  rust/relay/src/server.rs
Due: none

Increase disconnect assert timeout
  apps/api/test/api/client/channel_test.exs
Due: mix-lint, mix-analysis

Fix failing tests
  apps/api/lib/api/client/channel.ex
  apps/api/lib/api/client/socket.ex
  apps/api/test/api/client/channel_test.exs
  apps/api/test/api/client/socket_test.exs
Due: mix-compile, mix-lint, mix-analysis

Send init message to relays
  apps/api/lib/api/relay/channel.ex
  apps/api/test/api/relay/channel_test.exs
Due: mix-compile, mix-lint, mix-analysis

Fix asset building in dockerfiles
  Dockerfile.dev
  Dockerfile.prod
Due: none

Fix typo
  Dockerfile.prod
Due: none

Fix web dev container version to be compatible with Elixir.Version
  .github/workflows/test.yml
Due: none

Add examples for a basic test
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/examples/client.rs
  rust/relay/examples/gateway.rs
  rust/relay/src/server.rs
Due: none

Consolidate <.label>s; Add <.section_header>s
  apps/web/lib/web/components/core_components.ex
  apps/web/lib/web/live/devices_live/index.ex
  apps/web/lib/web/live/devices_live/show.ex
  apps/web/lib/web/live/gateways_live/index.ex
  apps/web/lib/web/live/gateways_live/new.ex
  apps/web/lib/web/live/groups_live/edit.ex
  apps/web/lib/web/live/groups_live/index.ex
  apps/web/lib/web/live/groups_live/new.ex
  apps/web/lib/web/live/users_live/edit.ex
  apps/web/lib/web/live/users_live/index.ex
  apps/web/lib/web/live/users_live/new.ex
  apps/web/lib/web/router.ex
Due: mix-compile, mix-lint, mix-analysis

Add <.button_group>
  apps/web/lib/web/components/core_components.ex
  apps/web/lib/web/live/devices_live/index.ex
  apps/web/lib/web/live/gateways_live/index.ex
  apps/web/lib/web/live/gateways_live/new.ex
Due: mix-compile, mix-lint, mix-analysis

Add <.tabs>
  apps/web/lib/web/components/core_components.ex
  apps/web/lib/web/live/gateways_live/new.ex
Due: mix-compile, mix-lint, mix-analysis

Add basic regression test
  rust/relay/run_smoke_test.sh
  rust/relay/src/server.rs
  rust/relay/tests/regression.rs
Due: none

Fix logging and add sleep to gateway
  rust/relay/examples/gateway.rs
  rust/relay/run_smoke_test.sh
Due: none

Fix regression tests
  rust/relay/src/lib.rs
  rust/relay/src/server.rs
  rust/relay/tests/regression.rs
Due: none

Make log a warn
  rust/relay/src/server.rs
Due: none

Fix clippy warnings
  rust/relay/src/server.rs
Due: none

Change CI to test cross-compilation separately
  .github/workflows/rust.yml
  rust/.cargo/config.toml
  rust/relay/run_smoke_test.sh
  rust/rust-toolchain.toml
Due: none

relay: create channel bindings and relay data (#1618)
  .github/workflows/rust.yml
  rust/.cargo/config.toml
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/examples/client.rs
  rust/relay/examples/gateway.rs
  rust/relay/run_smoke_test.sh
  rust/relay/src/lib.rs
  rust/relay/src/main.rs
  rust/relay/src/rfc8656.rs
  rust/relay/src/server.rs
  rust/relay/src/server/channel_data.rs
  rust/relay/src/stun_codec_ext.rs
  rust/relay/src/udp_socket.rs
  rust/relay/tests/regression.rs
  rust/rust-toolchain.toml
Due: none

Tidy up and fix minor view bugs for views built so far
  .codespellrc
  apps/web/lib/web/components/core_components.ex
  apps/web/lib/web/live/devices_live/show.ex
  apps/web/lib/web/live/gateways_live/edit.ex
  apps/web/lib/web/live/gateways_live/index.ex
  apps/web/lib/web/live/gateways_live/new.ex
  apps/web/lib/web/live/gateways_live/show.ex
  apps/web/lib/web/live/groups_live/edit.ex
  apps/web/lib/web/live/groups_live/show.ex
  apps/web/lib/web/live/resources_live/index.ex
  apps/web/lib/web/live/resources_live/new.ex
  apps/web/lib/web/live/users_live/edit.ex
  apps/web/lib/web/live/users_live/new.ex
  apps/web/lib/web/live/users_live/show.ex
  apps/web/lib/web/router.ex
Due: mix-compile, mix-lint, mix-analysis

Change test server port to 14000
  apps/domain/test/domain/config/validator_test.exs
  apps/web/test/web/controllers/page_controller_test.exs
  config/test.exs
Due: mix-lint, mix-analysis

Fix minor bugs and tidy up existing work on new views (#1628)
  .codespellrc
  apps/domain/test/domain/config/validator_test.exs
  apps/web/lib/web/components/core_components.ex
  apps/web/lib/web/live/devices_live/show.ex
  apps/web/lib/web/live/gateways_live/edit.ex
  apps/web/lib/web/live/gateways_live/index.ex
  apps/web/lib/web/live/gateways_live/new.ex
  apps/web/lib/web/live/gateways_live/show.ex
  apps/web/lib/web/live/groups_live/edit.ex
  apps/web/lib/web/live/groups_live/show.ex
  apps/web/lib/web/live/resources_live/index.ex
  apps/web/lib/web/live/resources_live/new.ex
  apps/web/lib/web/live/users_live/edit.ex
  apps/web/lib/web/live/users_live/new.ex
  apps/web/lib/web/live/users_live/show.ex
  apps/web/lib/web/router.ex
  apps/web/test/web/controllers/page_controller_test.exs
  config/test.exs
Due: mix-compile, mix-lint, mix-analysis

Remove role field and user actor type instead, and rename roles
  apps/api/test/api/client/channel_test.exs
  apps/api/test/api/gateway/channel_test.exs
  apps/domain/lib/domain/actors.ex
  apps/domain/lib/domain/actors/actor.ex
  apps/domain/lib/domain/actors/actor/changeset.ex
  apps/domain/lib/domain/actors/actor/query.ex
  apps/domain/lib/domain/actors/authorizer.ex
  apps/domain/lib/domain/auth.ex
  apps/domain/lib/domain/auth/authorizer.ex
  apps/domain/lib/domain/auth/roles.ex
  apps/domain/lib/domain/clients/authorizer.ex
  apps/domain/lib/domain/config/authorizer.ex
  apps/domain/lib/domain/gateways/authorizer.ex
  apps/domain/lib/domain/relays/authorizer.ex
  apps/domain/lib/domain/release.ex
  apps/domain/lib/domain/resources/authorizer.ex
  apps/domain/lib/domain/telemetry.ex
  apps/domain/priv/repo/migrations/20230523012008_remove_actors_role.exs
  apps/domain/priv/repo/seeds.exs
  apps/domain/test/domain/actors_test.exs
  apps/domain/test/domain/auth/oidc/refresher_test.exs
  apps/domain/test/domain/auth_test.exs
  apps/domain/test/domain/clients_test.exs
  apps/domain/test/domain/gateways_test.exs
  apps/domain/test/domain/relays_test.exs
  apps/domain/test/domain/release_test.exs
  apps/domain/test/domain/resources_test.exs
  apps/domain/test/support/fixtures/actors_fixtures.ex
  apps/domain/test/support/fixtures/auth_fixtures.ex
  apps/domain/test/support/fixtures/clients_fixtures.ex
  apps/domain/test/support/fixtures/gateways_fixtures.ex
  apps/domain/test/support/fixtures/relays_fixtures.ex
  apps/domain/test/support/fixtures/resources_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Drop API tokens and add Token
  apps/domain/lib/domain/api_tokens.ex
  apps/domain/lib/domain/api_tokens/api_token.ex
  apps/domain/lib/domain/api_tokens/api_token/changeset.ex
  apps/domain/lib/domain/api_tokens/api_token/query.ex
  apps/domain/lib/domain/api_tokens/authorizer.ex
  apps/domain/lib/domain/auth.ex
  apps/domain/lib/domain/auth/adapters.ex
  apps/domain/lib/domain/auth/adapters/email.ex
  apps/domain/lib/domain/auth/adapters/token.ex
  apps/domain/lib/domain/auth/adapters/token/state.ex
  apps/domain/lib/domain/auth/adapters/token/state/changeset.ex
  apps/domain/lib/domain/auth/provider.ex
  apps/domain/lib/domain/auth/roles.ex
  apps/domain/lib/domain/changeset.ex
  apps/domain/lib/domain/validator.ex
  apps/domain/priv/repo/migrations/20230519192732_drop_api_tokens.exs
  apps/domain/test/domain/api_tokens_test.exs
  apps/domain/test/domain/auth/adapters/email_test.exs
  apps/domain/test/domain/auth/adapters/openid_connect_test.exs
  apps/domain/test/domain/auth/adapters/token_test.exs
  apps/domain/test/domain/auth_test.exs
  apps/domain/test/support/fixtures/api_tokens_fixtures.ex
  apps/domain/test/support/fixtures/auth_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Fix CI for web app
  .github/workflows/test.yml
  apps/web/mix.exs
Due: mix-lint, mix-analysis

Fix tests
  apps/web/test/web/controllers/browser_controller_test.exs
  apps/web/test/web/controllers/page_controller_test.exs
Due: mix-lint, mix-analysis

Fix prod Dockerfile to compile new assets
  Dockerfile.prod
Due: none

Create `ChannelData` new type
  rust/relay/src/server.rs
  rust/relay/src/server/channel_data.rs
Due: none

Use io::Error for channel data and make functions public
  rust/relay/src/server/channel_data.rs
Due: none

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
