Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

remove check-update
  .github/workflows/update_deps.yml
Due: none

Update update_deps.yml
  .github/workflows/update_deps.yml
Due: none

Install deps
  .github/workflows/ci.yml
Due: none

add rust to .tool-versions, add map for config in wireguard_nif::set
  .tool-versions
  apps/fz_vpn/lib/fz_vpn/wireguard_bridge.ex
  apps/fz_vpn/native/wireguard_nif/src/lib.rs
Due: mix-format, mix-lint, mix-compile

fix libclang ci error
  .github/workflows/ci.yml
Due: none

add clang dependency
  .github/workflows/update_deps.yml
Due: none

fix elixir lint in wireguard_bridge
  apps/fz_vpn/lib/fz_vpn/wireguard_bridge.ex
Due: mix-format, mix-lint, mix-compile

add asdf install for rust
  .github/workflows/ci.yml
Due: none

really add the rust asdf plugin
  .github/workflows/ci.yml
Due: none

remove deps updates, make a separate pr for them into master
  .github/workflows/update_deps.yml
Due: none

add clang to get dependencies for building rust code
  .github/workflows/update_deps.yml
Due: none

extract component
  apps/fz_http/lib/fz_http_web/live/user_live/allowed_to_connect_component.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index_live.ex
Due: mix-format, mix-lint, mix-compile

replace libclang to use clang package instead for unit-test & static-analysis
  .github/workflows/ci.yml
Due: none

prevent changing admin's connection permission
  apps/fz_http/lib/fz_http_web/live/user_live/allowed_to_connect_component.ex
Due: mix-format, mix-lint, mix-compile

add to show as well
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
Due: none

add clang to get dependencies for building rust code (#639)
  .github/workflows/update_deps.yml
Due: none

woops, didn't meant to switch this one, got carried away :/
  .github/workflows/ci.yml
Due: none

switch back to libclang-dev for ubuntu/debian
  .github/workflows/update_deps.yml
Due: none

remove plugin-add for rust
  .github/workflows/ci.yml
Due: none

show connections
  apps/fz_http/lib/fz_http/oidc.ex
  apps/fz_http/lib/fz_http/oidc/refresh_manager.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/oidc_connections_table.html.heex
Due: mix-format, mix-lint, mix-compile

hide oidc connections section if nothing is there
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
Due: none

add test
  apps/fz_http/test/fz_http_web/live/user_live/allowed_to_connect_component_test.exs
Due: mix-format, mix-lint

leave site id out for now
  apps/fz_http/lib/fz_http/oidc.ex
  apps/fz_http/lib/fz_http/oidc/connection.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/priv/repo/migrations/20220519034545_create_oidc_connections.exs
Due: mix-format, mix-lint, mix-compile

move delay randomization to manager
  apps/fz_http/lib/fz_http/oidc/refresh_manager.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
Due: mix-format, mix-lint, mix-compile

add test
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/test/fz_http/oidc/refresher_test.exs
  apps/fz_http/test/support/mock_openid_connect.ex
Due: mix-format, mix-lint, mix-compile

Update README.md
  docs/README.md
Due: none

Split rust compilation from elixir compilation
  .github/workflows/ci.yml
  apps/fz_vpn/lib/fz_vpn/wireguard_bridge.ex
  config/config.exs
  config/prod.exs
Due: mix-format, mix-lint, mix-compile

Compile, dir change
  .github/workflows/ci.yml
Due: none

d'oh remove tree
  .github/workflows/ci.yml
Due: none

Add rustler dependency to fz_vpn & stub out Wireguard NIF
  apps/fz_vpn/.gitignore
  apps/fz_vpn/lib/fz_vpn/cli/wireguard.ex
  apps/fz_vpn/mix.exs
  apps/fz_vpn/native/wireguard_nif/.cargo/config
  apps/fz_vpn/native/wireguard_nif/.gitignore
  apps/fz_vpn/native/wireguard_nif/Cargo.lock
  apps/fz_vpn/native/wireguard_nif/Cargo.toml
  apps/fz_vpn/native/wireguard_nif/src/lib.rs
  mix.lock
Due: mix-format, mix-lint, mix-compile

add doc to wireguard module & move up a level from cli
  apps/fz_vpn/lib/fz_vpn/wireguard.ex
  apps/fz_vpn/native/wireguard_nif/src/lib.rs
Due: mix-format, mix-lint, mix-compile
