Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Support `end_session_uri`, custom `redirect_uri` and PKCE (#1110)
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/conf/oidc_config.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/lib/fz_http/validators/openid_connect.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/oauth/pkce.ex
  apps/fz_http/lib/fz_http_web/oidc/helpers.ex
  apps/fz_http/lib/fz_http_web/oidc/state.ex
  apps/fz_http/test/fz_http/release_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/support/conn_case.ex
  apps/fz_http/test/support/fixtures/oidc_config_fixtures.ex
  apps/fz_http/test/support/mocks/http_client.ex
  apps/fz_http/test/support/mocks/openid_connect.ex
  config/dev.exs
  config/test.exs
  docker-compose.yml
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/oidc/okta.mdx
  mix.lock
Due: mix-format, mix-lint, mix-compile

Update esaml to properly parse signed assertions
  apps/fz_http/lib/fz_http/conf/saml_config.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/mix.exs
  config/config.exs
  config/runtime.exs
  docs/docs/administer/regen-keys.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/reference/env-vars.mdx
  docs/docs/reference/reverse-proxy-templates/traefik.mdx
  mix.lock
Due: mix-format, mix-lint, mix-compile

Add Jumpcloud SAML doc
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
Due: mix-format, mix-lint, mix-compile

Add required fields to config
  apps/fz_http/lib/fz_http/conf/saml_config.ex
Due: mix-format, mix-lint, mix-compile

Fix typo
  docs/docs/authenticate/saml/jumpcloud.mdx
Due: none

Formatting
  docs/docs/authenticate/saml/jumpcloud.mdx
Due: none

Minor fixes
  docs/docs/authenticate/saml/jumpcloud.mdx
Due: none

More clarifying
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

yet more typo fixes
  docs/docs/authenticate/saml/jumpcloud.mdx
Due: none

Fix test
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-format, mix-lint

Update esaml to properly parse signed assertions (#1113)
  apps/fz_http/lib/fz_http/conf/saml_config.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  config/config.exs
  config/runtime.exs
  docs/docs/administer/regen-keys.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/reference/env-vars.mdx
  docs/docs/reference/reverse-proxy-templates/traefik.mdx
  mix.lock
Due: mix-format, mix-lint, mix-compile

Allow pgcrypto extension to preexist
  apps/fz_http/priv/repo/migrations/20220124162404_add_uuids.exs
Due: mix-format, mix-lint

Allow pgcrypto extension to preexist (#1114)
  apps/fz_http/priv/repo/migrations/20220124162404_add_uuids.exs
Due: mix-format, mix-lint

chore: add conventional-commits
  .pre-commit-config.yaml
Due: none

chore: add conventional-commits
  .github/release-drafter.yml
  .pre-commit-config.yaml
Due: none

Use branch for conventional commits
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr_labeler.yml
  .pre-commit-config.yaml
Due: none

Remove dupe workflow :hammer:
  .github/workflows/pr-labeler.yml
Due: none

Conventional Commits (#1116)
  .github/pr-labeler.yml
  .github/workflows/pr_labeler.yml
  .pre-commit-config.yaml
Due: none

Update Phoenix to 1.7.0-rc.0
  .pre-commit-config.yaml
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/templates/layout/app.html.heex
  apps/fz_http/mix.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Should maybe compile without warnings now
  .formatter.exs
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/mix.exs
  mix.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

step 1: verified routes
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/test/support/conn_case.ex
Due: mix-format, mix-lint, mix-compile

Fix typos
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/user_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint, mix-compile

Allow btree_gist extension to preexist
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
Due: mix-format, mix-lint

Formatter not working\?
  apps/fz_common/.formatter.exs
  apps/fz_http/.formatter.exs
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/authentication/error_handler.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_mfa.ex
  apps/fz_http/priv/repo/migrations/.formatter.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_vpn/.formatter.exs
  apps/fz_wall/.formatter.exs
  config/dev.exs
Due: mix-format, mix-lint, mix-compile

Fix formatter
  .pre-commit-config.yaml
Due: none

Allow btree_gist extension to preexist (#1122)
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
Due: mix-format, mix-lint

Add missing LOCAL_AUTH_ENABLED config
  docs/docs/reference/env-vars.mdx
Due: none

Fix intermittent assert_{patched,redirected} failures
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint

Split into two
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
Due: none
