Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

Add missing exporter dep
  elixir/apps/domain/mix.exs
Due: mix-lint, mix-analysis

Add missing dep
  elixir/apps/web/mix.exs
Due: mix-lint, mix-analysis

Add DB RAM alerts
  terraform/environments/staging/health.tf
Due: none

Fix fetch resource by id permission
  elixir/apps/domain/lib/domain/resources.ex
  elixir/apps/domain/test/domain/resources_test.exs
Due: mix-compile, mix-lint, mix-analysis

Push updated mix lock
  elixir/mix.lock
Due: none

Configure email delivery
  terraform/environments/staging/dns.tf
  terraform/environments/staging/main.tf
  terraform/environments/staging/variables.tf
  terraform/environments/staging/versions.auto.tfvars
  terraform/modules/elixir-app/cloudinit.yaml
  terraform/modules/elixir-app/main.tf
Due: none

Added resource IDs in list_relays request
  elixir/apps/api/lib/api/device/channel.ex
  elixir/apps/api/test/api/device/channel_test.exs
Due: mix-compile, mix-lint, mix-analysis

Configure outbound emails and setup NAT/firewall for egress traffic
  docker-compose.yml
  terraform/environments/staging/health.tf
  terraform/environments/staging/nat.tf
  terraform/modules/elixir-app/main.tf
  terraform/modules/google-cloud-vpc/outputs.tf
Due: none

Fix expires_at assign issue
  elixir/apps/api/lib/api/device/channel.ex
  elixir/apps/api/test/api/device/channel_test.exs
Due: mix-compile, mix-lint, mix-analysis

Set correct outbound email in local env
  docker-compose.yml
Due: none

Try to fix CI step
  .github/workflows/static_analysis.yml
  .pre-commit-config.yaml
Due: none

Bump to Rust version 1.70.0
  rust/rust-toolchain.toml
Due: none

Add test for password generated from elixir implementation
  rust/relay/src/auth.rs
Due: none

Remove unused import
  rust/relay/src/auth.rs
Due: none

relay: implement authentication (#1641)
  .github/workflows/rust.yml
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/README.md
  rust/relay/examples/client.rs
  rust/relay/examples/gateway.rs
  rust/relay/run_smoke_test.sh
  rust/relay/src/auth.rs
  rust/relay/src/lib.rs
  rust/relay/src/main.rs
  rust/relay/src/proptest.rs
  rust/relay/src/server.rs
  rust/relay/src/server/channel_data.rs
  rust/relay/src/server/client_message.rs
  rust/relay/src/sleep.rs
  rust/relay/src/stun_codec_ext.rs
  rust/relay/src/time_events.rs
  rust/relay/tests/regression.rs
Due: none

Always run Elixir CI checks when code in main branch changed
  .github/workflows/elixir.yml
Due: none

Remove Elixir checks from pre-commit hook and rename CI step that runs it
  .github/workflows/pre_commit.yml
  .github/workflows/static_analysis.yml
  .pre-commit-config.yaml
Due: none

Fix typos
  elixir/apps/domain/test/domain/cluster/google_compute_labels_strategy_test.exs
  elixir/config/prod.exs
  terraform/environments/staging/main.tf
Due: mix-lint, mix-analysis

Run pre-commit CI step on all PRs
  .github/workflows/pre_commit.yml
Due: none

Add newlines in the end of files
  .terraformignore
  elixir/apps/web/assets/css/app.css
  terraform/.gitignore
Due: none

Fix race-condition tests
  elixir/apps/domain/lib/domain/actors/actor/query.ex
  elixir/apps/domain/test/domain/actors_test.exs
  elixir/apps/domain/test/domain/auth_test.exs
Due: mix-compile, mix-lint, mix-analysis

Add resource name and type to API responses
  elixir/apps/api/lib/api/device/views/resource.ex
  elixir/apps/api/lib/api/gateway/views/resource.ex
  elixir/apps/api/test/api/device/channel_test.exs
  elixir/apps/api/test/api/gateway/channel_test.exs
  elixir/apps/domain/lib/domain/network.ex
  elixir/apps/domain/lib/domain/resources.ex
  elixir/apps/domain/lib/domain/resources/resource.ex
  elixir/apps/domain/lib/domain/resources/resource/changeset.ex
  elixir/apps/domain/lib/domain/types/cidr.ex
  elixir/apps/domain/lib/domain/validator.ex
  elixir/apps/domain/priv/repo/migrations/20230607175947_add_resources_type.exs
  elixir/apps/domain/test/domain/resources_test.exs
  elixir/apps/domain/test/support/fixtures/resources_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Fix turn/stun formatting for ipv6
  elixir/apps/api/lib/api/device/views/relay.ex
  elixir/apps/api/test/api/device/channel_test.exs
  elixir/apps/api/test/api/gateway/channel_test.exs
Due: mix-compile, mix-lint, mix-analysis

Make sure cidr address exclusion is on per account basis
  elixir/apps/domain/test/domain/resources_test.exs
Due: mix-lint, mix-analysis

Fix seeds
  elixir/apps/domain/priv/repo/seeds.exs
Due: mix-lint, mix-analysis

Add resource type and expose it in WS API along with name (#1649)
  elixir/apps/api/lib/api/device/views/relay.ex
  elixir/apps/api/lib/api/device/views/resource.ex
  elixir/apps/api/lib/api/gateway/views/resource.ex
  elixir/apps/api/test/api/device/channel_test.exs
  elixir/apps/api/test/api/gateway/channel_test.exs
  elixir/apps/domain/lib/domain/actors/actor/query.ex
  elixir/apps/domain/lib/domain/network.ex
  elixir/apps/domain/lib/domain/resources.ex
  elixir/apps/domain/lib/domain/resources/resource.ex
  elixir/apps/domain/lib/domain/resources/resource/changeset.ex
  elixir/apps/domain/lib/domain/types/cidr.ex
  elixir/apps/domain/lib/domain/validator.ex
  elixir/apps/domain/priv/repo/migrations/20230607175947_add_resources_type.exs
  elixir/apps/domain/priv/repo/seeds.exs
  elixir/apps/domain/test/domain/actors_test.exs
  elixir/apps/domain/test/domain/auth_test.exs
  elixir/apps/domain/test/domain/resources_test.exs
  elixir/apps/domain/test/support/fixtures/resources_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Normalize CIDR resource addresses
  elixir/apps/domain/lib/domain/resources/resource/changeset.ex
  elixir/apps/domain/lib/domain/validator.ex
  elixir/apps/domain/test/domain/resources_test.exs
Due: mix-compile, mix-lint, mix-analysis

Remove outdated TODO
  elixir/apps/domain/lib/domain/resources.ex
Due: mix-compile, mix-lint, mix-analysis

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
