Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

use x-forwarded-for in addition to x-real-ip (#785)
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

Use toggle for vpn connection permission (#787)
  apps/fz_http/assets/package-lock.json
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
Due: mix-format, mix-lint, mix-compile

Rebase onto master
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

Remove `nodejs` and `python` from build (#796)
  .github/workflows/build.yml
  omnibus/config/software/firezone.rb
  omnibus/config/software/nodejs.rb
  omnibus/config/software/python.rb
Due: none

Acme support (#779)
  config/config.exs
  docs/docs/administer/manage.md
  docs/docs/authenticate/README.md
  docs/docs/deploy/install-server.md
  docs/docs/deploy/prerequisites.md
  docs/docs/reference/configuration-file.md
  omnibus/config/software/acme.rb
  omnibus/config/software/nginx.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/config.rb
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/recipes/force_renewal.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/recipes/stop_renewal.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
  scripts/uninstall.sh
Due: mix-format, mix-lint

Remove pre-configured Okta & Google OAuth providers (#793)
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
  docs/docs/administer/upgrade.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/okta.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
Due: mix-format, mix-lint, mix-compile

Docker DEV (#737)
  .devcontainer/Caddyfile
  .dockerignore
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  apps/fz_http/priv/repo/seeds.exs
  docker-compose.yml
  scripts/dev_start.sh
  scripts/post-down-wg.sh
  scripts/post-up-wg.sh
Due: mix-format, mix-lint

Implement PKCE (#789)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-format, mix-lint, mix-compile

Remove elixir/erlang from prod build (#799)
  .github/workflows/build.yml
  Gemfile.lock
  omnibus/Gemfile.lock
  omnibus/config/software/elixir.rb
  omnibus/config/software/erlang.rb
  omnibus/config/software/firezone.rb
Due: none

Remove old interface when changing names (#805)
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/recipes/default.rb
Due: none

Add telemetry data to the ping event (#801)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/test/fz_http/telemetry_test.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Logo Customization (#800)
  .credo.exs
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/live/logo_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/priv/repo/migrations/20220713050742_create_configurations.exs
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint, mix-compile

Use to_atom/1 for some ssl_opts keys (#806)
  config/runtime.exs
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint

Docker dev polish (#803)
  .devcontainer/Caddyfile
  .devcontainer/README.md
  .devcontainer/wg0.client.conf
  CONTRIBUTING.md
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/shared_validators.ex
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  config/config.exs
  config/dev.exs
  docker-compose.yml
  priv/wg_dev_private_key
  scripts/bootstrap_firezone_dev.sql
  scripts/dev_start.sh
Due: mix-format, mix-lint, mix-compile

Fix endpoint typo
  apps/fz_http/priv/repo/seeds.exs
Due: mix-format, mix-lint

Add sample users/devices (#802)
  apps/fz_http/priv/repo/seeds.exs
Due: mix-format, mix-lint

Fix linter error
  docs/docs/deploy/install-server.md
Due: none

Fix nil device error for stats push service and use live WireGuard adapter in dev. (#825)
  .env.sample
  apps/fz_vpn/lib/fz_vpn/application.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Fix handling invalid client reason (#828)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

NFTables fixes (#804)
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  docs/docs/administer/upgrade.md
  dummy
  omnibus/config/software/libnftnl.rb
  omnibus/config/software/nftables.rb
Due: mix-format, mix-lint, mix-compile

Only handle interface change on changes (#811)
  omnibus/cookbooks/firezone/recipes/default.rb
Due: none

Guard tput calls for errors from CI (#827)
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
  scripts/uninstall.sh
Due: none

Make phoenix crash detection configurable. (#813)
  docs/docs/reference/configuration-file.md
  docs/src/css/custom.css
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
Due: none

Update install script and docs for Cloudsmith package repo (#809)
  docs/docs/administer/upgrade.md
  docs/docs/deploy/README.md
  docs/docs/deploy/install-server.md
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
  scripts/install.sh
  scripts/uninstall.sh
Due: none

Add telemetry (#834)
  docs/docusaurus.config.js
  docs/static/js/posthog.js
Due: none

Add onelogin to authentication docs (#829)
  docs/docs/authenticate/README.md
  docs/docs/authenticate/azuread.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/local-auth.md
  docs/docs/authenticate/okta.md
  docs/docs/authenticate/onelogin.md
  docs/docusaurus.config.js
Due: none

Minor fixes and polish to docs (#831)
  docs/docs/administer/README.md
  docs/docs/administer/security-considerations.md
  docs/docs/administer/upgrade.md
  docs/docs/authenticate/README.md
  docs/docs/deploy/README.md
  docs/docs/deploy/prerequisites.md
  docs/docs/reference/README.md
  docs/docs/reference/firewall-templates/index.md
  docs/docs/reference/firewall-templates/nftables.md
  docs/docs/reference/firewall-templates/nfttables.md
  docs/docs/user-guides/README.md
  docs/docs/user-guides/client-instructions.md
  docs/docs/user-guides/use-cases/README.md
  docs/docs/user-guides/use-cases/split-tunnel.md
  docs/docusaurus.config.js
  docs/src/css/custom.css
Due: none

Enable Ruby / Elixir code highlighting (#832)
  docs/docusaurus.config.js
  docs/package-lock.json
Due: none

Move auth configs into app (#812)
  .credo.exs
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/conf/html_safe_map.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/device_view.ex
  apps/fz_http/mix.exs
  apps/fz_http/priv/repo/migrations/20220719014442_add_auth_configs.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/support/test_helpers.ex
  config/runtime.exs
  config/test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Telemetry timeouts (#836)
  apps/fz_common/lib/telemetry.ex
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
  scripts/install.sh
Due: mix-format, mix-lint, mix-compile

revert removing the x-forwarded-for header (#837)
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
Due: mix-format, mix-lint, mix-compile

Build/729/different reverse proxy (#795)
  .env.sample
  CONTRIBUTING.md
  apps/fz_common/lib/fz_net.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
  apps/fz_http/mix.exs
  config/config.exs
  config/dev.exs
  config/runtime.exs
  docs/docs/deploy/reverse-proxies/README.md
  docs/docs/deploy/reverse-proxies/apache.md
  docs/docs/deploy/reverse-proxies/haproxy.md
  docs/docs/deploy/reverse-proxies/traefik.md
  docs/docs/reference/configuration-file.md
  dummy
  mix.lock
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: mix-format, mix-lint, mix-compile

Better document telemetry (#658)
  docs/docs/reference/telemetry.md
Due: none

wait 10
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
Due: mix-format, mix-lint

Update rules UI to include optional user scope (#764)
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/support/test_helpers.ex
  docs/docs/user-guides/firewall-rules.md
Due: mix-format, mix-lint, mix-compile
