Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Hide unused MFA methods
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
Due: mix-format, mix-lint, mix-compile

Hide unused MFA methods (#707)
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
Due: mix-format, mix-lint, mix-compile

Add source ip option for fz_wall
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Removed sentence and updated Heading
  docs/docs/deploy/prerequisites.md
Due: none

Deploying to gh-pages from @ firezone/firezone@70f7dc6907d904c112013118abcf2ca469d0bb22 🚀
  404.html
  assets/js/search-data.json
  assets/versions.txt
  docs/administer/configure/index.html
  docs/administer/index.html
  docs/administer/manage/index.html
  docs/administer/running-sql-queries/index.html
  docs/administer/security-considerations/index.html
  docs/administer/troubleshoot/index.html
  docs/administer/uninstall/index.html
  docs/administer/upgrade/index.html
  docs/authenticate/azure-ad/index.html
  docs/authenticate/google-sso/index.html
  docs/authenticate/google/index.html
  docs/authenticate/index.html
  docs/authenticate/okta-sso/index.html
  docs/authenticate/okta/index.html
  docs/authenticate/web-auth/index.html
  docs/deploy/index.html
  docs/deploy/prerequisites/index.html
  docs/deploy/server/index.html
  docs/deploy/supported-platforms/index.html
  docs/reference/configuration-file/index.html
  docs/reference/file-and-directory-locations/index.html
  docs/reference/index.html
  docs/user-guides/add-devices/index.html
  docs/user-guides/add-users/index.html
  docs/user-guides/client-instructions/index.html
  docs/user-guides/firewall-rules/index.html
  docs/user-guides/index.html
  docs/user-guides/reverse-tunnel/index.html
  docs/user-guides/split-tunnel/index.html
  docs/user-guides/whitelist-vpn/index.html
  feed.xml
  index.html
  sitemap.xml
Due: none

Removed sentence and updated Heading (#709)
  docs/docs/deploy/prerequisites.md
Due: none

Expose convenience env vars for running Firezone live
  .env.sample
  config/dev.exs
Due: mix-format, mix-lint

Swap source/dest parameters in fz_wall
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Expose convenience env vars for running Firezone live (#711)
  .env.sample
  config/dev.exs
Due: mix-format, mix-lint

Code Highlight Changes
  docs/_sass/color_schemes/fz.scss
Due: none

Code Highlight Changes (#712)
  docs/_sass/color_schemes/fz.scss
Due: none

Refactor fz_vpn with Wireguardex library, tests failing and some more to go with the sandbox adapter
  apps/fz_vpn/lib/fz_vpn/cli.ex
  apps/fz_vpn/lib/fz_vpn/config.ex
  apps/fz_vpn/lib/fz_vpn/interface.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/live.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  apps/fz_vpn/mix.exs
  apps/fz_vpn/test/fz_vpn/cli/sandbox_test.exs
  apps/fz_vpn/test/fz_vpn/config_test.exs
  apps/fz_vpn/test/fz_vpn/interface_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

fix dump test & static-analysis refactoring
  apps/fz_vpn/lib/fz_vpn/config.ex
  apps/fz_vpn/lib/fz_vpn/interface.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
Due: mix-format, mix-lint, mix-compile

finish sandbox, dump test working
  apps/fz_vpn/lib/fz_vpn/interface.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
  apps/fz_vpn/test/fz_vpn/interface_test.exs
Due: mix-format, mix-lint, mix-compile

remove leftover cli code from refactor
  apps/fz_vpn/lib/fz_vpn/server.ex
Due: mix-format, mix-lint, mix-compile

remove unusued cli & config modules
  .env.sample
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/config.ex
  config/dev.exs
Due: mix-format, mix-lint, mix-compile

add functional test for WireGuard calls
  .ci/functional_test.sh
  omnibus/cookbooks/firezone/recipes/setcap.rb
Due: none

replace webpack with esbuild
  .devcontainer/docker-compose.yml
  apps/fz_http/.gitignore
  apps/fz_http/assets/dev.js
  apps/fz_http/assets/esbuild.js
  apps/fz_http/assets/js/admin.js
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
  apps/fz_http/assets/prod.js
  apps/fz_http/assets/webpack.config.js
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/unprivileged.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/priv/static/browserconfig.xml
  apps/fz_http/priv/static/images/android-chrome-192x192.png
  apps/fz_http/priv/static/images/android-chrome-512x512.png
  apps/fz_http/priv/static/images/apple-touch-icon.png
  apps/fz_http/priv/static/images/favicon-16x16.png
  apps/fz_http/priv/static/images/favicon-32x32.png
  apps/fz_http/priv/static/images/favicon.ico
  apps/fz_http/priv/static/images/logo-text.svg
  apps/fz_http/priv/static/images/logo.svg
  apps/fz_http/priv/static/images/mstile-150x150.png
  apps/fz_http/priv/static/robots.txt
  apps/fz_http/priv/static/site.webmanifest
Due: mix-format, mix-lint, mix-compile

rename
  apps/fz_http/assets/config.dev.js
  apps/fz_http/assets/config.prod.js
  apps/fz_http/assets/esbuild.js
Due: none

watcher
  config/dev.exs
Due: mix-format, mix-lint

revert
  apps/fz_http/assets/config.prod.js
Due: none

Add source ip option for fz_wall (#715)
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

newlines
  apps/fz_http/assets/config.dev.js
  apps/fz_http/assets/config.prod.js
  apps/fz_http/assets/esbuild.js
Due: none

change script name back
  apps/fz_http/assets/package.json
Due: none

newline
  apps/fz_http/assets/package.json
Due: none

delete comments
  apps/fz_http/assets/js/admin.js
  apps/fz_http/assets/js/root.js
  apps/fz_http/assets/js/unprivileged.js
Due: none

Esbuild (#716)
  .devcontainer/docker-compose.yml
  apps/fz_http/.gitignore
  apps/fz_http/assets/config.dev.js
  apps/fz_http/assets/config.prod.js
  apps/fz_http/assets/esbuild.js
  apps/fz_http/assets/js/admin.js
  apps/fz_http/assets/js/root.js
  apps/fz_http/assets/js/unprivileged.js
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
  apps/fz_http/assets/webpack.config.js
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/unprivileged.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/priv/static/browserconfig.xml
  apps/fz_http/priv/static/images/android-chrome-192x192.png
  apps/fz_http/priv/static/images/android-chrome-512x512.png
  apps/fz_http/priv/static/images/apple-touch-icon.png
  apps/fz_http/priv/static/images/favicon-16x16.png
  apps/fz_http/priv/static/images/favicon-32x32.png
  apps/fz_http/priv/static/images/favicon.ico
  apps/fz_http/priv/static/images/logo-text.svg
  apps/fz_http/priv/static/images/logo.svg
  apps/fz_http/priv/static/images/mstile-150x150.png
  apps/fz_http/priv/static/robots.txt
  apps/fz_http/priv/static/site.webmanifest
  config/dev.exs
Due: mix-format, mix-lint, mix-compile

remove setcap recipe after app recipe to preserve setcap on beam
  omnibus/cookbooks/firezone/recipes/default.rb
Due: none

PR feedback: Change Interface warnings to errors, code improvements, remove wg_path from config
  apps/fz_vpn/lib/fz_vpn/interface.ex
  config/dev.exs
  config/prod.exs
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

add display and copy key
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
