Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Fix LiveView disconnect when config is downloaded
  apps/fz_http/assets/js/wg_conf.js
Due: none

Add acceptance tests
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
Due: mix-lint, mix-analysis

Fix LiveView disconnect when config is downloaded (#1384)
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
Due: mix-lint, mix-analysis

Add gateways migration (#1186)
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
Due: mix-lint, mix-analysis

Add gateway and allow rule schemas (#1191)
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/allow_rules/allow_rule.ex
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http/gateways/gateway.ex
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
  apps/fz_http/test/fz_http/allow_rules_test.exs
  apps/fz_http/test/fz_http/gateways_test.exs
  apps/fz_http/test/support/fixtures/allow_rules_fixtures.ex
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

add allow rules migration (#1189)
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
Due: mix-lint, mix-analysis

Deploying to gh-pages from @ firezone/firezone@9801617ef5387b76e40345e7313a7167349cc81f 🚀
  js/posthog.js
Due: none

chore: revert stylistic changes introduced by the editor to reduce diffs
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
Due: mix-compile, mix-lint, mix-analysis

chore: move gateway setup to `test_helpers.ex` to avoid repetition.
  apps/fz_http/test/fz_http/allow_rules_test.exs
  apps/fz_http/test/fz_http/devices/device/query_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/allow_rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/index_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/support/case_template.ex
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
  config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

chore: hide secret token logging
  config/config.exs
Due: mix-lint, mix-analysis

chore: make credo happy
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

chore: remove unused import
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
Due: mix-compile, mix-lint, mix-analysis

chore: re-add rule endpoint to send error message
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

chore: remove unnecesary conditional
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: none

fix: update asyncapi to be feature-full with the gateway
  .gitignore
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/gateways.ex
  asyncapi.yml
  config/runtime.exs
  docker-compose.yml
  priv/gateway-conf/priv
  priv/wg0.client.conf
Due: mix-compile, mix-lint, mix-analysis

fix: more code quality improvements through feedback and fix ci
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  config/config.exs
Due: mix-compile, mix-lint, mix-analysis

chore: improve code quality by applying PR feedback
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_socket.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/test/fz_http_web/controllers/json/allow_rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

chore: delete outdated comment
  apps/fz_http/lib/fz_http_web/controllers/auth_gateway_controller.ex
Due: mix-compile, mix-lint, mix-analysis

fix: gateway image name
  docker-compose.yml
Due: none

chore: use ntoa instead of custom function and other small improvements
  .gitignore
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/gateways.ex
Due: mix-compile, mix-lint, mix-analysis

chore: use ectonetwork to extract netmask from string instead of manually doing it
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/mix.exs
Due: mix-compile, mix-lint, mix-analysis

chore: backport ipv6 tests
  apps/fz_common/test/fz_net_test.exs
Due: mix-lint, mix-analysis

fix: formatting
  apps/fz_common/test/fz_net_test.exs
Due: mix-lint, mix-analysis

chore: restore test endpoint_to_ip_test
  apps/fz_common/test/fz_net_test.exs
Due: mix-lint, mix-analysis

fix: ci
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/devices/device.ex
  priv/gateway-conf/priv
Due: mix-compile, mix-lint, mix-analysis

fix: rebase leftovers
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/notifications.ex
  apps/fz_http/priv/repo/seeds.exs
Due: mix-compile, mix-lint, mix-analysis

chore: remove registration logic
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_channel.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_error_handler.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_socket.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_gateway_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/priv/repo/seeds.exs
  asyncapi.yml
  docker-compose.yml
  priv/gateway-conf/priv
  priv/gateway-conf/secrets.json
  priv/wg0.client.conf
Due: mix-compile, mix-lint, mix-analysis

chore: update docker-compose to use env vars
  docker-compose.desktop.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: none

chore: add gateway to prod docker-compose
  docker-compose.desktop.yml
  docker-compose.prod.yml
  rel/overlays/bin/gen-env
Due: none

feat: add gateway stats
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/devices/stats_updater.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_channel.ex
Due: mix-compile, mix-lint, mix-analysis

fix: ci
  apps/fz_common/test/fz_net_test.exs
Due: mix-lint, mix-analysis

Bump OIDC lib
  mix.lock
Due: none

Change default_client_allowed_ips type to string
  apps/fz_http/priv/repo/migrations/20221226143651_move_sites_fields_to_configurations.exs
  apps/fz_http/priv/repo/migrations/20230127164048_change_configurations_default_client_allowed_ips_type.exs
Due: mix-lint, mix-analysis

Bump OIDC lib (#1386)
  mix.lock
Due: none

Change default_client_allowed_ips type to string (#1387)
  apps/fz_http/priv/repo/migrations/20221226143651_move_sites_fields_to_configurations.exs
  apps/fz_http/priv/repo/migrations/20230127164048_change_configurations_default_client_allowed_ips_type.exs
Due: mix-lint, mix-analysis

fix: multiple small things in dev
  apps/fz_http/lib/fz_http/devices/stats_updater.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_socket.ex
  config/runtime.exs
  docker-compose.yml
Due: mix-compile, mix-lint, mix-analysis
