Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

fix oidc configs
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  config/runtime.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

implement toggle updates
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Due: mix-format, mix-lint, mix-compile

shush
  .credo.exs
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
Due: mix-format, mix-lint, mix-compile

handle binary and map
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
Due: mix-format, mix-lint, mix-compile

start cache for test
  apps/fz_http/lib/fz_http/application.ex
Due: mix-format, mix-lint, mix-compile

save site
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Due: mix-format, mix-lint, mix-compile

add dashboard
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/mix.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

implement editing oidc configs
  apps/fz_http/lib/fz_http/conf/html_safe_map.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Due: mix-format, mix-lint, mix-compile

remove io inspect
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Due: mix-format, mix-lint, mix-compile

Create dependabot.yml
  .github/dependabot.yml
Due: none

selective fallback
  apps/fz_http/lib/fz_http/conf/cache.ex
Due: mix-format, mix-lint, mix-compile

Add pinning for pre-commit dependency version
  requirements.txt
Due: none

Enable dependabot (#814)
  .github/dependabot.yml
  requirements.txt
Due: none

Conditionally start WireGuard sandbox adapter if set in app env
  apps/fz_vpn/lib/fz_vpn/application.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
Due: mix-format, mix-lint, mix-compile

Guard tput calls for errors from CI
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
  scripts/uninstall.sh
Due: none

Catch different reasons
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

redirect
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

Use Live wg adapter module in dev, sandbox in test. fz_vpn supervised children from app env
  .env.sample
  apps/fz_vpn/lib/fz_vpn/application.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

remove duplicate files for nftables
  docs/docs/reference/firewall-templates/index.md
  docs/docs/reference/firewall-templates/nftables.md
  docs/docs/reference/firewall-templates/nfttables.md
Due: none

fix tests
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

github logo in navbar
  docs/docusaurus.config.js
  docs/src/css/custom.css
Due: none

add company links to footer
  docs/docusaurus.config.js
Due: none

update toggles
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Due: mix-format, mix-lint, mix-compile

test toggles
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-format, mix-lint

test oidc config
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-format, mix-lint

fix click behavior
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
Due: mix-format, mix-lint, mix-compile

update doc
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
Due: mix-format, mix-lint, mix-compile

Fix handling invalid client reason (#828)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

Fix nil device error for stats push service and use live WireGuard adapter in dev. (#825)
  .env.sample
  apps/fz_vpn/lib/fz_vpn/application.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Update apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
Due: none

Guard tput calls for errors from CI (#827)
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
  scripts/uninstall.sh
Due: none

use auto-generated indexes
  docs/docs/administer/README.md
  docs/docs/authenticate/README.md
  docs/docs/reference/README.md
  docs/docs/user-guides/README.md
  docs/docs/user-guides/use-cases/README.md
Due: none

make use of swizzling
  docs/docs/administer/security-considerations.md
  docs/docs/administer/upgrade.md
  docs/docs/deploy/README.md
  docs/docs/deploy/prerequisites.md
  docs/docs/user-guides/client-instructions.md
  docs/docs/user-guides/use-cases/split-tunnel.md
Due: none

SEO
  docs/docs/user-guides/client-instructions.md
  docs/docusaurus.config.js
Due: none

lint error
  docs/docs/user-guides/client-instructions.md
Due: none

Minor fixes and polish to docs (#831)
  docs/docs/administer/README.md
  docs/docs/administer/security-considerations.md
  docs/docs/administer/upgrade.md
  docs/docs/authenticate/README.md
  docs/docs/deploy/README.md
  docs/docs/deploy/prerequisites.md
  docs/docs/reference/README.md
  docs/docs/reference/firewall-templates/index.md
  docs/docs/reference/firewall-templates/nftables.md
  docs/docs/reference/firewall-templates/nfttables.md
  docs/docs/user-guides/README.md
  docs/docs/user-guides/client-instructions.md
  docs/docs/user-guides/use-cases/README.md
  docs/docs/user-guides/use-cases/split-tunnel.md
  docs/docusaurus.config.js
  docs/src/css/custom.css
Due: none

onelogin instructions and link update
  docs/docs/authenticate/onelogin.md
  docs/docusaurus.config.js
Due: none

update help instructions
  docs/docs/authenticate/README.md
Due: none

code readability
  docs/docs/authenticate/README.md
  docs/docs/authenticate/azuread.md
  docs/docs/authenticate/google.md
  docs/docs/authenticate/okta.md
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
