Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Update egress rules user guide with user scope ui (#782)
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  docs/docs/user-guides/egress-rules.md
Due: none

Add server to path for re-generating certificates
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
Due: none

fix variable name
  omnibus/cookbooks/firezone/recipes/acme.rb
Due: none

Fix bug
  omnibus/cookbooks/firezone/recipes/acme.rb
Due: none

remove cronjob if it exists before install
  omnibus/cookbooks/firezone/recipes/acme.rb
Due: none

prioritize provided certs before acme
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

add cloudsmith publish
  .github/workflows/build.yml
  .github/workflows/push.yml
Due: none

add more distributions
  .github/workflows/push.yml
Due: none

Fix ssl disabling options with acme priority
  docs/docs/deploy/prerequisites.md
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

fix docs lint
  docs/docs/deploy/prerequisites.md
Due: none

fix
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

fix force_ssl
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

build on tag or dispatch
  .github/workflows/push.yml
Due: none

add attribution
  README.md
Due: none

rename
  .github/workflows/publish.yml
Due: none

disable force_ssl if ssl is disabled
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

remove cronjob when tearingdown network
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/teardown.rb
Due: none

move stop renewal to its own command
  docs/docs/deploy/install-server.md
  omnibus/cookbooks/firezone/files/default/ctl-commands/stop_renewal.rb
  omnibus/cookbooks/firezone/recipes/stop_renewal.rb
  omnibus/cookbooks/firezone/recipes/teardown.rb
  scripts/uninstall.sh
Due: none

add force cert renewal command
  docs/docs/administer/manage.md
  omnibus/cookbooks/firezone/files/default/ctl-commands/force_renewal.rb
  omnibus/cookbooks/firezone/recipes/force_renewal.rb
Due: none

docs improvments
  docs/docs/deploy/prerequisites.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/recipes/config.rb
Due: none

fix email address assign
  omnibus/cookbooks/firezone/recipes/config.rb
Due: none

Update VPN Connection column with status tag, update docs explaining tags under authenticate section
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_status_component.ex
  apps/fz_http/test/fz_http_web/live/user_live/vpn_status_component_test.exs
  docs/docs/authenticate/README.md
Due: mix-format, mix-lint, mix-compile

Fix events test warning
  apps/fz_http/test/fz_http/events_test.exs
Due: mix-format, mix-lint

Fix formatting
  apps/fz_http/test/fz_http_web/live/user_live/vpn_status_component_test.exs
Due: mix-format, mix-lint

Fix docs lint
  docs/docs/authenticate/README.md
Due: none

Move vpn status doc to fix doc lint
  docs/docs/authenticate/README.md
Due: none

gah, my bad
  omnibus/cookbooks/firezone/recipes/config.rb
Due: none

Use div instead of label for tag root, update oidc language
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_status_component.ex
  docs/docs/authenticate/README.md
Due: mix-format, mix-lint, mix-compile

fix no-force-ssl with ssl
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

Fix disabled ssl when acme is enabled
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/templates/acme.conf.erb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
  scripts/uninstall.sh
Due: none

Refactor vpn status component for pr feedback
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_status_component.ex
Due: mix-format, mix-lint, mix-compile

use x-forwarded-for in addition to x-real-ip
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

Revert "Fix disabled ssl when acme is enabled"
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/templates/acme.conf.erb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
  scripts/uninstall.sh
Due: none

use a component instead of a live one
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_status_component.ex
  apps/fz_http/test/fz_http_web/live/user_live/vpn_status_component_test.exs
Due: mix-format, mix-lint, mix-compile

Fix disable SSL
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/recipes/acme.rb
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/templates/acme.conf.erb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Due: none

Fix redirect.conf path
  omnibus/cookbooks/firezone/recipes/nginx.rb
Due: none

fix
  omnibus/cookbooks/firezone/recipes/acme.rb
Due: none

Improve user vpn connection status ui (#784)
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_status_component.ex
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/vpn_status_component_test.exs
  docs/docs/authenticate/README.md
Due: mix-format, mix-lint, mix-compile

Fix weird bug were inclusion order was ignored
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Due: none

fix
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Due: none
