Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

feat(relay): provide a commandline interface using clap (#1658)
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/README.md
  rust/relay/src/main.rs
Due: none

Make relay secret a string as expected by the portal
  rust/relay/src/auth.rs
  rust/relay/src/main.rs
  rust/relay/src/server.rs
  rust/relay/src/server/client_message.rs
  rust/relay/tests/regression.rs
Due: none

Add dockerimage
  rust/.dockerignore
  rust/relay.Dockerfile
  rust/relay/README.md
Due: none

Document `--init` in dockerfile
  rust/relay.Dockerfile
Due: none

More docs
  rust/relay.Dockerfile
Due: none

Improve wording
  rust/relay/README.md
Due: none

feat(relay): add Dockerfile (#1661)
  rust/.dockerignore
  rust/relay.Dockerfile
  rust/relay/README.md
Due: none

fix(relay): treat `stamp_secret` as string (#1660)
  rust/relay/src/auth.rs
  rust/relay/src/main.rs
  rust/relay/src/server.rs
  rust/relay/src/server/client_message.rs
  rust/relay/tests/regression.rs
Due: none

Do not allow to enable duplicates of auth providers
  elixir/apps/domain/lib/domain/auth/adapters/userpass/password/changeset.ex
  elixir/apps/domain/lib/domain/auth/provider/changeset.ex
  elixir/apps/domain/lib/domain/validator.ex
  elixir/apps/domain/priv/repo/migrations/20230616162535_make_auth_providers_unique.exs
  elixir/apps/domain/test/domain/actors_test.exs
  elixir/apps/domain/test/domain/auth/adapters/openid_connect_test.exs
  elixir/apps/domain/test/domain/auth/adapters/userpass_test.exs
  elixir/apps/domain/test/domain/auth_test.exs
  elixir/apps/domain/test/support/fixtures/actors_fixtures.ex
  elixir/apps/domain/test/support/fixtures/auth_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Make vault a dependency for api/web containers
  docker-compose.yml
Due: none

Bump phoenix version
  elixir/mix.lock
Due: none

Print account ids in seeds
  elixir/apps/domain/priv/repo/seeds.exs
Due: mix-lint, mix-analysis

Change to rustls from openssl
  rust/Cargo.lock
  rust/phoenix-channel/Cargo.toml
  rust/rust-toolchain.toml
Due: none

Attemp CI without extra compiler
  .github/workflows/rust.yml
Due: none

Fix typo
  rust/rust-toolchain.toml
Due: none

Install musl-gcc
  .github/workflows/rust.yml
Due: none

Fix missing cache key in workflow
  .github/workflows/rust.yml
Due: none

Fix Rust CI
  .github/workflows/rust.yml
  rust/rust-toolchain.toml
Due: none

Undo toolchain file change
  .github/workflows/rust.yml
  rust/rust-toolchain.toml
Due: none

Install toolchain via rust-toolchain file
  .github/workflows/rust.yml
  rust/rust-toolchain.toml
Due: none

ci: specify workspace directory for cache action correctly (#1663)
  .github/workflows/rust.yml
Due: none

Update .github/workflows/rust.yml
  .github/workflows/rust.yml
Due: none

ci: install musl target via `rust-toolchain.toml` file (#1664)
  .github/workflows/rust.yml
  rust/rust-toolchain.toml
Due: none

Add actor name
  elixir/apps/domain/lib/domain/actors/actor.ex
  elixir/apps/domain/lib/domain/actors/actor/changeset.ex
  elixir/apps/domain/priv/repo/migrations/20230619192420_add_actor_name.exs
  elixir/apps/domain/test/domain/actors_test.exs
  elixir/apps/domain/test/support/fixtures/actors_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Do not allow to sign in if identity is deleted or actor is deleted or disabled
  elixir/apps/domain/lib/domain/auth.ex
  elixir/apps/domain/lib/domain/auth/identity/query.ex
  elixir/apps/domain/test/domain/auth_test.exs
  elixir/apps/domain/test/support/fixtures/actors_fixtures.ex
  elixir/apps/domain/test/support/fixtures/auth_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Fix seeds
  elixir/apps/domain/priv/repo/seeds.exs
Due: mix-lint, mix-analysis

stringify FzHttp.Types.IPPort
  apps/fz_http/lib/fz_http/types/protocols.ex
Due: mix-compile, mix-lint, mix-analysis

stringify FzHttp.Types.IPPort (#1670)
  apps/fz_http/lib/fz_http/types/protocols.ex
Due: mix-compile, mix-lint, mix-analysis

Checkpoint rewrote first page
  website/package.json
  website/pnpm-lock.yaml
  website/src/app/docs/layout.tsx
  website/src/app/docs/page.tsx
  website/src/app/docs/reference/_audit-logs.mdx
  website/src/app/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
  website/src/app/page.tsx
  website/src/components/DocsSidebar/index.tsx
  website/src/components/HubspotForm/index.tsx
  website/src/components/Navbar/index.tsx
  website/src/components/RootLayout/index.tsx
  website/src/components/RootNavbar/index.tsx
  website/src/components/SupportOptions/index.tsx
Due: none

New website initial commit
  www/B0A3F091DD1CC1E3144099823B691DF9844396A0.asc
  www2/.eslintrc.json
  www2/.gitignore
  www2/README.md
  www2/next.config.js
  www2/package-lock.json
  www2/package.json
  www2/postcss.config.js
  www2/public/next.svg
  www2/public/vercel.svg
  www2/src/app/favicon.ico
  www2/src/app/globals.css
  www2/src/app/layout.tsx
  www2/src/app/page.tsx
  www2/tailwind.config.js
  www2/tsconfig.json
Due: none

bump node; use pnpm; add flowbite
  .codespellrc
  .tool-versions
  www2/package-lock.json
  www2/package.json
  www2/pnpm-lock.yaml
  www2/tailwind.config.js
Due: none

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
