Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Add user scope tests to live rule view test
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
Due: mix-format, mix-lint

Adding Algolio Docsearch
  new-docs/docusaurus.config.js
  new-docs/package-lock.json
  new-docs/package.json
Due: none

fix #761 - move nginx deprecated ssl on into listen statement (#762)
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
Due: none

Add Firewall section to the reference docs area with firewall template (#758)
  docs/docs/reference/firewall-templates/index.md
  docs/docs/reference/firewall-templates/nftables.md
Due: none

Linux clients - nmcli instructions (#756)
  docs/docs/user-guides/client-instructions.md
Due: none

Replaces nftables rule management to use sets
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

adding New Docs From master
  new-docs/docs/reference/firewall-templates/index.md
  new-docs/docs/reference/firewall-templates/nfttables.md
  new-docs/docs/user-guides/client-instructions.md
Due: none

Finish adding/removing scoped rule tests
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Update docker-compose.yml
  docker-compose.yml
Due: none

chmod
  scripts/dev_start.sh
Due: none

Add rules number field to user detail view with link to rules page
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
Due: mix-format, mix-lint, mix-compile

Woops, forgot to define destination in remove scope test
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
Due: mix-format, mix-lint

Detect Fedora 36
  scripts/install.sh
Due: none

Trim whitespace
  docs/docs/reference/firewall-templates/index.md
  docs/docs/reference/firewall-templates/nftables.md
Due: none

Trim whitespace (#767)
  docs/docs/reference/firewall-templates/index.md
  docs/docs/reference/firewall-templates/nftables.md
Due: none

add sysctls
  docker-compose.yml
Due: none

Only add rules path to user_details template for auth'd views.
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
Due: mix-format, mix-lint, mix-compile

add syslog cap
  docker-compose.yml
Due: none

Fix fz_wall not existing function
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Minor tidy up
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
Due: mix-format, mix-lint, mix-compile

Use socket for rules_path router & remove user options logic from view
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
Due: mix-format, mix-lint, mix-compile

Option to disable masquerade
  apps/fz_wall/lib/fz_wall/cli/live.ex
  config/config.exs
  config/runtime.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Fix markdown lint issues
  docs/docs/reference/firewall-templates/index.md
  docs/docs/reference/firewall-templates/nftables.md
Due: none

Update fw rules guide to explain user scoped rules
  docs/docs/user-guides/firewall-rules.md
Due: none

Fixing Markdown Formatting Issues
  new-docs/docs/administer/security-considerations.md
  new-docs/docs/reference/configuration-file.md
Due: none

Update rules UI to include optional user scope (#764)
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/support/test_helpers.ex
  docs/docs/user-guides/firewall-rules.md
Due: mix-format, mix-lint, mix-compile

Reflow text
  docs/docs/reference/firewall-templates/nftables.md
Due: none

Fix markdownlint errors
  docs/docs/reference/firewall-templates/nftables.md
Due: none

Clean up conditional
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Option to disable masquerade (#769)
  apps/fz_wall/lib/fz_wall/cli/live.ex
  config/config.exs
  config/runtime.exs
  docs/docs/reference/configuration-file.md
  docs/docs/reference/firewall-templates/index.md
  docs/docs/reference/firewall-templates/nftables.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Refactor tests and projections
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

add separate wireguard logging service
  docker-compose.yml
Due: none

Refactor fz_wall state to use map instead of tuple
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Minor fix
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
