Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

weird nil error
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

get_env vs fetch_env
  config/releases.exs
Due: mix-format, mix-lint

Use integer
  config/releases.exs
Due: mix-format, mix-lint

clarify reauth instructions
  docs/docs/authenticate/index.md
  docs/docs/user-guides/client-instructions.md
Due: none

update link
  docs/docs/authenticate/index.md
  docs/docs/user-guides/add-devices.md
Due: none

update re-auth screenshot
  docs/docs/authenticate/index.md
  docs/docs/authenticate/web-auth.md
Due: none

Docs - improve reauth documentation (#512)
  docs/docs/authenticate/index.md
  docs/docs/authenticate/web-auth.md
  docs/docs/user-guides/add-devices.md
  docs/docs/user-guides/client-instructions.md
Due: none

Try new external_url thingo
  apps/fz_http/lib/fz_http/shared_validators.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/devices_test.exs
  config/config.exs
  config/dev.exs
  config/releases.exs
  docs/docs/deploy/server.md
  docs/docs/reference/configuration-file.md
  mix.lock
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/templates/ssl-signing.conf.erb
  scripts/install.sh
Due: mix-format, mix-lint, mix-compile

Fix callback_url
  apps/fz_http/assets/package-lock.json
  apps/fz_http/mix.exs
  config/config.exs
  config/dev.exs
  config/releases.exs
  docs/Gemfile.lock
  mix.lock
  omnibus/Gemfile.lock
Due: mix-format, mix-lint

Fix path suffix
  config/dev.exs
  config/releases.exs
Due: mix-format, mix-lint

Fix markdownlint hiccup
  docs/docs/reference/configuration-file.md
Due: none

fix create admin
  omnibus/cookbooks/firezone/recipes/create_admin.rb
Due: none

Differentiate phoenix_port
  config/releases.exs
Due: mix-format, mix-lint

cron note; installscript fix; minor fqdn fixes
  docs/docs/administer/upgrade.md
  docs/docs/deploy/supported-platforms.md
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/create_admin.rb
  scripts/install.sh
Due: none

Send full node obj to app_env
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/create_admin.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
Due: none

Add db pass to config file
  docs/docs/reference/configuration-file.md
Due: none

500/fix redirect local auth (#509)
  apps/fz_http/assets/package-lock.json
  apps/fz_http/lib/fz_http/shared_validators.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/devices_test.exs
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/releases.exs
  docs/Gemfile.lock
  docs/docs/administer/upgrade.md
  docs/docs/deploy/server.md
  docs/docs/deploy/supported-platforms.md
  docs/docs/reference/configuration-file.md
  mix.lock
  omnibus/Gemfile.lock
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/create_admin.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/recipes/ssl.rb
  omnibus/cookbooks/firezone/templates/ssl-signing.conf.erb
  scripts/install.sh
Due: mix-format, mix-lint, mix-compile

add create_db and create_user options
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/recipes/database.rb
Due: none

add create_db and create_user options (#517)
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/recipes/database.rb
Due: none

Deploying to gh-pages from @ firezone/firezone@f4dfa877b500e06804de4b4103ef992cf8dcdf72 🚀
  404.html
  assets/js/search-data.json
  assets/versions.txt
  docs/administer/configure/index.html
  docs/administer/index.html
  docs/administer/manage/index.html
  docs/administer/security-considerations/index.html
  docs/administer/troubleshoot/index.html
  docs/administer/uninstall/index.html
  docs/administer/upgrade/index.html
  docs/authenticate/google-sso/index.html
  docs/authenticate/index.html
  docs/authenticate/okta-sso/index.html
  docs/authenticate/web-auth/index.html
  docs/deploy/clients/index.html
  docs/deploy/index.html
  docs/deploy/prerequisites/index.html
  docs/deploy/resource-requirements/index.html
  docs/deploy/server/index.html
  docs/deploy/supported-platforms/index.html
  docs/reference/configuration-file/index.html
  docs/reference/index.html
  docs/user-guides/add-devices/index.html
  docs/user-guides/add-users/index.html
  docs/user-guides/client-instructions/index.html
  docs/user-guides/firewall-rules/index.html
  docs/user-guides/index.html
  docs/user-guides/reverse-tunnel/index.html
  docs/user-guides/split-tunnel/index.html
  docs/user-guides/whitelist-vpn/index.html
  feed.xml
  index.html
Due: none

session fixes
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  config/dev.exs
Due: mix-format, mix-lint, mix-compile

Build callback_url using Phoenix helpers
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/mix.exs
Due: mix-format, mix-lint, mix-compile

Add email to unpriv device page
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
Due: none

Renew session before authenticating (#518)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/mix.exs
  config/dev.exs
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@90521ccf02ba6c98cbcef5f9859679160e8030fc 🚀
  assets/versions.txt
  feed.xml
Due: none

Fix escape character error
  scripts/install.sh
Due: none

Fix escape character error (#526)
  scripts/install.sh
Due: none

Match on Ubuntu 20.04 or 21.04
  scripts/install.sh
Due: none

Match on Ubuntu 20.04 or 21.04 (#531)
  scripts/install.sh
Due: none

Add max devices to releases
  config/releases.exs
Due: mix-format, mix-lint

Add max devices to releases (#532)
  config/releases.exs
Due: mix-format, mix-lint
