Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Fix line endings for files in docs/
  .pre-commit-config.yaml
  docs/.gitignore
  docs/404.html
  docs/CNAME
  docs/Gemfile
  docs/_config.yml
  docs/_includes/footer_custom.html
  docs/_includes/head_custom.html
  docs/_sass/color_schemes/fz.scss
  docs/docs/deploying-and-configuring.md
  docs/index.md
Due: none

Add end of line fixer
  .pre-commit-config.yaml
Due: none

Intelligently delete and set peers
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http_web/events.ex
  apps/fz_http/lib/fz_http_web/live/device_live/create_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/events_test.exs
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/test/fz_vpn/config_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
Due: mix-format, mix-lint, mix-compile

Use /32 and /128 and set_config
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http_web/events.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/events_test.exs
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/test/fz_vpn/config_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
Due: mix-format, mix-lint, mix-compile

Try :conn check origins
  apps/fz_http/lib/fz_http_web/endpoint.ex
Due: mix-format, mix-lint, mix-compile

Disable check_origin and rely on CSRF tokens
  apps/fz_http/lib/fz_http_web/endpoint.ex
Due: mix-format, mix-lint, mix-compile

adding a simple readme and fixing the theme reference
  docs/README.md
  docs/_config.yml
Due: none

Shorten displayed timestamps
  apps/fz_http/assets/js/util.js
Due: none

Grab client IP from headeres
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

Don't run connectivity checks in CI
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
Due: mix-format, mix-lint, mix-compile

Passing tests, queries working
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/queries/inet.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http_web/live/device_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/priv/repo/migrations/20220103175026_add_inets_to_devices.exs
  apps/fz_http/test/fz_http/connectivity_check_service_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/release_test.exs
  apps/fz_http/test/fz_http_web/events_test.exs
  config/config.exs
  config/releases.exs
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/sv-wireguard-run.erb
  omnibus/files/firezone-scripts/wireguard
Due: mix-format, mix-lint, mix-compile

Almost working queries
  apps/fz_http/lib/fz_http/queries/inet.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/queries_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Testing complete
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/queries/inet.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/devices_test.exs
  config/config.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Add missing ipv6 prefix
  apps/fz_http/priv/repo/migrations/20220103175026_add_inets_to_devices.exs
Due: mix-format, mix-lint

Reset config
  config/config.exs
Due: mix-format, mix-lint

Fix missing env vars
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/templates/sv-wireguard-run.erb
Due: none

Try the newer postgres
  .github/workflows/ci.yml
  omnibus/config/software/postgresql.rb
Due: none

Disable async for user show
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
Due: mix-format, mix-lint

async true
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
Due: mix-format, mix-lint, mix-compile

Disable async
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
Due: mix-format, mix-lint
