Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Add notifications live view. (#867)
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/notifications.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/test/fz_http/notifications_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/badge_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/index_test.exs
  apps/fz_http/test/support/fixtures/notifications_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

bumps and dev tweaks
  .gitignore
  .tool-versions
  Dockerfile
  omnibus/config/software/erlang.rb
Due: none

bumps and dev tweaks (#886)
  .gitignore
  .tool-versions
  Dockerfile
  omnibus/config/software/erlang.rb
Due: none

Revert "Add initial rough version of port based rules (#874)"
  apps/fz_http/lib/fz_http/int4range.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/priv/repo/migrations/20220726205646_add_rule_port_range.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/repo/notifier_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/test/fz_wall/cli/sandbox_test.exs
Due: mix-format, mix-lint, mix-compile

Revert "Add initial rough version of port based rules (#874)" (#888)
  apps/fz_http/lib/fz_http/int4range.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/priv/repo/migrations/20220726205646_add_rule_port_range.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/repo/notifier_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/test/fz_wall/cli/sandbox_test.exs
Due: mix-format, mix-lint, mix-compile

Revert "Revert "Add initial rough version of port based rules (#874)" (#888)"
  apps/fz_http/lib/fz_http/int4range.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/priv/repo/migrations/20220726205646_add_rule_port_range.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/repo/notifier_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/test/fz_wall/cli/sandbox_test.exs
Due: mix-format, mix-lint, mix-compile

Enable HSTS for Nginx
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
Due: none

Fix nesting hash
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
Due: none

gate port rule depending on kernel version
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_wall/lib/fz_wall/cli/helpers/has_feature.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Enable HSTS for Nginx (#889)
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/nginx.conf.erb
Due: none

fix version comparision
  apps/fz_wall/lib/fz_wall/cli/helpers/has_feature.ex
Due: mix-format, mix-lint, mix-compile

allow for no port-related values when creating rule event
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
Due: mix-format, mix-lint, mix-compile

Fix struct accessor
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
Due: mix-format, mix-lint, mix-compile

fix getting port type in rule list component
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
Due: mix-format, mix-lint, mix-compile

small fix
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
Due: mix-format, mix-lint, mix-compile

oops
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
Due: mix-format, mix-lint, mix-compile

hide port-related display on disabled port-rules
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: none

Move page subheaders under titles; minor cleanup
  apps/fz_http/lib/fz_http_web/live/connectivity_check_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/connectivity_check_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/rule_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/site.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/heading.html.heex
  docker-compose.yml
Due: mix-format, mix-lint, mix-compile

Move page subheaders under titles; minor cleanup (#892)
  apps/fz_http/lib/fz_http_web/live/connectivity_check_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/connectivity_check_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/index_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index_live.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/rule_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/site.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/heading.html.heex
  docker-compose.yml
Due: mix-format, mix-lint, mix-compile

Gate table headers
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: none

update port-based rule for boot-up only and update ui
  apps/fz_common/lib/fz_kernel_version.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_wall/lib/fz_wall/cli/helpers/has_feature.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
  config/runtime.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

fix tests
  config/test.exs
Due: mix-format, mix-lint

fix disable button
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_wall/test/fz_wall/cli/sandbox_test.exs
Due: mix-format, mix-lint

Minor UI and wording update
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: none

Add firewall functional tests
  .ci/functional_test.sh
Due: none

fix functional testing
  .ci/functional_test.sh
Due: none

add debug log for functional debugging
  .ci/functional_test.sh
Due: none

fix
  .ci/functional_test.sh
Due: none

Fix functional testing by preventing overlap
  .ci/functional_test.sh
Due: none

target blank
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

target blank (#893)
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

remove sudo from functional firewall tests
  .ci/functional_test.sh
Due: none

fix error message
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
Due: mix-format, mix-lint, mix-compile

fix firewall ci
  .ci/functional_test.sh
Due: none
