Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Fix rule deletion for users/devices
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Fix deletion for multiple rules
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

update to Wireguardex 0.3.0
  apps/fz_vpn/lib/fz_vpn/interface.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
  apps/fz_vpn/mix.exs
  apps/fz_vpn/test/fz_vpn/interface_test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

delete extra line in test
  apps/fz_vpn/test/fz_vpn/interface_test.exs
Due: mix-format, mix-lint

Remove device deletion by pubkey
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/events_test.exs
Due: mix-format, mix-lint, mix-compile

Switch WGAdapter live module to prod config instead of runtime
  config/prod.exs
  config/runtime.exs
Due: mix-format, mix-lint

Refactor fz_vpn with Wireguardex (#718)
  .ci/functional_test.sh
  .env.sample
  apps/fz_vpn/lib/fz_vpn/application.ex
  apps/fz_vpn/lib/fz_vpn/cli.ex
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/config.ex
  apps/fz_vpn/lib/fz_vpn/interface.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/live.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  apps/fz_vpn/mix.exs
  apps/fz_vpn/test/fz_vpn/cli/sandbox_test.exs
  apps/fz_vpn/test/fz_vpn/config_test.exs
  apps/fz_vpn/test/fz_vpn/interface_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
  apps/fz_vpn/test/fz_vpn/stats_push_service_test.exs
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/runtime.exs
  mix.lock
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/recipes/setcap.rb
Due: mix-format, mix-lint, mix-compile

Allow option to disable auto-creating OIDC users
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
  config/config.exs
  config/runtime.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Po's comments
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
Due: mix-format, mix-lint, mix-compile

Allow option to disable auto-creating OIDC users (#728)
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
  config/config.exs
  config/runtime.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Update install script to support Ubuntu 22.04
  docs/docs/deploy/supported-platforms.md
  scripts/install.sh
Due: none

Update install script to support Ubuntu 22.04 (#733)
  docs/docs/deploy/supported-platforms.md
  scripts/install.sh
Due: none

Dont error for failed capture calls
  scripts/install.sh
Due: none

Dont error for failed capture calls (#735)
  scripts/install.sh
Due: none

Split setcap calls
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/recipes/setcap.rb
Due: none

Split setcap calls (#736)
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/recipes/setcap.rb
Due: none

Add more debugging oidc
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

Add more debugging oidc (#738)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@416ea0d9c9528790fdf70c432aa4eb507d7b2074 🚀
  assets/js/search-data.json
  assets/versions.txt
  docs/deploy/supported-platforms/index.html
  docs/reference/configuration-file/index.html
  feed.xml
Due: none

Adding Accent Block
  new-docs/docs/overview.md
  new-docs/src/components/AccentBlock/index.js
  new-docs/src/components/AccentBlock/styles.module.css
Due: none

Fix multiple rule deletion in case of handle change
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Adding Feedback Component [no ci]
  new-docs/src/components/AccentBlock/styles.module.css
  new-docs/src/components/Feedback/index.js
  new-docs/src/components/Feedback/styles.module.css
  new-docs/static/img/dislike.svg
  new-docs/static/img/like.svg
Due: none

Adding Globalcomponents [no ci]
  new-docs/docs/overview.md
  new-docs/src/components/AccentBlock/styles.module.css
  new-docs/src/components/Feedback/styles.module.css
  new-docs/src/theme/MDXComponents.js
Due: none

Restart phoenix on setcap; only pick the latest erts path
  omnibus/cookbooks/firezone/recipes/app.rb
Due: none

Add user_count, device_count, users_with_mfa_count
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/mfa_test.exs
Due: mix-format, mix-lint, mix-compile

Adding Send Grid Iframe [no ci]
  new-docs/docs/overview.md
  new-docs/src/components/SignUp/index.js
  new-docs/src/components/SignUp/styles.module.css
  new-docs/src/theme/MDXComponents.js
Due: none

Restart phoenix on setcap; only pick the latest erts path (#740)
  omnibus/cookbooks/firezone/recipes/app.rb
Due: none

set default MTU to 1280
  apps/fz_http/test/fz_http/sites_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  config/config.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint

Optimize sql query for getting nftable spec rules
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/test/fz_http/rules_test.exs
Due: mix-format, mix-lint, mix-compile

Fix rule deletion when same daddr
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Fix rule deletion to account for whitespace at the start of line
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

set default MTU to 1280 (#742)
  apps/fz_http/test/fz_http/sites_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  config/config.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
