Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

Bump Dockerfile too
  .tool-versions
  elixir/Dockerfile
Due: none

Fix incorrect DocSearch API key
  website/src/components/DocsSidebar/SearchForm.tsx
Due: none

Fix incorrect DocSearch API key (#1680)
  website/src/components/DocsSidebar/SearchForm.tsx
Due: none

revert prettier formatting
  elixir/apps/web/assets/tailwind.config.js
Due: none

Use pnpm over yarn (#1678)
  .github/workflows/elixir.yml
  .github/workflows/publish_www.yml
  .pre-commit-config.yaml
  elixir/Dockerfile
  elixir/apps/web/assets/package.json
  elixir/apps/web/assets/pnpm-lock.yaml
  elixir/apps/web/assets/yarn.lock
Due: none

Use pnpm for asset setup too
  elixir/apps/web/mix.exs
Due: mix-lint, mix-analysis

Use pnpm for asset setup too (#1681)
  elixir/apps/web/mix.exs
Due: mix-lint, mix-analysis

Install pnpm to runner
  .github/workflows/elixir.yml
Due: none

setup node and specify version
  .github/workflows/elixir.yml
Due: none

Fix YAML formatting
  .github/workflows/elixir.yml
Due: none

Install pnpm via npm
  elixir/Dockerfile
Due: none

Add fallback when email's not in token
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
Due: mix-compile, mix-lint, mix-analysis

Add trivial test
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
Due: mix-lint, mix-analysis

Add pnpm to runners (#1683)
  .github/workflows/elixir.yml
  elixir/Dockerfile
Due: none

Fix typo
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
Due: mix-lint, mix-analysis

Fix formatting
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
Due: mix-lint, mix-analysis

Fix newsletter signup
  website/src/app/blog/layout.tsx
  website/src/app/blog/release-0-5-0/page.tsx
Due: none

Add global relays and fix join table between resources and gateways
  elixir/README.md
  elixir/apps/api/test/api/device/channel_test.exs
  elixir/apps/api/test/api/gateway/channel_test.exs
  elixir/apps/api/test/api/relay/channel_test.exs
  elixir/apps/domain/lib/domain/devices.ex
  elixir/apps/domain/lib/domain/gateways.ex
  elixir/apps/domain/lib/domain/gateways/gateway.ex
  elixir/apps/domain/lib/domain/gateways/gateway/query.ex
  elixir/apps/domain/lib/domain/gateways/group.ex
  elixir/apps/domain/lib/domain/relays.ex
  elixir/apps/domain/lib/domain/relays/authorizer.ex
  elixir/apps/domain/lib/domain/relays/group/changeset.ex
  elixir/apps/domain/lib/domain/relays/group/query.ex
  elixir/apps/domain/lib/domain/relays/relay/query.ex
  elixir/apps/domain/lib/domain/relays/token/changeset.ex
  elixir/apps/domain/lib/domain/resources/connection.ex
  elixir/apps/domain/lib/domain/resources/connection/changeset.ex
  elixir/apps/domain/lib/domain/resources/resource.ex
  elixir/apps/domain/priv/repo/migrations/20230405182922_create_relay_groups.exs
  elixir/apps/domain/priv/repo/migrations/20230405182923_create_relay_tokens.exs
  elixir/apps/domain/priv/repo/migrations/20230512201206_create_resources_and_connections.exs
  elixir/apps/domain/priv/repo/seeds.exs
  elixir/apps/domain/test/domain/gateways_test.exs
  elixir/apps/domain/test/domain/relays_test.exs
  elixir/apps/domain/test/domain/resources_test.exs
  elixir/apps/domain/test/support/fixtures/relays_fixtures.ex
  elixir/apps/domain/test/support/fixtures/resources_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Add static seeds generation
  docker-compose.yml
  elixir/apps/domain/priv/repo/seeds.exs
Due: mix-lint, mix-analysis

Seed session token which can be used for client auth
  elixir/apps/domain/priv/repo/seeds.exs
Due: mix-lint, mix-analysis

Drop unused functions
  elixir/apps/domain/priv/repo/migrations/20230623190936_drop_notification_functions.exs
Due: mix-lint, mix-analysis

Add fallback when email's not in token (#1686)
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/test/fz_http_web/user_from_auth_test.exs
Due: mix-compile, mix-lint, mix-analysis

Remove fixed TODO
  elixir/apps/domain/lib/domain/gateways.ex
Due: mix-compile, mix-lint, mix-analysis

feat(relay): implement nonces for authentication (#1654)
  .github/workflows/rust.yml
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/src/auth.rs
  rust/relay/src/proptest.rs
  rust/relay/src/server.rs
  rust/relay/src/server/client_message.rs
  rust/relay/tests/regression.rs
Due: none

ci: install musl target via `rust-toolchain.toml` file (#1664)
  .github/workflows/rust.yml
  rust/rust-toolchain.toml
Due: none

Add Resources table
  elixir/apps/web/lib/web/live/resources_live/index.ex
Due: mix-compile, mix-lint, mix-analysis

feat(relay): connect to portal on startup (#1643)
  rust/Cargo.lock
  rust/Cargo.toml
  rust/phoenix-channel/Cargo.toml
  rust/phoenix-channel/src/lib.rs
  rust/relay/Cargo.toml
  rust/relay/src/auth.rs
  rust/relay/src/main.rs
Due: none

feat(relay): provide a commandline interface using clap (#1658)
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/README.md
  rust/relay/src/main.rs
Due: none

ci: specify workspace directory for cache action correctly (#1663)
  .github/workflows/rust.yml
Due: none

feat(relay): add Dockerfile (#1661)
  rust/.dockerignore
  rust/relay.Dockerfile
  rust/relay/README.md
Due: none

fix(relay): treat `stamp_secret` as string (#1660)
  rust/relay/src/auth.rs
  rust/relay/src/main.rs
  rust/relay/src/server.rs
  rust/relay/src/server/client_message.rs
  rust/relay/tests/regression.rs
Due: none

Fix bottom sidebar margin
  elixir/apps/web/lib/web/components/layouts/app.html.heex
Due: none

Stub out Show Resource view
  elixir/apps/web/lib/web/live/gateways_live/show.ex
  elixir/apps/web/lib/web/live/resources_live/show.ex
Due: mix-compile, mix-lint, mix-analysis

Start Edit Resources form
  elixir/apps/web/lib/web/live/resources_live/edit.ex
Due: mix-compile, mix-lint, mix-analysis

Stub out Resource Add and Edit forms
  elixir/apps/web/lib/web/live/resources_live/edit.ex
  elixir/apps/web/lib/web/live/resources_live/new.ex
Due: mix-compile, mix-lint, mix-analysis

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
