Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Update README.mdx
  docs/docs/deploy/docker/README.mdx
Due: none

support custom redirect uri
  apps/fz_http/lib/fz_http/conf/oidc_config.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/test/support/conn_case.ex
Due: mix-format, mix-lint, mix-compile

add onelogin doc
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

add okta doc
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

add okta and onelogin to main README
  docs/docs/authenticate/saml/README.mdx
Due: none

add note on configuring
  docs/docs/reference/configuration-file.mdx
Due: none

typo
  docs/docs/deploy/configure.mdx
Due: none

Backlink to configure guide
  docs/docs/reference/configuration-file.mdx
Due: none

add note to docker
  docs/docs/reference/env-vars.mdx
Due: none

wording and grammar
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

remove SLO for now
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

lint and table formatting
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

trailing whitespace
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

Updated upgrade.mdx "docker-compose" to "docker compose"
  docs/docs/administer/upgrade.mdx
Due: none

Backlink config reference to configure guide (#1107)
  docs/docs/deploy/configure.mdx
  docs/docs/reference/configuration-file.mdx
  docs/docs/reference/env-vars.mdx
Due: none

id_token_hint working
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-format, mix-lint, mix-compile

tests passing
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/test/fz_http/conf/oidc_config_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Checkpoint PKCE; Refactor state
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/conf/oidc_config.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/validators/openid_connect.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/oauth/pkce.ex
  apps/fz_http/lib/fz_http_web/oidc/helpers.ex
  apps/fz_http/lib/fz_http_web/oidc/state.ex
  apps/fz_http/test/fz_http/conf/oidc_config_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/support/conn_case.ex
  apps/fz_http/test/support/fixtures/http/auth0/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/azure/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/google/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/keycloak/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/okta/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/onelogin/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/zitadel/openid-configuration.json
  apps/fz_http/test/support/fixtures/oidc_config_fixtures.ex
  apps/fz_http/test/support/mocks/http_client.ex
  apps/fz_http/test/support/mocks/openid_connect.ex
  config/dev.exs
  config/test.exs
  docker-compose.yml
  mix.lock
Due: mix-format, mix-lint, mix-compile

Remove dbg
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

Remove unneeded fixtures
  apps/fz_http/test/support/fixtures/http/auth0/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/azure/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/google/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/keycloak/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/okta/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/onelogin/openid-configuration.json
  apps/fz_http/test/support/fixtures/http/zitadel/openid-configuration.json
Due: none

Fix WGAdapter setting
  config/dev.exs
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/oidc/okta.mdx
Due: mix-format, mix-lint

what happened to redirect_uri
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  docs/docs/authenticate/oidc/okta.mdx
Due: mix-format, mix-lint, mix-compile

Add redirect_uri custom
  apps/fz_http/lib/fz_http/conf/oidc_config.ex
  apps/fz_http/lib/fz_http/validators/common.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
Due: mix-format, mix-lint, mix-compile

session cleanup
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  docs/docs/authenticate/oidc/README.mdx
Due: mix-format, mix-lint, mix-compile

Fix nil logout
  mix.lock
Due: none

redis disable
  docker-compose.yml
Due: none

Fix tests
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/test/fz_http/release_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  config/dev.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Updated upgrade.mdx "docker-compose" to "docker compose" (#1112)
  docs/docs/administer/upgrade.mdx
Due: none

Update docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/okta.mdx
Due: none

Apply suggestions from code review
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none

move provider support to top
  docs/docs/authenticate/saml/README.mdx
Due: none

Add onelogin and okta SAML docs (#1108)
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
Due: none
