Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

Save screenshots on failure
  .github/workflows/test.yml
Due: none

Add separate steps to compile deps and app to keep track of their execution time
  .github/workflows/test.yml
Due: none

Build and cache assets during test execution
  .github/workflows/test.yml
Due: none

Hotfix default PK values on connectivity_checks table
  apps/fz_http/priv/repo/migrations/20221223190406_migrate_pks_to_uuid.exs
Due: mix-lint, mix-analysis

Allows user that did not face migration issue to end up with the same state after all migrations are executed
  apps/fz_http/priv/repo/migrations/20230113184557_add_default_pks_values.exs
Due: mix-lint, mix-analysis

Add Vault to CI
  .github/workflows/test.yml
Due: none

Introduce wait assertion
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis

Fix module imports
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis

Hotfix default PK values on connectivity_checks table (#1300)
  apps/fz_http/priv/repo/migrations/20221223190406_migrate_pks_to_uuid.exs
  apps/fz_http/priv/repo/migrations/20230113184557_add_default_pks_values.exs
Due: mix-lint, mix-analysis

Fix docs link
  docs/docs/administer/upgrade.mdx
Due: none

Fix docs link (#1303)
  docs/docs/administer/upgrade.mdx
Due: none

Simplify tests with helpers and increase wait timeout
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
  apps/fz_http/test/support/acceptance_case.ex
  apps/fz_http/test/support/acceptance_case/vault.ex
Due: mix-compile, mix-lint, mix-analysis

Trim trailing whitespaces
  .github/workflows/test.yml
Due: none

Add OIDC test when local auth is disabled
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
Due: mix-lint, mix-analysis

Remove TODO
  apps/fz_http/lib/fz_http_web/sandbox.ex
Due: mix-compile, mix-lint, mix-analysis

Boot minimal app for DB changes
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/release.ex
  docs/docs/administer/troubleshoot.mdx
  docs/docs/deploy/docker/README.mdx
  omnibus/cookbooks/firezone/recipes/create_admin.rb
  rel/overlays/bin/create-api-token
  scripts/install.sh
Due: mix-compile, mix-lint, mix-analysis, rubocop

Boot minimal app for DB changes (#1305)
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/release.ex
  docs/docs/administer/troubleshoot.mdx
  docs/docs/deploy/docker/README.mdx
  omnibus/cookbooks/firezone/recipes/create_admin.rb
  rel/overlays/bin/create-api-token
  scripts/install.sh
Due: mix-compile, mix-lint, mix-analysis, rubocop

Update default REST API docs path; Note on stdout api tokens
  apps/fz_http/test/test_helper.exs
  docs/docs/reference/rest-api/README.mdx
  docs/docs/reference/rest-api/configurations.mdx
  docs/docs/reference/rest-api/devices.mdx
  docs/docs/reference/rest-api/rules.mdx
  docs/docs/reference/rest-api/users.mdx
Due: mix-lint, mix-analysis

fix last broken link
  docs/docs/administer/upgrade.mdx
Due: none

Update default REST API docs path; Note on stdout api tokens (#1306)
  apps/fz_http/test/test_helper.exs
  docs/docs/administer/upgrade.mdx
  docs/docs/reference/rest-api/README.mdx
  docs/docs/reference/rest-api/configurations.mdx
  docs/docs/reference/rest-api/devices.mdx
  docs/docs/reference/rest-api/rules.mdx
  docs/docs/reference/rest-api/users.mdx
Due: mix-lint, mix-analysis

install script missing var
  config/runtime.exs
  scripts/install.sh
Due: mix-lint, mix-analysis

Fix install script missing var
  config/runtime.exs
  rel/overlays/bin/server
Due: mix-lint, mix-analysis

Add missing env var (#1309)
  config/runtime.exs
  rel/overlays/bin/server
  scripts/install.sh
Due: mix-lint, mix-analysis

Migrate DB before using for the first time
  scripts/install.sh
Due: none

Update manual install steps
  docs/docs/deploy/docker/README.mdx
Due: none

Migrate DB before using for the first time (#1310)
  docs/docs/deploy/docker/README.mdx
  scripts/install.sh
Due: none

add allow rules migration (#1189)
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
Due: mix-lint, mix-analysis

Add gateway and allow rule schemas (#1191)
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/allow_rules/allow_rule.ex
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http/gateways/gateway.ex
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
  apps/fz_http/test/fz_http/allow_rules_test.exs
  apps/fz_http/test/fz_http/gateways_test.exs
  apps/fz_http/test/support/fixtures/allow_rules_fixtures.ex
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Add gateways migration (#1186)
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
Due: mix-lint, mix-analysis

Add tests for MFA removal
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
Due: mix-lint, mix-analysis

Add tests for unpiv user device management options
  apps/fz_http/test/fz_http_web/acceptance/unprivileged_user_test.exs
  apps/fz_http/test/support/acceptance_case.ex
Due: mix-compile, mix-lint, mix-analysis

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
