Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

change font to Fira
  docs/_includes/head_custom.html
  docs/_sass/color_schemes/fz.scss
Due: none

Checkpoint passing tests
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  apps/fz_http/test/fz_http_web/channels/notification_channel_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/fz_http_web/views/layout_view_test.exs
Due: mix-format, mix-lint, mix-compile

Finished with UI changes
  apps/fz_http/lib/fz_http_web/live/setting_live/default.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
Due: none

Update functional testing script to look for Sign In button
  .ci/functional_test.sh
Due: none

Add git_sha script
  apps/fz_common/mix.exs
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  apps/fz_http/mix.exs
  apps/fz_vpn/mix.exs
  apps/fz_wall/mix.exs
  config/config.exs
  mix.exs
  omnibus/config/software/firezone.rb
  scripts/git_sha.exs
  scripts/git_sha.sh
  scripts/version.exs
  version.exs
Due: mix-format, mix-lint, mix-compile

add links for discourse to docs footer and navbar
  docs/_config.yml
  docs/_includes/footer_custom.html
Due: none

Use hostname for download filename
  apps/fz_http/lib/fz_http_web/controllers/device_controller.ex
Due: mix-format, mix-lint, mix-compile

Use git sha
  omnibus/config/software/firezone.rb
Due: none

Remove unneeded script
  config/config.exs
  omnibus/config/software/firezone.rb
  scripts/git_sha.exs
  scripts/git_sha.sh
Due: mix-format, mix-lint

Fix git_sha for prod
  config/config.exs
Due: mix-format, mix-lint

Populate GIT_SHA from CI config
  .github/workflows/ci.yml
  omnibus/config/software/firezone.rb
Due: none

Fix CI key
  .github/workflows/ci.yml
Due: none

Add connectivity status indicator
  apps/fz_http/assets/js/app.js
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
Due: none

Add onClose
  apps/fz_http/assets/js/app.js
Due: none

Share device config
  apps/fz_http/assets/css/main.scss
  apps/fz_http/assets/js/auth.js
  apps/fz_http/assets/js/device_config.js
  apps/fz_http/assets/js/hooks.js
  apps/fz_http/assets/js/qrcode.js
  apps/fz_http/assets/webpack.config.js
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/controllers/device_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show_live.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/device/config.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/device_config.html.heex
  apps/fz_http/priv/repo/migrations/20211216155557_add_config_token_to_devices.exs
Due: mix-format, mix-lint, mix-compile

Remove impossible test case
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
Due: mix-format, mix-lint

Add boilerplate app stuff to device config page
  apps/fz_http/assets/js/device_config.js
Due: none

Clean up remaining typos
  apps/fz_http/assets/js/device_config.js
  apps/fz_http/assets/js/hooks.js
Due: none

Consistent instructions
  apps/fz_http/lib/fz_http_web/templates/device/config.html.heex
Due: none

Modal bug workaround; Add persistent keepalives
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/macros.ex
  apps/fz_http/lib/fz_http/settings.ex
  apps/fz_http/lib/fz_http/settings/setting.ex
  apps/fz_http/lib/fz_http_web/live/device_live/form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/priv/repo/migrations/20211217003247_add_persistent_keepalives.exs
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
Due: mix-format, mix-lint, mix-compile

New column added; make tests pass again
  apps/fz_common/lib/fz_map.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/priv/repo/migrations/20211221183311_add_role_to_users.exs
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/support/fixtures/users_fixtures.ex
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
