Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

fix typo
  docs/docs/authenticate/google-sso.md
Due: none

fix typo (#534)
  docs/docs/authenticate/google-sso.md
Due: none

enabeld -> enabled
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

enabeld -> enabled (#535)
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

Fix minor issues in install script
  scripts/install.sh
Due: none

Check for Linux
  scripts/install.sh
Due: none

Fix minor issues in install script (#536)
  scripts/install.sh
Due: none

clarification
  docs/docs/administer/upgrade.md
Due: none

grammar
  docs/docs/administer/configure.md
  docs/docs/administer/upgrade.md
Due: none

Clarify upgrade instructions 0.3.1 to 0.3.2 (#538)
  docs/docs/administer/configure.md
  docs/docs/administer/upgrade.md
Due: none

Add PSK support
  .github/workflows/ci.yml
  .tool-versions
  apps/fz_common/lib/fz_crypto.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/priv/repo/migrations/20220412144151_add_psk_to_devices.exs
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/config.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/mix.exs
  apps/fz_vpn/test/fz_vpn/config_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
  apps/fz_wall/mix.exs
  config/config.exs
  config/releases.exs
  docs/docs/reference/configuration-file.md
  mix.exs
  mix.lock
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/config.rb
Due: mix-format, mix-lint, mix-compile

Add HTTP registered application name
  apps/fz_http/mix.exs
Due: mix-format, mix-lint

Better kernel check message
  scripts/install.sh
Due: none

update link
  docs/_config.yml
Due: none

Does order matter\?
  mix.exs
Due: mix-format, mix-lint

Add WireGuard preshared-keys to devices (#542)
  .github/workflows/ci.yml
  .tool-versions
  apps/fz_common/lib/fz_crypto.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/priv/repo/migrations/20220412144151_add_psk_to_devices.exs
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/config.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/mix.exs
  apps/fz_vpn/test/fz_vpn/config_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
  apps/fz_wall/mix.exs
  config/config.exs
  config/releases.exs
  docs/docs/reference/configuration-file.md
  mix.lock
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/config.rb
  scripts/install.sh
Due: mix-format, mix-lint, mix-compile

update link (#543)
  docs/_config.yml
Due: none

Deploying to gh-pages from @ firezone/firezone@32b79f4af90f0682445a3d6b244e38fb008b306a 🚀
  assets/versions.txt
  feed.xml
Due: none

Deploying to gh-pages from @ firezone/firezone@6991a6c9d8242d1621e1139e29bdbc26902f8767 🚀
  404.html
  assets/js/search-data.json
  assets/versions.txt
  docs/administer/configure/index.html
  docs/administer/index.html
  docs/administer/manage/index.html
  docs/administer/security-considerations/index.html
  docs/administer/troubleshoot/index.html
  docs/administer/uninstall/index.html
  docs/administer/upgrade/index.html
  docs/authenticate/google-sso/index.html
  docs/authenticate/index.html
  docs/authenticate/okta-sso/index.html
  docs/authenticate/web-auth/index.html
  docs/deploy/clients/index.html
  docs/deploy/index.html
  docs/deploy/prerequisites/index.html
  docs/deploy/resource-requirements/index.html
  docs/deploy/server/index.html
  docs/deploy/supported-platforms/index.html
  docs/reference/configuration-file/index.html
  docs/reference/index.html
  docs/user-guides/add-devices/index.html
  docs/user-guides/add-users/index.html
  docs/user-guides/client-instructions/index.html
  docs/user-guides/firewall-rules/index.html
  docs/user-guides/index.html
  docs/user-guides/reverse-tunnel/index.html
  docs/user-guides/split-tunnel/index.html
  docs/user-guides/whitelist-vpn/index.html
  feed.xml
  index.html
Due: none

Update CNAME
  CNAME
Due: none

Update public-facing links to firezone.dev
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/unprivileged.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  docs/CNAME
  docs/README.md
  docs/_config.yml
  docs/_includes/footer_custom.html
  docs/docs/administer/troubleshoot.md
  docs/index.md
  omnibus/config/projects/firezone.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/metadata.rb
Due: mix-format, mix-lint, mix-compile

Fix docs lint error
  docs/index.md
Due: none

Update docs Gemfile to latest gems
  docs/Gemfile.lock
Due: none

Update npm packages
  apps/fz_http/assets/package-lock.json
Due: none

Update public-facing links to firezone.dev (#548)
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/assets/package-lock.json
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/unprivileged.html.heex
  apps/fz_http/lib/fz_http_web/views/layout_view.ex
  docs/CNAME
  docs/Gemfile.lock
  docs/README.md
  docs/_config.yml
  docs/_includes/footer_custom.html
  docs/docs/administer/troubleshoot.md
  docs/index.md
  omnibus/config/projects/firezone.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/metadata.rb
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@174048105566f238e9a46c66091f5fde23e9cd4d 🚀
  404.html
  README.md
  assets/css/just-the-docs-dark.css
  assets/css/just-the-docs-default.css
  assets/css/just-the-docs-light.css
  assets/js/just-the-docs.js
  assets/js/search-data.json
  assets/versions.txt
  docs/administer/configure/index.html
  docs/administer/index.html
  docs/administer/manage/index.html
  docs/administer/security-considerations/index.html
  docs/administer/troubleshoot/index.html
  docs/administer/uninstall/index.html
  docs/administer/upgrade/index.html
  docs/authenticate/google-sso/index.html
  docs/authenticate/index.html
  docs/authenticate/okta-sso/index.html
  docs/authenticate/web-auth/index.html
  docs/deploy/clients/index.html
  docs/deploy/index.html
  docs/deploy/prerequisites/index.html
  docs/deploy/resource-requirements/index.html
  docs/deploy/server/index.html
  docs/deploy/supported-platforms/index.html
  docs/reference/configuration-file/index.html
  docs/reference/index.html
  docs/user-guides/add-devices/index.html
  docs/user-guides/add-users/index.html
  docs/user-guides/client-instructions/index.html
  docs/user-guides/firewall-rules/index.html
  docs/user-guides/index.html
  docs/user-guides/reverse-tunnel/index.html
  docs/user-guides/split-tunnel/index.html
  docs/user-guides/whitelist-vpn/index.html
  feed.xml
  index.html
  robots.txt
  sitemap.xml
Due: none

Process wg show ... dump
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/test/fz_vpn/cli/sandbox_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
Due: mix-format, mix-lint, mix-compile

Add byte to human functions
  apps/fz_common/lib/fz_integer.ex
  apps/fz_common/test/fz_integer_text.exs
Due: mix-format, mix-lint, mix-compile

Passing tests
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/devices/stats_updater.ex
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/priv/repo/migrations/20220419172036_add_stats_to_devices.exs
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  apps/fz_vpn/test/fz_vpn/server_test.exs
  apps/fz_vpn/test/fz_vpn/stats_push_service_test.exs
  config/prod.exs
Due: mix-format, mix-lint, mix-compile

Update stats
  apps/fz_common/lib/fz_integer.ex
  apps/fz_http/lib/fz_http_web/templates/shared/device_details.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/devices_table.html.heex
  apps/fz_http/priv/repo/migrations/20220419172036_add_stats_to_devices.exs
  apps/fz_http/priv/repo/seeds.exs
Due: mix-format, mix-lint, mix-compile
