Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

Return error when admin user can not be created
  apps/fz_http/lib/fz_http/release.ex
Due: mix-compile, mix-lint, mix-analysis

Fix a bug with CIDR limiting
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-compile, mix-lint, mix-analysis

Make sure we have the same types for configs in test and prod env
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/test/fz_http/rules_test.exs
  config/config.exs
Due: mix-compile, mix-lint, mix-analysis

I don't like you, Credo
  apps/fz_http/test/fz_http/rules_test.exs
Due: mix-lint, mix-analysis

Fix line length issue
  omnibus/cookbooks/firezone/libraries/config.rb
Due: rubocop

Fix various issues after config rework (#1462)
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/priv/repo/migrations/20230223175621_trim_dns_fields.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  config/config.exs
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  rel/overlays/bin/create-api-token
  rel/overlays/bin/create-or-reset-admin
  rel/overlays/bin/migrate
  rel/overlays/bin/server
Due: mix-compile, mix-lint, mix-analysis, rubocop

Hide pricing and sales references for now
  www/blog/2022-07-25-release-0-5-0/index.mdx
  www/blog/2022-10-17-release-0-6-0/index.mdx
  www/docs/administer/debug-logs.mdx
  www/docs/authenticate/README.mdx
  www/docs/authenticate/oidc/README.mdx
  www/docs/authenticate/saml/README.mdx
  www/docs/deploy/advanced/external-database.mdx
  www/docs/deploy/advanced/reverse-proxy.mdx
  www/docs/reference/_audit-logs.mdx
  www/docs/reference/telemetry.mdx
  www/docusaurus.config.js
  www/src/pages/_pricing.mdx
  www/src/pages/contact/support.mdx
  www/src/pages/index.mdx
  www/src/partials/_support_options.mdx
Due: none

Fix typo
  www/docs/authenticate/saml/google.mdx
  www/docs/authenticate/saml/jumpcloud.mdx
  www/docs/authenticate/saml/okta.mdx
  www/docs/authenticate/saml/onelogin.mdx
Due: none

Hide pricing and sales references for now (#1463)
  www/blog/2022-07-25-release-0-5-0/index.mdx
  www/blog/2022-10-17-release-0-6-0/index.mdx
  www/docs/administer/debug-logs.mdx
  www/docs/authenticate/README.mdx
  www/docs/authenticate/oidc/README.mdx
  www/docs/authenticate/saml/README.mdx
  www/docs/authenticate/saml/google.mdx
  www/docs/authenticate/saml/jumpcloud.mdx
  www/docs/authenticate/saml/okta.mdx
  www/docs/authenticate/saml/onelogin.mdx
  www/docs/deploy/advanced/external-database.mdx
  www/docs/deploy/advanced/reverse-proxy.mdx
  www/docs/reference/_audit-logs.mdx
  www/docs/reference/telemetry.mdx
  www/docusaurus.config.js
  www/src/pages/_pricing.mdx
  www/src/pages/contact/support.mdx
  www/src/pages/index.mdx
  www/src/partials/_support_options.mdx
Due: none

Add observer and recon to the release
  apps/fz_http/mix.exs
  mix.lock
Due: mix-lint, mix-analysis

Add observer and recon to the release (#1467)
  apps/fz_http/mix.exs
  mix.lock
Due: mix-lint, mix-analysis

Chore: add banner to website
  www/docusaurus.config.js
Due: none

Allow overriding Cowboy HTTP protocol options
  apps/fz_http/lib/fz_http/config/definitions.ex
  config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

Generate new env docs
  apps/fz_http/lib/fz_http/config/definitions.ex
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Fix broken links
  apps/fz_http/lib/fz_http/config/definitions.ex
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Add a newline after docs header
  apps/fz_http/test/support/docs_generator.ex
Due: mix-compile, mix-lint, mix-analysis

Generate docs once more
  www/docs/reference/env-vars.mdx
Due: none

Allow overriding Cowboy HTTP protocol options (#1474)
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/test/support/docs_generator.ex
  config/runtime.exs
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Fix http protocol opts definition default value
  apps/fz_http/lib/fz_http/config/definitions.ex
Due: mix-compile, mix-lint, mix-analysis

Add protocol implementation for IPPort struct and tests
  apps/fz_http/lib/fz_http/config/resolver.ex
  apps/fz_http/lib/fz_http/types/protocols.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/client_defaults_test.exs
  apps/fz_http/test/support/conn_case.ex
Due: mix-compile, mix-lint, mix-analysis

Bump all deps and fix Phoenix to v1.7
  apps/fz_http/mix.exs
  mix.exs
  mix.lock
Due: mix-lint, mix-analysis

Add protocol implementation for IPPort struct and tests (#1478)
  apps/fz_http/lib/fz_http/config/resolver.ex
  apps/fz_http/lib/fz_http/types/protocols.ex
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/client_defaults_test.exs
  apps/fz_http/test/support/conn_case.ex
Due: mix-compile, mix-lint, mix-analysis

Correctly handle endpoint that is an IPPort struct
  apps/fz_http/lib/fz_http/devices.ex
Due: mix-compile, mix-lint, mix-analysis

Use more reliable way to trim whitespaces in string-lists
  apps/fz_http/priv/repo/migrations/20230206172556_change_dns_and_allowed_ips_to_inet_array.exs
  apps/fz_http/priv/repo/migrations/20230223175621_trim_dns_fields.exs
Due: mix-lint, mix-analysis

Remove unused variable
  apps/fz_http/lib/fz_http/devices.ex
Due: mix-compile, mix-lint, mix-analysis

Fix typo in migration
  apps/fz_http/priv/repo/migrations/20230206172556_change_dns_and_allowed_ips_to_inet_array.exs
Due: mix-lint, mix-analysis

Hotfix multiple issues with new datatypes that crashed the app when using env overrides (#1484)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/priv/repo/migrations/20230206172556_change_dns_and_allowed_ips_to_inet_array.exs
  apps/fz_http/priv/repo/migrations/20230223175621_trim_dns_fields.exs
Due: mix-compile, mix-lint, mix-analysis

Bump Phoenix to 1.7.1
  mix.lock
Due: none

Do not upload artifacts when PR is made from a fork
  .github/workflows/test.yml
Due: none

Don't create interface if it already exists
  rel/overlays/bin/bootstrap
Due: none

Bump all deps and fix Phoenix to v1.7 (#1480)
  .github/workflows/test.yml
  apps/fz_http/mix.exs
  mix.exs
  mix.lock
Due: mix-lint, mix-analysis

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
