Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Docs - Improve titles and descriptions (#1187)
  docs/docs/administer/migrate.mdx
  docs/docs/administer/regen-keys.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/local-auth.mdx
  docs/docs/authenticate/multi-factor.mdx
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/azuread.mdx
  docs/docs/authenticate/oidc/google.mdx
  docs/docs/authenticate/oidc/keycloak.mdx
  docs/docs/authenticate/oidc/okta.mdx
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
  docs/docs/deploy/README.mdx
  docs/docs/deploy/configure.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/deploy/security-considerations.mdx
  docs/docs/reference/configuration-file.mdx
  docs/docs/reference/env-vars.mdx
  docs/docs/reference/firewall-templates/README.mdx
  docs/docs/user-guides/add-devices.mdx
  docs/docs/user-guides/add-users.mdx
  docs/docs/user-guides/client-instructions.mdx
  docs/docs/user-guides/egress-rules.mdx
  docs/docs/user-guides/use-cases/reverse-tunnel.mdx
Due: none

rewrite configurations data migration
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/priv/repo/data_migrations/20221211201713_move_defaults_to_configurations.exs
  apps/fz_http/priv/repo/migrations/20221207191602_add_defaults_to_configurations.exs
Due: mix-format, mix-lint, mix-compile

fix credo on default port in configuration schema
  apps/fz_http/lib/fz_http/conf/configuration.ex
Due: mix-format, mix-lint, mix-compile

chore: update logs doc
  docs/docs/administer/logs.mdx
  docs/docs/administer/logs/README.mdx
  docs/docs/administer/logs/_audit-logs.mdx
Due: none

chore: apply suggestions from code review
  docs/docs/administer/troubleshoot.mdx
  docs/docs/user-guides/use-cases/split-tunnel.mdx
Due: none

chore: line length and log description
  docs/docs/administer/logs/README.mdx
  docs/docs/administer/troubleshoot.mdx
Due: none

fallback to defaults if not set in env for migration
  apps/fz_http/priv/repo/data_migrations/20221211201713_move_defaults_to_configurations.exs
  rel/overlays/bin/migrate-data
Due: mix-format, mix-lint

chore: rename debug logs
  docs/docs/administer/debug-logs.mdx
  docs/docs/administer/troubleshoot.mdx
  docs/docs/reference/_audit-logs.mdx
Due: none

Move keycloak service in docker-compose.yml to commented out section for IdPs
  docker-compose.yml
Due: none

Move IdP services to separate compose file.
  docker-compose.idp.yml
  docker-compose.yml
Due: none

fix whitespace
  docker-compose.idp.yml
Due: none

chore: apply suggestions from code review
  docs/docs/administer/debug-logs.mdx
  docs/docs/user-guides/client-instructions.mdx
Due: none

checkpoint 2
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: mix-format, mix-lint, mix-compile

Move IdP services to separate docker compose file (#1198)
  docker-compose.idp.yml
  docker-compose.yml
Due: none

Docs - Add draft whitelist sso doc (#1185)
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
  docs/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
Due: none

Add IPv6 address to interface
  docker-compose.prod.yml
Due: none

Add IPv6 address to interface (#1203)
  docker-compose.prod.yml
Due: none

Add instructions for enabling IPv6 within Docker
  docker-compose.prod.yml
  docs/docs/deploy/docker/README.mdx
Due: none

Fix bash cmd
  docs/docs/deploy/docker/README.mdx
Due: none

Apply suggestions from code review
  docs/docs/deploy/docker/README.mdx
Due: none

chore: apply suggestions from code review
  docs/docs/administer/troubleshoot.mdx
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
  docs/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
  docs/docs/user-guides/use-cases/split-tunnel.mdx
Due: none

chore: Update docs/docs/user-guides/client-instructions.mdx
  docs/docs/user-guides/client-instructions.mdx
Due: none

chore: update title capitalization and other small fixes
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/user-guides/client-instructions.mdx
  docs/docs/user-guides/egress-rules.mdx
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
Due: none

Fix IPv6 routing for Docker-based deployments (#1204)
  docker-compose.prod.yml
  docs/docs/deploy/docker/README.mdx
Due: none

Allow IPv6 remote_ips in StatsUpdater
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/devices/stats_updater.ex
Due: mix-format, mix-lint, mix-compile

Allow IPv6 remote_ips in StatsUpdater (#1206)
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/devices/stats_updater.ex
Due: mix-format, mix-lint, mix-compile

Apply suggestions from code review
  docs/docs/user-guides/add-users.mdx
  docs/docs/user-guides/client-instructions.mdx
  docs/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
  docs/docs/user-guides/use-cases/split-tunnel.mdx
Due: none

General Docs Improvements (#1194)
  docs/docs/administer/debug-logs.mdx
  docs/docs/administer/migrate.mdx
  docs/docs/administer/regen-keys.mdx
  docs/docs/administer/troubleshoot.mdx
  docs/docs/authenticate/README.mdx
  docs/docs/authenticate/local-auth.mdx
  docs/docs/authenticate/multi-factor.mdx
  docs/docs/authenticate/oidc/README.mdx
  docs/docs/authenticate/oidc/auth0.mdx
  docs/docs/authenticate/oidc/azuread.mdx
  docs/docs/authenticate/oidc/google.mdx
  docs/docs/authenticate/oidc/keycloak.mdx
  docs/docs/authenticate/oidc/okta.mdx
  docs/docs/authenticate/oidc/onelogin.mdx
  docs/docs/authenticate/oidc/zitadel.mdx
  docs/docs/authenticate/saml/README.mdx
  docs/docs/authenticate/saml/google.mdx
  docs/docs/authenticate/saml/jumpcloud.mdx
  docs/docs/authenticate/saml/okta.mdx
  docs/docs/authenticate/saml/onelogin.mdx
  docs/docs/deploy/README.mdx
  docs/docs/deploy/configure.mdx
  docs/docs/deploy/docker/README.mdx
  docs/docs/deploy/omnibus/README.mdx
  docs/docs/deploy/security-considerations.mdx
  docs/docs/reference/_audit-logs.mdx
  docs/docs/reference/configuration-file.mdx
  docs/docs/reference/env-vars.mdx
  docs/docs/reference/firewall-templates/README.mdx
  docs/docs/user-guides/add-devices.mdx
  docs/docs/user-guides/add-users.mdx
  docs/docs/user-guides/client-instructions.mdx
  docs/docs/user-guides/egress-rules.mdx
  docs/docs/user-guides/use-cases/nat-gateway/README.mdx
  docs/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
  docs/docs/user-guides/use-cases/reverse-tunnel.mdx
  docs/docs/user-guides/use-cases/split-tunnel.mdx
Due: none

Use site table fields, not ENV vars for optional WireGuard config
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/sites.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/site_form_component.html.heex
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
  apps/fz_http/test/fz_http_web/live/setting_live/site_test.exs
  config/config.exs
  config/dev.exs
  config/runtime.exs
  docs/docs/reference/env-vars.mdx
Due: mix-format, mix-lint, mix-compile

Fix whitespace
  docs/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
Due: none

Fix whitespace (#1208)
  docs/docs/user-guides/use-cases/nat-gateway/_whitelist-sso.mdx
Due: none
