Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

chore: hide secret token logging
  config/config.exs
Due: mix-lint, mix-analysis

chore: delete outdated comment
  apps/fz_http/lib/fz_http_web/controllers/auth_gateway_controller.ex
Due: mix-compile, mix-lint, mix-analysis

chore: re-add rule endpoint to send error message
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

chore: remove unnecesary conditional
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: none

chore: remove unused import
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
Due: mix-compile, mix-lint, mix-analysis

chore: make credo happy
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Wrap env vars for conditionals (#1330)
  rel/overlays/bin/server
Due: none

chore: improve code quality by applying PR feedback
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_socket.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/test/fz_http_web/controllers/json/allow_rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

fix: more code quality improvements through feedback and fix ci
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  config/config.exs
Due: mix-compile, mix-lint, mix-analysis

fix: update asyncapi to be feature-full with the gateway
  .gitignore
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/gateways.ex
  asyncapi.yml
  config/runtime.exs
  docker-compose.yml
  priv/gateway-conf/priv
  priv/wg0.client.conf
Due: mix-compile, mix-lint, mix-analysis

fix: gateway image name
  docker-compose.yml
Due: none

Don't override in SAML config fields
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/fz_http_web/plug/path_prefix_test.exs
Due: mix-compile, mix-lint, mix-analysis

Omit ownership statements from Postgres DB dump
  scripts/docker_migrate.sh
Due: none

Omit ownership statements from Postgres DB dump (#1334)
  scripts/docker_migrate.sh
Due: none

Update apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http/config.ex
Due: mix-compile, mix-lint, mix-analysis

Move key_function/2 inside else block
  apps/fz_http/lib/fz_http/config.ex
Due: mix-compile, mix-lint, mix-analysis

Filter out nil IPs before adding to the nftables ruleset (#1332)
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-compile, mix-lint, mix-analysis

Don't override SAML config booleans (#1333)
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http/saml/start_proxy.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/acceptance/admin_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
  apps/fz_http/test/fz_http_web/plug/path_prefix_test.exs
Due: mix-compile, mix-lint, mix-analysis

Update troubleshooting guide for clearing auth config in DB
  docs/docs/administer/troubleshoot.mdx
Due: none

Rework MFA methods
  apps/fz_http/assets/js/hooks.js
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/mfa/method.ex
  apps/fz_http/lib/fz_http/mfa/method/changeset.ex
  apps/fz_http/lib/fz_http/mfa/method/query.ex
  apps/fz_http/lib/fz_http/repo.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/error_helpers.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_mfa.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/auth_live.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_component.ex
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/saml_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index_live.ex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  apps/fz_http/priv/repo/migrations/20230116200524_add_not_null_to_mfa_methods.exs
  apps/fz_http/test/fz_http/mfa_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/fz_http_web/live/mfa_live/auth_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/index_test.exs
  apps/fz_http/test/support/acceptance_case/auth.ex
  apps/fz_http/test/support/fixtures/mfa_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
Due: mix-compile, mix-lint, mix-analysis

Remove phx-change hook
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
Due: mix-compile, mix-lint, mix-analysis

Fix typo
  apps/fz_http/test/fz_http/mfa_test.exs
Due: mix-lint, mix-analysis

Add e2e test for magic links
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/support/mailer_test_adapter.ex
  config/test.exs
Due: mix-compile, mix-lint, mix-analysis

fix test name
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
Due: mix-lint, mix-analysis

I hate credo :upside_down_face:
  apps/fz_http/test/fz_http/devices/device/query_test.exs
Due: mix-lint, mix-analysis

Soft limit CIDR range for IPv6 network to 288230376151711744 devices
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/test/fz_http/devices/device/query_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-compile, mix-lint, mix-analysis

Fix function name after rebase
  apps/fz_http/test/fz_http/devices_test.exs
Due: mix-lint, mix-analysis

Add e2e test for magic links (#1345)
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/test/fz_http_web/acceptance/authentication_test.exs
  apps/fz_http/test/support/mailer_test_adapter.ex
  config/test.exs
Due: mix-compile, mix-lint, mix-analysis

Improve OUTBOUND_EMAIL_* field parsing and errors
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http/configurations/mailer.ex
  apps/fz_http/lib/fz_http/mailer.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/mailer.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/auth/request.html.heex
  apps/fz_http/lib/fz_http_web/views/auth_view.ex
  apps/fz_http/test/fz_http/configurations/mailer_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
  apps/fz_http/test/fz_http_web/mailer_test.exs
  config/runtime.exs
Due: mix-compile, mix-lint, mix-analysis

chore: use ntoa instead of custom function and other small improvements
  .gitignore
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/gateways.ex
Due: mix-compile, mix-lint, mix-analysis

chore: use ectonetwork to extract netmask from string instead of manually doing it
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/mix.exs
Due: mix-compile, mix-lint, mix-analysis

Protect local auth related routes using plug
  apps/fz_http/lib/fz_http/config.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/mailer.ex
  apps/fz_http/lib/fz_http_web/plug/require_local_authentication.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/auth/request.html.heex
  apps/fz_http/lib/fz_http_web/views/auth_view.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

Add local_auth disabled test for GET /auth/identity
  apps/fz_http/lib/fz_http_web/templates/auth/request.html.heex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-lint, mix-analysis

Use embedded_schema vs schemaless changeset
  apps/fz_http/lib/fz_http/configurations/mailer.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/mailer.ex
Due: mix-compile, mix-lint, mix-analysis

Fix telemetry_test.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
Due: mix-lint, mix-analysis
