Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Remove unnecessary function from config.ex
  apps/fz_http/lib/fz_http/config.ex
Due: mix-format, mix-lint, mix-compile

Fix commit ref
  apps/fz_http/lib/fz_http/devices/device/query.ex
Due: mix-format, mix-lint, mix-compile

Increase timeout to make test less flaky
  apps/fz_http/test/fz_http/devices/device/query_test.exs
Due: mix-format, mix-lint

Put valid SAMLy paths even if tests are run from subdirectory
  config/config.exs
Due: mix-format, mix-lint

Remove compile-time warnings
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device/query.ex
Due: mix-format, mix-lint, mix-compile

Drop inspect from config.ex
  config/config.exs
Due: mix-format, mix-lint

Split deps and build cache; namespace by workflow
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
Due: none

Don't cache _build in static-analysis workflow
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Don't cache Elixir build in static_analysis workflow (#1227)
  .github/workflows/static_analysis.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

REST API: Controllers and Views (#1148)
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/auth/html/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/html/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/html/pipeline.ex
  apps/fz_http/lib/fz_http_web/auth/json/authentication.ex
  apps/fz_http/lib/fz_http_web/auth/json/error_handler.ex
  apps/fz_http/lib/fz_http_web/auth/json/pipeline.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/configuration_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/device_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/fallback_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/user_controller.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/plug/authorization.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/json/changeset_view.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/json/device_view.ex
  apps/fz_http/lib/fz_http_web/views/json/encoders/postgrex_inet.ex
  apps/fz_http/lib/fz_http_web/views/json/rule_view.ex
  apps/fz_http/lib/fz_http_web/views/json/user_view.ex
  apps/fz_http/priv/repo/seeds.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http_web/authentication_test.exs
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/fz_http_web/mailer_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/conn_case.ex
  config/config.exs
  config/runtime.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

REST API: Token migration (#1149)
  .pre-commit-config.yaml
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/configurations.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/priv/repo/migrations/20221126044850_create_api_tokens.exs
  apps/fz_http/priv/repo/migrations/20221129002233_update_on_delete_behavior.exs
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/support/fixtures/api_tokens_fixtures.ex
  apps/fz_http/test/support/fixtures/devices_fixtures.ex
Due: mix-format, mix-lint, mix-compile

Add gateways migration (#1186)
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
Due: mix-format, mix-lint

Remove unneeded functions, add tests
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/test/fz_http/api_tokens_test.exs
Due: mix-format, mix-lint, mix-compile

add allow rules migration (#1189)
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
Due: mix-format, mix-lint

Add gateway and allow rule schemas (#1191)
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/allow_rules/allow_rule.ex
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http/gateways/gateway.ex
  apps/fz_http/priv/repo/migrations/20221207180310_create_gateways.exs
  apps/fz_http/priv/repo/migrations/20221208070140_create_allow_rules.exs
  apps/fz_http/test/fz_http/allow_rules_test.exs
  apps/fz_http/test/fz_http/gateways_test.exs
  apps/fz_http/test/support/fixtures/allow_rules_fixtures.ex
  apps/fz_http/test/support/fixtures/gateways_fixtures.ex
Due: mix-format, mix-lint, mix-compile

Make sure that our tests are less flaky
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/devices/device/query_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/fixtures/devices_fixtures.ex
  mix.lock
Due: mix-format, mix-lint, mix-compile

Disable Credo moduledoc check
  .credo.exs
Due: mix-format, mix-lint

Make Credo happy about numbers
  apps/fz_http/test/fz_http/devices/device/query_test.exs
Due: mix-format, mix-lint

Fix tests that assert on absent preshared key (a fixture bug)
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/test/fz_http/devices/device/query_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/repo/notifier_test.exs
Due: mix-format, mix-lint, mix-compile

Remove lefover merge artifact
  docs/docs/reference/env-vars.mdx
Due: none

Replace FIXME with XXX
  apps/fz_http/lib/fz_http/devices/device/query.ex
Due: mix-format, mix-lint, mix-compile

chore: remove unused variables
  apps/fz_http/lib/fz_http/devices.ex
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

chore: remove unused debug statement
  apps/fz_http/lib/fz_http/devices.ex
Due: mix-format, mix-lint, mix-compile

Rollback the change that introduced git command
  apps/fz_http/lib/fz_http/devices/device.ex
  config/config.exs
Due: mix-format, mix-lint, mix-compile

refactor: removes hammer dependency and all code references
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/mix.exs
  config/config.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

fix: removes html_entities dep that was mistakenly added to mix.lock
  mix.lock
Due: none

Remove line committed by accident
  apps/fz_http/lib/fz_http/devices/device.ex
Due: mix-format, mix-lint, mix-compile

chore: revert stylistic changes introduced by the editor to reduce diffs
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http_web/endpoint.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
Due: mix-format, mix-lint, mix-compile

fix: endpoint migration when `EXTERNAL_URL` is not present
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
Due: mix-format, mix-lint

Replace all bigint primary keys with UUIDs
  apps/fz_http/lib/fz_http.ex
  apps/fz_http/lib/fz_http/api_tokens/api_token.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/conf/logo.ex
  apps/fz_http/lib/fz_http/conf/oidc_config.ex
  apps/fz_http/lib/fz_http/conf/saml_config.ex
  apps/fz_http/lib/fz_http/connectivity_checks/connectivity_check.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/devices/device_setting.ex
  apps/fz_http/lib/fz_http/mfa/method.ex
  apps/fz_http/lib/fz_http/oidc/connection.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http/sites/site.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/channels/notification_channel.ex
  apps/fz_http/priv/repo/migrations/20221223190406_migrate_pks_to_uuid.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/users_test.exs
Due: mix-format, mix-lint, mix-compile

Adopt timestamptz type and remove updated_at fields on immutable tables
  apps/fz_http/lib/fz_http/api_tokens/api_token.ex
  apps/fz_http/lib/fz_http/connectivity_checks/connectivity_check.ex
  apps/fz_http/priv/repo/migrations/20221223223357_migrate_datetimes_to_timestamptz.exs
Due: mix-format, mix-lint, mix-compile

Make revoked_at field of api tokens covered by partial index
  apps/fz_http/priv/repo/migrations/20221223223734_change_api_tokens_revoked_at_index_to_partial.exs
Due: mix-format, mix-lint

Order inserted_at index for connectivity_checks
  apps/fz_http/priv/repo/migrations/20221223223931_order_connectivity_checks_inserted_at_index.exs
Due: mix-format, mix-lint

refactor: remove reference to in house rate limiter in docs
  docs/docs/reference/firewall-templates/nftables.mdx
  docs/docs/reference/security-controls.mdx
Due: none

fix: removes unused router attribute for rate limiting
  apps/fz_http/lib/fz_http_web/router.ex
  docs/docs/reference/firewall-templates/nftables.mdx
Due: mix-format, mix-lint, mix-compile

fix: endpoint migration when `EXTERNAL_URL` is not present (#1232)
  apps/fz_http/priv/repo/migrations/20221219020354_move_wireguard_optional_fields_to_sites.exs
Due: mix-format, mix-lint

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
