Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Install deps
  .github/workflows/ci.yml
Due: none

add clang dependency
  .github/workflows/update_deps.yml
Due: none

add asdf install for rust
  .github/workflows/ci.yml
Due: none

fix elixir lint in wireguard_bridge
  apps/fz_vpn/lib/fz_vpn/wireguard_bridge.ex
Due: mix-format, mix-lint, mix-compile

really add the rust asdf plugin
  .github/workflows/ci.yml
Due: none

remove plugin-add for rust
  .github/workflows/ci.yml
Due: none

woops, didn't meant to switch this one, got carried away :/
  .github/workflows/ci.yml
Due: none

remove deps updates, make a separate pr for them into master
  .github/workflows/update_deps.yml
Due: none

replace libclang to use clang package instead for unit-test & static-analysis
  .github/workflows/ci.yml
Due: none

d'oh remove tree
  .github/workflows/ci.yml
Due: none

Compile, dir change
  .github/workflows/ci.yml
Due: none

Split rust compilation from elixir compilation
  .github/workflows/ci.yml
  apps/fz_vpn/lib/fz_vpn/wireguard_bridge.ex
  config/config.exs
  config/prod.exs
Due: mix-format, mix-lint, mix-compile

Disable stats push service in test
  .github/workflows/ci.yml
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  config/config.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Skip runtime authoidc config in test
  config/runtime.exs
Due: mix-format, mix-lint

build wireguard_nif for x64 and arm64
  .github/workflows/ci.yml
Due: none

explicitly set ImageOS as it seems to be undefined after the matrix strategy
  .github/workflows/ci.yml
Due: none

use matrix properly
  .github/workflows/ci.yml
Due: none

add aarch64-unknown-linux-gnu target
  .github/workflows/ci.yml
Due: none

Minor test improvements
  .github/workflows/ci.yml
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  config/config.exs
  config/runtime.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

address comments
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/oidc/refresh_manager.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/live/user_live/allowed_to_connect_component.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/priv/repo/migrations/20220520072323_add_disabled_at_to_user.exs
  apps/fz_http/priv/repo/migrations/20220520072323_add_oidc_refresh_failed_to_user.exs
  apps/fz_http/test/fz_http/oidc/refresher_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/allowed_to_connect_component_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/vpn_connection_component_test.exs
Due: mix-format, mix-lint, mix-compile

Don't hardcode MIX_ENV; clarify .env file usage
  .env.sample
Due: none

re-enable user when sign-ed via oidc
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
Due: mix-format, mix-lint, mix-compile

fix test
  apps/fz_http/test/fz_http_web/live/user_live/vpn_connection_component_test.exs
Due: mix-format, mix-lint

remove unused alias
  apps/fz_http/lib/fz_http/users.ex
Due: mix-format, mix-lint, mix-compile

fix tests
  apps/fz_http/lib/fz_http_web/authentication.ex
Due: mix-format, mix-lint, mix-compile

Spruce up fz_common tests
  apps/fz_common/coveralls.json
  apps/fz_common/lib/fz_integer.ex
  apps/fz_common/mix.exs
  apps/fz_common/test/fz_crypto_test.exs
  apps/fz_common/test/fz_integer_test.exs
  apps/fz_common/test/fz_net_test.exs
  apps/fz_common/test/mock_telemetry_test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Reduce cookie age to 4 hours
  apps/fz_http/lib/fz_http_web/session.ex
Due: mix-format, mix-lint, mix-compile

update tests
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/vpn_connection_component_test.exs
  apps/fz_http/test/support/fixtures/users_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

fix re-enable
  apps/fz_http/lib/fz_http/users.ex
Due: mix-format, mix-lint, mix-compile

add tests
  apps/fz_http/test/fz_http/users_test.exs
Due: mix-format, mix-lint

Update vpn_connection_component_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/vpn_connection_component_test.exs
Due: mix-format, mix-lint

revert formats
  apps/fz_http/lib/fz_http/users.ex
Due: mix-format, mix-lint, mix-compile

tests
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/show_test.exs
  apps/fz_http/test/support/fixtures/users_fixtures.ex
Due: mix-format, mix-lint, mix-compile

remove alias
  apps/fz_http/test/fz_http_web/live/user_live/vpn_connection_component_test.exs
Due: mix-format, mix-lint

Minor test improvements (#644)
  .env.sample
  .github/workflows/ci.yml
  apps/fz_common/coveralls.json
  apps/fz_common/lib/fz_integer.ex
  apps/fz_common/mix.exs
  apps/fz_common/test/fz_crypto_test.exs
  apps/fz_common/test/fz_integer_test.exs
  apps/fz_common/test/fz_net_test.exs
  apps/fz_common/test/mock_telemetry_test.exs
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  config/config.exs
  config/runtime.exs
  config/test.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Docs - update add and edit device instructions (#614)
  docs/docs/user-guides/add-devices.md
  docs/docs/user-guides/add-users.md
  docs/docs/user-guides/reverse-tunnel.md
Due: none

Reduce cookie age to 4 hours (#646)
  apps/fz_http/lib/fz_http_web/session.ex
Due: mix-format, mix-lint, mix-compile
