Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

UI/database improvements
  apps/fz_http/lib/fz_http/int4range.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: mix-format, mix-lint, mix-compile

UI and Int4Range improvements
  apps/fz_http/lib/fz_http/int4range.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
Due: mix-format, mix-lint, mix-compile

Fix config ui out of sync (#875)
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/security_live.ex
  apps/fz_http/test/fz_http_web/live/setting_live/security_test.exs
Due: mix-format, mix-lint, mix-compile

Reduce cast coverage (#851)
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http/users/password_helpers.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_form_component.ex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/account_test.exs
  apps/fz_http/test/support/fixtures/users_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
  docker-compose.yml
Due: mix-format, mix-lint, mix-compile

UI fixes for notifications badge
  apps/fz_http/lib/fz_http/notifications.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.html.heex
  apps/fz_http/lib/fz_http_web/live/notifications_live/index.html.heex
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: mix-format, mix-lint, mix-compile

remove http-related nginx config (#866)
  Gemfile.lock
  docs/docs/administer/upgrade.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/recipes/nginx.rb
  omnibus/cookbooks/firezone/templates/phoenix.nginx.conf.erb
  omnibus/cookbooks/firezone/templates/redirect.conf.erb
Due: none

Multiple improvements
  apps/fz_http/lib/fz_http/int4range.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/priv/repo/migrations/20220726205646_add_rule_port_range.exs
  apps/fz_wall/lib/fz_wall/cli/live.ex
Due: mix-format, mix-lint, mix-compile

Add notifications live view tests
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/notifications.ex
  apps/fz_http/lib/fz_http_web/live/notifications_live/badge.html.heex
  apps/fz_http/test/fz_http/notifications_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/badge_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/index_test.exs
  apps/fz_http/test/support/fixtures/notifications_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Fix tests
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/test/fz_http/notifications_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/badge_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/index_test.exs
Due: mix-format, mix-lint, mix-compile

Reduce wait time for pg notifies
  apps/fz_http/test/fz_http/repo/notifier_test.exs
Due: mix-format, mix-lint

Add tests for port rules
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Go easy on the x-forwarded-for header
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

Go easy on the x-forwarded-for header (#877)
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

load cache on continue
  apps/fz_http/lib/fz_http/conf/cache.ex
Due: mix-format, mix-lint, mix-compile

minor refactor and update error message
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
Due: mix-format, mix-lint, mix-compile

Fix error message for tests
  apps/fz_http/test/fz_http/rules_test.exs
Due: mix-format, mix-lint

Test Notifier event handling instead of using unboxed sandbox runs
  apps/fz_http/lib/fz_http/repo/notifier.ex
  apps/fz_http/test/fz_http/repo/notifier_test.exs
Due: mix-format, mix-lint, mix-compile

Trigger events on device/rule/user insert and delete instead of from UI actions. (#835)
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device_setting.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/repo/notifier.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/priv/repo/migrations/20220721164925_add_device_rule_user_notify_triggers.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/repo/notifier_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/admin/show_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/unprivileged/show_test.exs
  config/config.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

int4range refactor
  apps/fz_http/lib/fz_http/int4range.ex
Due: mix-format, mix-lint, mix-compile

fix docs link, deleted wrong one in the merge!
  apps/fz_http/lib/fz_http_web/templates/layout/admin.html.heex
Due: none

bump docusaurus
  docs/package-lock.json
  docs/package.json
Due: none

clean up tests based on pr feedback
  apps/fz_http/test/fz_http/notifications_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/badge_test.exs
  apps/fz_http/test/fz_http_web/live/notifications_live/index_test.exs
  apps/fz_http/test/support/fixtures/notifications_fixtures.ex
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

bump docusaurus (#882)
  docs/package-lock.json
  docs/package.json
Due: none

Fix API key
  docs/docusaurus.config.js
Due: none

Fix API key (#883)
  docs/docusaurus.config.js
Due: none

Fix algolia searchbar
  docs/docusaurus.config.js
Due: none

Fix algolia searchbar (#884)
  docs/docusaurus.config.js
Due: none

Add initial rough version of port based rules (#874)
  apps/fz_http/lib/fz_http/int4range.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http/rules/rule_setting.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/priv/repo/migrations/20220726205646_add_rule_port_range.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/repo/notifier_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/test/fz_wall/cli/sandbox_test.exs
Due: mix-format, mix-lint, mix-compile
