Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

soft-require EXTERNAL_URL to be set (#632)
  .env.sample
  config/config.exs
  config/runtime.exs
Due: mix-format, mix-lint

Update needs to set output (#633)
  .github/workflows/ci.yml
Due: none

add connection [skip ci]
  apps/fz_http/lib/fz_http/oidc.ex
  apps/fz_http/lib/fz_http/oidc/connection.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/priv/repo/migrations/20220519034545_create_oidc_connections.exs
Due: mix-format, mix-lint, mix-compile

Bump all runtimes; use simpler version function for app version
  .github/workflows/ci.yml
  .tool-versions
  apps/fz_common/mix.exs
  apps/fz_http/assets/package-lock.json
  apps/fz_http/mix.exs
  apps/fz_vpn/mix.exs
  apps/fz_wall/mix.exs
  docs/Gemfile.lock
  mix.exs
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus/config/software/erlang.rb
  omnibus/config/software/nodejs.rb
  omnibus/config/software/ruby.rb
  scripts/semver.sh
  scripts/version.exs
Due: mix-format, mix-lint

implement periodic refresh
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/oidc/refresh_manager.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
Due: mix-format, mix-lint, mix-compile

format [skip ci]
  apps/fz_http/lib/fz_http/oidc/refresher.ex
Due: mix-format, mix-lint, mix-compile

no need to guard
  apps/fz_http/lib/fz_http/application.ex
Due: mix-format, mix-lint, mix-compile

make credo happy
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
Due: mix-format, mix-lint, mix-compile

Missed a few runtime updates
  .github/workflows/ci.yml
Due: none

Add asdf update commands
  .github/workflows/ci.yml
Due: none

update ruby plugin
  .github/workflows/ci.yml
Due: none

Update erlang build CFLAGS
  omnibus/config/software/erlang.rb
Due: none

Revert ruby to 2.7.5, link zlib.h
  .tool-versions
  omnibus/config/software/erlang.rb
  omnibus/config/software/ruby.rb
Due: none

Bump all runtimes; use simpler version function for app version (#634)
  .github/workflows/ci.yml
  .tool-versions
  apps/fz_common/mix.exs
  apps/fz_http/assets/package-lock.json
  apps/fz_http/mix.exs
  apps/fz_vpn/mix.exs
  apps/fz_wall/mix.exs
  docs/Gemfile.lock
  mix.exs
  omnibus/Gemfile
  omnibus/Gemfile.lock
  omnibus/config/software/erlang.rb
  omnibus/config/software/nodejs.rb
  omnibus/config/software/ruby.rb
  scripts/semver.sh
  scripts/version.exs
Due: mix-format, mix-lint

Deploying to gh-pages from @ firezone/firezone@500faf813a79f99afc73621f766c67598198e574 🚀
  assets/versions.txt
  feed.xml
Due: none

Add rustler dependency to fz_vpn & stub out Wireguard NIF
  apps/fz_vpn/.gitignore
  apps/fz_vpn/lib/fz_vpn/cli/wireguard.ex
  apps/fz_vpn/mix.exs
  apps/fz_vpn/native/wireguard_nif/.cargo/config
  apps/fz_vpn/native/wireguard_nif/.gitignore
  apps/fz_vpn/native/wireguard_nif/Cargo.lock
  apps/fz_vpn/native/wireguard_nif/Cargo.toml
  apps/fz_vpn/native/wireguard_nif/src/lib.rs
  mix.lock
Due: mix-format, mix-lint, mix-compile

add doc to wireguard module & move up a level from cli
  apps/fz_vpn/lib/fz_vpn/wireguard.ex
  apps/fz_vpn/native/wireguard_nif/src/lib.rs
Due: mix-format, mix-lint, mix-compile

remove filter
  apps/fz_http/lib/fz_http/application.ex
Due: mix-format, mix-lint, mix-compile

Disable form autocomplete in some cases
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
Due: none

Actually use VERSION from CI
  omnibus/config/software/firezone.rb
Due: none

Actually build from CI
  omnibus/config/projects/firezone.rb
  omnibus/config/software/firezone.rb
Due: none

Disable form autocomplete in some cases (#636)
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
Due: none

Actually version from ci (#637)
  omnibus/config/projects/firezone.rb
  omnibus/config/software/firezone.rb
Due: none

updates
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/users/user.ex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index_live.ex
  apps/fz_http/priv/repo/migrations/20220520072323_add_oidc_refresh_failed_to_user.exs
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@0c18abf844e11554d95e4eb63c5d4ec334ca14f0 🚀
  assets/versions.txt
  feed.xml
Due: none

Add workflow for updating runner deps
  .github/workflows/update_deps.yml
Due: none

Add workflow for updating runner deps (#638)
  .github/workflows/update_deps.yml
Due: none

Update update_deps.yml
  .github/workflows/update_deps.yml
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
