Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Fix docs page crash (#1265)
  docs/src/components/InstallBlock/index.js
Due: none

Add error condition REST API tests
  .formatter.exs
  apps/fz_http/lib/fz_http/connectivity_checks.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/auth/json/error_handler.ex
  apps/fz_http/lib/fz_http_web/controllers/json/fallback_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/test/fz_http/configurations_test.exs
  apps/fz_http/test/fz_http/connectivity_checks_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/conn_case.ex
  apps/fz_http/test/support/fixtures/configurations_fixtures.ex
  config/test.exs
Due: mix-compile, mix-lint, mix-analysis

Address PR feedback
  apps/fz_http/lib/fz_http_web/controllers/json/fallback_controller.ex
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/support/api_case.ex
Due: mix-compile, mix-lint, mix-analysis

Add Configuration encoders
  apps/fz_http/lib/fz_http_web/views/json/encoders/openid_connect_provider.ex
  apps/fz_http/lib/fz_http_web/views/json/encoders/saml_identity_provider.ex
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

Slightly different rule params
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
Due: mix-lint, mix-analysis

Checkpoint
  .formatter.exs
  config/test.exs
  rel/overlays/bin/create-api-token
Due: mix-lint, mix-analysis

Add CLI-friendly way of generating API tokens
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/test/fz_http/release_test.exs
Due: mix-compile, mix-lint, mix-analysis

Move metadata to saml fixture
  apps/fz_http/test/fz_http/configurations_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/support/fixtures/openid_connect_provider_fixtures.ex
  apps/fz_http/test/support/fixtures/saml_config_fixtures.ex
  apps/fz_http/test/support/fixtures/saml_identity_provider_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Tidy assertions to use local vars
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/support/api_case.ex
Due: mix-compile, mix-lint, mix-analysis

use JSON view
  apps/fz_http/lib/fz_http/configurations/configuration/openid_connect_provider.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/json/encoders/openid_connect_provider.ex
  apps/fz_http/lib/fz_http_web/views/json/encoders/saml_identity_provider.ex
  apps/fz_http/lib/fz_http_web/views/json/openid_connect_provider_view.ex
  apps/fz_http/lib/fz_http_web/views/json/saml_identity_provider_view.ex
Due: mix-compile, mix-lint, mix-analysis

Add more comprehensive REST API tests (#1269)
  .formatter.exs
  apps/fz_http/lib/fz_http/configurations/configuration/openid_connect_provider.ex
  apps/fz_http/lib/fz_http/connectivity_checks.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/auth/json/error_handler.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/views/json/configuration_view.ex
  apps/fz_http/lib/fz_http_web/views/json/openid_connect_provider_view.ex
  apps/fz_http/lib/fz_http_web/views/json/saml_identity_provider_view.ex
  apps/fz_http/test/fz_http/configurations_test.exs
  apps/fz_http/test/fz_http/connectivity_checks_test.exs
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/conn_case.ex
  apps/fz_http/test/support/fixtures/configurations_fixtures.ex
  apps/fz_http/test/support/fixtures/openid_connect_provider_fixtures.ex
  apps/fz_http/test/support/fixtures/saml_config_fixtures.ex
  apps/fz_http/test/support/fixtures/saml_identity_provider_fixtures.ex
  config/test.exs
Due: mix-compile, mix-lint, mix-analysis

Update upgrade.mdx
  docs/docs/administer/upgrade.mdx
Due: none

API Token CLI (#1271)
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/test/fz_http/release_test.exs
  rel/overlays/bin/create-api-token
Due: mix-compile, mix-lint, mix-analysis

Fix minor typos with Docker deploy docs
  docs/docs/deploy/docker/README.mdx
Due: none

Fix minor deploy docs typos (#1280)
  docs/docs/deploy/docker/README.mdx
Due: none

Add deprecation warning
  omnibus/package-scripts/firezone/postinst
Due: none

chore: improve code quality by applying PR feedback
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http_web/channels/gateway_socket.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
Due: mix-compile, mix-lint, mix-analysis

fix: more code quality improvements through feedback and fix ci
  apps/fz_http/lib/fz_http/allow_rules.ex
  apps/fz_http/lib/fz_http/gateways.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  config/config.exs
Due: mix-compile, mix-lint, mix-analysis

Add deprecation warning to `postinst` script (#1282)
  omnibus/package-scripts/firezone/postinst
Due: none

Generate API docs from tests and Phoenix Controller docs
  api.apib
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/controllers/json/configuration_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/device_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/lib/fz_http_web/doc_helpers.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http_web/controllers/json/configuration_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/support/api_case.ex
  apps/fz_http/test/support/api_doc_formatter.ex
  apps/fz_http/test/test_helper.exs
  config/test.exs
  mix.lock
Due: mix-compile, mix-lint, mix-analysis

Update generates doc
  api.apib
Due: none

Fix double-title issue
  api.apib
  apps/fz_http/test/support/api_doc_formatter.ex
Due: mix-compile, mix-lint, mix-analysis

Use eval for create-or-reset-admin; expose with RESET_ADMIN_ON_BOOT
  apps/fz_http/lib/fz_http/release.ex
  docs/docs/deploy/docker/README.mdx
  docs/docs/reference/env-vars.mdx
  rel/overlays/bin/create-or-reset-admin
  rel/overlays/bin/server
  scripts/install.sh
Due: mix-compile, mix-lint, mix-analysis

Fix issue with doc fetcher
  api.apib
  apps/fz_http/test/support/api_doc_formatter.ex
Due: mix-compile, mix-lint, mix-analysis

Use eval for create-or-reset-admin; expose with RESET_ADMIN_ON_BOOT (#1287)
  apps/fz_http/lib/fz_http/release.ex
  docs/docs/deploy/docker/README.mdx
  docs/docs/reference/env-vars.mdx
  rel/overlays/bin/create-or-reset-admin
  rel/overlays/bin/server
  scripts/install.sh
Due: mix-compile, mix-lint, mix-analysis

Switch to OpenAPI doc generation
  api.apib
  api.json
  apps/fz_http/lib/fz_http_web/controllers/json/configuration_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/device_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/rule_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/test/support/api_doc_formatter.ex
  apps/fz_http/test/test_helper.exs
Due: mix-compile, mix-lint, mix-analysis

Experiment with generation of OpenAPI spec
  api.json
  apps/fz_http/test/support/api_doc_formatter.ex
  docs/docusaurus.config.js
  docs/openapi.yaml
  docs/package.json
Due: mix-compile, mix-lint, mix-analysis

Generate docs straight to MDX format
  api.json
  apps/fz_http/lib/fz_http_web/controllers/json/user_controller.ex
  apps/fz_http/test/fz_http_web/controllers/json/device_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/rule_controller_test.exs
  apps/fz_http/test/fz_http_web/controllers/json/user_controller_test.exs
  apps/fz_http/test/support/api_doc_formatter.ex
  apps/fz_http/test/test_helper.exs
  docs/docs/reference/api/README.md
  docs/docs/reference/api/configuration.mdx
  docs/docs/reference/api/device.mdx
  docs/docs/reference/api/rule.mdx
  docs/docs/reference/api/users.mdx
Due: mix-compile, mix-lint, mix-analysis, markdownlint

Add HTTP_CLIENT_SSL_OPTS example
  docs/docs/reference/env-vars.mdx
Due: none

Add HTTP_CLIENT_SSL_OPTS example (#1290)
  docs/docs/reference/env-vars.mdx
Due: none
