Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Fix endpoint typo
  apps/fz_http/priv/repo/seeds.exs
Due: mix-format, mix-lint

add user id to rules (#722)
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Remove old interface when changing names (#805)
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/recipes/default.rb
Due: none

Update egress rules user guide with user scope ui (#782)
  apps/fz_http/lib/fz_http_web/live/rule_live/index.html.heex
  docs/docs/user-guides/egress-rules.md
Due: none

use x-forwarded-for in addition to x-real-ip (#785)
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

Improve user vpn connection status ui (#784)
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_status_component.ex
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http_web/live/user_live/vpn_status_component_test.exs
  docs/docs/authenticate/README.md
Due: mix-format, mix-lint, mix-compile

Bump chef client in firezone cookbooks Gemfile to 17.10.0 (#755)
  omnibus/cookbooks/firezone/Gemfile
Due: none

Add sample users/devices (#802)
  apps/fz_http/priv/repo/seeds.exs
Due: mix-format, mix-lint

revert removing the x-forwarded-for header (#837)
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  apps/fz_http/lib/fz_http_web/header_helpers.ex
  apps/fz_http/lib/fz_http_web/proxy_headers.ex
Due: mix-format, mix-lint, mix-compile

fix build (#778)
  apps/fz_http/lib/fz_http_web/live/device_live/admin/show_live.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/events_test.exs
Due: mix-format, mix-lint, mix-compile

Bump nodejs to 16 lts (#772)
  .tool-versions
  omnibus/config/software/nodejs.rb
Due: none

Fix linter error
  docs/docs/deploy/install-server.md
Due: none

Add redirect routes for oidc signin links by provider (#770)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/root/auth.html.heex
  apps/fz_http/lib/fz_http_web/views/root_view.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
  docs/docs/authenticate/index.md
Due: mix-format, mix-lint, mix-compile

Logo Customization (#800)
  .credo.exs
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/live/logo_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/priv/repo/migrations/20220713050742_create_configurations.exs
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint, mix-compile

Add telemetry data to the ping event (#801)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/test/fz_http/telemetry_test.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Better document telemetry (#658)
  docs/docs/reference/telemetry.md
Due: none

Telemetry timeouts (#836)
  apps/fz_common/lib/telemetry.ex
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
  scripts/install.sh
Due: mix-format, mix-lint, mix-compile

Make phoenix crash detection configurable. (#813)
  docs/docs/reference/configuration-file.md
  docs/src/css/custom.css
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
Due: none

Docker DEV (#737)
  .devcontainer/Caddyfile
  .dockerignore
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  apps/fz_http/priv/repo/seeds.exs
  docker-compose.yml
  scripts/dev_start.sh
  scripts/post-down-wg.sh
  scripts/post-up-wg.sh
Due: mix-format, mix-lint

Use to_atom/1 for some ssl_opts keys (#806)
  config/runtime.exs
  omnibus/cookbooks/firezone/attributes/default.rb
Due: mix-format, mix-lint

Replaces nftables rule management to use sets (#766)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/server.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/mock_events.ex
  apps/fz_http/test/fz_http/devices_test.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/fz_http/users_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/helpers/sets.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Implement PKCE (#789)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/test/fz_http_web/controllers/auth_controller_test.exs
Due: mix-format, mix-lint, mix-compile

Update rules UI to include optional user scope (#764)
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.ex
  apps/fz_http/lib/fz_http_web/live/rule_live/rule_list_component.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/user_details.html.heex
  apps/fz_http/test/fz_http_web/live/rule_live/index_test.exs
  apps/fz_http/test/support/test_helpers.ex
  docs/docs/user-guides/firewall-rules.md
Due: mix-format, mix-lint, mix-compile

Fix nil device error for stats push service and use live WireGuard adapter in dev. (#825)
  .env.sample
  apps/fz_vpn/lib/fz_vpn/application.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  config/config.exs
  config/dev.exs
  config/prod.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

Only handle interface change on changes (#811)
  omnibus/cookbooks/firezone/recipes/default.rb
Due: none

Use toggle for vpn connection permission (#787)
  apps/fz_http/assets/package-lock.json
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
Due: mix-format, mix-lint, mix-compile

Guard tput calls for errors from CI (#827)
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
  scripts/uninstall.sh
Due: none

wait 10
  apps/fz_http/test/fz_http_web/live/setting_live/unprivileged/account_test.exs
Due: mix-format, mix-lint

Fix handling invalid client reason (#828)
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
