Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Remove Postgresql config fluff
  omnibus/config/projects/firezone.rb
  omnibus/config/software/firezone.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/metadata.rb
  omnibus/cookbooks/firezone/recipes/database.rb
  omnibus/cookbooks/firezone/recipes/phoenix.rb
  omnibus/cookbooks/firezone/templates/postgresql.conf.erb
  omnibus/cookbooks/firezone/templates/sv-phoenix-run.erb
Due: none

Use older gcc
  .ci/provision/centos_7.sh
  omnibus/config/patches/pkg-config/openbsd-charset.patch
  omnibus/config/software/zlib.rb
Due: none

Checkpoint for iMac testing
  .ci/provision/centos_7.sh
  .ci/provision/centos_8.sh
  .ci/provision/debian_10.sh
  .ci/provision/fedora_33.sh
  .ci/provision/fedora_34.sh
  .ci/provision/ubuntu_18.04.sh
  .ci/provision/ubuntu_20.04.sh
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.leex
  apps/fz_http/lib/fz_http_web/live/device_live/show_live.ex
  apps/fz_http/test/fz_http/release_test.exs
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/config.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  config/config.exs
  config/prod.exs
  config/releases.exs
  omnibus/config/software/erlang.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/recipes/app.rb
  omnibus/cookbooks/firezone/recipes/default.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-run.erb
Due: mix-format, mix-lint, mix-compile

Checkpoint back to linux
  .tool-versions
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  config/dev.exs
Due: mix-format, mix-lint, mix-compile

tests passed
  apps/fz_http/lib/fz_http_web/live/device_live/show_live.ex
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/server.ex
  apps/fz_vpn/test/fz_vpn/cli/sandbox_test.exs
  apps/fz_vpn/test/fz_vpn/config_test.exs
  apps/fz_vpn/test/fz_vpn/server_test.exs
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
  apps/fz_wall/test/fz_wall/cli/sandbox_test.exs
  config/config.exs
  config/dev.exs
  config/test.exs
Due: mix-format, mix-lint, mix-compile

commit for tag
  omnibus/cookbooks/firezone/recipes/app.rb
Due: none

Fix secrets gen
  config/releases.exs
  omnibus/config/software/wireguard-tools.rb
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/app.rb
Due: mix-format, mix-lint

Fix typo
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

Fix remaining shit
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

Fix config typo
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

Fix command
  omnibus/cookbooks/firezone/recipes/app.rb
Due: none

Patch disable_signup
  config/dev.exs
  config/releases.exs
Due: mix-format, mix-lint

damn typos
  config/releases.exs
Due: mix-format, mix-lint

Fix top level attrs
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

Add env vars
  omnibus/cookbooks/firezone/templates/sv-phoenix-run.erb
Due: none

remove run dir
  omnibus/cookbooks/firezone/templates/sv-phoenix-run.erb
Due: none

Create log dir
  omnibus/cookbooks/firezone/recipes/phoenix.rb
Due: none

Set vars properly
  omnibus/cookbooks/firezone/templates/sv-phoenix-run.erb
Due: none

Cast to integer
  config/releases.exs
Due: mix-format, mix-lint

app tmp dir and locale
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/config.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-run.erb
Due: none
