Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

Remove unused fields
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
Due: mix-format, mix-lint, mix-compile

Remove unused fields (#659)
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http/users.ex
  apps/fz_http/lib/fz_http_web/authentication.ex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
Due: mix-format, mix-lint, mix-compile

Fix migrations and expand CONTRIBUTING.md docs
  CONTRIBUTING.md
  apps/fz_http/priv/repo/migrations/20220124162404_add_uuids.exs
Due: mix-format, mix-lint

Fix migrations and expand CONTRIBUTING.md docs (#661)
  CONTRIBUTING.md
  apps/fz_http/priv/repo/migrations/20220124162404_add_uuids.exs
Due: mix-format, mix-lint

Revert to OTP 24 :-(
  .github/workflows/ci.yml
  .tool-versions
  config/config.exs
  mix.lock
  omnibus/config/software/erlang.rb
Due: mix-format, mix-lint

Bust build cache
  .github/workflows/ci.yml
Due: none

Bump ICU
  omnibus/config/software/icu.rb
Due: none

Revert to OTP 24 (#664)
  .github/workflows/ci.yml
  .tool-versions
  config/config.exs
  mix.lock
  omnibus/config/software/erlang.rb
  omnibus/config/software/icu.rb
Due: mix-format, mix-lint

use modal footer for submit button
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/submit_button.html.heex
Due: mix-format, mix-lint, mix-compile

use modal footer for submit button (#665)
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/index.html.heex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/index.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/show.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/submit_button.html.heex
Due: mix-format, mix-lint, mix-compile

Use normalized CIDR for nftables
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/test/fz_http/rules_test.exs
Due: mix-format, mix-lint, mix-compile

2fa wip
  .devcontainer/Dockerfile
  apps/fz_http/assets/js/hooks.js
  apps/fz_http/assets/js/qrcode.js
  apps/fz_http/assets/js/wg_conf.js
  apps/fz_http/lib/fz_http/encrypted/map.ex
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/mfa/method.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/account_live.ex
  apps/fz_http/lib/fz_http_web/templates/shared/mfa_methods_table.html.heex
  apps/fz_http/mix.exs
  apps/fz_http/priv/repo/migrations/20220530073152_create_mfa_methods.exs
  mix.lock
Due: mix-format, mix-lint, mix-compile

Use normalized CIDR for nftables (#667)
  apps/fz_common/lib/fz_net.ex
  apps/fz_common/test/fz_net_test.exs
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/test/fz_http/rules_test.exs
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@795416f9f287ad45e43dda4c53f1849f820b7d18 🚀
  README.md
  assets/js/search-data.json
  assets/versions.txt
  docs/reference/configuration-file/index.html
  docs/user-guides/add-devices/index.html
  docs/user-guides/add-users/index.html
  docs/user-guides/reverse-tunnel/index.html
  feed.xml
Due: none

Add cookie encryption salt to session
  apps/fz_http/lib/fz_http_web/session.ex
  config/config.exs
  config/runtime.exs
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Add cookie encryption salt to session (#671)
  apps/fz_http/lib/fz_http_web/session.ex
  config/config.exs
  config/runtime.exs
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Update install.sh
  scripts/install.sh
Due: none

Fix lint error introduced in #617
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

simplify deployment instructions
  docs/docs/deploy/clients.md
  docs/docs/deploy/index.md
  docs/docs/deploy/prerequisites.md
  docs/docs/deploy/resource-requirements.md
  docs/docs/deploy/server.md
  docs/docs/deploy/supported-platforms.md
  docs/docs/user-guides/split-tunnel.md
  docs/index.md
Due: none

fix lint error
  docs/docs/deploy/index.md
Due: none

add troubleshooting section
  docs/docs/deploy/index.md
Due: none

additional server instrucrtions
  docs/docs/deploy/index.md
Due: none

clarify supported distros in intro
  docs/docs/deploy/index.md
Due: none

punctuation
  docs/docs/deploy/index.md
Due: none

add offline_access scope for azure
  docs/docs/authenticate/azure-ad.md
Due: none

wip
  apps/fz_http/lib/fz_http/mfa.ex
  apps/fz_http/lib/fz_http/mfa/method.ex
  apps/fz_http/lib/fz_http_web.ex
  apps/fz_http/lib/fz_http_web/live/mfa/register_component.ex
  apps/fz_http/lib/fz_http_web/live/mfa/register_steps_component.ex
  apps/fz_http/lib/fz_http_web/live/modal_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
  apps/fz_http/lib/fz_http_web/live_helpers.ex
  apps/fz_http/lib/fz_http_web/router.ex
Due: mix-format, mix-lint, mix-compile

finish mfa totp addition workflow
  apps/fz_http/lib/fz_http/mfa/method.ex
  apps/fz_http/lib/fz_http_web/live/mfa/register_component.ex
  apps/fz_http/lib/fz_http_web/live/mfa/register_steps_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/account.html.heex
Due: mix-format, mix-lint, mix-compile

Fix lint error introduced in #617 (#672)
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

upgrade to 0.3.17
  docs/docs/administer/upgrade.md
Due: none

improve text readability
  docs/_includes/head_custom.html
  docs/_sass/color_schemes/fz.scss
Due: none

title font weight
  docs/_includes/head_custom.html
  docs/_sass/color_schemes/fz.scss
Due: none

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
