Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Elixir config
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-analysis
        name: 'elixir: mix dialyzer'
        entry: mix dialyzer --format dialyxir
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: codespell
        name: 'python: codespell'
        entry: codespell
        language: system
        pass_filenames: false
      - id: rubocop
        name: 'ruby: rubocop'
        entry: bundle exec rubocop
        language: system
        pass_filenames: false
        files: \.rb$
      - id: markdownlint
        name: 'nodejs: markdownlint'
        entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
        language: system
        pass_filenames: true
        files: docs/.*\.md$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: mixed-line-ending
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character.
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args:
          - -b
          - master
          - --pattern
          - '^(?!((chore|feat|feature|bug|fix|build|ci|docs|style|refactor|perf|test|revert)\/[a-zA-Z0-9\-\.\/]+)$).*'

Port delete allocation test
  rust/relay/tests/regression.rs
Due: none

Convert final test to proptest
  rust/relay/src/proptest.rs
  rust/relay/src/server/channel_data.rs
  rust/relay/src/server/client_message.rs
  rust/relay/tests/regression.rs
Due: none

Rename enums
  rust/relay/tests/regression.rs
Due: none

Address clippy lints
  rust/relay/src/auth.rs
  rust/relay/src/server.rs
  rust/relay/src/server/client_message.rs
  rust/relay/tests/regression.rs
Due: none

Connect to portal on startup
  rust/Cargo.lock
  rust/relay/Cargo.toml
  rust/relay/README.md
  rust/relay/src/main.rs
Due: none

Fix log message typo
  rust/relay/src/main.rs
Due: none

Print log about waiting for `init` message
  rust/relay/src/main.rs
Due: none

Use native-tls-vendored so we can compile to musl
  rust/Cargo.lock
  rust/relay/Cargo.toml
Due: none

Fix smoke test script
  rust/relay/examples/client.rs
  rust/relay/examples/gateway.rs
  rust/relay/run_smoke_test.sh
Due: none

Include smoke test in CI
  .github/workflows/rust.yml
Due: none

Name workflows
  .github/workflows/rust.yml
Due: none

Explain why cross is separate
  .github/workflows/rust.yml
Due: none

Fix typo in ssl term logic
  elixir/apps/api/lib/api/endpoint.ex
  elixir/apps/web/lib/web/endpoint.ex
Due: mix-compile, mix-lint, mix-analysis

Add a permission for clients to list authorized resources
  elixir/apps/domain/lib/domain/resources.ex
  elixir/apps/domain/lib/domain/resources/authorizer.ex
  elixir/apps/domain/test/domain/resources_test.exs
Due: mix-compile, mix-lint, mix-analysis

Configure firewall and service account for erlang cluster formation
  terraform/environments/staging/main.tf
  terraform/environments/staging/versions.auto.tfvars
Due: none

Fix MIX_ENV when running mix tasks from a container to pick up secrets for prod env
  docker-compose.yml
Due: none

Add TODO for client token expiration
  elixir/apps/domain/lib/domain/auth.ex
Due: mix-compile, mix-lint, mix-analysis

Do not perform https redirect, but just set HSTS header
  elixir/apps/api/lib/api/endpoint.ex
  elixir/apps/web/lib/web/endpoint.ex
Due: mix-compile, mix-lint, mix-analysis

Unlock cloak dep
  elixir/mix.lock
Due: none

Join docker containers into cluster and build container with GCP adapter
  docker-compose.yml
  elixir/README.md
  elixir/apps/api/lib/api/endpoint.ex
  elixir/apps/domain/lib/domain/application.ex
  elixir/apps/domain/lib/domain/cluster.ex
  elixir/apps/domain/lib/domain/cluster/google_compute_labels_strategy.ex
  elixir/apps/domain/lib/domain/config/definitions.ex
  elixir/apps/domain/mix.exs
  elixir/apps/domain/test/domain/cluster/google_compute_labels_strategy_test.exs
  elixir/apps/domain/test/support/mocks/google_cloud_platform.ex
  elixir/config/config.exs
  elixir/config/runtime.exs
  elixir/rel/env.sh.eex
  terraform/environments/staging/main.tf
  terraform/modules/elixir-app/main.tf
Due: mix-compile, mix-lint, mix-analysis

Fix dialyzer issue
  elixir/apps/domain/lib/domain/cluster/google_compute_labels_strategy.ex
Due: mix-compile, mix-lint, mix-analysis

Make credo happy
  elixir/apps/domain/lib/domain/cluster/google_compute_labels_strategy.ex
Due: mix-compile, mix-lint, mix-analysis

Fix clustering
  elixir/apps/domain/lib/domain/cluster.ex
  elixir/apps/domain/lib/domain/cluster/google_compute_labels_strategy.ex
  elixir/apps/domain/lib/domain/config/definitions.ex
  terraform/environments/staging/main.tf
Due: mix-compile, mix-lint, mix-analysis

Add readme example for relays
  elixir/README.md
Due: none

Accept relay user agents
  elixir/apps/domain/lib/domain/version.ex
Due: mix-compile, mix-lint, mix-analysis

Improve relay example
  elixir/README.md
Due: none

Fix typo
  elixir/README.md
Due: none

Use GCP auth token
  elixir/apps/domain/lib/domain/cluster/google_compute_labels_strategy.ex
  elixir/apps/domain/test/domain/cluster/google_compute_labels_strategy_test.exs
  elixir/apps/domain/test/support/mocks/google_cloud_platform.ex
Due: mix-compile, mix-lint, mix-analysis

Fix nil mapset nodelist state
  elixir/apps/domain/lib/domain/cluster/google_compute_labels_strategy.ex
  terraform/environments/staging/versions.auto.tfvars
Due: mix-compile, mix-lint, mix-analysis

fix formatting issue
  www/docs/authenticate/README.mdx
Due: none

Fix fixer artifact in authentication docs (#1646)
  www/docs/authenticate/README.mdx
Due: none

Allow using gossip strategy
  elixir/apps/domain/lib/domain/config/definitions.ex
Due: mix-compile, mix-lint, mix-analysis

Update elixir/README.md
  elixir/README.md
Due: none

Address rest PR comments
  elixir/README.md
Due: none

Roll back multicast experiment
  elixir/README.md
  terraform/environments/staging/versions.auto.tfvars
Due: none

Introduce health endpoints
  elixir/apps/api/lib/api/endpoint.ex
  elixir/apps/web/lib/web/controllers/health_controller.ex
  elixir/apps/web/lib/web/router.ex
  elixir/apps/web/test/web/controllers/health_controller_test.exs
Due: mix-compile, mix-lint, mix-analysis

Create basic metrics and alerts in stackdriver
  elixir/config/prod.exs
  terraform/environments/staging/health.tf
  terraform/environments/staging/variables.tf
  terraform/environments/staging/versions.auto.tfvars
  terraform/modules/elixir-app/main.tf
Due: mix-lint, mix-analysis

Try to use opentelemetry spans
  elixir/apps/domain/lib/domain/application.ex
  elixir/apps/domain/mix.exs
  elixir/apps/web/lib/web/application.ex
  elixir/apps/web/mix.exs
  elixir/config/config.exs
  elixir/config/runtime.exs
  elixir/mix.lock
  terraform/environments/staging/main.tf
  terraform/modules/elixir-app/outputs.tf
Due: mix-compile, mix-lint, mix-analysis
