Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

add display and copy key (#714)
  apps/fz_http/lib/fz_http_web/live/mfa_live/register_steps_component.ex
Due: mix-format, mix-lint, mix-compile

Decrease OIDC refresh interval to 10 minutes
  apps/fz_http/lib/fz_http/oidc/refresh_manager.ex
Due: mix-format, mix-lint, mix-compile

Decrease OIDC refresh interval to 10 minutes (#720)
  apps/fz_http/lib/fz_http/oidc/refresh_manager.ex
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@e3133ec49f8ba7c0bb89d0ddd732133249493529 🚀
  assets/css/just-the-docs-default.css
  assets/versions.txt
  feed.xml
Due: none

Minor usability fixes
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/password_field.html.heex
Due: none

checkpoint
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
Due: mix-format, mix-lint, mix-compile

Add and delete functions for multiple rules
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Fix tests
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_wall/lib/fz_wall/cli/sandbox.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Update delete device to delete user rules
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Improve testing
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
  apps/fz_http/test/fz_http/events_test.exs
  apps/fz_http/test/fz_http/rules_test.exs
  apps/fz_http/test/support/test_helpers.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

add tests for interface module & PR feedback
  apps/fz_vpn/lib/fz_vpn/application.ex
  apps/fz_vpn/lib/fz_vpn/interface.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/live.ex
  apps/fz_vpn/lib/fz_vpn/interface/wg_adapter/sandbox.ex
  apps/fz_vpn/lib/fz_vpn/stats_push_service.ex
  apps/fz_vpn/test/fz_vpn/interface_test.exs
  apps/fz_vpn/test/fz_vpn/stats_push_service_test.exs
Due: mix-format, mix-lint, mix-compile

Minor usability fixes (#723)
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account.html.heex
  apps/fz_http/lib/fz_http_web/templates/shared/password_field.html.heex
Due: none

Multiple suggested small improvments
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/events.ex
  apps/fz_http/lib/fz_http/rules.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  apps/fz_wall/lib/fz_wall/server.ex
Due: mix-format, mix-lint, mix-compile

Allow changing VPN connection permission on admins
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
Due: mix-format, mix-lint, mix-compile

Swap call order on update device
  apps/fz_http/lib/fz_http/events.ex
Due: mix-format, mix-lint, mix-compile

Add deletion of OIDC connections
  apps/fz_http/lib/fz_http/oidc.ex
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.ex
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.html.heex
Due: mix-format, mix-lint, mix-compile

fix test
  apps/fz_http/test/fz_http_web/live/user_live/vpn_connection_component_test.exs
Due: mix-format, mix-lint

crash and reconnect view if deletion failed
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.ex
Due: mix-format, mix-lint, mix-compile

Setting Up Docusauras and basic styling [no ci]
  new-docs/.gitignore
  new-docs/README.md
  new-docs/babel.config.js
  new-docs/docs/intro.md
  new-docs/docs/tutorial-basics/_category_.json
  new-docs/docs/tutorial-basics/congratulations.md
  new-docs/docs/tutorial-basics/create-a-blog-post.md
  new-docs/docs/tutorial-basics/create-a-document.md
  new-docs/docs/tutorial-basics/create-a-page.md
  new-docs/docs/tutorial-basics/deploy-your-site.md
  new-docs/docs/tutorial-basics/markdown-features.mdx
  new-docs/docs/tutorial-extras/_category_.json
  new-docs/docs/tutorial-extras/img/docsVersionDropdown.png
  new-docs/docs/tutorial-extras/img/localeDropdown.png
  new-docs/docs/tutorial-extras/manage-docs-versions.md
  new-docs/docs/tutorial-extras/translate-your-site.md
  new-docs/docusaurus.config.js
  new-docs/package-lock.json
  new-docs/package.json
  new-docs/sidebars.js
  new-docs/src/components/HomepageFeatures/index.js
  new-docs/src/components/HomepageFeatures/styles.module.css
  new-docs/src/css/custom.css
  new-docs/src/pages/index.js
  new-docs/src/pages/index.module.css
  new-docs/src/pages/markdown-page.md
  new-docs/static/.nojekyll
  new-docs/static/img/docusaurus.png
  new-docs/static/img/favicon.ico
  new-docs/static/img/logo.svg
  new-docs/static/img/undraw_docusaurus_mountain.svg
  new-docs/static/img/undraw_docusaurus_react.svg
  new-docs/static/img/undraw_docusaurus_tree.svg
Due: none

Improve OIDC connection UX (#725)
  apps/fz_http/lib/fz_http/oidc.ex
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.ex
  apps/fz_http/lib/fz_http_web/live/oidc_live/connections_table_component.html.heex
  apps/fz_http/lib/fz_http_web/live/user_live/vpn_connection_component.ex
  apps/fz_http/test/fz_http_web/live/user_live/vpn_connection_component_test.exs
Due: mix-format, mix-lint, mix-compile

Allow disabling the VPN session disabling through OIDC
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  config/config.exs
  config/runtime.exs
  docs/docs/authenticate/index.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Adding Links [no ci]
  new-docs/docs/intro.md
  new-docs/docusaurus.config.js
Due: none

More debugging
  apps/fz_http/lib/fz_http_web/authentication/error_handler.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
Due: mix-format, mix-lint, mix-compile

Update docs/docs/authenticate/index.md
  docs/docs/authenticate/index.md
Due: none

Update omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

Fixing Links
  new-docs/docs/deploy/index.md
  new-docs/docs/deploy/prerequisites.md
  new-docs/docs/deploy/server.md
  new-docs/docs/user-guides/whitelist-vpn.md
Due: none

Update apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
Due: mix-format, mix-lint, mix-compile

Allow disabling the VPN session disabling through OIDC (#727)
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http_web/authentication/error_handler.ex
  apps/fz_http/lib/fz_http_web/live/hooks/live_auth.ex
  config/config.exs
  config/runtime.exs
  docs/docs/authenticate/index.md
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile

Deploying to gh-pages from @ firezone/firezone@f26cca54b462bf50a28b736c53cf83f34513021a 🚀
  assets/js/search-data.json
  assets/versions.txt
  docs/authenticate/index.html
  docs/reference/configuration-file/index.html
  feed.xml
Due: none

Proof Reading And UI Improvements [no ci]
  new-docs/docs/authenticate/azure-ad.md
  new-docs/docs/authenticate/google.md
  new-docs/docs/authenticate/index.md
  new-docs/docs/authenticate/okta.md
  new-docs/docs/authenticate/web-auth.md
  new-docs/docs/user-guides/add-devices.md
  new-docs/docs/user-guides/add-users.md
  new-docs/docs/user-guides/client-instructions.md
  new-docs/docs/user-guides/firewall-rules.md
  new-docs/docs/user-guides/reverse-tunnel.md
  new-docs/docs/user-guides/split-tunnel.md
  new-docs/docs/user-guides/whitelist-vpn.md
  new-docs/src/css/custom.css
Due: none

Updates
  new-docs/docs/overview.md
  new-docs/docusaurus.config.js
  new-docs/src/pages/index.js
  new-docs/src/pages/index.module.css
Due: none

Reordering And Changes
  new-docs/docs/administer/index.md
  new-docs/docs/overview.md
Due: none
