Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-compile, mix-lint, mix-analysis, rubocop, markdownlint

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-analysis:
  name: 'elixir: mix dialyzer'
  entry: mix dialyzer --format dialyxir
  language: system
  pass_filenames: false

rubocop:
  name: 'ruby: rubocop'
  entry: bundle exec rubocop
  language: system
  pass_filenames: false

markdownlint:
  name: 'nodejs: markdownlint'
  entry: ./docs/node_modules/markdownlint-cli/markdownlint.js
  language: system
  pass_filenames: true

Bump all deps and fix Phoenix to v1.7 (#1480)
  .github/workflows/test.yml
  apps/fz_http/mix.exs
  mix.exs
  mix.lock
Due: mix-lint, mix-analysis

Don't create interface if it already exists (#1487)
  rel/overlays/bin/bootstrap
Due: none

Do not normalize invalid URL's
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/test/fz_http/config_test.exs
Due: mix-compile, mix-lint, mix-analysis

Do not normalize invalid URL's (#1490)
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/test/fz_http/config_test.exs
Due: mix-compile, mix-lint, mix-analysis

Do not trim Ecto.Enum values in docs generator
  apps/fz_http/test/fz_http/config_test.exs
  apps/fz_http/test/support/docs_generator.ex
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Do not trim Ecto.Enum values in docs generator (#1495)
  apps/fz_http/test/fz_http/config_test.exs
  apps/fz_http/test/support/docs_generator.ex
  www/docs/reference/env-vars.mdx
Due: mix-compile, mix-lint, mix-analysis

Clarify that Azure needs trailing slack in Firezone configs too
  www/docs/authenticate/oidc/azuread.mdx
Due: none

Update www/docs/authenticate/oidc/azuread.mdx
  www/docs/authenticate/oidc/azuread.mdx
Due: none

Clarify that Azure needs trailing slash in Firezone configs too (#1496)
  www/docs/authenticate/oidc/azuread.mdx
Due: none

Hotfix: remove duplicate ip link command
  rel/overlays/bin/bootstrap
Due: none

Hotfix: remove duplicate ip link command (#1498)
  rel/overlays/bin/bootstrap
Due: none

Remove DATABASE_URL from local dev container and use documented ENV variables instead
  Dockerfile.dev
  docker-compose.yml
Due: none

Use DB env vars in dev.exs
  config/dev.exs
Due: mix-lint, mix-analysis

Remove DATABASE_URL from local dev container and use documented ENV variables instead (#1500)
  Dockerfile.dev
  config/dev.exs
  docker-compose.yml
Due: mix-lint, mix-analysis

Use DEFAULT_ADMIN_EMAIL everywhere to prevent legacy key usage warnings on fresh installs
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/priv/repo/migrations/20211221183311_add_role_to_users.exs
  rel/overlays/bin/gen-env
  scripts/docker_migrate.sh
  scripts/install.sh
  www/docs/administer/troubleshoot.mdx
  www/docs/deploy/docker/README.mdx
  www/docs/reference/rest-api/README.mdx
  www/docs/reference/reverse-proxy-templates/traefik.mdx
Due: mix-compile, mix-lint, mix-analysis

Use ip link commands to check if interface should be changed or route added
  rel/overlays/bin/bootstrap
Due: none

Use ip link commands to check if interface or route should be added during boot (#1510)
  rel/overlays/bin/bootstrap
Due: none

Use DEFAULT_ADMIN_EMAIL everywhere to prevent legacy key usage warnings on fresh installs (#1509)
  apps/fz_http/lib/fz_http/release.ex
  apps/fz_http/priv/repo/migrations/20211221183311_add_role_to_users.exs
  rel/overlays/bin/gen-env
  scripts/docker_migrate.sh
  scripts/install.sh
  www/docs/administer/troubleshoot.mdx
  www/docs/deploy/docker/README.mdx
  www/docs/reference/rest-api/README.mdx
  www/docs/reference/reverse-proxy-templates/traefik.mdx
Due: mix-compile, mix-lint, mix-analysis

docs: add some missing env variables
  www/docs/reference/env-vars.mdx
Due: none

Fix double slash in redirect URL redirect location
  apps/fz_http/lib/fz_http/auth.ex
  apps/fz_http/test/fz_http/auth_test.exs
Due: mix-compile, mix-lint, mix-analysis

Ensure external_url always has trailing slash and stop using Path.join()
  apps/fz_http/lib/fz_http/auth.ex
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/test/fz_http/config_test.exs
Due: mix-compile, mix-lint, mix-analysis

run formatter
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
Due: mix-compile, mix-lint, mix-analysis

Change credo setting
  .credo.exs
Due: mix-lint, mix-analysis

Also fix trailing slash in code sample
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
Due: mix-compile, mix-lint, mix-analysis

Fix double slash in redirect URL redirect location (#1515)
  .credo.exs
  apps/fz_http/lib/fz_http/auth.ex
  apps/fz_http/lib/fz_http/config/definitions.ex
  apps/fz_http/lib/fz_http/validator.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/oidc_form_component.ex
  apps/fz_http/test/fz_http/auth_test.exs
  apps/fz_http/test/fz_http/config_test.exs
Due: mix-compile, mix-lint, mix-analysis

Rework connectivity checks
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/auth/roles.ex
  apps/fz_http/lib/fz_http/connectivity_check_service.ex
  apps/fz_http/lib/fz_http/connectivity_checks.ex
  apps/fz_http/lib/fz_http/connectivity_checks/authorizer.ex
  apps/fz_http/lib/fz_http/connectivity_checks/connectivity_check.ex
  apps/fz_http/lib/fz_http/connectivity_checks/connectivity_check/changeset.ex
  apps/fz_http/lib/fz_http/connectivity_checks/connectivity_check/query.ex
  apps/fz_http/lib/fz_http/connectivity_checks/poller.ex
  apps/fz_http/mix.exs
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/fz_http/connectivity_check_service_test.exs
  apps/fz_http/test/fz_http/connectivity_checks/poller_test.exs
  apps/fz_http/test/fz_http/connectivity_checks_test.exs
  apps/fz_http/test/support/fixtures/api_tokens_fixtures.ex
  apps/fz_http/test/support/fixtures/connectivity_checks_fixtures.ex
  apps/fz_http/test/support/fixtures/subject_fixtures.ex
  apps/fz_http/test/support/mocks/http_client.ex
  config/config.exs
  config/prod.exs
  config/runtime.exs
  config/test.exs
Due: mix-compile, mix-lint, mix-analysis

Add auth layer to API Tokens UI-facing functions
  apps/fz_http/.formatter.exs
  apps/fz_http/lib/fz_http/api_tokens.ex
  apps/fz_http/lib/fz_http/api_tokens/authorizer.ex
  apps/fz_http/lib/fz_http/auth.ex
  apps/fz_http/lib/fz_http/auth/authorizer.ex
  apps/fz_http/lib/fz_http/auth/context.ex
  apps/fz_http/lib/fz_http/auth/permission.ex
  apps/fz_http/lib/fz_http/auth/role.ex
  apps/fz_http/lib/fz_http/auth/roles.ex
  apps/fz_http/lib/fz_http/auth/subject.ex
  apps/fz_http/test/fz_http/api_tokens_test.exs
  apps/fz_http/test/support/fixtures/api_tokens_fixtures.ex
  apps/fz_http/test/support/fixtures/subject_fixtures.ex
Due: mix-compile, mix-lint, mix-analysis

Remove trails of macro I was adding before (and removed)
  apps/fz_http/.formatter.exs
Due: mix-lint, mix-analysis

Path conditions:
  mix-compile: any of: \.ex$
  mix-lint: any of: \.exs*$
  mix-analysis: any of: \.exs*$
  rubocop: any of: \.rb$
  markdownlint: any of: docs/.*\.md$
