Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

.pre-commit-config.yaml:

repos:
  # Elixir config
  - repo: local
    hooks:
      - id: mix-format
        name: 'elixir: mix format'
        entry: mix format --check-formatted
        language: system
        files: \.exs*$
      - id: mix-lint
        name: 'elixir: mix credo'
        entry: mix credo --strict
        language: system
        pass_filenames: false
        files: \.exs*$
      - id: mix-compile
        name: 'elixir: mix compile'
        entry: mix compile --force --warnings-as-errors
        language: system
        pass_filenames: false
        files: \.ex$

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: "^omnibus/config/patches/*"
      - id: trailing-whitespace
        exclude: "^omnibus/config/patches/*"
      - id: check-merge-conflict
      - id: no-commit-to-branch
        args: [-b, master, -b, develop]

Functional testing script
  .ci/functional_test.sh
Due: none

Deploying to gh-pages from @ firezone/firezone@ea21800330a6f56b23609615afc989df28991cd6 🚀
  assets/versions.txt
  feed.xml
Due: none

Deploying to gh-pages from @ firezone/firezone@ea21800330a6f56b23609615afc989df28991cd6 🚀
  0.2.9/404.html
  0.2.9/README.md
  0.2.9/assets/css/just-the-docs-dark.css
  0.2.9/assets/css/just-the-docs-default.css
  0.2.9/assets/css/just-the-docs-light.css
  0.2.9/assets/images/firezone-logo-wordmark-dark.svg
  0.2.9/assets/images/just-the-docs.png
  0.2.9/assets/images/search.svg
  0.2.9/assets/js/just-the-docs.js
  0.2.9/assets/js/search-data.json
  0.2.9/assets/js/vendor/lunr.min.js
  0.2.9/assets/js/version-selector.js
  0.2.9/assets/versions.txt
  0.2.9/docs/administer/configure/index.html
  0.2.9/docs/administer/index.html
  0.2.9/docs/administer/manage/index.html
  0.2.9/docs/administer/security-considerations/index.html
  0.2.9/docs/administer/troubleshoot/index.html
  0.2.9/docs/administer/uninstall/index.html
  0.2.9/docs/administer/upgrade/index.html
  0.2.9/docs/deploy/clients/index.html
  0.2.9/docs/deploy/index.html
  0.2.9/docs/deploy/prerequisites/index.html
  0.2.9/docs/deploy/server/index.html
  0.2.9/docs/deploy/supported-platforms/index.html
  0.2.9/docs/reference/configuration-file/index.html
  0.2.9/docs/reference/index.html
  0.2.9/docs/user-guides/add-devices/index.html
  0.2.9/docs/user-guides/add-users/index.html
  0.2.9/docs/user-guides/common-configurations/index.html
  0.2.9/docs/user-guides/index.html
  0.2.9/favicon.ico
  0.2.9/feed.xml
  0.2.9/index.html
Due: none

Fix user email page refresh
  apps/fz_http/assets/package-lock.json
  apps/fz_http/assets/package.json
  apps/fz_http/lib/fz_http_web/live/setting_live/account_form_component.ex
Due: mix-format, mix-lint, mix-compile

Fix remote ip function match
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

prevent telemetry from running in CI
  .github/workflows/ci.yml
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

Disable telemetry installation-wide
  docs/docs/administer/upgrade.md
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/telemetry.rb
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/postrm
  omnibus/package-scripts/firezone/preinst
  omnibus/package-scripts/firezone/prerm
Due: none

Disable telemetry for scripts
  omnibus/cookbooks/firezone/files/default/ctl-commands/create_admin.rb
  omnibus/cookbooks/firezone/files/default/ctl-commands/reconfigure.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: none

add to script
  .ci/functional_test.sh
Due: none

add directly to script
  .github/workflows/ci.yml
Due: none

preserve env
  .ci/functional_test.sh
Due: none

touch file
  .ci/functional_test.sh
Due: none

=-p
  .ci/functional_test.sh
Due: none

SSO lead gen
  .env.sample
  CONTRIBUTING.md
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
  config/dev.exs
Due: mix-format, mix-lint

Expose more database options in configuration file
  config/dev.exs
  config/releases.exs
  mix.exs
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
  omnibus/cookbooks/firezone/recipes/database.rb
Due: mix-format, mix-lint

Use to_atom for unknown but trusted keys
  config/releases.exs
Due: mix-format, mix-lint

Lead gen link
  apps/fz_http/lib/fz_http_web/live/setting_live/security.html.heex
Due: none

remove typo
  config/releases.exs
Due: mix-format, mix-lint

Ensure ssl app is started in migration
  apps/fz_http/lib/fz_http/release.ex
Due: mix-format, mix-lint, mix-compile

Add db connect opts to config file reference
  docs/docs/reference/configuration-file.md
Due: none

Add device default configs to config file
  apps/fz_http/lib/fz_http/devices.ex
  apps/fz_http/lib/fz_http/devices/device.ex
  apps/fz_http/lib/fz_http/settings.ex
  apps/fz_http/lib/fz_http/settings/setting.ex
  apps/fz_http/lib/fz_http_web/live/device_live/form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/form_component.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show.html.heex
  apps/fz_http/lib/fz_http_web/live/device_live/show_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/default.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/default_live.ex
  apps/fz_http/priv/repo/migrations/20211116173236_create_settings.exs
  apps/fz_http/priv/repo/migrations/20211217003247_add_persistent_keepalives.exs
  apps/fz_http/priv/repo/migrations/20220127021835_rename_persistent_keepalives.exs
  apps/fz_http/test/fz_http/settings_test.exs
  apps/fz_http/test/fz_http_web/live/device_live/show_test.exs
  apps/fz_http/test/fz_http_web/live/setting_live/default_test.exs
  apps/fz_vpn/lib/fz_vpn/cli/live.ex
  apps/fz_vpn/lib/fz_vpn/cli/sandbox.ex
  apps/fz_vpn/test/fz_vpn/cli/sandbox_test.exs
  config/config.exs
  config/releases.exs
  docs/docs/reference/configuration-file.md
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/libraries/config.rb
Due: mix-format, mix-lint, mix-compile
