Repository firezone/firezone: changes, and which pre-commit hooks are due for each by the changed paths.
All: mix-format, mix-lint, mix-compile

mix-format:
  name: 'elixir: mix format'
  entry: mix format --check-formatted
  language: system

mix-lint:
  name: 'elixir: mix credo'
  entry: mix credo --strict
  language: system
  pass_filenames: false

mix-compile:
  name: 'elixir: mix compile'
  entry: mix compile --force --warnings-as-errors
  language: system
  pass_filenames: false

no need for async false
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint

reset on exit
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint

add explanation
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint

Logo Customization (#800)
  .credo.exs
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/live/logo_component.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization.html.heex
  apps/fz_http/lib/fz_http_web/live/setting_live/customization_live.ex
  apps/fz_http/lib/fz_http_web/live/sidebar_component.ex
  apps/fz_http/lib/fz_http_web/router.ex
  apps/fz_http/lib/fz_http_web/templates/layout/root.html.heex
  apps/fz_http/priv/repo/migrations/20220713050742_create_configurations.exs
  apps/fz_http/test/fz_http_web/live/setting_live/customization_test.exs
Due: mix-format, mix-lint, mix-compile

checkpoint
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  docs/docs/deploy/advanced-deployment/hosted-proxy/Introduction.md
  docs/docs/deploy/advanced-deployment/hosted-proxy/apache.md
  docs/docs/reference/configuration-file.md
Due: mix-format, mix-lint, mix-compile

Update docs with cloudsmith repo instructions, add feedback message to uninstall
  docs/docs/administer/upgrade.md
  docs/docs/deploy/README.md
  docs/docs/deploy/install-server.md
  scripts/install.sh
  scripts/uninstall.sh
Due: none

Fix supported platforms link
  docs/docs/deploy/install-server.md
Due: none

add upgrade note to post install pkg script & only grep config file for check if it exists
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
Due: none

Clean up install server doc links
  docs/docs/deploy/install-server.md
Due: none

Fix linter error
  docs/docs/deploy/install-server.md
Due: none

use sql exclusions to prevent overlaps
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/priv/repo/migrations/20220718164725_add_destination_exclusion.exs
Due: mix-format, mix-lint, mix-compile

checkpoint to test migration
  apps/fz_http/priv/repo/migrations/20220718164725_add_destination_exclusion.exs
  docs/docs/administer/upgrade.md
Due: mix-format, mix-lint

minor fixes overlaps migration
  apps/fz_http/priv/repo/migrations/20220718164725_add_destination_exclusion.exs
  docs/docs/administer/upgrade.md
Due: mix-format, mix-lint

merge overlap migration into user_id migration
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
  apps/fz_http/priv/repo/migrations/20220718164725_add_destination_exclusion.exs
Due: mix-format, mix-lint

fix docs
  docs/docs/administer/upgrade.md
  docs/docs/deploy/install-server.md
Due: none

minor change
  apps/fz_http/lib/fz_http/rules/rule.ex
Due: mix-format, mix-lint, mix-compile

remove unused overlap functions
  apps/fz_http/lib/fz_http/rules.ex
Due: mix-format, mix-lint, mix-compile

Only handle interface change on changes
  omnibus/cookbooks/firezone/recipes/default.rb
Due: none

Only handle interface change on changes (#811)
  omnibus/cookbooks/firezone/recipes/default.rb
Due: none

Docs improvements
  apps/fz_http/lib/fz_http/rules/rule.ex
  docs/docs/administer/upgrade.md
  dummy
Due: mix-format, mix-lint, mix-compile

fix typos
  docs/docs/administer/upgrade.md
Due: none

use apt-get instead of apt, add RHEL 7,8,9 & OLS 7,8,9
  scripts/install.sh
Due: none

NFTables fixes (#804)
  apps/fz_http/lib/fz_http/rules/rule.ex
  apps/fz_http/priv/repo/migrations/20220614192937_add_user_id_to_rules.exs
  apps/fz_wall/lib/fz_wall/cli/helpers/nft.ex
  apps/fz_wall/lib/fz_wall/cli/live.ex
  docs/docs/administer/upgrade.md
  dummy
  omnibus/config/software/libnftnl.rb
  omnibus/config/software/nftables.rb
Due: mix-format, mix-lint, mix-compile

add traefik draft
  docs/docs/deploy/advanced-deployment/hosted-proxy/traefik.md
Due: none

move configs into app
  apps/fz_http/lib/fz_http/application.ex
  apps/fz_http/lib/fz_http/conf/cache.ex
  apps/fz_http/lib/fz_http/conf/configuration.ex
  apps/fz_http/lib/fz_http/oidc/refresher.ex
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  apps/fz_http/lib/fz_http/telemetry.ex
  apps/fz_http/lib/fz_http_web/controllers/auth_controller.ex
  apps/fz_http/lib/fz_http_web/controllers/root_controller.ex
  apps/fz_http/lib/fz_http_web/live/device_live/new_form_component.ex
  apps/fz_http/lib/fz_http_web/live/device_live/unprivileged/show_live.ex
  apps/fz_http/lib/fz_http_web/live/setting_live/unprivileged/account_live.ex
  apps/fz_http/lib/fz_http_web/user_from_auth.ex
  apps/fz_http/lib/fz_http_web/views/device_view.ex
  apps/fz_http/priv/repo/migrations/20220719014442_add_auth_configs.exs
  apps/fz_http/test/fz_http/telemetry_test.exs
Due: mix-format, mix-lint, mix-compile

fix typo
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
Due: mix-format, mix-lint, mix-compile

add moduledoc
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
Due: mix-format, mix-lint, mix-compile

Use more cross platform compatible terminal text styles
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
  scripts/uninstall.sh
Due: none

Update install script and docs for Cloudsmith package repo (#809)
  docs/docs/administer/upgrade.md
  docs/docs/deploy/README.md
  docs/docs/deploy/install-server.md
  omnibus/package-scripts/firezone/postinst
  omnibus/package-scripts/firezone/preinst
  scripts/install.sh
  scripts/uninstall.sh
Due: none

add logging
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  docs/docs/deploy/advanced-deployment/hosted-proxy/haproxy.md
  docs/docs/deploy/advanced-deployment/hosted-proxy/traefik.md
Due: mix-format, mix-lint, mix-compile

woops
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

adding logging for debug
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
Due: mix-format, mix-lint, mix-compile

Add toggle to firezone config for phoenix crash detection
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
Due: none

rollback debugging logs
  apps/fz_http/lib/fz_http_web/channels/user_socket.ex
  docs/docs/deploy/advanced-deployment/hosted-proxy/haproxy.md
Due: mix-format, mix-lint, mix-compile

Add config option to docs & polish table layout a bit
  docs/docs/reference/configuration-file.md
  docs/src/css/custom.css
Due: none

Add comment explaining crash detection toggle
  omnibus/cookbooks/firezone/attributes/default.rb
Due: none

Make phoenix crash detection configurable. (#813)
  docs/docs/reference/configuration-file.md
  docs/src/css/custom.css
  omnibus/cookbooks/firezone/attributes/default.rb
  omnibus/cookbooks/firezone/templates/sv-phoenix-finish.erb
Due: none

docs refinement
  docs/docs/deploy/advanced-deployment/hosted-proxy/Introduction.md
  docs/docs/deploy/advanced-deployment/hosted-proxy/haproxy.md
  docs/docs/deploy/reverse-proxies/README.md
  docs/docs/deploy/reverse-proxies/apache.md
  docs/docs/deploy/reverse-proxies/haproxy.md
  docs/docs/deploy/reverse-proxies/traefik.md
Due: none

Fix markdown lints
  docs/docs/deploy/reverse-proxies/README.md
  docs/docs/deploy/reverse-proxies/apache.md
  docs/docs/deploy/reverse-proxies/haproxy.md
  docs/docs/deploy/reverse-proxies/traefik.md
Due: none

move oidc parsing
  apps/fz_http/lib/fz_http/oidc/start_proxy.ex
  config/runtime.exs
Due: mix-format, mix-lint, mix-compile

Path conditions:
  mix-format: any of: \.exs*$
  mix-lint: any of: \.exs*$
  mix-compile: any of: \.ex$
